<!DOCTYPE html>
<html>

<head>
    <title>Aladdin Eventos en Vivo</title>
</head>

<body>
    <section class="background_en_vivo">
        <div class="content_title ">
            <video class="content_video" autoplay loop muted>
                <source src="https://testpromo.easyguess.com/uploads/videos_test/intro_evento_vivo.mp4"
                    type="video/mp4">
            </video>
            <div class="content_text">
                <h2 class="type1-h1-bold">EVENTOS EN VIVO</h2>
                <br />
                <p>¿Quieres conocer las promociones que Aladdin tiene para ti?.</p>
                <br />
                <a title="Promociones" class="btn-design1" href="#promociones">Conocer Promociones</a>
            </div>
        </div>
        <div id="content-banner-membresia"></div>
        <section style="padding: 20px;" class="_content_divider_section container">
            <div class="_divider_game_">
                <div class="progress-fill-game"></div>
            </div>
            <div class="_figura_divider_"></div>
        </section>
        <div class="content_seccion_other">
            <div class="container en_vivo">
                <div class="titulo content_vivo_en_vivo">
                    <video autoplay loop muted>
                        <source src="https://testpromo.easyguess.com/uploads/videos_test/gente_bailando.mp4"
                            type="video/mp4">
                    </video>
                </div>
                <div class="content_text_en_vivo">
                    <img src="/resources/logo-aladdin-rojo-grande.png" alt="Aladdin">

                    <p class="titulo">Ven y vive la emoción de cada evento, promoción, bono y premio que Aladdin tiene
                        preparado para
                        ti con aliados muy reconocidos haciendo que todo se viva de la mejor manera.
                        Aquí cada momento está lleno de sorpresas, diversión y grandes oportunidades para ganar.
                        ¡Disfruta, participa y haz parte de la magia de Aladdin!.</p>

                    <!-- <p class="type4-h1">En Aladdin puedes vivir los mejores momentos en vivo, disfrutando de la mejor
                        música nacional con una amplia variedad de ritmos — ¡seguro encontrarás tu favorita! Acompaña
                        esta experiencia con una propuesta gastronómica de primer nivel, donde diversas proteínas y
                        sabores únicos te esperan. Además, puedes acceder a un ambiente VIP, ideal para que tu jugada
                        sea la verdaderamente rompedora. Todo esto en un entorno mágico, familiar y lleno de energía,
                        donde la suerte te acompaña en cada partida.</p> -->
                </div>
            </div>
        </div>
        <section style="padding: 20px;" class="_content_divider_section container">
            <div class="_divider_game_">
                <div class="progress-fill-game"></div>
            </div>
            <div class="_figura_divider_"></div>
        </section>

        <section style="position: relative;">
            <div class="container">
                <section class="parahacer_en_vivo">
                    <div class="parahacer_en_vivo-left">
                        <img class="titulor" src="/resources/logo-aladdin-rojo.png" alt="Aladdin">
                        <br />
                        <p class="titulor" style="color: #27314F;">Eventos en Vivo</p>
                    </div>
                    <div title="Eventos en Vivo" class="parahacer_en_vivo-rigth">
                        <div class="titulo content-parahacer_en_vivo-acordeon">
                            <div class="content-parahacer_en_vivo-img">
                                <img src="/resources/people_dance_en_vivo.jpg" alt="Aladdin">
                            </div>
                            <small class="type4-h1">Vive los mejores espectáculos en vivo de Aladdin, con cantantes,
                                bailarines y una gran variedad musical que llenarán cada noche de ritmo y
                                diversión.</small>
                            <br />
                            <p class="type4-h1">Vive la alegría del baile y la buena música.</p>
                        </div>
                        <div class="titulo content-parahacer_en_vivo-acordeon">
                            <div class="content-parahacer_en_vivo-img">
                                <img src="/resources/people_dance_en_vivo_2.jpg" alt="Aladdin">
                            </div>
                            <small class="type4-h1">En cualquier momento puedes ser uno de los grandes ganadores de
                                Aladdin. Solo necesitas jugar, divertirte y dejar que la suerte haga su magia. ¡Anímate,
                                tu premio podría estar muy cerca!.</small>
                            <br />
                            <p class="type4-h1">Promociones en vivo que premian tu juego.</p>
                        </div>
                        <div class="titulo content-parahacer_en_vivo-acordeon">
                            <div class="content-parahacer_en_vivo-img">
                                <img src="/resources/people_dance_en_vivo_3.jpg" alt="Aladdin">
                            </div>
                            <small class="type4-h1">Déjate envolver por la energía de nuestros eventos musicales, con
                                una propuesta gastronómica que hará de tu momento algo verdaderamente especial.</small>
                            <br />
                            <p class="type4-h1 texto_p">Eventos musicales en vivo.</p>
                        </div>
                    </div>
                </section>
            </div>
        </section>

        <section style="padding: 20px;" class="_content_divider_section container">
            <div class="_divider_game_">
                <div class="progress-fill-game"></div>
            </div>
            <div class="_figura_divider_"></div>
        </section>

        <section class="content_seccion_other_2">
            <div class="container en_vivo">
                <div class="titulo content_vivo_en_vivo">
                    <video autoplay loop muted>
                        <source src="https://testpromo.easyguess.com/uploads/videos_test/bingo_en_vivo.mp4"
                            type="video/mp4">
                    </video>
                </div>
                <div class="content_text_en_vivo">
                    <h3 style="color: #b90000;" class="type1-h1">El Bingo de</h3>
                    <img src="/resources/logo-aladdin-rojo-grande.png" alt="Aladdin">

                    <p class="titulo">Ven y vive la emoción del Bingo de Aladdin, donde tú puedes ser el primero en
                        cantar la figura ganadora y llevarte grandes premios.</p>
                </div>
            </div>
        </section>

        <section style="padding: 20px;" class="_content_divider_section container">
            <div class="_divider_game_">
                <div class="progress-fill-game"></div>
            </div>
            <div class="_figura_divider_"></div>
        </section>

        <section>
            <div class="container en_vivo box_two">
                <div class="content_text_en_vivo">
                    <h3 style="color: #b90000;" class="type1-h1">Lo Hacemos en grande en</h3>
                    <img src="/resources/logo-aladdin-rojo-grande.png" alt="Aladdin">

                    <p class="titulo">Ven y vive la emoción de lo más grande, cada mes podrás ser uno de los ganadores
                        de uno de los carros de
                        Aladdin.</p>
                    <small> <span style="color: red;">* </span>Promoción Valida solo para fechas programadas.<span
                            style="color: red;"> *</span></small>
                </div>
                <div class="titulo content_vivo_en_vivo">
                    <video autoplay loop muted>
                        <source src="https://testpromo.easyguess.com/uploads/videos_test/hacemos_en_grande.mp4"
                            type="video/mp4">
                    </video>
                </div>
            </div>
        </section>
        <section style="padding: 20px;" class="_content_divider_section container">
            <div class="_divider_game_">
                <div class="progress-fill-game"></div>
            </div>
            <div class="_figura_divider_"></div>
        </section>
        <div id="promocion-seccion"></div>
        <div id="ubicacion-seccion"></div>
        <div class="container" id="juegos-view-seccion"></div>
    </section>
</body>

</html>