<section class="Navbar">
    <div class="nav-content-logo">
        <a href="#inicio">
            <img src="/resources/logo-aladdin_navidad.png" alt="marcopolo">
        </a>
    </div>
    <nav class="nav-items" id="navItems">
        <img id="logo-menu" class="logo-menu" />
        <a href="#inicio" class="nav-link">Inicio</a>
        <!-- <a href="#casinos" class="nav-link">Casinos</a> -->
        <!-- <a href="#juegos" class="nav-link">Entrenimiento</a> -->
        <a href="#promociones" class="nav-link">Promociones</a>
        <a href="#membresia" class="nav-link">Membresía</a>
        <a href="#juegos" class="nav-link">Entrenimiento</a>
        <a href="#contacto" class="nav-link">Contacto</a>
    </nav>
    <div class="nav-toggle" id="navToggle">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
</section>
<!-- me = mayor de edad -->
<section id="soy_mayor_de_edad" class="soy_mayor_de_edad">
    <div class="content_mayor_edad">
        <div class="info_modal_mayor_de_edad">
            <div class="content_img_me">
                <img src="/resources/aladdin.png" alt="Aladdin">
            </div>
            <div class="content_text_me">Este sitio es exclusivo para personas mayores de 18 años. Además, usamos
                cookies para mejorar tu experiencia. Al continuar navegando, aceptas nuestras políticas y el uso de
                cookies.</div>
            <br />
            <br />
            <div id="close_modal_me" class="close_modal_me">Aceptar</div>
            <br />
        </div>
    </div>
</section>

<div id="snow_cas" style="position: relative;top: -20px;" class="tpl-snow">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>