<section class="Navbar">
    <div class="nav-content-logo">
        <a href="#inicio">
            <img src="/resources/aladdin.png" alt="marcopolo">
        </a>
    </div>
    <nav class="nav-items" id="navItems">
        <img id="logo-menu" class="logo-menu" src="/resources/logo-aladdin.png" />
        <a href="#inicio" class="nav-link">Inicio</a>
        <!-- <a href="#juegos" class="nav-link">Entrenimiento</a> -->
        <a href="#promociones" class="nav-link">Promociones</a>
        <a href="#membresia" class="nav-link">Membresía</a>
        <a href="#juegos" class="nav-link">Entrenimiento</a>
        <a href="#contacto" class="nav-link">Contacto</a>
    </nav>
    <div class="nav-toggle" id="navToggle">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
</section>