<!DOCTYPE html>
<html>

<head>
    <title>Casino Aladdin Baccarat</title>
</head>

<body>
    <section class="title-game">
        <div class="start-game-text">
            <div class="content-img-game">
                <img src="/resources/juego-baccarat-2.jpg" alt="aladdin">
            </div>
            <h1 class="type1-h1">Baccarat</h1>
        </div>
    </section>

    <section class="container">
        <section class="acerca-game">
            <div class="content-desc-game">
                <div class="desc-game-title">
                    <!-- <h1 class="type1-h1">Que es</h1> -->
                </div>
                <div class="desc-game-text">
                    <div class="content-desc-game-text">
                        <p>El Baccarat es un juego de cartas clásico que destaca por su elegancia, reglas sencillas y
                            ritmo
                            constante. Muy popular en los casinos internacionales, este juego ha sido protagonista tanto
                            en
                            películas como en salas de alto nivel por su estilo sofisticado y dinámica accesible. Su
                            objetivo es predecir qué mano estará más cerca del número 9: la del jugador, la del banquero
                            o
                            un empate.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/baccarat-1.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Estrategia.</span>
                                    <span>Dificultad<strong style="color: red; padding-left: 5px;">Alta.</strong></span>
                                    <span>Ven y reta tu estrategia.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-desc-game-text reverse-card">
                        <p>A pesar de su apariencia refinada, el Baccarat es ideal tanto para jugadores
                            principiantes
                            como
                            experimentados, ya que no requiere decisiones complejas una vez realizadas las apuestas.
                            Esto lo
                            convierte en un juego ágil, con resultados rápidos y posibilidades constantes de ganar,
                            mientras
                            se disfruta de una experiencia envolvente y emocionante.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/baccarat-2.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Elige a tu favorito.</span>
                                    <span>Apuesta a tu estrategia<strong
                                            style="color: green; padding-left: 5px;">$$$$.</strong></span>
                                    <span>Todo puede ser posible.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-desc-game-text">
                        <p>En nuestros casinos, el Baccarat se juega en mesas modernas con crupieres profesionales o
                            en
                            su
                            versión electrónica. Cada ronda ofrece una combinación perfecta entre azar y estrategia,
                            donde
                            la emoción está asegurada desde la primera carta.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/baccarat-3.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Tu puntaje NO te define.</span>
                                    <span>Pero si tu,<strong
                                            style="color: green; padding-left: 5px;">Estrategia.</strong></span>
                                    <span>Anímate y conoce el baccarat.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            
            <div class="content-media-game">
                <div class="card-media-game reverse-card">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Conoce los Tesoros del Dragon!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/JCPEpz_51Ro?start=0&autoplay=1&mute=1&loop=1&playlist=JCPEpz_51Ro&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>

            <div style="padding: 30px;text-align: center;">
                <a class="btn-design1" href="#juegos">Volver a los juegos</a>
            </div>
        </section>
    </section>
</body>

</html>