<!DOCTYPE html>
<html>

<head>
    <title>Casino Aladdin Bingo Electronico</title>
</head>

<body>
   <section class="title-game">
            <div class="start-game-text">
                <div class="content-img-game">
                <img src="/resources/juegos-bingo-2.jpg" alt="aladdin">
                </div>
                <h1 class="type1-h1">Bingo Electronico</h1>
            </div>
        </section>

    <section class="container">
        <section class="acerca-game">
            <div class="content-desc-game">
                <div class="desc-game-title">
                    <!-- <h1 class="type1-h1">Que es</h1> -->
                </div>
                <div class="desc-game-text">
                        <div class="content-desc-game-text">
                        <p>El Bingo Electrónico moderniza el tradicional juego de salón, manteniendo su esencia social pero
                        incorporando tecnología avanzada para hacerlo más dinámico, rápido y atractivo. A través de
                        pantallas táctiles o dispositivos individuales, los jugadores disfrutan de múltiples cartones
                        que se marcan automáticamente con cada número sorteado.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/bingo-1.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Diversión.</span>
                                    <span>Dificultad<strong style="color: green; padding-left: 5px;">variado.</strong></span>
                                    <span>Ven y diviértete con el bingo.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                        <div class="content-desc-game-text reverse-card">
                        <p>Esta modalidad elimina errores humanos, acelera el ritmo del juego y permite a los jugadores
                        enfocarse en disfrutar de la experiencia y competir por grandes premios, incluyendo jackpots
                        progresivos. El entorno es accesible, vibrante y apto para todas las edades, con partidas
                        continuas y oportunidades constantes de ganar.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/bingo-2.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Elige tu tabla favorita.</span>
                                    <span>El bingo el que saber unir<strong
                                            style="color: green; padding-left: 5px;">familias.</strong></span>
                                    <span>Cualquier combinación puede llevarte a la victoria.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                        <div class="content-desc-game-text">
                        <p>En nuestros casinos, el Bingo Electrónico se juega en espacios cómodos y organizados, donde se
                        respira camaradería, emoción y diversión. Ya sea jugando en solitario o con amigos, el bingo
                        sigue siendo una de las actividades más queridas y participativas del casino.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/bingo-3.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>En Aladdin disfrutas cada espacio.</span>
                                    <span>Cada<strong
                                            style="color: green; padding-left: 5px;">momento.</strong> es único.</span>
                                    <span>Anímate, ven y juega el bingo con Aladdin.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                        <br />
                </div>
            </div>
           
            <div class="content-media-game">
                <div class="reverse-card card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Como se juega!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/MTNIyQAsDM0?start=6&autoplay=1&mute=1&loop=1&playlist=MTNIyQAsDM0&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="content-media-game">
                <div class=" card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Conoce el Zodiaco de la Fortuna!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/UiQUf_US47k?start=11&autoplay=1&mute=1&loop=1&playlist=UiQUf_US47k&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>

             <div style="padding: 30px;text-align: center;">
                <a class="btn-design2" href="#juegos">Volver a los juegos</a>
            </div>
        </section>
    </section>
</body>

</html>