<!DOCTYPE html>
<html>

<head>
    <title>Casino Aladdin Bingo Electronico</title>
</head>

<body>
    <section class="title-game">
        <div class="start-game-text">
            <div class="content-img-game">
                <img src="/resources/juegos-bingo-2.jpg" alt="aladdin">
                <p class="type1-h1">Bingo Electronico</p>
                 <div class="content_form_head">
                    <div class="progress-fill-head"></div>
                </div>
            </div>
            <h1 class="type1-h1">Conoce el Bingo Electronico</h1>
        </div>
    </section>
    <section style="padding: 20px;" class="_content_divider_section container">
        <div class="_divider_game_">
            <div class="progress-fill-game"></div>
        </div>
        <div class="_figura_divider_"></div>
    </section>
    <section class="container">
        <section class="acerca-game">
            <div class="content-desc-game">
                <div class="desc-game-title">
                    <!-- <h1 class="type1-h1">Que es</h1> -->
                </div>
                <div class="desc-game-text">
                    <div class="content-desc-game-text">
                        <p>El Bingo Electrónico moderniza el tradicional juego de salón, manteniendo su esencia social
                            pero
                            incorporando tecnología avanzada para hacerlo más dinámico, rápido y atractivo. A través de
                            pantallas táctiles o dispositivos individuales, los jugadores disfrutan de múltiples
                            cartones
                            que se marcan automáticamente con cada número sorteado.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/bingo-1.jpg" alt="aladdin">
                                </div>
                                <!-- <div class="text-card-game">
                                    
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-desc-game-text reverse-card">
                        <p>Esta modalidad elimina errores humanos, acelera el ritmo del juego y permite a los jugadores
                            enfocarse en disfrutar de la experiencia y competir por grandes premios, incluyendo jackpots
                            progresivos. El entorno es accesible, vibrante y apto para todas las edades, con partidas
                            continuas y oportunidades constantes de ganar.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/bingo-2.jpg" alt="aladdin">
                                </div>
                                <!-- <div class="text-card-game">
                                    
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-desc-game-text">
                        <p>En nuestros casinos, el Bingo Electrónico se juega en espacios cómodos y organizados, donde
                            se
                            respira camaradería, emoción y diversión. Ya sea jugando en solitario o con amigos, el bingo
                            sigue siendo una de las actividades más queridas y participativas del casino.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/bingo-3.jpg" alt="aladdin">
                                </div>
                                <!-- <div class="text-card-game">
                                    
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <div class="content-media-game">
                <div class="reverse-card card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Como se juega!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/MTNIyQAsDM0?start=6&autoplay=1&mute=1&loop=1&playlist=MTNIyQAsDM0&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="content-media-game">
                <div class=" card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Conoce el Zodiaco de la Fortuna!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/UiQUf_US47k?start=11&autoplay=1&mute=1&loop=1&playlist=UiQUf_US47k&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>

            <div style="padding: 30px;text-align: center;">
                <a class="btn-design2" href="#juegos">Volver a los juegos</a>
            </div>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section id="promocion-seccion"></section>
            <br />
        </section>
    </section>
    <section id="ubicacion-seccion"></section>
    <br />
</body>

</html>