<!DOCTYPE html>
<html>

<head>
    <title>Casino Aladdin Blackjack</title>
</head>

<body>
    <section class="title-game">
        <div class="start-game-text">
            <h1 class="type1-h1">BlackJack</h1>
        </div>
    </section>
    <section class="container">
        <section class="acerca-game">
            <div class="content-desc-game">
                <div class="desc-game-title">
                    <h1 class="type1-h1">Que es</h1>
                </div>
                <div class="desc-game-text">
                    <p>El Blackjack es uno de los juegos de cartas más emblemáticos y populares en los casinos a nivel
                        mundial. Conocido por su mezcla perfecta entre azar y estrategia, el objetivo del juego es
                        sencillo pero emocionante: lograr una mano que sume 21 puntos o lo más cercano posible, sin
                        pasarse, y superar la mano del crupier.</p>
                    <br />
                    <p>Este juego se juega con una o más barajas estándar de 52 cartas, y cada carta tiene un valor
                        específico: las numéricas conservan su valor, las figuras valen 10 puntos y los As pueden valer
                        1 u 11 según convenga al jugador. La mano perfecta, conocida como “blackjack”, ocurre cuando un
                        jugador recibe un As y una carta de valor 10 en la primera mano.</p>
                    <br />
                    <p>El Blackjack no solo ofrece diversión inmediata, sino que brinda a los jugadores la posibilidad
                        de aplicar técnicas y tomar decisiones que influyen en el resultado, lo que lo convierte en una
                        experiencia de juego interactiva y desafiante.</p>
                </div>
            </div>
            <div style="padding: 30px;text-align: center;">
                <a class="btn-design2" href="#juegos">Volver a los juegos</a>
            </div>
            <div class="content-media-game">
                <div class="card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Como jugar!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/y632gnlP0Zk?start=85&autoplay=1&mute=1&loop=1&playlist=y632gnlP0Zk&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="content-media-game">
                <div class="reverse-card card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Conoce el BlackJack 21+3!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/_b0tJ_Wagnk?start=1&autoplay=1&mute=1&loop=1&playlist=_b0tJ_Wagnk&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="content-media-game">
                <div class="card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Conoce el BlackJack SIE7ES!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/i-geEyXu4aI?start=2&autoplay=1&mute=1&loop=1&playlist=i-geEyXu4aI&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

</html>