<!DOCTYPE html>
<html>

<head>
    <title>Casino Aladdin Máquinas Individuales</title>
</head>

<body>
    <section class="title-game">
        <div class="start-game-text">
            <div class="content-img-game">
                <img src="/resources/maquina-individual-juego.png" alt="aladdin">
            </div>
            <h1 class="type1-h1">Máquinas Individuales</h1>
        </div>
    </section>
    <section class="container">
        <section class="acerca-game">
            <div class="content-desc-game">
                <div class="desc-game-title">
                    <!-- <h1 class="type1-h1">Que es</h1> -->
                </div>
                <div class="desc-game-text">
                    <div class="content-desc-game-text">
                        <p>Las máquinas individuales son el corazón tecnológico del casino moderno. Ofrecen una
                            experiencia
                            de juego personalizada, cómoda y accesible, donde cada jugador puede elegir entre decenas de
                            temáticas, niveles de apuesta y dinámicas de juego. Desde clásicos tragamonedas hasta
                            títulos
                            con funciones avanzadas, cada máquina es un mundo por descubrir.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/slots-1.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Estrategia.</span>
                                    <span>Dificultad<strong style="color: red; padding-left: 5px;">Azar.</strong></span>
                                    <span>Ven y reta tu estrategia.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-desc-game-text reverse-card">
                        <p>Diseñadas para brindar diversión constante y premios instantáneos, estas máquinas destacan
                            por su
                            sonido envolvente, gráficos llamativos y facilidad de uso. Los jugadores pueden jugar a su
                            propio ritmo, sin presión, con total libertad y comodidad.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/slots-2.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Elige a tu favorito.</span>
                                    <span>Apuesta a tu estrategia<strong
                                            style="color: green; padding-left: 5px;">$$$$.</strong></span>
                                    <span>Todo puede ser posible.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-desc-game-text">
                        <p>En nuestros casinos, las máquinas individuales están equipadas con tecnología de última
                            generación, pantallas táctiles, pagos electrónicos y sistemas de fidelización como la
                            tarjeta
                            MYMAWI. Son el espacio perfecto para relajarse, jugar y dejarse llevar por la emoción de
                            cada
                            giro.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/slots-3.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Tu puntaje NO te define.</span>
                                    <span>Pero si tu,<strong
                                            style="color: green; padding-left: 5px;">Estrategia.</strong></span>
                                    <span>Anímate y conoce el baccarat.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div style="padding: 30px;text-align: center;">
                <a class="btn-design2" href="#juegos">Volver a los juegos</a>
            </div>
        </section>
    </section>
</body>

</html>