<!DOCTYPE html>
<html>

<head>
    <title>Casino Aladdin Ruleta Electrónica</title>
</head>

<body>
    <section class="title-game">
        <div class="start-game-text">
            <div class="content-img-game">
                <img src="/resources/juego-ruleta-4-2.jpg" alt="aladdin">
            </div>
            <h1 class="type1-h1">Ruleta Electrónica</h1>
        </div>
    </section>
    <section class="container">
        <section class="acerca-game">
            <div class="content-desc-game">
                <div class="desc-game-title">
                    <!-- <h1 class="type1-h1">Que es</h1> -->
                </div>
                <div class="desc-game-text">
                    <div class="content-desc-game-text">
                        <p>La Ruleta Electrónica ofrece toda la emoción y estrategia del juego clásico, ahora potenciada
                            por
                            la tecnología. Con una rueda automatizada o simulada digitalmente, los jugadores pueden
                            realizar
                            sus apuestas en terminales individuales sin perder la esencia del tradicional “no va más”.
                        </p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/ruleta-4.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Estrategia.</span>
                                    <span>Dificultad<strong style="color: orange; padding-left: 5px;">????.</strong></span>
                                    <span>Ven y reta tu estrategia.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-desc-game-text reverse-card">
                        <p>Esta versión garantiza mayor fluidez en las partidas, mayor precisión en los resultados y una
                            experiencia más ágil. La interfaz intuitiva permite apostar fácilmente a números, colores,
                            columnas y combinaciones, con resultados inmediatos y pagos automáticos.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/ruleta-5.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Elige a tu favorito.</span>
                                    <span>Apuesta a tu estrategia<strong
                                            style="color: green; padding-left: 5px;">$$$$.</strong></span>
                                    <span>Todo puede ser posible.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-desc-game-text">
                        <p>En nuestros casinos, la Ruleta Electrónica combina elegancia, accesibilidad y ritmo moderno.
                            Es
                            ideal tanto para quienes se inician en el juego como para los apasionados de siempre que
                            buscan
                            comodidad, transparencia y emoción en cada giro.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/ruleta-6.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Tu puntaje NO te define.</span>
                                    <span>Pero si tu,<strong
                                            style="color: green; padding-left: 5px;">Estrategia.</strong></span>
                                    <span>Anímate y conoce el baccarat.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="content-media-game">
                <div class="reverse-card card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Como se juega!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/MTNIyQAsDM0?start=6&autoplay=1&mute=1&loop=1&playlist=MTNIyQAsDM0&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>

                    </div>
                </div>
            </div>
            <div class="content-media-game">
                <div class=" card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Conoce el Zodiaco de la Fortuna!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/UiQUf_US47k?start=11&autoplay=1&mute=1&loop=1&playlist=UiQUf_US47k&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            <div style="padding: 30px;text-align: center;">
                <a class="btn-design2" href="#juegos">Volver a los juegos</a>
            </div>
        </section>
    </section>
</body>

</html>