<!DOCTYPE html>
<html>

<head>
    <title>Casino Aladdin Ruleta</title>
</head>

<body>
    <section class="title-game">
        <div class="start-game-text">
            <div class="content-img-game">
                <img src="/resources/juego-ruleta-2.jpg" alt="aladdin">
            </div>
            <h1 class="type1-h1">Ruleta</h1>
        </div>
    </section>
    <section class="container">
        <section class="acerca-game">
            <div class="content-desc-game">
                <div class="desc-game-title">
                    <!-- <h1 class="type1-h1">Que es</h1> -->
                </div>
                <div class="desc-game-text">
                    <div class="content-desc-game-text">
                        <p>La Ruleta es uno de los juegos más icónicos y emocionantes del mundo de los casinos.
                            Reconocida por su ritmo vibrante y su característica rueda con doble cero (00), este clásico
                            ofrece a los jugadores una experiencia de alta intensidad, combinando azar, estrategia y
                            adrenalina en cada giro.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/ruleta-1.png" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Estrategia.</span>
                                    <span>Dificultad<strong style="color: orange; padding-left: 5px;">????.</strong></span>
                                    <span>Ven y reta tu estrategia.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-desc-game-text reverse-card">
                        <p>La ruleta está compuesta por 38 casillas numeradas del 1 al 36, más el 0 y el 00. Los
                            jugadores
                            apuestan al número, color o combinaciones que creen que resultarán ganadoras. Una vez
                            realizadas
                            las apuestas, el crupier hace girar la rueda y lanza la bola: el destino queda en manos del
                            azar. La inclusión del doble cero añade un giro adicional al juego, aumentando ligeramente
                            la
                            ventaja de la casa y haciendo que cada partida sea aún más emocionante.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/ruleta-2.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>Elige tu <strong style="color: red;">#</strong> favorito.</span>
                                    <span>Apuesta a tu estrategia<strong
                                            style="color: green; padding-left: 5px;">$$$$.</strong></span>
                                    <span>Todo puede ser posible.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="content-desc-game-text">
                        <p>En nuestros casinos, la Ruleta ofrece una experiencia elegante, dinámica y envolvente,
                            ideal tanto para jugadores principiantes como para apostadores expertos que buscan emociones
                            intensas y premios instantáneos.</p>
                        <div class="content-card-game">
                            <div class="card-game-info">
                                <div class="img-card-game">
                                    <img src="/resources/ruleta-3.jpg" alt="aladdin">
                                </div>
                                <div class="text-card-game">
                                    <span>El resultado NO te define.</span>
                                    <span>Pero si tu,<strong
                                            style="color: green; padding-left: 5px;">Estrategia.</strong></span>
                                    <span>Anímate y conoce la ruleta.</span>
                                    <div style="width: 100%;height: 1px;background-color: #616161;margin: 10px 0;">
                                    </div>
                                    <span>Casinos Aladdin puedes disfrutar.</span>
                                    <div class="content-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="content-media-game">
                <div class="reverse-card card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Como jugar!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/MTNIyQAsDM0?start=6&autoplay=1&mute=1&loop=1&playlist=MTNIyQAsDM0&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>

                    </div>
                </div>
            </div>
            <div class="content-media-game">
                <div class="card-media-game">
                    <div class="card-media-l">
                        <h1 class="type1-h1">Conoce zodiaco de la fortuna!</h1>
                    </div>
                    <div class="card-media-r">
                        <iframe
                            src="https://www.youtube.com/embed/UiQUf_US47k?start=11&autoplay=1&mute=1&loop=1&playlist=UiQUf_US47k&controls=0&modestbranding=1&showinfo=0"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            <div style="padding: 30px;text-align: center;">
                <a class="btn-design2" href="#juegos">Volver a los juegos</a>
            </div>
        </section>
    </section>
</body>

</html>