<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: 88 Fortunes.</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head" src="/resources/PROMO_88_FORTUNES_AL.png" />
                        <img class="img_movil_promo_head" src="/resources/PROMO_88_FORTUNES_AL_MOVIL.png" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-banner-membresia"></section>

            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="titulo type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>88 Fortunes</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>
                    <small style="color: rgba(128, 128, 128, 0.733);font-size: 1rem;">Esta promoción NO APLICA para los
                        dias
                        Viernes.</small>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <p>Se entregarán tiquetes con el logo alusivo a esta campaña, los cuales deberán ser depositados en
                        las urnas respectivas – independientes por sección.</p>
                    <br />

                    <h3>Mecánica del Juego</h3>
                    <br />
                    <ul>
                        <li>Entre los tiquetes depositados en la urna respectiva y en el horario establecido, el
                            promotor:</li>
                        <ol>
                            <li>Se depositan las 18 fichas (6 por tula) en cada una de las tres tulas según el orden
                                establecido por el casino.</li>
                            <li>El administrador debe mezclar bien las fichas delante del participante.</li>
                            <li>El participante debe de retirar una sola fichade cada tula (Son 3 fichas en total).</li>
                            <li>El promotor dependiendo de la ficha la ubica en su lugar en el módulo de juego.</li>
                            <li>La combinación obtenida se confronta con la tabla de pagos para definir el premio a
                                entregar. Todos los participantes ganan</li>
                        </ol>
                        <br />
                        <li> <strong style="color: red;">*</strong>Se entrega un solo premio correspondiente a la mayor
                            combinación obtenida <strong style="color: red;">*</strong></li>
                    </ul>

                    <h3>A Tener en cuenta: </h3>
                    <br />
                    <ul>
                        <li>Si no se obtiene ninguna combinación se realiza la dinámica de nuevo </li>
                        <li>Si el movimiento no lo amerita, NO realizar todos los sorteos.</li>
                        <li>Los sorteos que NO se ejecuten diariamente NO se pueden acumular o reprogramar para otras
                            fechas.</li>
                        <li>Se debe coordinar con el departamento de monitoreo un lugar específico donde se pueda
                            validar el proceso realizado al resultar el premio mayor.</li>
                        <li>En los casinos que tienen dos secciones el presupuesto es independiente.</li>
                        <li>Un mismo participante no puede repetir premio el mismo día, así sea en secciones diferentes
                            (Mesas o Máquinas).</li>
                        <li>Esta promoción es exclusivamente presencial.</li>
                    </ul>

                    <h3>Premios</h3>
                    <ul>
                        <li>Los premios varían según la <strong>categoría del jugador</strong> y la <strong>combinacion
                                obtenida.</li>
                    </ul>

                    <h3>Horarios del Sorteo</h3>
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>


                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <a href="#promociones" class="btn-design1">Volver a las promociones</a>
                    </div>
                    <br />
                    <div class="to-promo">
                        <a href="#vamosengrande" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Vamos en Grande</h2>
                            <img src="/resources/logo_vamos_en_grande.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                        <a href="#boladorada" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Bola Dorada</h2>
                            <img src="/resources/logo_bola_dorada.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/04/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>30/04/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
            <section class="container" id="juegos-view-seccion"></section>
        </div>
    </section>
</body>

</html>