<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BlackJack Express</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion container">
                <div class="promocion-content">
                    <div class="item promocion-img">
                        <img src="/resources/Logo-black-jack-express.png" />
                    </div>
                    <div class="promocion-text">
                        <!-- <h1 class="type1-h1">BlackJack Express</h1> -->
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">

            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>BlackJack Express</h1>
                    <p>¡La emoción del casino en tus manos, una ficha a la vez! </p>
                    <p>Promoción presencial exclusiva de Aladdin Hotel & Casino S.A.S</p>
                    <p style="color: rgba(128, 128, 128, 0.733);">Esta promoción <strong>NO APLICA</strong> para los
                        dias viernes</p>

                    <h2>Cómo Participar :</h2>
                    <br />
                    <p>¿Listo para sentir la adrenalina del <strong> Black Jack</strong> sin necesidad de sentarte en la
                        mesa?
                        <strong> Black Jack Express</strong> es una experiencia dinámica, divertida y 100% interactiva
                        inspirada
                        en uno de los juegos de cartas más icónicos del casino. Esta promoción convierte la clásica
                        partida de Black Jack en un reto de suerte y estrategia, donde cada ficha que saques puede
                        llevarte a un premio en dinero promocional.
                    </p>
                    <br />
                    <p>Aquí, tú tomas las decisiones. ¿Te plantas o pides una más? ¿Te arriesgas por un 21
                        perfecto o te conformas con un puntaje seguro? ¡La emoción del <strong> Black Jack</strong>
                        nunca ha sido
                        tan accesible y entretenida! </p>
                    <br />
                    <h3>En Sección Máquinas: </h3>
                    <ul>
                        <li>Gana tiquetes Black Jack Express al generar 64 puntos con tu tarjeta MYMAWI. </li>
                        <li>La categoría del jugador ya está definida según su nivel (Bronce, Silver, Gold, etc.). </li>
                        <li>Los que no usen tarjeta participan en categoría bronce. </li>
                        <li>Los tiquetes son semanales. </li>
                    </ul>

                    <h3>En Sección Mesas :</h3>
                    <ul>
                        <li>Gana tiquetes al cumplir condiciones específicas de apuesta, según el juego y la
                            categoría:</li>
                        <ul>
                            <li><strong> Superior</strong>: Apuestas desde $100.000</li>
                            <li><strong> Estándar</strong>: Apuestas entre $20.000 y $99.000</li>
                        </ul>
                        <li>El<strong> supervisor marca la categoría</strong>: en el tiquete (no válido si tiene ambas o
                            está
                            enmendado). </li>
                        <li>Tiquetes válidos por un <strong> solo día</strong>. </li>
                        <li>Se entrega <strong> un tiquete por cada condición</strong> cumplida. </li>
                    </ul>
                    <h2>Dinámica del juego – Black Jack Express</h2>
                    <ul>
                        <li>Se selecciona un tiquete al azar de la urna.</li>
                        <li>El jugador recibe una tula con 13 fichas que simulan las cartas del Black Jack (As a
                            K).</li>
                        <li>El promotor guía al jugador a sacar fichas una a una intentando lograr:</li>
                        <ul>
                            <li>Un <strong> Black Jack</strong> (As + 10, J, Q o K) </li>
                            <li>Un puntaje <strong> igual o mayor a 17 y máximo 21 </strong></li>
                        </ul>
                        <li>Incluso si se <strong> excede de 21</strong>, el jugador <strong> gana un premio</strong>.
                        </li>
                        <li>La meta es <strong> superar al crupier</strong> (la casa siempre juega con 17 puntos).</li>
                    </ul>
                    <br />
                    <p>¡Cada decisión cuenta! Puedes arriesgar para mejorar tu jugada, pero si pasas de 21…
                        ya no hay vuelta atrás. </p>


                    <h2>Vigencia y Restricciones</h2>
                    <ul>
                        <li>Esta promoción NO APLICA para los dias viernes de Agosto 2025.</li>
                        <li>Exclusiva para clientes presentes en sala.</li>
                        <li>Los tiquetes deben ser diligenciados por el personal autorizado.</li>
                        <li>Tiquetes enmendados o manipulados no serán válidos.</li>
                        <li>El uso de la tarjeta MYMAWI mejora la categoría del premio.</li>
                    </ul>

                    <h3>Restricciones</h3>
                    <ul>
                        <li>Promocion valida HASTA AGOSTO 2025.</li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <button onclick="toPromos()" class="btn-design1">Volver a las promociones</button>
                    </div>
                    <br />
                    <div class="to-promo">
                        <div class="next-to-promo" id="next-to-tren-premios">
                            <h2 class="type5-h1">Promoción TREN DE PREMIOS</h2>
                            <img src="/resources/logo-tren.png" alt="marcopolo">
                        </div>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/08/2025</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>31/08/2025</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                <section id="ubicacion-seccion">
                </section>
        </div>
    </section>
</body>

</html>