<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: BlackJack Express.</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head" src="/resources/Logo-black-jack-express.png" />
                        <img class="img_movil_promo_head" src="/resources/Logo-black-jack-express.png" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-banner-membresia"></section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="titulo type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>BlackJack Express</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>
                    <small style="color: rgba(128, 128, 128, 0.733);font-size: 1rem;">Promoción NO valida para los
                        dias
                        Viernes.</small>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <p>Se entregarán tiquetes con el logo alusivo a esta campaña, los cuales deberán ser depositados en
                        las urnas respectivas – independientes por sección.</p>
                    <br />

                    <h3>Mecánica del Juego</h3>
                    <br />
                    <p>Entre los tiquetes depositados en la urna respectiva y en el horario establecido, el
                        promotor:</p>
                    <br />
                    <ul>
                        <li>Selecciona un participante.</li>
                        <li>Le presenta el módulo de Black Jack Express y las 13 fichas acrílicas; As, 2, 3, 4,
                            5, 6, 7, 8, 9, 10, J, Q y K. correspondientes a una pinta (Diamantes). </li>
                        <li>Deposita las fichas en una tula de tela. </li>
                        <li>El administrador debe mezclar bien las fichas delante del participante, quien
                            retirará al azar una a una las fichas necesarias. </li>
                        <li>Previo conteo del puntaje y a solicitud del promotor, procurando lograr un Black
                            Jack (As y 10, J, Q o K) o un puntaje igual o superior al de la casa (para esta
                            promoción siempre será 17) pero sin sobrepasar 21 puntos.</li>
                        <li>El Promotor ubicara en el módulo de Black Jack Express; zona de definición del
                            Jugador, una a una las fichas realizando el conteo del puntaje. Cada ficha que se
                            retire de la tula (al azar) por parte del participante deberá haber sido solicitada por
                            el promotor (confirmada previamente como decisión del jugador). </li>
                    </ul>
                    <br />
                    <p>Por ningún motivo el participante podrá retirar de la tula dos o más fichas al tiempo. El
                        promotor deber ser muy enfático en este punto. Si esto llega a ocurrir se le contabilizan
                        todos los puntos de las fichas a la vista. </p>
                    <br />
                    <p>Si se presenta un error en el conteo, esto no generara pago adicional alguno. </p>
                    <h3>A Tener en cuenta: </h3>
                    <br />
                    <ul>
                        <li>Se debe coordinar con el departamento de monitoreo un lugar específico
                            donde se pueda validar el procedimiento realizado al resultar el premio mayor – cámara. Una
                            sola vez; no es necesario llamar a este departamento para
                            cada participación. </li>

                        <li>El participante tiene UNA SOLA OPORTUNIDAD – No es posible autorizar una
                            segunda intervención en el caso de que obtenga un puntaje superior a 21
                            (premio mínimo). </li>

                        <li>Antes de cada participación, el administrador o responsable de acompañar el
                            proceso debe verificar que las trece fichas se encuentren en condiciones
                            estándar; sin marcas que permitan identificarlas al tacto. </li>

                        <li>Un mismo participante no puede repetir premio el mismo día, así sea en
                            secciones diferentes (Mesas o Máquinas) </li>

                        <li>NO se debe comunicar la cantidad de sorteos ni la hora en que se realizarán. </li>

                        <li>Esta promoción es exclusivamente presencial. </li>

                        <li>Cada local debe estar atento a realizar oportunamente la respectiva solicitud
                            de bonos, de acuerdo con la cantidad y valores de los premios entregados. </li>
                    </ul>

                    <h3>Premios</h3>
                    <ul>
                        <li>Los premios varían según la <strong>categoría del jugador</strong> y la <strong>combinacion
                                obtenida.</li>
                    </ul>

                    <h3>Horarios del Sorteo</h3>
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>
                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <div id="promocion-seccion"></div>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <a href="#promociones" class="btn-design1">Volver a las promociones</a>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/05/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>31/05/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
            <section class="container" id="juegos-view-seccion"></section>
        </div>
    </section>
</body>

</html>