<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: Bola Dorada.</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head" src="/resources/PROMO_BOLA_DORADA_AL.png" />
                        <img class="img_movil_promo_head" src="/resources/PROMO_BOLA_DORADA_AL_MOVIL.png" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-banner-membresia"></section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="titulo type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>Bola Dorada</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>
                    <small style="color: rgba(128, 128, 128, 0.733);font-size: 1rem;">Promoción valida para los
                        dias
                        Viernes.</small>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <p>Se entregarán tiquetes con el logo alusivo a esta campaña, los cuales deberán ser depositados en
                        las urnas respectivas – independientes por sección.</p>
                    <br />

                    <h3>Mecánica del Juego</h3>
                    <br />
                    <p>El promotor elige un participante seleccionando un tiquete de la urna respectiva,
                        lo direcciona a la ruleta electrónica o manual dependiendo de la sección y le
                        enseña la tabla de pagos, donde se indican los multiplicadores equivalentes de
                        los números de la ruleta (estos valores son fijos). </p>
                    <br />
                    <p>Las categorías cuentan con un valor base, el cual se multiplicará según el número
                        obtenido en la ruleta. Cada número de la ruleta tiene asignado un multiplicador: x2,
                        x3, x4, x5, x6 y x10. </p>
                    <br />
                    <br />
                    <ul>
                        <li>Las categorías estándar Bronce y Silver tienen un valor base de 40.000. </li>
                        <li>Las categorías Superior, Gold y Legendario tienen un valor base de
                            50.000. </li>
                        <li>Las categorías Titanio y Genius tienen un valor base de 60.000. </li>
                    </ul>
                    <p><strong style="color: red;">*</strong>El valor final se calcula multiplicando el valor base
                        de la categoría por el
                        multiplicador obtenido en la ruleta. <strong style="color: red;">*</strong></p>

                    <h3>A Tener en cuenta: </h3>
                    <br />
                    <ul>


                        <li>Si el movimiento no lo amerita, NO realizar todos los sorteos. </li>
                        <li>Los sorteos que NO se ejecuten diariamente NO se pueden acumular o
                            reprogramar para otras fechas. </li>
                        <li>En los casinos que tienen dos secciones el presupuesto es independiente.</li>
                        <li>Un mismo participante no puede repetir premio el mismo día, así sea en
                            secciones diferentes (Mesas o Máquinas).</li>
                        <li>Esta promoción es exclusivamente presencial.</li>

                    </ul>

                    <h3>Premios</h3>
                    <ul>
                        <li>Los premios varían según la <strong>categoría del jugador</strong> y la <strong>combinacion
                                obtenida.</li>
                    </ul>

                    <h3>Horarios del Sorteo</h3>
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>
                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <a href="#promociones" class="btn-design1">Volver a las promociones</a>
                    </div>
                </div>
            </section>
            <div id="promocion-seccion"></div>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/04/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>30/04/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
            <section class="container" id="juegos-view-seccion"></section>
        </div>
    </section>
</body>

</html>