<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: Aladdin Tesla.</title>

</head>

<body>
    <section>
        <section class="banner_carro_promo">
            <div class="carro_desk content_brand_banner">
                <img class="letra_tesla_back" src="/resources/logo_tesla_empty.png" alt="Aladdin">
                <img class="item logo_brand_cas" src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
            </div>
            <img style="height: 650px;" class="carro_desk back_seccion" src="/resources/banner_tesla.png" alt="Aladdin">
            <img class="item carro_movil" src="/resources/banner_tesla_movil.png" alt="Aladdin">
        </section>
        <section id="content-banner-membresia"></section>
        <section class="container content_carro_view">
            <h2 class="type1-h1">Aladdin Casino</h2>
            <div class="_des_cas_view">
                <p class="type3-h1">
                    Este 29 de mayo de 2026 prepárate para vivir una experiencia única
                    Llega una promoción espectacular donde la emoción, la suerte y el lujo se unen en un solo
                    momento.<br />
                    El gran ganador se llevará un increíble y elegante Tesla, el vehículo de sus sueños, listo para
                    transformar su estilo de vida y hacerlo vivir experiencias inolvidables.
                    <br />
                    Es tu oportunidad de acelerar hacia tus sueños… y hacerlos realidad.
                </p>
            </div>
        </section>
        <section class="content_info_promo_carro">
            <div class="container des_promo_carro">
                <div class="_content_brand">
                    <!-- <img src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
                    <img src="/resources/logo_tesla.png" alt="Aladdin"> -->
                    <img src="/resources/tesla_sorteo.jpg" alt="Aladdin">
                </div>
                <h2 class="type3-h1">Promoción válida para el 29 de mayo de 2026.</h2>
                <a title="¡Saber Más del Tesla de Aladdin!" class="btn-design1" href="#casinosonesta?id=close">Saber
                    Más</a>
            </div>
        </section>
        <section id="ubicacion-seccion"></section>
        <seccion id="promocion-seccion"></seccion>
        <section class="container" id="juegos-view-seccion"></section>
    </section>
</body>

</html>