<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: Dados de Poker</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head"
                            src="/resources/TV-DADOS-DE-POKER-ALADDIN-2025-NOVIEMBRE.jpg" />
                        <img class="img_movil_promo_head"
                            src="/resources/HISTORIA-DADOS-DE-POKER-MARCOPOLO-2025-NOVIEMBRE.jpg" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>

                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="titulo type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>DADOS DE PÓKER</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <br />

                    <ul>
                        <li>Se entregarán tiquetes con el logo alusivo a esta campaña, los cuales deberán ser
                            depositados en las urnas respectivas. </li>
                    </ul>

                    <h3>Mecánica del Juego</h3>
                    <br />
                    <br />
                    <ul>
                        <li>Se selecciona el participante.</li>
                        <li>Le presenta los 5 dados y el cajón para el lanzamiento.</li>
                        <li>Se le explicará las opciones de pago del juego DADOS DE PÓKER.</li>
                        <li>Seguidamente le entrega 5 dados idénticos (As, Rey, Reina, Jack, 9, 10), los
                            ubica dentro del vaso, le realiza un premezclado y se los entrega para que
                            los agite nuevamente y los lances dentro de un cajón de madera decorado
                            con publicidad alusiva. </li>
                        <li>El personal debera validar el procedimiento realizado. </li>
                        <li>El participante tiene UNA SOLA OPORTUNIDAD – No es posible autorizar
                            un segundo lanzamiento en caso del que el puntaje obtenido corresponda al
                            premio mínimo. </li>
                        <li>Verificar que el participante NO organice los dados dentro del vaso. Se
                            prohíbe que los “amarre” volteando el vaso sobre el cajón con un golpe
                            seco. Si esto ocurre el lanzamiento NO es válido.</li>
                        <li>El participante debe agitar los 5 dados mezclándolos suficientemente y de
                            inmediato lanzarlos con fuerza y al tiempo, dentro del cajón respectivo. </li>
                        <li>Después de obtenida la combinación, NO se le puede permitir al participante
                            manipular los dados. </li>
                        <li> El personal que realice la mecánica debe ser muy claro respecto al valor del
                            premio que le corresponde por la combinación obtenida </li>
                    </ul>

                    <h3>Premios</h3>
                    <ul>
                        <li>Los premios varían según la combinación obtenida y la categoría del jugador.</li>
                    </ul>

                    <h3>Horarios del Sorteo</h3>
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>

                    <h2>Condiciones</h2>
                    <h3>Disposiciones Generales</h3>
                    <ul>
                        <li>La validez de cada lanzamiento será supervisada por personal autorizado.</li>
                        <li>Cualquier intento de manipulación del juego anulará automáticamente la participación.</li>
                        <li>La promoción puede estar sujeta a cambios o cancelaciones según disposiciones internas o
                            normativas locales.</li>
                    </ul>

                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <button onclick="toPromos()" class="btn-design1">Volver a las promociones</button>
                    </div>
                    <br />
                    <div class="to-promo">
                        <a href="#acumulaygana" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Acumula y Gana</h2>
                            <img src="/resources/logo_acumula.png" alt="marcopolo">
                            <p>Conocer Promoción</p>
                        </a>
                        <a href="#ruledelasuerte" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Ruleta de la Suerte</h2>
                            <img src="/resources/LOGO-RULETA-DE-LA-SUERTE-ALADDIN-2025.png" alt="marcopolo">
                            <p>Conocer Promoción</p>
                        </a>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/11/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>30/11/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
        </div>
    </section>
</body>

</html>