<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dados de Poker</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion container">
                <div class="promocion-content">
                    <div class="item promocion-img">
                        <img src="/resources/dadospoker.png" />
                    </div>
                    <div class="promocion-text">
                        <h1 style="color: black;" class="type1-h1-bold">¡Dados de Póker!, La suerte es tuya</h1>
                        <div class="flechas-levitando">
                            <span class="flecha"></span>
                            <span class="flecha"></span>
                            <span class="flecha"></span>
                        </div>
                    </div>

                </div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="titulo type2-h1">Términos y Condiciones</h1>

                </div>
            </section>
            <section class="container">

            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>DADOS DE PÓKER</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <ul>
                        <li>Una vez alcanzado el puntaje requerido, el jugador recibirá automáticamente un tiquete, el
                            cual podrá redimir en el sorteo correspondiente.</li>
                    </ul>

                    <h3>Mecánica del Juego</h3>
                    <ul>
                        <li>Los tiquetes se deben depositar en la urna establecida.</li>
                        <li>El director seleccionará un tiquete al azar y llamará al participante.</li>
                        <li>El participante recibirá cinco dados con caras personalizadas (As, Rey, Reina, Jack, 10 y 9)
                            y deberá agitarlos en un vaso especial antes de lanzarlos dentro de un cajón.</li>
                        <li>Solo se permite una oportunidad de lanzamiento. No se autorizan repeticiones en ninguna
                            circunstancia, a no ser que el participante NO salga favorecido se repite la acción.</li>
                    </ul>

                    <h3>Premios</h3>
                    <ul>
                        <li>Los premios varían según la combinación obtenida y la categoría del jugador.</li>
                    </ul>

                    <h3>Horarios del Sorteo</h3>
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>

                    <h2>Condiciones</h2>
                    <h3>Disposiciones Generales</h3>
                    <ul>
                        <li>La validez de cada lanzamiento será supervisada por personal autorizado.</li>
                        <li>Cualquier intento de manipulación del juego anulará automáticamente la participación.</li>
                        <li>La promoción puede estar sujeta a cambios o cancelaciones según disposiciones internas o
                            normativas locales.</li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <button onclick="toPromos()" class="btn-design1">Volver a las promociones</button>
                    </div>
                    <br />
                    <div class="to-promo">
                        <div class="next-to-promo" id="next-to-2">
                            <h2 class="type5-h1">Promoción Giro Dorado</h2>
                        </div>
                        <div class="next-to-promo" id="next-to-1">
                            <h2 class="type5-h1">Promoción Lampara de la Suerte</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/07/2025</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>31/07/2025</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
        </div>
    </section>
</body>

</html>