<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: Fiebre Futbolera.</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head" src="/resources/TV_Fiebre_Futbolera_Aladidn.png"  />
                        <img class="img_movil_promo_head" src="/resources/Story_Fiebre_Futbolera_Aladidn.png" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-banner-membresia"></section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="titulo type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>Fiebre Futbolera</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>
                    <small style="color: #808080bb;font-size: 1rem;">Promoción NO valida para los
                        dias
                        Viernes.</small>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <p>Se entregarán tiquetes con el logo alusivo a esta campaña, los cuales deberán ser depositados en
                        las urnas respectivas – independientes por sección.</p>
                    <br />

                    <h3>Mecánica del Juego</h3>
                    <br />
                    <p>El promotor le exhibe al cliente seleccionado el módulo de FIEBRE FUTBOLERA y las
                        12 fichas que representan las 12 figuras alusivas (5 figuras premiadas BALONES - GOL,
                        1 PENALTI “vuelve y juega con dos oportunidades adicionales” y 6 figuras ALUSIVAS
                        RELACIONADAS CON FÚTBOL). </p>
                    <br />
                    <p>El Administrador debe recoger las fichas en desorden, depositarlas en la tula, y
                        mezclarlas bien en presencia del participante, quien retirará una a una cinco (5) y solo
                        cinco (5) fichas al azar. </p>
                    <br />
                    <ul>
                        <li>En esta dinámica el participante retirara de la tula cada ficha solamente cuando el
                            promotor se lo solicite.</li>
                        <li>Mientras espera la indicación para retirar la siguiente, NO puede mantener la mano
                            dentro de la tula.</li>
                        <li>Por ningún motivo el participante podrá retirar de la tula dos o más fichas al tiempo.
                            El promotor deber ser muy enfático en este punto.</li>
                    </ul>
                    <br />
                    <p>Cuando entre las 5 fichas aparezca el PENALTI, el jugador retira una ficha sustituyéndola
                        y una adicional que el PENALTI le da como beneficio. Solamente en este último caso el
                        participante seleccionará un total de 7 (siete) fichas de la tula incluyendo el PENALTI. </p>
                    <br />
                    <p>OBSERVACIONES IMPORTANTES: </p>
                    <br />
                    <ul>
                        <li>Se debe coordinar con el departamento de monitoreo un lugar específico donde se
                            pueda validar el procedimiento realizado al resultar el premio mayor – cámara.</li>

                        <li>El participante tiene UNA SOLA OPORTUNIDAD – No es posible autorizar una
                            segunda intervención en el caso de que obtenga un solo GOL (premio mínimo).</li>

                        <li>Antes de cada participación, el administrador o responsable de acompañar el
                            proceso debe verificar que las doce fichas se encuentren en condiciones estándar;
                            sin marcas que permitan identificarlas al tacto. </li>
                    </ul>

                    <h3>Premios</h3>
                    <ul>
                        <li>Los premios varían según la <strong>categoría del jugador</strong> y la <strong>combinacion
                                obtenida.</li>
                    </ul>

                    <h3>Horarios del Sorteo</h3>
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>
                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <div id="promocion-seccion"></div>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <a href="#promociones" class="btn-design1">Volver a las promociones</a>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/06/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>30/06/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
            <section class="container" id="juegos-view-seccion"></section>
        </div>
    </section>
</body>

</html>