<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lo Hacemos En Grande</title>

</head>

<body>
    <section>
        <div class="promo">
            <div class="background_halloween_promo container">
                <div style="height: 100%;" class="">
                    <div class="content_head_grand">
                        <img class="img_modelo" src="/resources/modelo_prueba.png" alt="Aladdin">
                        <div class="content_grand_halloween">
                            <img src="/resources/PROMO-HACEMOS-GRANDE-HEADER.png" alt="Aladdin">
                        </div>
                    </div>
                </div>
            </div>
            <section class="promocion halloween_movil container">
                <div class="promocion-content">
                    <div class="item promocion-img">
                        <img src="/resources/PROMO-HACEMOS-GRANDE-HEADER.png" />
                    </div>
                </div>
            </section>

            <section class="container">
                <section class="content_title_promo">
                    <h2 class="type1-h1 item">PREMIOS</h2>
                </section>
                <div class="container">
                    <div class="divider_promo"></div>
                </div>
                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/swift_promo.png" alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a un swift 0 Kilometros.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor (1.2L 3 cilindros híbrido, 1.0L turbo Boosterjet o 1.2L no-híbrido),
                                    transmisión
                                    (manual de 5 velocidades o automática CVT), dimensiones (largo aprox. 3.8 m, ancho
                                    aprox. 1.7 m, alto aprox. 1.5 m), y características de seguridad como 6 airbags,
                                    asistencia de frenado, y sistemas de alerta de carril. </li>
                            </ul>
                        </ul>
                    </div>
                    <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div>
                </section>

                <br />

                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/KWID-blanco.png" alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a un Kwid 0 Kilometros.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor de 1.0L, 3 cilindros, 66 HP y transmisión manual de 5 velocidades, con un
                                    consumo
                                    eficiente (hasta 27.6 km/l en carretera) y un diseño tipo SUV. Ofrece equipamiento
                                    como
                                    pantalla táctil, cámara de reversa, y sistemas de seguridad como ABS, ESC, y cuatro
                                    airbags</li>
                            </ul>
                        </ul>
                    </div>
                    <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div>
                </section>

                <br />

                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/R_Sandero.png" alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a un Sandero 0 Kilometros.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor 1.6L 16v con 111 HP, transmisión manual o automática CVT, aire acondicionado,
                                    sistema multimedia Media Evolution, 4 airbags, frenos ABS con EBD, y un baúl de 320
                                    litros. El diseño incluye rines de 15 o 16 pulgadas, luces LED y asistencias como el
                                    control de estabilidad (ESC) y asistente de arranque en pendiente (HSA) en versiones
                                    recientes. </li>
                            </ul>
                        </ul>
                    </div>
                    <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div>
                </section>

                <br />

                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/N_versa.png" alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a un Versa 0 Kilometros.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor 1.6L de 118 HP con transmisión manual o CVT Xtronic, 6 bolsas de aire, frenos
                                    ABS,
                                    asistente de arranque en pendiente, pantalla táctil con Apple CarPlay/Android Auto y
                                    6
                                    airbags.</li>
                            </ul>
                        </ul>
                    </div>
                    <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div>
                </section>
                <br />

                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/IMG_7792.webp" alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a una nueva DR 150.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor 150cc en 4 tiempos, que entrega aproximadamente 12,2 hp y 12,7 Nm de torque;
                                    cuenta con transmisión de 5 velocidades, freno delantero de disco con ABS, freno
                                    trasero
                                    de tambor,
                                    , suspensión telescópica delantera y monoamortiguador trasero, pesa unos 139 kg en
                                    vacío, y su tanque guarda alrededor de 12,5 L de combustible </li>
                            </ul>
                        </ul>
                    </div>
                    <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div>
                </section>
                <br />
                <br />
                <div class="container">
                    <div class="divider_promo"></div>
                </div>
                <div class="content_msg_grand">
                    <img src="/resources/logo-aladdin.png" alt="Aladdin">
                    <div>
                        <p>Ven, juega y disfruta de las promociones que Aladdin tiene para tí.</p>
                    </div>
                    <img src="/resources/engrande.png" alt="Aladdin">
                </div>
            </section>
            <br />
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <section id="terminos-flechazo-cupido" class="container-termi">
                    <h1>Lo Hacemos en Grande</h1>
                    <p>Entregaremos a nivel nacional nueve (9) carros y seis (6) motos entre nuestros clientes, más
                        premios en dinero promocional para todos los finalistas.</p>

                    <h2>1 .OBJETIVO DE LA CAMPAÑA</h2>
                    <p>Premiar la fidelidad de nuestros clientes con sorteos mensuales de automóviles y motocicletas en
                        las ciudades de Cali, Pereira, Montería, Buga y Tuluá, entre agosto y diciembre de 2025.</p>


                    <h2>2. PREMIOS Y FECHAS DE ENTREGA POR CIUDAD</h2>
                    <ul>
                        <li>Carros</li>
                        <ul>
                            <li>En el caso de los carros, los finalistas de cada establecimiento se reunirán en un mismo
                                establecimiento para el sorteo final.</li>
                            <ul>
                                <li>Cali (Cinco (5) carros):</li>
                                <ul>
                                    <li>Agosto 15, Aladdin Calima*</li>
                                    <li>Septiembre 19, Aladdin Karaoke*</li>
                                    <li>Octubre 17, Aladdin MallPlaza*</li>
                                    <li>Noviembre 14, Aladdin Cosmocentro*</li>
                                    <li>Diciembre 19, Aladdin Plaza Cayzedo*</li>
                                </ul>
                                <br />
                                <li>Pereira (Cuatro (4) carros):</li>
                                <ul>
                                    <li>Septiembre 19, Aladdin El Lago*</li>
                                    <li>Octubre 17, Aladdin de la 18*</li>
                                    <li>Noviembre 14, Aladdin de la 22*</li>
                                    <li>Diciembre 19 Aladdin Mi Tierra - Unicentro*</li>
                                </ul>
                            </ul>
                        </ul>
                        <p><span style="color: red;">*</span>Los lugares de los sorteos podrían cambiar, en todo caso la
                            empresa facilitará el transporte
                            de los finalistas hasta el lugar donde se realice cada final.</p>
                        <br />
                        <br />
                        <li>Motos</li>
                        <ul>
                            <li>Montería (Dos (2) motos)</li>
                            <ul>
                                <li>Sorteos: Septiembre 19 y Diciembre 19.</li>
                            </ul>
                            <br />
                            <li>Buga (Dos (2) motos)</li>
                            <ul>
                                <li>Sorteos: Septiembre 19 y Diciembre 19.</li>
                            </ul>
                            <br />
                            <li>Tuluá: (Dos (2) motos)</li>
                            <ul>
                                <li>Sorteos: Septiembre 19 y Diciembre 19.</li>
                            </ul>
                        </ul>
                    </ul>
                    <h2>3. PARTICIPACIÓN</h2>
                    <ul>
                        <li>Participan todos los clientes que acumulen la cantidad mínima de puntos establecida en cada
                            local. Por cada umbral alcanzado, el cliente obtendrá un (1) tiquete que podrá depositar en
                            la urna correspondiente.</li>
                        <br />
                        <li>En ciudades con más de un establecimiento (Cali y Pereira), se seleccionará una cantidad
                            determinada de <span style="color: rgb(58, 25, 180);">finalistas por sede</span>, los cuales
                            se reunirán en un solo punto para definir el ganador.</li>
                    </ul>

                    <h3>4. MECÁNICA DE LOS SORTEOS</h3>
                    <h2>PARA CALI</h2>
                    <ul>
                        <li>En cada local se sacarán de las urnas seis (6) semifinalistas diferentes.</li>
                        <li>Si una persona favorecida en la extracción de tiquetes no está presente al momento del
                            sorteo, se elegirá un nuevo participante extrayendo otro tiquete de la urna.</li>
                        <li>Si la persona favorecida en la extracción de tiquetes saliera de nuevo en esa selección, se
                            buscará otra persona hasta completar los seis (6) semifinalistas diferentes. No se puede
                            ceder el cupo.</li>
                        <li>Entre los semifinalistas en cada local se realizará una eliminatoria entregándole a cada
                            uno, al azar, un pack de números de ruleta y se procederá a encontrar los finalistas de cada
                            local así:</li>
                        <ul>
                            <li>A05: 2 finalistas</li>
                            <li>A07: 2 finalistas</li>
                            <li>A08: 3 finalistas</li>
                            <li>A12: 4 finalistas (3 de sección máquinas, uno de sección mesas)</li>
                            <li>A16: 1 finalista</li>
                            <li>A19: 2 finalistas</li>
                            <li>A50: 2 finalistas</li>
                            <li>A70: 3 finalistas</li>
                        </ul>
                        <p>para un total de diecinueve (19) finalistas.</p>
                        <li>Los semifinalistas que no clasificaron a la final recibirán, cada uno, un bono por $100.000
                            en dinero promocional.</li>
                        <li>Los finalistas asistirán al evento presencial en el local designado.</li>
                    </ul>

                    <h2>ELECCIÓN DEL GANADOR FINAL: </h2>
                    <br />
                    <p>Se depositarán en una tula oscura treinta y ocho (38) balotas de bingo numeradas, cada balota
                        representará un número de la ruleta, para el caso del CERO será representado por la balota
                        número 37 y el DOBLE CERO por la balota número 38. Cada uno de los 19 finalistas extraerá dos
                        balotas y se registrará que número le corresponde a cada uno, anunciándolo también públicamente.
                    </p>
                    <br />
                    <p>Se desterminarán tres tiros de la ruleta electrónica, con intervalos de entre 15 y 20 minutos
                        entre ellos, sin afectar el normal funcionamiento y servicio de la máquina. En el primer
                        lanzamiento se encontrará el ganador del tercer lugar, quien recibirá $500.000 en dinero
                        promocional, en el segundo lanzamiento encontraremos el ganador del segundo lugar, quien
                        recibirá $1.000.000 en dinero promocional y en el tercer lanzamiento encontraremos al gran
                        ganador que se lleva un carro, sin embargo, hasta ese momento no se sabe cuál carro ganó.</p>
                    <br />
                    <p>Una vez se ha determinado quién es el ganador del carro vamos a buscar cual carro ganó para ello
                        se utilizará una rueda fiché, los vehículos son todos nuevos, último modelo, las marcas y
                        modelos disponibles son:</p>
                    <br />
                    <ul>
                        <li>Nissan Versa (máximo un Versa por ciudad)</li>
                        <li>Renault Sandero</li>
                        <li>Renault Kwid</li>
                        <li>Suzuki Swift (máximo un Swift por ciudad)</li>
                    </ul>
                    <h2>PARA PEREIRA.</h2>
                    <ul>
                        <li>En cada local se sacarán de las urnas la siguiente cantidad de finalistas directos: </li>
                        <ul>
                            <li>A35: 4 finalistas</li>
                            <li>A39: 5 finalistas</li>
                            <li>A88: 1 finalista</li>
                            <li>A36: 9 finalistas (5 de sección máquinas y 4 de sección mesas)</li>
                        </ul>
                        <p>para un total de diecinueve (19) finalistas.</p>
                        <li>Si una persona favorecida en la extracción de tiquetes no está presente al momento del
                            sorteo, se elegirá un nuevo participante extrayendo otro tiquete de la urna. </li>
                        <li>Si la persona favorecida en la extracción de tiquetes saliera de nuevo en esa selección, se
                            buscará otra persona hasta completar los finalistas por cada local. No se puede ceder el
                            cupo.</li>
                        <li>Los finalistas asistirán al evento presencial en el local designado.</li>
                    </ul>
                    <h2>ELECCIÓN DEL GANADOR FINAL: </h2>
                    <br />
                    <p>Se depositarán en una tula oscura treinta y ocho (38) balotas de bingo numeradas, cada balota
                        representará un número de la ruleta, para el caso del CERO será representado por la balota
                        número 37 y el DOBLE CERO por la balota número 38. Cada uno de los 19 finalistas extraerá dos
                        balotas y se registrará que número le corresponde a cada uno, anunciándolo también públicamente.
                    </p>
                    <br />
                    <p>Se desterminarán tres tiros de la ruleta electrónica, con intervalos de entre 15 y 20 minutos
                        entre ellos, sin afectar el normal funcionamiento y servicio de la máquina. En el primer
                        lanzamiento se encontrará el ganador del tercer lugar, quien recibirá $500.000 en dinero
                        promocional, en el segundo lanzamiento encontraremos el ganador del segundo lugar, quien
                        recibirá $1.000.000 en dinero promocional y en el tercer lanzamiento encontraremos al gran
                        ganador que se lleva un carro, sin embargo, hasta ese momento no se sabe cuál carro ganó.</p>
                    <br />

                    <h2>IMPORTANTE: </h2>
                    <p>Si un participante resultara ganador en dos o incluso en los tres sorteos podrá
                        recibir todos los premios.</p>
                    <br />
                    <p>Una vez se ha determinado quién es el ganador del carro vamos a buscar cual carro ganó para ello
                        se utilizará una rueda fiché, los vehículos son todos nuevos, último modelo, las marcas y
                        modelos disponibles son:</p>
                    <ul>
                        <li>Nissan Versa (máximo un Versa por ciudad)</li>
                        <li>Renault Sandero</li>
                        <li>Renault Kwid</li>
                        <li>Suzuki Swift (máximo un Swift por ciudad)</li>
                    </ul>
                    <h2>PARA BUGA, MONTERÍA Y TULUÁ</h2>
                    <ul>
                        <li>Se extraerán de las urnas nueve (9) finalistas.</li>
                        <li>Si una persona favorecida en la extracción de tiquetes no está presente al momento del
                            sorteo, se elegirá un nuevo participante extrayendo otro tiquete de la urna. </li>
                        <li>Si la persona favorecida en la extracción de tiquetes saliera de nuevo en esa selección, se
                            buscará otra persona hasta completar los finalistas nueve (9) finalistas diferentes. No se
                            puede ceder el cupo.</li>
                        <li>Se procede a hacer la final</li>
                    </ul>

                    <h2>ELECCIÓN DEL GANADOR FINAL: </h2>
                    <br />
                    <p>Se depositarán en una tula oscura treinta y seis (36) balotas de bingo numeradas, cada balota
                        representará un número de la ruleta. Cada uno de los 19 finalistas extraerá cuatro (4) balotas y
                        se registrará que número le corresponde a cada uno, anunciándolo también públicamente.</p>
                    <br />
                    <p>Se desterminarán tres tiros de la ruleta electrónica, con intervalos de entre 15 y 20 minutos
                        entre ellos, sin afectar el normal funcionamiento y servicio de la máquina. En el primer
                        lanzamiento se encontrará el ganador del tercer lugar, quien recibirá $500.000 en dinero
                        promocional, en el segundo lanzamiento encontraremos el ganador del segundo lugar, quien
                        recibirá $1.000.000 en dinero promocional y en el tercer lanzamiento encontraremos al gran
                        ganador que se lleva una Motocicleta Suzuki DR150 último modelo.</p>
                    <br />
                    <h2>IMPORTANTE:</h2>
                    <p>Si un participante resultara ganador en dos o incluso en los tres sorteos podrá recibir todos los
                        premios. </p>
                    <br />
                    <h2>5. CONDICIONES GENERALES</h2>
                    <ul>
                        <li>El ganador deberá asumir los gastos de matrícula, traspaso (si aplica) y el impuesto de
                            ganancia ocasional sobre el premio recibido.</li>
                        <li>El carro o motocicleta será entregado a nombre del ganador una vez se haya efectuado el pago
                            de dichos gastos.</li>
                        <li>El ganador podrá optar por recibir el valor del vehículo en efectivo, con las debidas
                            retenciones de ley.</li>
                        <li>El premio no es canjeable por otro bien distinto ni por servicios.</li>
                        <li>El premio no es transferible ni pagable a un grupo de personas, se determinará un único
                            ganador.</li>
                    </ul>
                    <h2>6. REQUISITOS PARA LOS PARTICIPANTES</h2>
                    <ul>
                        <li>Ser mayor de edad.</li>
                        <li>Ser cliente activo en nuestros locales.</li>
                        <li>Cumplir con los puntos mínimos y condiciones establecidas en cada local y en estos términos
                            y condiciones.</li>
                        <li>Presentar documento de identidad original al momento de reclamar el premio.</li>
                        <li>Autorizar el uso de su imagen con fines promocionales.</li>
                    </ul>
                    <h2>7. RESTRICCIONES</h2>
                    <ul>
                        <li>No podrán participar empleados del casino ni sus familiares directos.</li>
                        <li>Un tiquete extraído de la urna podrá ser anulado si se detecta fraude, manipulación o
                            suplantación.</li>
                        <li>La participación en esta campaña implica la aceptación total de estos términos.</li>
                    </ul>
                    <h2>8. RESPONSABILIDAD</h2>
                    <ul>
                        <li>Casinos Aladdin se reserva el derecho de modificar fechas o condiciones si existen causas de
                            fuerza mayor. Cualquier novedad será comunicada oportunamente a través de medios oficiales.
                        </li>
                    </ul>
                    <h2>9. CONTACTO Y PUBLICACIÓN DE GANADORES</h2>
                    <ul>
                        <li>Los ganadores serán publicados en las redes sociales oficiales de Casinos Aladdin y en los
                            puntos físicos de atención.</li>
                        <li>Para más información puede dirigirse al punto de servicio al cliente o a las redes sociales
                            @vivealaddin</li>
                    </ul>

                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </section>
            </section>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <button onclick="toPromos()" class="btn-design1">Volver a las promociones</button>
                    </div>
                    <br />
                    <div class="to-promo">
                        <div class="next-to-promo" id="next-to-halloween-misterioso">
                            <h2 class="type2-h1">Promoción Halloween Misterioso</h2>
                            <img src="/resources/logo_halloween_misterioso.png" alt="marcopolo">
                        </div>
                        <div class="next-to-promo" id="next-to-nueve-portales">
                            <h2 class="type2-h1">Promoción Los Nueve Portales</h2>
                            <img src="/resources/Logo_los_nueve_portales.png" alt="marcopolo">
                        </div>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>15/08/2025</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>19/12/2025</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container">
                <section id="ubicacion-seccion">
                </section>
            </section>
        </div>
    </section>
</body>

</html>