<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lo Hacemos En Grande</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion container">
                <div class="promocion-content">
                    <div class="item promocion-img">
                        <img src="/resources/PROMO-HACEMOS-GRANDE-HEADER.png" />
                    </div>
                    <div class="promocion-text">
                        <!-- <h1 class="type-h1">BlackJack Express</h1> -->
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <section id="terminos-flechazo-cupido" class="container-termi">
                    <h1>Lo Hacemos en Grande</h1>
                    <p>Entregaremos a nivel nacional nueve (9) carros y seis (6) motos entre nuestros clientes, más
                        premios en dinero promocional para todos los finalistas.</p>

                    <h2>Camapaña</h2>
                    <p>Premiar la fidelidad de nuestros clientes con sorteos mensuales de automóviles y motocicletas en
                        las ciudades de Cali, Pereira, Montería, Buga y Tuluá, entre agosto y diciembre de 2025.</p>


                    <h2>PREMIOS Y FECHAS DE ENTREGA POR CIUDAD</h2>
                    <ul>
                        <li>Carros</li>
                        <ul>
                            <li>En el caso de los carros, los finalistas de cada establecimiento se reunirán en un mismo
                                establecimiento para el sorteo final.</li>
                            <ul>
                                <li>Cali (Cinco (5) carros):</li>
                                <ul>
                                    <li>Agosto 15, Aladdin Calima*</li>
                                    <li>Septiembre 19, Aladdin Karaoke*</li>
                                    <li>Octubre 17, Aladdin MallPlaza*</li>
                                    <li>Noviembre 14, Aladdin Cosmocentro*</li>
                                    <li>Diciembre 19, Aladdin Plaza Cayzedo*</li>
                                </ul>
                                <br />
                                <li>Pereira (Cuatro (4) carros):</li>
                                <ul>
                                    <li>Septiembre 19, Aladdin El Lago*</li>
                                    <li>Octubre 17, Aladdin de la 18*</li>
                                    <li>Noviembre 14, Aladdin de la 22*</li>
                                    <li>Diciembre 19 Aladdin Mi Tierra - Unicentro*</li>
                                </ul>
                            </ul>
                        </ul>
                        <p><span style="color: red;">*</span>Los lugares de los sorteos podrían cambiar, en todo caso la empresa facilitará el transporte
                            de los finalistas hasta el lugar donde se realice cada final.</p>
                            <br />
                            <br />
                        <li>Motos</li>
                        <ul>
                            <li>Montería (Dos (2) motos)</li>
                            <ul>
                                <li>Sorteos: Septiembre 19 y Diciembre 19.</li>
                            </ul>
                            <br />
                            <li>Buga (Dos (2) motos)</li>
                            <ul>
                                <li>Sorteos: Septiembre 19 y Diciembre 19.</li>
                            </ul>
                            <br />
                            <li>Tuluá: (Dos (2) motos)</li>
                            <ul>
                                <li>Sorteos: Septiembre 19 y Diciembre 19.</li>
                            </ul>
                        </ul>
                    </ul>




                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </section>
            </section>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <button onclick="toPromos()" class="btn-design1">Volver a las promociones</button>
                    </div>
                    <br />
                    <div class="to-promo">
                        <div class="next-to-promo" id="next-to-tren-premios">
                            <h2 class="type2-h1">Promoción El Match Perfecto</h2>
                            <img src="/resources/logo_match_perfecto.png" alt="marcopolo">
                        </div>
                        <div class="next-to-promo" id="next-to-flechazo-cupido">
                            <h2 class="type2-h1">Promoción El Flechazo de cupido</h2>
                            <img src="/resources/logo_flechazo_cupido.png" alt="marcopolo">
                        </div>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/09/2025</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>30/09/2025</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container">
                <section id="ubicacion-seccion">
                </section>
            </section>
        </div>
    </section>
</body>

</html>