<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: Lámpara de la Suerte.</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head" src="/resources/PROMO_LAMPARA_SUERTE_AL.jpg" />
                        <img class="img_movil_promo_head" src="/resources/PROMO_LAMPARA_SUERTE_AL_MOVIL.jpg" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-banner-membresia"></section>

            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="type-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>Lámpara de la Suerte</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>
                    <br />
                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <p>Se entregarán tiquetes con el logo alusivo a esta campaña, los cuales deberán ser depositados en
                        las urnas respectivas – independientes por sección.</p>
                    <h3>Mecánica del juego</h3>
                    <br />
                    <ul>
                        <li>El participante lanza un dado por cada columna (3 lanzamientos).</li>
                        <li>Se premia la mejor combinación obtenida.</li>
                        <li> La figura de Lámpara de la Suerte actúa como comodín.</li>
                    </ul>
                    <br />
                    <h3>Tener Presente</h3>
                    <br />
                    <ul>
                        <li>Si no se obtiene ninguna combinación se lanzan de nuevo los dados.</li>
                        <li>Los sorteos que NO se ejecuten diariamente NO se pueden acumular o
                            reprogramar para otras fechas. </li>
                    </ul>
                    <br />
                    <h3>Premios</h3>
                    <br />
                    <ul>
                        <li>Los premios varían según la <strong>categoría del jugador</strong> y la <strong>combinacion
                                obtenida.</li>
                        <li>Se entrega solo un premio por participante y día (sin importar la sección).</li>
                        <li>Todos ganan. Si no se obtiene ninguna combinación, puede volver a intentarlo hasta que salga
                            ganador.</li>
                    </ul>
                    <br />
                    <h3>Horarios del Sorteo</h3>
                    <br />
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>
                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                    <br />
                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <div id="promocion-seccion"></div>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <a href="#promociones" class="btn-design1">Volver a las promociones</a>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/02/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>28/02/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container" id="ubicacion-seccion">
            </section>
            <section class="container" id="juegos-view-seccion"></section>
        </div>
    </section>
</body>

</html>