<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lampara de la Suerte</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion container">
                <div class="promocion-content">
                    <div class="item promocion-img">
                        <img src="/resources/lamparadelasuerte.png" />
                    </div>
                    <div class="promocion-text">
                        <h1 style="color: black;" class="type1-h1-bold">Lampara de la Suerte, ¡Lanza, juega y gana!</h1>
                        <div class="flechas-levitando">
                            <span class="flecha"></span>
                            <span class="flecha"></span>
                            <span class="flecha"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">

            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>LÁMPARA DE LA SUERTE</h1>
                    <p>
                        Participación válida solo en casinos participantes y de forma presencial:
                        El jugador debe obtener su tiquete en máquinas o mesas,
                        cumpliendo las condiciones específicas por sección y categoría.
                    </p>

                    <h2>Secciones participantes:</h2>
                    <br />
                    <h3>Máquinas DRGT</h3>
                    <ul>
                        <li>Participa con la tarjeta Mymawi cumpliendo con la condición de al menos un Tiquete.</li>
                    </ul>

                    <h3>Máquinas especiales</h3>
                    <ul>
                        <li>Un tiquete entregado por el administrador al día.</li>
                    </ul>

                    <h3>Mesas</h3>
                    <ul>
                        <li>Tiquetes según apuestas cumplidas, marcados con la categoría del cliente por el supervisor.
                        </li>
                    </ul>

                    <h3>Dinámica del juego</h3>
                    <ul>
                        <li>El participante lanza un dado por cada columna (3 lanzamientos).</li>
                        <li>Se premia la mejor combinación obtenida.</li>
                        <li> La figura de Lámpara de la Suerte actúa como comodín.</li>
                    </ul>

                    <h3>Premios</h3>
                    <ul>
                        <li>Se entrega solo un premio por participante y día (sin importar la sección).</li>
                        <li>Todos ganan. Si no se obtiene ninguna combinación, puede volver a intentarlo hasta que salga
                            ganador.</li>
                    </ul>

                    <h2>Validez y control:</h2>
                    <h3>Restricciones</h3>
                    <ul>
                        <li>Los tiquetes tienen vigencia diaria y no pueden manipularse ni acumularse.</li>
                        <li>Sorteos no realizados no se reprograman.</li>
                    </ul>

                    <ul>
                        <li>No se aceptan tiquetes enmendados o mal diligenciados.</li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <button onclick="toPromos()" class="btn-design1">Volver a las promociones</button>
                    </div>
                    <br />
                    <div class="to-promo">
                        <div class="next-to-promo" id="next-to-3">
                            <h2 class="type5-h1">Promoción Dados de Póker</h2>
                        </div>
                        <div class="next-to-promo" id="next-to-2">
                            <h2 class="type5-h1">Promoción Giro Dorado</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/07/2025</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>31/07/2025</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                <section id="ubicacion-seccion">
                </section>
        </div>
    </section>
</body>

</html>