<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Los Nueve Portales</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion container">
                <div class="promocion-content">
                    <div class="item promocion-img">
                        <img src="/resources/Logo_los_nueve_portales.png" />
                    </div>
                    <div class="promocion-text">
                        <!-- <h1 class="type-h1">BlackJack Express</h1> -->
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <section id="terminos-match-perfecto" class="container-termi">
                    <h1>Los Nueve Portales</h1>
                    <p>¡La emoción del casino en tus manos, un Portal a la vez!</p>
                    <p>Promoción presencial exclusiva.</p>
                    <p class="note">Esta promoción <strong>Solo APLICA</strong> los dias <strong>viernes</strong> del
                        mes de Octubre.</p>

                    <!-- (Opcional) Vigencia -->
                    <!-- <p class="note">Vigencia: viernes 5 al viernes 26 de septiembre de 2025 (aplica solo los viernes).</p> -->

                    <h2>Cómo participar</h2>
                    <ol>
                        <li>Los tiquetes deben depositarse en las <strong>urnas respectivas por sección</strong> .</li>
                        <li>En cada sorteo se selecciona un participante de la urna.</li>
                        <li>Se selecciona un participante, a quien se le <strong> entregan dos dados rojos y un vaso
                                para agitarlos</strong>. El objetivo es guiar una <strong> ficha (identificada como
                                "antorcha")</strong> a
                            través de un tablero modular llamado "los 9 portales" para llegar a un "talismán".</li>
                        <li>El <strong> participante debe elegir su punto de partida</strong> entre dos opciones: el
                            Portal 1 (Cachos del
                            Diablo) o el Portal 9 (Pezuña del Diablo).</li>
                        <li>El <strong> participante realiza cuatro lanzamientos de los dados</strong>. El movimiento de
                            la ficha en <strong> cada
                                lanzamiento depende de la suma obtenida</strong>:</li>
                        <ul>
                            <li> <strong>Suma 6</strong>: La ficha se mueve inmediatamente al Portal 1 (Cachos del
                                Diablo).</li>
                            <li><strong>Suma 7</strong>: La ficha se mueve inmediatamente al Portal 9 (Pezuña del
                                Diablo).</li>
                            <li><strong>Suma 8</strong>: La ficha retrocede una casilla. Sin embargo, si la ficha ya se
                                encuentra en el
                                Portal 1 o en el Portal 9, no se realiza ningún movimiento.</li>
                        </ul>
                        <li> <strong> Cualquier otra suma </strong>(diferente de 6, 7 u 8): <strong> La ficha avanza una
                                casilla</strong> en dirección al
                            talismán.</li>
                        <li>Cada uno de los <strong>portales</strong> del tablero tiene un <strong>premio
                                asignado</strong>.</li>
                        <li>El participante tiene una sola oportunidad de juego.</li>
                        <li><strong>Todos</strong> los participantes reciben premio.</li>
                    </ol>

                    <h2>Requisitos de participación</h2>
                    <ul>
                        <li>Promoción válida exclusivamente para personas <strong>mayores de edad (18+)</strong>.</li>
                        <li>Es <strong>obligatorio</strong> el uso de la <strong>tarjeta MYMAWI</strong> para
                            participar.</li>
                        <li>Se entrega <strong>un (1) tiquete por jugador</strong> según las condiciones de juego de
                            cada sección (mesas o máquinas).</li>
                        <li>Los tiquetes son <strong>personales e intransferibles</strong>, con <strong>vigencia diaria
                                o semanal</strong> según la categoría; no son válidos si presentan enmendaduras o
                            alteraciones.</li>
                    </ul>

                    <h2>Premios</h2>
                    <ul>
                        <li>Los premios varían según la <strong>categoría del jugador</strong> y el <strong>tipo de
                                fichas</strong> obtenidas.</li>
                        <li>Los premios <strong>no son transferibles</strong> ni canjeables por dinero solo en dinero
                            promocional.</li>
                    </ul>

                    <h2>Restricciones</h2>
                    <ul>
                        <li>Un mismo participante <strong>no podrá repetir premio el mismo día</strong>, aun cuando
                            juegue en secciones diferentes.</li>
                        <li>Si el movimiento no lo amerita, <strong>no se realizarán todos los sorteos</strong> del día.
                        </li>
                        <li>Los sorteos <strong>no ejecutados</strong> no podrán <strong>acumularse ni
                                reprogramarse</strong>.</li>
                        <li>La promoción es <strong>exclusivamente presencial</strong>.</li>
                    </ul>

                    <h2>Inhabilidades</h2>
                    <ul>
                        <li> <strong> No podrán participar empleados</strong> del Grupo Empresarial Aladdin.</li>
                        <li>En caso de detectarse <strong> fraude, intento de manipulación o suplantación</strong>, el
                            tiquete o participación será <strong> anulado inmediatamente</strong>.</li>
                    </ul>

                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </section>
            </section>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <a href="#promociones" class="btn-design1">Volver a las promociones</a>
                    </div>
                </div>
            </section>
            <div id="promocion-seccion"></div>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>03/10/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>31/10/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container">
                <section id="ubicacion-seccion">
                </section>
            </section>
        </div>
    </section>
</body>

</html>