<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: Mr. Bonus.</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head" src="/resources/PROMO_MR_BONUS_AL.png" />
                        <img class="img_movil_promo_head" src="/resources/PROMO_MR_BONUS_AL_MOVIL.png" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-banner-membresia"></section>

            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1>Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>Mr. Bonus</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <p>Se entregarán tiquetes con el logo alusivo a esta campaña, los cuales deberán ser depositados en las urnas respectivas – independientes por sección.</p>
                    <br />

                    <h3>Mecánica del Juego</h3>
                    <br />
                    <ul>
                        <li>Se entrega un solo tiquete por cada condición cumplida.</li>
                        <li>Estos tiquetes no deben ser manipulados por los jugadores para evitar alteraciones en las categorías.</li>
                        <li>Los tiquetes tienen vigencia diaria.</li>
                    </ul>

                    <h3>A Tenes en cuenta: </h3>
                    <br />
                    <ul>
                        <li>Un mismo participante no puede repetir premio el mismo día, así sea en secciones diferentes.</li>
                        <li>Esta promoción es exclusivamente presencial.</li>
                        <li>Con la tarjeta MYMAWI las recompensas serán mejores.</li>
                    </ul>

                    <h3>Premios</h3>
                    <ul>
                       <li>Los premios varían según la <strong>categoría del jugador</strong> y la <strong>cantidad de puntos</strong>
                            obtenidos.</li>
                    </ul>

                    <h3>Horarios del Sorteo</h3>
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>


                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <button onclick="toPromos()" class="btn-design1">Volver a las promociones</button>
                    </div>
                    <br />
                    <div class="to-promo">
                         <a href="#mymawitepremia" class="next-to-promo">
                            <h2 class="type5-h1">Promoción MYMAWI Te Premia</h2>
                            <img src="/resources/MY-MAWI-BLANCO.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/01/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>31/01/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
            <section class="container" id="juegos-view-seccion"></section>
        </div>
    </section>
</body>

</html>