<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MYMAWI Te Premia</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion container">
                <div class="promocion-content">
                    <div class="item promocion-img">
                        <img src="/resources/MYMAWI-te-premia.png" />
                    </div>
                    <div class="promocion-text">
                        <h1 class="type3-h1">MYMAWI Te Premia</h1>
                        <div class="flechas-levitando">
                            <span class="flecha"></span>
                            <span class="flecha"></span>
                            <span class="flecha"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">

            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>MYMAWI Te Premia</h1>
                    <p>
                        A partir del MARTES 1 DE JULIO realizaremos sorteos de bonos directos; sin
                        dinámica. El valor de estos premios se segmenta por el uso de la tarjeta y/o
                        condiciones de juego y apuesta.
                    </p>
                    <small style="color: rgba(128, 128, 128, 0.733);">Promocion valida para CALI y BUGA.</small>

                    <h2>Cómo Participar :</h2>
                    <br />
                    <h3>En Sección Máquinas: </h3>
                    <ul>
                        <li>Con sistema DRGT: El tiquete promocional se imprime directamente en el módulo de promociones
                            al presentar la tarjeta MYMAWI (equivale a 64 puntos). </li>
                        <li>Máquinas especiales o sin DRGT: El administrador entregará un (1) tiquete por jugador al
                            día. </li>
                        <li>Clientes que no utilicen tarjeta MYMAWI participarán en la categoría Bronce.</li>
                        <li>Tiquetes válidos durante la semana correspondiente.</li>
                    </ul>

                    <h3>En Sección Mesas</h3>
                    <ul>
                        <li>Se entregarán tiquetes por cumplimiento de condiciones de juego, clasificados en categoría
                            Estándar o Superior (Oro).</li>
                        <li>Cada condición de juego otorga un (1) tiquete, que será diligenciado por el supervisor
                            marcando con "X" la categoría correspondiente. </li>
                        <li>Los tiquetes deben depositarse en la urna y no pueden ser manipulados por los jugadores.
                        </li>
                        <li>Son válidos solo por el día en que se entregan.</li>
                    </ul>

                    <h2>Premios y Categorías</h2>
                    <h3>Sección Máquinas</h3>
                    <ul>
                        <li>Los premios se asignan según la categoría registrada del cliente:</li>
                        <table>
                            <thead>
                                <th>Categoría</th>
                                <th>Premio</th>
                            </thead>
                            <tr>
                                <td>Bronce</td>
                                <td>$50.000</td>
                            </tr>
                            <tr>
                                <td>Silver</td>
                                <td>$70.000</td>
                            </tr>
                            <tr>
                                <td>Gold</td>
                                <td>$90.000</td>
                            </tr>
                            <tr>
                                <td>Legendario</td>
                                <td>$110.000</td>
                            </tr>
                            <tr>
                                <td>Titanio</td>
                                <td>$130.000</td>
                            </tr>
                            <tr>
                                <td>Genius</td>
                                <td>$150.000</td>
                            </tr>
                        </table>
                        <br />
                    </ul>
                    <h3>Sección Mesas</h3>
                    <ul>
                        <li>Los premios se asignan según la categoría registrada del cliente.</li>
                        <br />
                    </ul>

                    <h3>Sorteo y Selección de Ganadores</h3>
                    <ul>
                        <li>El sorteo se realiza en presencia de asistentes del casino, seleccionando aleatoriamente un
                            tiquete de la urna respectiva.</li>
                        <li>En máquinas, se valida la categoría mediante el sistema.</li>
                        <li>En mesas, se toma la categoría indicada en el tiquete (Estándar o Superior).</li>
                        <li>El bono se entrega en dinero promocional MYMAWI.</li>
                    </ul>

                    <h3>Horario de Sorteos</h3>
                    <ul>
                        <li>Se distribuyen durante toda la jornada del casino.</li>
                        <li>Se recomienda realizarlos mínimo cada una hora.</li>
                        <li>Cantidad de sorteos y frecuencia por local se rige por el presupuesto asignado y la
                            programación de cada sede.</li>
                    </ul>

                    <h2>Condiciones Generales</h2>
                    <ul>
                        <li>Esta promoción es válida únicamente de forma presencial.</li>
                        <li>Los tiquetes enmendados o manipulados serán invalidados.</li>
                        <li>El casino se reserva el derecho de verificar la legitimidad de la participación.</li>
                        <li>La promoción finalizará cuando se cumpla la cantidad total de sorteos asignada,
                            independientemente del valor entregado.</li>
                        <li>La promoción no aplica para los dias viernes.</li>
                    </ul>

                    <h3>Restricciones</h3>
                    <ul>
                        <li>No se aceptan tiquetes enmendados o mal diligenciados.</li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <button onclick="toPromos()" class="btn-design1">Volver a las promociones</button>
                    </div>
                    <br />
                    <div class="to-promo">
                        <div class="next-to-promo" id="next-to-super-bingo">
                            <h2 class="type5-h1">Promoción Super Bingo</h2>
                        </div>
                        <div class="next-to-promo" id="next-to-cascada-premios">
                            <h2 class="type5-h1">Promoción Cascada de Premios</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/07/2025</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>03/08/2025</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
        </div>
    </section>
</body>

</html>