<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: Ruleta de la Suerte.</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head" src="/resources/PROMO_RULETA_DE_PREMIOS_AL.png" />
                        <img class="img_movil_promo_head" src="/resources/PROMO_RULETA_DE_PREMIOS_AL_MOVIL.png" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>

                </div>
            </section>
            <section id="content-banner-membresia"></section>

            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="titulo type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>Ruleta de Premios</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>
                    <small style="color: rgba(128, 128, 128, 0.733);font-size: 1rem;">Promoción NO Valida para los dias
                        Viernes.</small>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <p>Se entregarán tiquetes con el logo alusivo a esta campaña, los cuales deberán ser depositados en
                        las urnas respectivas – independientes por sección.</p>
                    <br />

                    <h3>Mecánica del Juego</h3>
                    <br />
                    <ul>
                        <li>Entre los tiquetes depositados en la urna respectiva y en el horario establecido: </li>
                        <li>El promotor selecciona un participante y se dirigen hacia la ruleta electrónica.</li>
                        <ul>
                            <li>Se le presenta el módulo de Ruleta de Premios y dependiendo de la categoría del
                                participante, se le entregan 8 o 9 fichas. </li>
                            <ul>
                                <li>CAT. ESTÁNDAR: 6 fichas X2 + 1 ficha X3 + 1 ficha X5 </li>
                                <li>CAT. SUPERIOR: 6 fichas X2 + 1 ficha X3 + 1 ficha X5 + 1 ficha MYMAWI</li>
                            </ul>
                            <li>El participante le va indicando al promotor dónde desea ubicar TODAS sus fichas
                                en los números de la ruleta. TODAS LAS POSTURAS SON PLENOS. </li>
                            <li>Inmediatamente el gerente o administrador verifique que todo está en orden, define
                                la bola a jugar en la ruleta electrónica que determinará el número ganador. </li>
                            <li>Se entrega un bono por el valor indicado en la tabla de pagos, de acuerdo con el
                                multiplicador impreso en la ficha ganadora. </li>
                            <li>Esta actividad se efectúa al tiempo con las apuestas de los clientes que en ese
                                momento se encuentren jugando, sin alterar sus condiciones de juego y pagos. </li>
                            <li>El personal que realice la mecánica debe ser muy claro respecto al valor del premio
                                que le corresponde por el número obtenido. </li>
                        </ul>
                        <li>El personal que realice la mecánica debe ser muy claro respecto al valor del premio que le
                            corresponde por el número obtenido.</li>
                    </ul>

                    <h3>A Tenes en cuenta: </h3>
                    <br />
                    <ul>
                        <li>Se debe coordinar con el departamento de monitoreo un lugar específico donde se pueda
                            validar el procedimiento realizado al resultar el premio mayor – cámara.</li>
                        <li>Antes de cada participación, el administrador o responsable de acompañar el proceso
                            debe verificar que los elementos se encuentren en excelentes condiciones. </li>
                        <li>Un mismo participante no puede repetir premio el mismo día, así sea en secciones
                            diferentes (Mesas o Máquinas). </li>
                        <li>Si el movimiento no lo amerita, NO realizar todos los sorteos. Tener presente que como
                            política "NO ANUNCIAMOS LA CANTIDAD DE SORTEOS" por ende no estamos
                            incumpliendo la promesa de valor. </li>
                    </ul>

                    <h3>Premios</h3>
                    <ul>
                        <li>Los premios varían según la <strong>categoría del jugador</strong> y la <strong>combinacion
                                obtenida.</li>
                    </ul>

                    <h3>Horarios del Sorteo</h3>
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>


                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </div>
            </section>
            <section class="_content_divider_section">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <a href="#promociones" class="btn-design1">Volver a las promociones</a>
                    </div>
                </div>
            </section>
            <div id="promocion-seccion"></div>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/03/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>31/03/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
            <section class="container" id="juegos-view-seccion"></section>
        </div>
    </section>
</body>

</html>