<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: Ruleta de la Suerte.</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head" src="/resources/TV-RULETA-DE-LA-SUERTE-ALADDIN-2025.png" />
                        <img class="img_movil_promo_head" src="/resources/HS-RULETA-DE-LA-SUERTE-ALADDIN-2025.png" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>

                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="titulo type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>RULETA DE LA SUERTE</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>
                    <small style="color: rgba(128, 128, 128, 0.733);font-size: 1rem;">Promoción NO Valida para los dias
                        Viernes.</small>
                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <br />
                    <ul>
                        <li>Jugando en las mesas BLACKJACK, RULETA y BACCARAT. Podrás hacerte al número Ganador,
                            participando contra otros jugadores podrás poner a prueba tu suerte.</li>
                    </ul>

                    <h3>Mecánica del Juego</h3>
                    <br />
                    <br />
                    <ul>
                        <li>Cada que un jugador cumpla las condiciones indicadas a continuación, tendrá derecho a
                            número(s) en una planilla única para todo el casino.</li>
                        <li>Inmediatamente se complete esta planilla procederemos a jugar la promoción en una de las
                            ruletas.</li>
                        <li>Inmediatamente se llene la planilla se debe informar en voz alta y en todas las mesas
                            involucradas, que en la siguiente bola juega la promoción.</li>
                        <li>EL GANADOR NO TIENE QUE ESTAR PRESENTE EN EL MOMENTO DEL SORTEO.</li>


                    </ul>

                    <h3>HORARIOS:</h3>
                    <br />
                    <ul>
                        <li>1 listado a las 4 pm</li>
                        <li>2 listado a las 6 pm</li>
                        <li>3 listado a las 8 pm</li>
                        <li>4 listado a las 10 pm</li>
                        <h3>Otros horarios</h3>
                        <br />
                        <li>1 listado a las 8 pm</li>
                        <li>2 listado a las 10 pm</li>
                        <li>3 listado a las 12 pm</li>
                        <li>4 listado a las 2 am</li>
                    </ul>

                    <h3>Premios</h3>
                    <br />

                    <ul>
                        <li>Los premios varían según el acumulado obtenido y la categoría del jugador.</li>
                    </ul>

                    <h3>CONDICIONES PARA ENTREGAR LOS NUMEROS.</h3>
                    <br />

                    <ul>
                        <li>Los números se deben entregar en el orden de pagos, ya sea en BLACKJACK, RULETA y BACCARAT.
                        </li>
                    </ul>

                    <h3>OBSERVACIONES IMPORTANTES:</h3>
                    <br />
                    <ul>
                        <li>En los casinos que tienen dos secciones el presupuesto es independiente.
                        </li>
                        <li>Cada local debe estar atento a realizar oportunamente la respectiva solicitud de bonos, de
                            acuerdo con la cantidad y valores de los premios entregados.</li>


                        <h2>Tratamiento de datos</h2>
                        <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                                Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </div>
            </section>
            <section class="_content_divider_section">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <a href="#promociones" class="btn-design1">Volver a las promociones</a>
                    </div>
                </div>
            </section>
            <div id="promocion-seccion"></div>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/11/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>30/11/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
        </div>
    </section>
</body>

</html>