<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tren de Premios</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion container">
                <div class="promocion-content">
                    <div class="item promocion-img">
                        <img src="/resources/logo-tren.png" />
                    </div>
                    <div class="promocion-text">
                        <!-- <h1 class="type1-h1">Tren de Premios</h1> -->
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">

            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>Tren de Premios</h1>
                    <p>Promoción presencial exclusiva de Aladdin Hotel & Casino S.A.S</p>

                    <h2>Cómo Participar :</h2>
                    <br />
                    <p>Prepárate para una experiencia diferente, rápida y llena de emoción.
                        <strong> TREN DE PREMIOS</strong> es una mecánica pensada para premiar tu juego con algo más que
                        suerte: <strong> tres
                            lanzamientos de dado</strong>, un recorrido inesperado por estaciones premiadas y la
                        garantía de salir
                        siempre con algo en las manos.
                    </p>
                    <br />
                    <p>¿Te gusta ganar mientras juegas Black Jack, Ruleta, Baccarat o en tu máquina favorita? Entonces
                        súbete a este tren y que los dados te lleven directo a la estación de los grandes premios.</p>
                    <br />
                    <p>¡Aquí, <strong> todos los lanzamientos cuentan</strong>, todos ganan y <strong> el mejor avance
                            puede darte hasta
                            $600.000 en bono promocional</strong>! En Categoría Genius</p>
                    <br />



                    <h3>En Sección Máquinas: </h3>
                    <ul>
                        <li>En máquinas DRGT: cada <strong> 64 puntos con tarjeta MYMAWI</strong> te da un
                            <strong>Tiquete –
                                Tren de Premios</strong> .
                        </li>
                        <li>Para categoría superior, necesitas <strong> mínimo 6 tiquetes dorados</strong> generados con
                            <strong> 100
                                puntos cada uno</strong>.
                        </li>
                        <li> Si no usas la tarjeta, participas como <strong> categoría bronce</strong>. </li>
                        <li>Tiquetes válidos <strong> una semana</strong>. </li>
                    </ul>

                    <h3>En Sección Mesas :</h3>
                    <ul>
                        <li>Gana tiquetes al cumplir condiciones específicas de apuesta, según el juego y la
                            categoría:</li>
                        <ul>
                            <li> <strong> Superior</strong>: Apuestas desde $100.000 </li>
                            <li> <strong> Estándar</strong>: Apuestas entre $20.000 y $99.000 </li>
                        </ul>
                    </ul>
                    <h2>Mecánica del Juego :</h2>
                    <ul>
                        <li>Se selecciona un participante al azar de la urna.</li>
                        <li>El jugador recibe el <strong> vaso y el dado rojo</strong>.</li>
                        <li>Realiza <strong> 3 lanzamientos</strong>, uno por uno, agitando el dado enérgicamente.</li>
                        <li>Cada número indica el avance en estaciones.</li>
                        <li>La <strong> última estación alcanzada</strong> define el premio.</li>
                        <li><strong> Todos los participantes ganan</strong>.</li>
                        <li>Solo una oportunidad por persona por día. </li>
                    </ul>

                    <h2>Ejemplo de dinámica</h2>
                    <ul>
                        <li>lanzamiento: 4 → estación 4</li>
                        <li>lanzamiento: 5 → estación 9</li>
                        <li>lanzamiento: 6 → estación 15 = ¡Ganas según estación 15!</li>
                    </ul>

                    <h3>Reglas importantes</h3>
                    <ul>
                        <li>Si un jugador participa en mesas y máquinas, solo puede ganar una vez al día. </li>
                        <li>El dado debe ser agitado correctamente. No se permiten lanzamientos débiles. </li>
                        <li>Si cae en estación 11 o 16, avanza automáticamente a la estación 14 o 17
                            respectivamente. </li>
                    </ul>
                    <h3>Premios garantizados, emoción real</h3>
                    <br />
                    <h3>¡Tú lanzas el dado, tú eliges tu destino! </h3>
                    <br />
                    <p>
                        <strong> TREN DE PREMIOS</strong> es la forma perfecta de premiar tu fidelidad, impulsar el uso
                        de la
                        tarjeta MYMAWI y mantenerte conectado a la adrenalina del casino, un lanzamiento a la
                        vez.
                    </p>
                    <h2>Vigencia y Restricciones</h2>
                    <ul>
                        <li><strong> Vigencia</strong>: Todos los viernes del mes de Agosto 2025</li>
                        <li>Exclusiva para clientes presentes en sala.</li>
                        <li>Los tiquetes deben ser diligenciados por el personal autorizado.</li>
                        <li>Tiquetes enmendados o manipulados no serán válidos.</li>
                        <li>El uso de la tarjeta MYMAWI mejora la categoría del premio.</li>
                    </ul>

                    <h3>Restricciones</h3>
                    <ul>
                        <li>Promocion valida HASTA AGOSTO 2025.</li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <button onclick="toPromos()" class="btn-design1">Volver a las promociones</button>
                    </div>
                    <br />
                    <div class="to-promo">
                        <div class="next-to-promo" id="next-to-blackjack-express">
                            <h2 class="type5-h1">Promoción BLACKJACK EXPRESS</h2>
                            <img src="/resources/Logo-black-jack-express.png" alt="marcopolo">
                        </div>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/08/2025</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>31/08/2025</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
        </div>
    </section>
</body>

</html>