<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lo Hacemos En Grande</title>

</head>

<body>
    <section>
        <div class="promo">
            <div class="background_halloween_promo">
                <div class="content_head_grand">
                    <img style="width: 100%;height: 100%;" src="/resources/portada_vamos_en_grande.png" alt="Aladdin">
                    <!-- <div class="content_form_head_p">
                            <div class="progress-fill-head-p"></div>
                        </div> -->
                    <!-- <div class="content_grand_halloween">
                            <img src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
                            <h1>Vamos en Grande</h1>
                            <h1>Entre Marzo y Diciembre</h1>
                            <h1>Un Carro y Una Moto.</h1>
                            <h1>Cada Mes.</h1>
                        </div>
                        <div class="title_promo">
                            <p>Vamos en grande, cada mes podrás ser uno de los ganadores de uno de los
                                Carros y Motos de
                                Aladdin.</p>
                            <p>Promoción valida hasta Diciembre de 2026.</p>
                        </div>
                        <div class="content_btn_t_y_c">
                            <a id="btn_conocer_promo" class="btn-design2">Conocer Promo</a>
                        </div> -->
                </div>
            </div>
            <section class="promocion halloween_movil ">
                <div class="promocion-content">
                    <div class="item promocion-img">
                        <img src="/resources/Redes_vamos en grande_1080x1920.jpeg" />
                    </div>
                </div>
            </section>
            <section id="content-banner-membresia"></section>

            <section style="display: none;" class="container">
                <section class="content_title_promo">
                    <h2 class="type1-h1 item">PREMIOS</h2>
                </section>
                <section class="_content_divider_section">
                    <div class="_divider_game_">
                        <div class="progress-fill-game"></div>
                    </div>
                    <div class="_figura_divider_"></div>
                </section>
                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/Distrikia-kia-nuevo-picanto-seccion-formulario.webp"
                            alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a un Kia Picanto 0 Kilometros.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor (1.2L 3 cilindros híbrido),
                                    transmisión
                                    (manual de 5 velocidades o automática CVT), dimensiones (largo aprox. 3.595 m, ancho
                                    aprox. 1.595 m, alto aprox. 1.485 m), y características de seguridad como 6 airbags,
                                    asistencia de estabilidad, y sistema de arranque en pendiente(HAC). </li>
                            </ul>
                        </ul>
                    </div>
                    <!-- <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div> -->
                </section>

                <br />

                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/Snow-White-Pearl_SWP_00007.webp" alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a un Kia K3 0 Kilometros.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor 1.6L DOHC, Dual-CVVT de 16 válvulas, 121 HP y transmisión manual de 6
                                    velocidades. Ofrece equipamiento
                                    como
                                    pantalla táctil, cámara de reversa, y sistemas de seguridad como ABS, ESC, y 6
                                    airbags.</li>
                            </ul>
                        </ul>
                    </div>
                    <!-- <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div> -->
                </section>

                <br />

                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/R_Sandero.png" alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a un Sandero 0 Kilometros.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor 1.6L 16v con 111 HP, transmisión manual o automática CVT, aire acondicionado,
                                    sistema multimedia Media Evolution, 4 airbags, frenos ABS con EBD, y un baúl de 320
                                    litros. El diseño incluye rines de 15 o 16 pulgadas, luces LED y asistencias como el
                                    control de estabilidad (ESC) y asistente de arranque en pendiente (HSA) en versiones
                                    recientes. </li>
                            </ul>
                        </ul>
                    </div>
                    <!-- <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div> -->
                </section>

                <br />

                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/renault_logan_zen_rojo.webp" alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a un Logan 0 Kilometros.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor 1.6L (1.598 cm³) de 16 válvulas con cadena de distribución. Potencia 111 HP.
                                    Torque 156 Nm (pueden variar según la fuente entre 150 y 156 Nm). Transmisión Manual
                                    de 5 velocidades o Automática CVT (Continuamente Variable). Maletero 510 Litros de
                                    capacidad. Rines De lujo diamantados de 16 pulgadas (Versión Intens).</li>
                            </ul>
                        </ul>
                    </div>
                    <!-- <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div> -->
                </section>

                <br />

                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/N_versa.png" alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a un Versa 0 Kilometros.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor 1.6L de 118 HP con transmisión manual o CVT Xtronic, 6 bolsas de aire, frenos
                                    ABS,
                                    asistente de arranque en pendiente, pantalla táctil con Apple CarPlay/Android Auto y
                                    6
                                    airbags.</li>
                            </ul>
                        </ul>
                    </div>
                    <!-- <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div> -->
                </section>
                <br />

                <section class="section_content_promo_mes">
                    <div class="content_1_promo">
                        <img class="titulo" src="/resources/IMG_7792.webp" alt="Aladdin">
                    </div>
                    <div class="content_2_promo">
                        <h3>Puedes participar y puedes hacerte a una nueva DR 150.</h3>
                        <ul>
                            <li>Diseño y Motorización</li>
                            <ul>
                                <li>Motor 150cc en 4 tiempos, que entrega aproximadamente 12,2 hp y 12,7 Nm de torque;
                                    cuenta con transmisión de 5 velocidades, freno delantero de disco con ABS, freno
                                    trasero
                                    de tambor,
                                    , suspensión telescópica delantera y monoamortiguador trasero, pesa unos 139 kg en
                                    vacío, y su tanque guarda alrededor de 12,5 L de combustible. </li>
                            </ul>
                        </ul>
                    </div>
                    <!-- <div class="img_fantasma img_fantasma_1"><img src="/resources/fantasma_negro.webp" alt="Aladdin">
                    </div> -->
                </section>
                <br />
                <br />
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <div class="content_msg_grand container">
                <img class="titulo" src="/resources/logo-aladdin.png" alt="Aladdin">
                <div>
                    <p class="titulo">Ven, juega y disfruta de las promociones que Aladdin tiene para tí.</p>
                </div>
                <img class="titulo" src="/resources/logo_vamos_en_grande.png" alt="Aladdin">
            </div>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <section id="terminos-hacemos-en-grande" class="container-termi">
                    <h1>Vamos en Grande</h1>
                    <!-- <p>Entregaremos a nivel nacional nueve (9) carros y seis (6) motos entre nuestros clientes, más
                        premios en dinero promocional para todos los finalistas.</p> -->

                    <h2>1 .OBJETIVO</h2>
                    <p>ALADDIN HOTEL & CASINO S.A.S. identificada con número NIT. 805.007.280-8, FOX TECHNOLOGIES S.A.S.
                        identificada con número NIT. 800.256.745-1, SEJEVE INVERSIONES S.A.S. identificada con número
                        NIT. 901538637-1, quienes en adelante y para todos los efectos legales se denominarán “LAS
                        EMPRESAS” con el fin de premiar la fidelidad de los clientes de Casinos Aladdin a nivel nacional
                        establecen un plan de sorteos mensuales que incentive la participación y asistencia a sus
                        establecimientos comerciales de juego (máquinas/casino).</p>

                    <h2>2. PLAN DE PREMIOS</h2>
                    <p>Las Empresas, a través de esta campaña entregarán un gran total de $1.032.500.000 (Mil treinta y
                        dos millones quinientos mil pesos m/cte) distribuidos en diez (10) sorteos mensuales. </p>
                    <br />
                    <ul>
                        <li>En cada una de las 10 ediciones se entregarán $103.250.000, distribuidos así: </li>
                        <ul>
                            <li>Primer Premio: Un (1) Carro modelo 2026 (Valor promedio: $69.600.000).</li>
                            <ul>
                                <li>Marcas disponibles según sorteo final: Kia Picanto, Kia K-3, Nissan Versa, Renault
                                    Sandero o Renault Logan.</li>
                            </ul>
                            <li>Segundo Premio: Una (1) Moto Suzuki DR 150 modelo 2026 (Valor: $10.650.000).</li>
                            <li>Tercer Premio: Tres millones de pesos ($3.000.000) en efectivo. </li>
                            <li>Premios de Consolación (Dinero Promocional):</li>
                            <ul>
                                <li>35 bonos de $200.000 para finalistas. </li>
                                <li>130 bonos de $100.000 para semifinalistas. </li>
                            </ul>
                        </ul>
                        <br />
                        <br />

                    </ul>
                    <h2>3. VIGENCIA Y CRONOGRAMA DE SORTEOS La campaña inicia el 5 de febrero de 2026. Los sorteos se
                        realizarán en las siguientes fechas de 2026:</h2>
                    <ul>
                        <li>Sorteo 1: Marzo 20.</li>
                        <li>Sorteo 2: Abril 17.</li>
                        <li>Sorteo 3: Mayo 15.</li>
                        <li>Sorteo 4: Junio 19.</li>
                        <li>Sorteo 5: Julio 17.</li>
                        <li>Sorteo 6: Agosto 14.</li>
                        <li>Sorteo 7: Septiembre 18.</li>
                        <li>Sorteo 8: Octubre 16.</li>
                        <li>Sorteo 9: Noviembre 20.</li>
                        <li>Sorteo 10: Diciembre 18.</li>
                    </ul>

                    <h3>4. MECÁNICA DE PARTICIPACIÓN</h3>
                    <br />
                    <ul>
                        <li>4.1 Obtención de Tiquetes</li>
                        <ul>
                            <li>Podrán participar personas mayores de edad que sean clientes activos de Casinos Aladdin.
                            </li>
                            <li>Se excluirán del envío de información sobre la campaña y de participar en la misma, a
                                personas que se hayan autoexcluido de conformidad con el programa de juego responsable
                                desarrollado por Las Empresas, según el cual, los clientes de manera voluntaria y por
                                decisión propia se tomarán un descanso del juego. </li>
                            <li>Los clientes acumularán puntos según el umbral mínimo establecido en cada local. </li>
                            <li>Por cada umbral alcanzado, se entregará un (1) tiquete físico que el cliente deberá
                                depositar en la urna de su respectivo local. </li>
                        </ul>
                        <li>4.2 Sorteo de Semifinalistas y Finalistas por Local</li>
                        <ul>
                            <li>a. Presencialidad Obligatoria: En la fecha del sorteo local, se extraerán tiquetes
                                aleatoriamente. Si el titular no está presente, se procederá a extraer un nuevo tiquete
                                de inmediato. </li>
                            <li>b. Unicidad de Participante: Cada persona solo puede ser elegida como semifinalista una
                                vez por sorteo. Si su nombre sale repetido, será reemplazado. </li>
                            <li>c. Selección de semifinalistas: Se sacarán aleatoriamente de la urna seis personas
                                diferentes por local o por sección (máquinas y mesas).</li>
                            <li>d. Selección del Finalista: Los seis (6) semifinalistas de cada local recibirán un "MIX"
                                numerado (del 1 al 6) con combinaciones aleatorias predefinidas de números de ruleta (1
                                al 36). Los Mixs serán asignados mediante un sorteo con balotas. Se escoge un
                                lanzamiento de ruleta electrónica y el número ganador indicará quién avanza a la gran
                                final. Si el número que cae es Cero o Doble Cero se tomará como válido el siguiente
                                lanzamiento. Para los locales que tienen más de un finalista se determina la siguiente
                                bola para encontrar el otro finalista. Si cayera la misma persona se debe buscar una
                                persona diferente. Cada finalista tendrá colgada al cuello una medalla en blanco para
                                escribir allí el número con que participará por los premios mayores.</li>
                            <li>e. Cupos: Los cupos asignados por local y sección son los siguientes:</li>
                            <ul>
                                <li>A12: Dos (2) finalistas de la sección Máquinas, Un (1) Finalista de la sección
                                    Mesas.</li>
                                <li>A08: Tres (3) finalistas.</li>
                                <li>A48, A36, A108, A127: Un (1) finalista de la sección Máquinas, Un (1) finalista de
                                    la sección Mesas cada uno.</li>
                                <li>A70, A39, A43, A35, A53, A7, A19: Dos (2) finalistas cada uno.</li>
                                <li>A50, A38, A781, A49, A05, A58, MP100, A16, A88, A09: Un (1) finalista cada uno.</li>
                            </ul>
                        </ul>
                    </ul>

                    <h2>5. LA GRAN FINAL (TRANSMISIÓN NACIONAL) </h2>
                    <br />
                    <p>Los 38 finalistas a nivel nacional participarán desde el Establecimiento de comercio que
                        frecuentan habitualmente, en una transmisión privada en vivo vía YouTube a las 8:00 p.m. de cada
                        fecha programada.</p>
                    <br />
                    <ul>
                        <li>5.1 Asignación de números: A cada finalista se le asignará aleatoriamente un número de
                            ruleta (incluyendo 0 y 00) mediante un sistema random. En ese momento el presentador
                            anunciará cada nombre y cada número para que los finalistas en cada ciudad conozcan con cuál
                            número van a participar, este número se escribe en su respectiva medalla.</li>
                        <li>5.2 Sorteo de premios: Primero se sorteará el premio de tres millones ($3.000.000) por medio
                            de un lanzamiento de ruleta electrónica, posteriormente se realiza el sorteo de la moto y
                            finalmente el del carro, al final de cada sorteo desde el local donde se encuentre el
                            ganador se hará una llamada a la central para presentar al ganador quien deberá enseñar su
                            medalla con el número ganador.</li>
                        <li>5.3 Dinámica “¿Mejora tu carro?”: El ganador del carro (inicialmente un Kia Picanto) tendrá
                            una oportunidad de mejorar el modelo eligiendo posiciones en la ruleta para fichas de otras
                            marcas así: Una ficha con Kia K3 - 2026, Una ficha con un Nissan Versa – 2026, Tres fichas
                            con Renault Logan – 2026 y Tres fichas con Renault Sandero – 2026. El ganador, a través de
                            la video llamada, elegirá en que números de la ruleta poner cada ficha. El participante
                            tiene una sola oportunidad para poner cada ficha, no puede cambiar de opinión después de
                            asignada y las fichas se deben poner en el siguiente orden: 1°. Kia K3 – 2°. Nissan Versa –
                            3°. Renault Logan – 4° Renault Logan – 5° Renault Logan – 6° Renault Sandero – 7° Renault
                            Sandero – 8° Renault Sandero. Una vez colocadas las ocho fichas se determina el lanzamiento
                            en la ruleta electrónica y si cae uno de los números elegidos gana el carro que tenga la
                            ficha, si cae en cualquier otro número gana un Kia Picanto – 2026.</li>
                        <li>5.4 Regla de no acumulación y reasignación de premios</li>
                        <ul>
                            <li>Un finalista no podrá acumular más de un premio. En caso de que, por la mecánica del
                                sorteo, un mismo finalista resulte ganador de dos o más premios, este conservará
                                únicamente el premio de mayor valor. Los premios de menor valor a los que renuncie serán
                                reasignados de inmediato mediante un nuevo sorteo entre los finalistas restantes.</li>
                            <li>Desarrollo de la regla (procedimiento del sorteo)</li>
                            <li>A cada finalista se le ha asignado un número de ruleta, entonces:</li>
                            <ul>
                                <li>Los premios se sortearán en orden ascendente de valor:</li>
                                <ul>
                                    <li>Primer sorteo: Tercer premio ($3.000.000 en efectivo).</li>
                                    <li>Segundo sorteo: Segundo premio (motocicleta).</li>
                                    <li>Tercer sorteo: Premio mayor (automóvil).</li>
                                </ul>
                                <li>Una vez definido el ganador de un premio, este quedará asignado de manera
                                    provisional, sujeto a la aplicación de la Regla de No Acumulación.</li>
                                <li>Si durante el sorteo de un premio posterior el mismo finalista resulta nuevamente
                                    ganador, se aplicará la siguiente condición:</li>
                                <ul>
                                    <li>El finalista conservará el premio de mayor valor obtenido.</li>
                                    <li>El premio de menor valor será liberado y se procederá a realizar un nuevo
                                        lanzamiento para asignarlo a un finalista distinto.</li>
                                </ul>
                                <li>Este procedimiento de reasignación se repetirá las veces que sea necesario hasta que
                                    cada premio tenga un ganador diferente.</li>
                                <li>Cuando el premio liberado haya sido asignado a un ganador distinto se continúa con
                                    el sorteo del siguiente premio. </li>
                            </ul>
                        </ul>
                    </ul>
                    <br />
                    <h2>6. CONDICIONES Y RESPONSABILIDADES</h2>
                    <br />
                    <ul>
                        <li>Gastos Legales: El ganador es responsable del pago de la Ganancia Ocasional, retención en la
                            fuente (según el Estatuto Tributario vigente en Colombia), así como de los gastos de
                            matrícula, traspaso e impuestos del vehículo. </li>
                        <li>Entrega: El premio se entregará a nombre del ganador una vez se acredite el pago de los
                            impuestos y gastos mencionados. </li>
                        <li>Opción de Efectivo: El ganador podrá optar por recibir el valor comercial del vehículo en
                            efectivo, aplicándose las retenciones de ley correspondientes. </li>
                        <li>Restricciones: No podrán participar empleados de Casinos Aladdin ni sus familiares hasta
                            segundo grado de consanguinidad o afinidad. </li>
                        <li>Uso de Imagen: Los participantes autorizan expresamente a las Empresas para difundir,
                            reproducir, y/o utilizar sus nombres, u otros datos personales, así como el uso de su imagen
                            para fines promocionales y la publicación de su identidad como ganadores en redes sociales o
                            pagina web, sin que dicha utilización confiera el derecho de recibir alguna remuneración o
                            beneficio alguno adicional al premio obtenido. </li>
                        <li>Tratamiento de Datos Personales: Los participantes autorizan el tratamiento de sus datos
                            personales, de conformidad a las finalidades establecidas en la política de Tratamiento de
                            Datos de la Empresa. Para mayor información consulte <a
                                href="https://vivealaddin.com/#politicadatos">www.vivealaddin.com</a>.</li>
                        <li>Consentimiento: La sola participación del cliente, implica total conocimiento y aceptación
                            de los TyCs.</li>
                    </ul>
                    <h2>7. RESTRICCIONES</h2>
                    <ul>
                        <li>No podrán participar empleados del casino ni sus familiares directos hasta segundo grado de
                            consanguinidad y afinidad.</li>
                        <li>Personas que se encuentren manipulando la promoción de alguna manera para obtener ventaja o
                            provecho, pudiendo ser descalificada a entera discrepancia de las empresas.</li>
                        <li>Un tiquete extraído de la urna podrá ser anulado si se detecta fraude, manipulación o
                            suplantación.</li>
                        <li>La participación en esta campaña implica la aceptación total de estos términos.</li>
                    </ul>
                    <h2>8. RESPONSABILIDAD</h2>
                    <ul>
                        <li>las Empresas se reservan el derecho de modificar fechas, condiciones o mecánicas de los
                            sorteos si existen causas de fuerza mayor o justificables para beneficiar a los
                            participantes. En todo caso, cualquier novedad será comunicada oportunamente a través de
                            medios oficiales.</li>
                    </ul>
                    <h2>9. RESERVA</h2>
                    <ul>
                        <li>Las Empresas se reservan el derecho de hacer las modificaciones necesarias en cualquier
                            momento, a la totalidad de la Campaña o a toda la publicidad relacionada con los eventos,
                            hasta 36 horas antes de la fecha estipulada del sorteo o entrega del premio. De la misma
                            forma se reserva el derecho a comprobar la veracidad de la DATA y el cumplimiento de las
                            demás condiciones por parte de los ganadores. </li>
                    </ul>
                    <h2>10. CONTACTO Y PUBLICACIÓN DE GANADORES</h2>
                    <ul>
                        <li>Los ganadores serán publicados en las redes sociales oficiales de Casinos Aladdin y Marco
                            Polo Casino, así como en los puntos de atención de los diferentes establecimientos
                            comerciales.</li>
                        <li>Para más información puede dirigirse al punto de servicio al cliente o a las redes sociales
                            <a href="https://www.instagram.com/vivealaddin/">@vivealaddin.</a>
                        </li>
                    </ul>


                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </section>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section>
                <div class="titulo container">
                    <br />
                    <br />
                    <div style="text-align: center;">
                        <a href="#promociones" class="btn-design1">Volver a las promociones</a>
                    </div>
                    <br />

                    <div style="display: none;" id="promos_diciembre" class="to-promo">
                        <a href="#mymawitepremia" class="next-to-promo">
                            <h2 class="type5-h1">Promoción MYMAWI Te Premia</h2>
                            <img src="/resources/MY-MAWI-BLANCO.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                        <a href="#trenpremios" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Tren de Premios</h2>
                            <img src="/resources/logo-tren.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                    </div>
                    <div style="display: none;" id="promos_febrero_2026" class="to-promo">
                        <a href="#dadosmagicos" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Dados Mágicos</h2>
                            <img src="/resources/logo_dados_magicos.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                        <a href="#lampara" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Lámpara de la Suerte</h2>
                            <img src="/resources/logo.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                    </div>
                    <div style="display: none;" id="promos_marzo_2026" class="to-promo">
                        <a href="#ruletadepremios" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Ruleta de Premios</h2>
                            <img src="/resources/logo_ruleta_premios.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                        <a href="#vueltalmundo" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Vuelta al Mundo</h2>
                            <img src="/resources/Logo_vuelta.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                    </div>
                    <div style="display: none;" id="promos_abril_2026" class="to-promo">
                        <a href="#fortunes88" class="next-to-promo">
                            <h2 class="type5-h1">Promoción 88 Fortunes</h2>
                            <img src="/resources/logo_88_fortune.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                        <a href="#boladorada" class="next-to-promo">
                            <h2 class="type5-h1">Promoción Bola Dorada</h2>
                            <img src="/resources/logo_bola_dorada.png" alt="Aladdin">
                            <p>Conocer Promoción</p>
                        </a>
                    </div>
                </div>
            </section>

            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>05/02/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>18/12/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
            <section class="container" id="juegos-view-seccion"></section>
        </div>
    </section>
</body>

</html>