<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aladdin: La Vuelta al Mundo.</title>

</head>

<body>
    <section>
        <div class="promo">
            <section class="promocion promocion_paddin_head container">
                <div class="promocion-content">
                    <div class="item content_banner_promo">
                        <img class="img_desk_promo_head" src="/resources/PROMO_VUELTA_AL_MUNDO_AL.png" />
                        <img class="img_movil_promo_head" src="/resources/PROMO_VUELTA_AL_MUNDO_AL_MOVIL.png" />
                    </div>
                    <div class="promocion-text">
                        <div class="flechas-levitando">
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                            <span class="flecha_2"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content-banner-membresia"></section>

            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <section class="container">
                <div class="terminos-condiciones">
                    <h1 class="titulo type1-h1">Términos y Condiciones</h1>
                </div>
            </section>
            <section class="container">
                <div class="container-termi">
                    <h1>La Vuelta al Mundo</h1>
                    <p>
                        Esta promoción está sujeta al cumplimiento de las condiciones establecidas en el sistema de
                        recompensas del casino.
                    </p>
                    <small style="color: rgba(128, 128, 128, 0.733);font-size: 1rem;">Promoción Valida SOLO para los
                        dias
                        Viernes.</small>

                    <h2>Términos</h2>
                    <h3>Participación</h3>
                    <br />
                    <p>Se entregarán tiquetes con el logo alusivo a esta campaña, los cuales deberán ser depositados en
                        las urnas respectivas – independientes por sección.</p>
                    <br />

                    <h3>Mecánica del Juego</h3>
                    <br />
                    <ul>
                        <li>Entre los tiquetes depositados en la urna respectiva y en el horario establecido, el
                            promotor:</li>
                        <ol>
                            <li>Selecciona un participante, le entrega el dado rojo y el vaso donde agitará el dado.
                            </li>
                            <li>Le presenta el módulo de La vuelta al mundo, las 3 fichas y el cajón donde
                                lanzará el dado. </li>
                            <li>El participante realiza tres (3) lanzamientos independientes con el dado dentro
                                del vaso. El vaso debe de ser agitado enérgicamente.</li>
                            <li>Cada vez que se lance el dado, indicará el número de la casilla y la ciudad donde
                                él debe de ubicarse, como, asimismo, el valor que el participante va acumulando. </li>
                            <li>La suma de los tres lanzamientos determinara el valor del premio a entregar. </li>
                            <li>En las casillas que comparten números, la asignación se realiza según la
                                categoría del jugador: </li>
                            <ul>
                                <li>El valor menor corresponde a las categorías Bronce, Estándar y Silver. </li>
                                <li>El valor intermedio corresponde a las categorías Gold, Oro y Legendario. </li>
                                <li>El valor más alto corresponde a las categorías Titanio y Genius. </li>
                            </ul>
                        </ol>
                    </ul>

                    <h3>A Tenes en cuenta: </h3>
                    <br />
                    <ul>
                        <li>Se debe coordinar con el departamento de monitoreo un lugar específico
                            donde se pueda validar el procedimiento realizado al resultar el premio mayor – cámara.
                        </li>
                        <li>El participante debe de agitar bien el dado dentro del vaso. NO se permite
                            lanzamientos suaves ni sin agitar. </li>
                        <li>El participante tiene UNA SOLA OPORTUNIDAD – No es posible autorizar una
                            segunda intervención en el caso de que obtenga un premio mínimo. </li>
                        <li>En los casinos que tienen dos secciones el presupuesto es independiente. </li>
                        <li>Un mismo participante no puede repetir premio el mismo día, así sea en
                            secciones diferentes (Mesas o Máquinas). </li>
                        <li>Esta promoción es exclusivamente presencial. </li>
                        <li>Si el movimiento no lo amerita, NO realizar todos los sorteos. </li>
                    </ul>

                    <h3>Premios</h3>
                    <ul>
                        <li>Los premios varían según la <strong>categoría del jugador</strong> y la <strong>combinacion
                                obtenida.</li>
                    </ul>

                    <h3>Horarios del Sorteo</h3>
                    <ul>
                        <li>Los sorteos se llevarán a cabo durante todo el horario de funcionamiento del casino.</li>
                    </ul>


                    <h2>Tratamiento de datos</h2>
                    <p>El tratamiento de la información personal se realizará conforme a la <strong>Política de
                            Tratamiento de Datos</strong> vigente del Grupo Empresarial Aladdin.</p>
                </div>
            </section>
            <section class="_content_divider_section container">
                <div class="_divider_game_">
                    <div class="progress-fill-game"></div>
                </div>
                <div class="_figura_divider_"></div>
            </section>
            <br />
            <div id="promocion-seccion"></div>
            <section>
                <div class="titulo container">
                    <div style="text-align: center;">
                        <a href="#promociones" class="btn-design1">Volver a las promociones</a>
                    </div>
                </div>
            </section>
            <section class="vigencia">
                <div class="container">
                    <div class="content-vigencia">
                        <div class="date-vigencia">
                            <div class="section-vigencia">
                                <h3>Vigencia</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>INICIA</h3>
                                <h3>01/03/2026</h3>
                            </div>
                            <div class="section-vigencia">
                                <h3>FINALIZA</h3>
                                <h3>31/03/2026</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ubicacion-seccion">
            </section>
            <section class="container" id="juegos-view-seccion"></section>
        </div>
    </section>
</body>

</html>