<section class="content-membresia-entretenimiento-a">
            <div class="container">
                <div class="item content-info-membresia-entretenimiento-a">
                    <div class="card-view-entretenimiento-a">
                        <img src="/resources/MY-MAWI-CARD-PLATINO-1024x429-1.png" />
                    </div>
                    <div class="info-card-entretenimiento-a">
                        <p>Ven y ten tu membresia totalmente <strong>GRATIS</strong>.</p>

                    </div>
                    <div class="actions-card-entretenimiento-a">
                        <a href="#membresia">Más información</a>
                    </div>
                </div>
            </div>
        </section>