.sliderC {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-wrapperC {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100vw;
    height: 80vh;
    touch-action: pan-y;
    user-select: none;
    cursor: grab;
}

.slider-wrapperC:active {
    cursor: grabbing;
}

.slideC {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1C {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(/resources/20250809_085252.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2C {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(/resources/DSC_2144.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3C {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(/resources/DSC_0371.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px !important;
}

.content-slide h1 {
    color: white;
}

.content-slide img {
    width: 400px;
    pointer-events: none;
}

.content_horario_casinos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.76);
    gap: 8px;
    padding: 20px;
    color: white !important;
    width: auto;
    height: auto;
    position: relative;
}

.disponible_cas{
}

.content_horario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.opciones_casino {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.opciones_casino h5 {
    font-size: 3rem;
}

input[name="slider-radioC"] {
    display: none;
}

.slider-controlsC label {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}

.slider-controlsC {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsC input[type="radio"]:checked+label {
    background: white;
}


.arrowC {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowC-left {
    left: 0px;
}

.arrowC-right {
    right: 0px;
}

.card-casinos {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
}

.card-casinos .card-content-title {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
}

.card-content-title h2 {
    font-family: 'lovelace', sans-serif !important;
}

.card-casinos-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 50%;
}

.card-casinos-rigth {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}

.content_btn_header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 180px;
}

/* slider cali */

.content-slider-cali {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sliderCali {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-wrapperCali {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    /* permite swipe horizontal */
    user-select: none;
}

.slideCali {
    position: relative;
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1Cali {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/cali-mi-tierra-300x169.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg2Cali {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/cali-A7-300x169.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3Cali {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A-50-8326.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg4Cali {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A-19.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg5Cali {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg6Cali {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/cali-aladdin_cosmocentro-300x168.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg7Cali {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/cali-aladdin_calima-300x168.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


input[name="slider-radioCali"] {
    display: none;
}

.slider-controlsCali label {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}

.slider-controlsCali {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsCali input[type="radio"]:checked+label {
    background: white;
}

.arrowCali {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowCali-left {
    left: 0px;
}

.arrowCali-right {
    right: 0px;
}




/* slider pereira */

.content-slider-pereira {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sliderPereira {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-wrapperPereira {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    user-select: none;
    cursor: grab;
}

.slider-wrapperPereira:active {
    cursor: grabbing;
}

.slidePereira {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1Pereira {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/aladdin-pereira-unicentro.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2Pereira {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A-88-7343.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3Pereira {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/PEREIRA-CENTRO-300x168.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg4Pereira {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/aladdin-pereira-22.png);
    background-size: cover;
    background-repeat: no-repeat;
}

input[name="slider-radioPereira"] {
    display: none;
}

.slider-controlsPereira label {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}

.slider-controlsPereira {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsPereira input[type="radio"]:checked+label {
    background: white;
}

.arrowPereira {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowPereira-left {
    left: 0px;
}

.arrowPereira-right {
    right: 0px;
}




/* slider bogota */

.content-slider-bogota {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sliderBogota {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-wrapperBogota {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    user-select: none;
    cursor: grab;
}

.slider-wrapperBogota:active {
    cursor: grabbing;
}

.slideBogota {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1Bogota {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/bogota_septima_head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2Bogota {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/bogota_tenquendama_head.png);
    background-size: cover;
    background-repeat: no-repeat;
}

input[name="slider-radioBogota"] {
    display: none;
}

.slider-controlsBogota label {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}

.slider-controlsBogota {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsBogota input[type="radio"]:checked+label {
    background: white;
}

.arrowBogota {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowBogota-left {
    left: 0px;
}

.arrowBogota-right {
    right: 0px;
}



/* slider barranquilla */

.content-slider-barranquilla {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sliderBarranquilla {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-wrapperBarranquilla {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    user-select: none;
    cursor: grab;
}

/* .slider-wrapperBarranquilla:active{
  cursor: grabbing;
} */

.slideBarranquilla {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1Barranquilla {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/casino-de-barranquilla-card.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2Barranquilla {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A53-MallPlaza-Barra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3Barranquilla {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/s3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

input[name="slider-radioBarranquilla"] {
    display: none;
}

.slider-controlsBarranquilla label {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}

.slider-controlsBarranquilla {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsBarranquilla input[type="radio"]:checked+label {
    background: white;
}

.arrowBarranquilla {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowBarranquilla-left {
    left: 0px;
}

.arrowBarranquilla-right {
    right: 0px;
}


/* SLIDER BUGA */


.content-slider-buga {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sliderBuga {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-wrapperBuga {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    /* permite swipe horizontal */
    user-select: none;
}

.slideBuga {
    position: relative;
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1Buga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/ubicacion-comodin.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg2Buga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/cali-A7-300x169.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3Buga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A-50-8326.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg4Buga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A-19.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg5Buga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg6Buga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/cali-aladdin_cosmocentro-300x168.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg7Buga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/cali-aladdin_calima-300x168.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


input[name="slider-radioBuga"] {
    display: none;
}

.slider-controlsBuga label {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}

.slider-controlsBuga {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsBuga input[type="radio"]:checked+label {
    background: white;
}

.arrowBuga {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowBuga-left {
    left: 0px;
}

.arrowBuga-right {
    right: 0px;
}



/* SLIDER MONTERIA */

.content-slider-monte {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sliderMonte {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-wrapperMonte {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    /* permite swipe horizontal */
    user-select: none;
}

.slideMonte {
    position: relative;
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1Monte {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/head_monteria.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg2Monte {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/head_monteria.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3Monte {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A-50-8326.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg4Monte {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A-19.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg5Monte {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/A8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg6Monte {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/cali-aladdin_cosmocentro-300x168.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg7Monte {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/head_monteria.png);
    background-size: cover;
    background-repeat: no-repeat;
}


input[name="slider-radioMonte"] {
    display: none;
}

.slider-controlsMonte label {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}

.slider-controlsMonte {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsMonte input[type="radio"]:checked+label {
    background: white;
}

.arrowMonte {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowMonte-left {
    left: 0px;
}

.arrowMonte-right {
    right: 0px;
}


/* slider tulua */

.content-slider-tulua {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sliderTulua {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-wrapperTulua {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    user-select: none;
}

.slideTulua {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1Tulua {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/tulua-calle_sarmiento-300x169.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2Tulua {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/tulua-calle_sarmiento-300x169.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3Tulua {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/s3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

input[name="slider-radioTulua"] {
    display: none;
}

.slider-controlsTulua label {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}

.slider-controlsTulua {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsTulua input[type="radio"]:checked+label {
    background: white;
}

.arrowTulua {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowTulua-left {
    left: 0px;
}

.arrowTulua-right {
    right: 0px;
}




.content_form_head_casinos {
    position: absolute;
    width: 100%;
    background-color: transparent;
    height: 1px;
    z-index: 100;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.progress-fill-head_casinos {
    width: 100%;
    /* Asegura que ocupe todo el ancho de la barra */
    height: 100%;
    --c: no-repeat linear-gradient(rgb(255, 255, 255) 0 0);
    background: var(--c), var(--c), transparent;
    background-size: 60% 100%;
    animation: movehead 4.2s infinite;
}

@keyframes movehead {
    0% {
        background-position: -150% 0, -150% 0
    }

    66% {
        background-position: 250% 0, -150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}

@media(max-width:1366px) {
    .content_btn_header {
        bottom: 70px;
    }
}

@media (max-width: 768px) {
    .card-casinos {
        flex-direction: column;
        height: auto;
    }

    .card-casinos-left {
        width: 100%;
        height: 600px;
    }

    .card-casinos-rigth {
        width: 100%;
        height: 600px;
    }

    .controls-sliderC {
        display: none;
    }

    .content-slide img {
        width: 250px;
    }

    .content_btn_header {
        display: none;
    }

    .content_form_head_casinos {
        top: 33px;
    }
}

@media (max-width: 376px) {
    .section-casinos-ciudad .section-casinos-content-text {
        bottom: 60px;
    }
}