<!DOCTYPE html>
<html>

<head>
    <title>Casinos Aladdin</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>
    <section class="sliderC">
        <div class="slider-wrapperC" id="sliderTrackC">
            <div class="slideC bg1C">
                <div class="content-slide">
                    <img src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
                    <h1 class="item type1-h1">DONDE LA MAGIA COBRA VIDA.</h1>
                </div>
            </div>
            <div class="slideC bg2C">
                <div class="content-slide">
                    <img src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
                    <h1 class="item type1-h1">DONDE LA DIVERSIÓN NUNCA SE DETIENE.</h1>
                </div>
            </div>
            <div class="slideC bg3C">
                <div class="content-slide">
                    <img src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
                    <h1 class="item type1-h1">CADA RINCÓN, UNA EXPERIENCIA ÚNICA.</h1>
                </div>
            </div>
        </div>
        <!-- Controles -->
        <div style="display: none;" class="slider-controlsC">
            <input type="radio" name="slider-radioC" id="trigger1" checked>
            <label for="trigger1"></label>
            <input type="radio" name="slider-radioC" id="trigger2">
            <label for="trigger2"></label>
            <input type="radio" name="slider-radioC" id="trigger3">
            <label for="trigger3"></label>
        </div>
        <div class="controls-sliderC" style="gap: 30px;">
            <button class="arrowC arrowC-left" id="prevBtnC">&#8249;</button>
            <button class="arrowC arrowC-right" id="nextBtnC">&#8250;</button>
        </div>
        <div class="content_btn_header">
            <a title="Casinos" id="btn_casinos_header" class="btn btn-primary">Casinos</a>
        </div>

    </section>

    <section id="content-banner-membresia"></section>
    

    <!-- old -->
    <div>

        <section id="ubicaciones_casino" style="padding-top: 10px;" class="card-casinos">
            <div class="item card-casinos-left">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">CALI</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-cali">
                    <section class="sliderCali">
                        <div class="slider-wrapperBogota" id="sliderTrackCali">
                            <div class="slideCali bg7Cali"></div>
                            <div class="slideCali bg1Cali"></div>
                            <div class="slideCali bg2Cali"></div>
                            <div class="slideCali bg3Cali"></div>
                            <div class="slideCali bg4Cali"></div>
                            <div class="slideCali bg5Cali"></div>
                            <div class="slideCali bg6Cali"></div>

                        </div>
                        <div style="display: none;" class="slider-controlsCali">
                            <input type="radio" name="slider-radioCali" id="trigger1" checked>
                            <label for="trigger1"></label>
                            <input type="radio" name="slider-radioCali" id="trigger2">
                            <label for="trigger2"></label>
                            <input type="radio" name="slider-radioCali" id="trigger3">
                            <label for="trigger3"></label>
                            <input type="radio" name="slider-radioCali" id="trigger4">
                            <label for="trigger4"></label>
                            <input type="radio" name="slider-radioCali" id="trigger5">
                            <label for="trigger5"></label>
                            <input type="radio" name="slider-radioCali" id="trigger6">
                            <label for="trigger6"></label>
                            <input type="radio" name="slider-radioCali" id="trigger7">
                            <label for="trigger7"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;">
                        <button class="arrowBogota arrowBogota-left" id="prevBtnCali">&#8249;</button>
                        <button class="arrowBogota arrowBogota-right" id="nextBtnCali">&#8250;</button>
                    </div>
                </div>
            </div>
            <div class="item card-casinos-rigth">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">PEREIRA</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-pereira">
                    <section class="sliderPereira">
                        <div class="slider-wrapperPereira" id="sliderTrackPereira">
                            <div class="slidePereira bg2Pereira"></div>
                            <div class="slidePereira bg1Pereira"></div>
                            <div class="slidePereira bg3Pereira"></div>
                            <div class="slidePereira bg4Pereira"></div>
                        </div>
                        <div style="display: none;" class="slider-controlsPereira">
                            <input type="radio" name="slider-radioPereira" id="trigger1" checked>
                            <label for="trigger1"></label>
                            <input type="radio" name="slider-radioPereira" id="trigger2">
                            <label for="trigger2"></label>
                            <input type="radio" name="slider-radioPereira" id="trigger3">
                            <label for="trigger3"></label>
                            <input type="radio" name="slider-radioPereira" id="trigger4">
                            <label for="trigger4"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;">
                        <button class="arrowPereira arrowPereira-left" id="prevBtnPereira">&#8249;</button>
                        <button class="arrowPereira arrowPereira-right" id="nextBtnPereira">&#8250;</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-casinos">
            <div class="titulo card-casinos-left">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">BOGOTÁ</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-bogota">
                    <section class="sliderBogota">
                        <div class="slider-wrapperBogota" id="sliderTrackBogota">
                            <div class="slideBogota bg2Bogota"></div>
                            <div class="slideBogota bg1Bogota"></div>

                        </div>
                        <div style="display: none;" class="slider-controlsBogota">
                            <input type="radio" name="slider-radioBogota" id="trigger1" checked>
                            <label for="trigger1"></label>
                            <input type="radio" name="slider-radioBogota" id="trigger2">
                            <label for="trigger2"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;">
                        <button class="arrowBogota arrowBogota-left" id="prevBtnBogota">&#8249;</button>
                        <button class="arrowBogota arrowBogota-right" id="nextBtnBogota">&#8250;</button>
                    </div>
                </div>
            </div>
            <div class="titulo card-casinos-rigth">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">BARRANQUILLA</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-barranquilla">
                    <section class="sliderBarranquilla">
                        <div class="slider-wrapperBarranquilla" id="sliderTrackBarranquilla">
                            <div class="slideBarranquilla bg1Barranquilla"></div>
                            <div class="slideBarranquilla bg2Barranquilla"></div>
                        </div>
                        <div style="display: none;" class="slider-controlsBarranquilla">
                            <input type="radio" name="slider-radioBarranquilla" id="trigger1" checked>
                            <label for="trigger1"></label>
                            <input type="radio" name="slider-radioBarranquilla" id="trigger2">
                            <label for="trigger2"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;">
                        <button class="arrowBarranquilla arrowBarranquilla-left"
                            id="prevBtnBarranquilla">&#8249;</button>
                        <button class="arrowBarranquilla arrowBarranquilla-right"
                            id="nextBtnBarranquilla">&#8250;</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-casinos">
            <div class="titulo card-casinos-left">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">MONTERÍA</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-monte">
                    <section class="sliderMonte">
                        <div class="slider-wrapperMonte" id="sliderTrackMonte">
                            <div class="slideMonte bg2Monte"></div>

                        </div>
                        <div style="display: none;" class="slider-controlsMonte">
                            <input type="radio" name="slider-radioMonte" id="trigger1" checked>
                            <label for="trigger1"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;display: none;">
                        <button class="arrowMonte arrowMonte-left" id="prevBtnMonte">&#8249;</button>
                        <button class="arrowMonte arrowMonte-right" id="nextBtnMonte">&#8250;</button>
                    </div>
                </div>
            </div>
            <div class="titulo card-casinos-rigth">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">BUGA</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-buga">
                    <section class="sliderBuga">
                        <div class="slider-wrapperBuga" id="sliderTrackBuga">
                            <div class="slideBuga bg1Buga"></div>

                        </div>
                        <div style="display: none;" class="slider-controlsBuga">
                            <input type="radio" name="slider-radioBuga" id="trigger1" checked>
                            <label for="trigger1"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;display: none;">
                        <button class="arrowBuga arrowBuga-left" id="prevBtnBuga">&#8249;</button>
                        <button class="arrowBuga arrowBuga-right" id="nextBtnBuga">&#8250;</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-casinos">
            <div class="titulo card-casinos-left">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">TULUÁ</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-tulua">
                    <section class="sliderTulua">
                        <div class="slider-wrapperTulua" id="sliderTrackTulua">
                            <div class="slideTulua bg1Tulua"></div>
                        </div>
                        <div style="display: none;" class="slider-controlsTulua">
                            <input type="radio" name="slider-radioTulua" id="trigger1" checked>
                            <label for="trigger1"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;display: none;">
                        <button class="arrowTulua arrowTulua-left" id="prevBtnTulua">&#8249;</button>
                        <button class="arrowTulua arrowTulua-right" id="nextBtnTulua">&#8250;</button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="container">
        <section style="padding-bottom: 20px;" class="container" id="promocion-seccion">
        </section>
    </section>
    <section class="container" id="juegos-view-seccion">
    </section>
</body>

</html>