<!DOCTYPE html>
<html>

<head>
    <title>Casinos Aladdin</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>
    <section class="sliderC">
        <div class="slider-wrapperC" id="sliderTrackC">
            <div class="slideC bg1C">
                <div class="content-slide">
                    <h1 class="item type1-h1">Disfruta de un gran ambiente.</h1>
                </div>
            </div>
            <div class="slideC bg2C">
                <div class="content-slide">
                    <h1 class="item type1-h1">Casinos en cualquier parte del país.</h1>
                </div>
            </div>
            <div class="slideC bg3C">
                <div class="content-slide">
                    <h1 class="item type1-h1">Saca el máximo de tu suerte en nuestros casinos.</h1>
                </div>
            </div>
        </div>
        <!-- Controles -->
        <div style="display: none;" class="slider-controlsC">
            <input type="radio" name="slider-radioC" id="trigger1" checked>
            <label for="trigger1"></label>
            <input type="radio" name="slider-radioC" id="trigger2">
            <label for="trigger2"></label>
            <input type="radio" name="slider-radioC" id="trigger3">
            <label for="trigger3"></label>
        </div>

    </section>

    <div class="controls-sliderC" style="gap: 30px;">
        <button class="arrowC arrowC-left" id="prevBtnC">&#8249;</button>
        <button class="arrowC arrowC-right" id="nextBtnC">&#8250;</button>
    </div>


    <section style="padding-top: 10px;" class="card-casinos">
        <div class="item card-casinos-left">
            <div class="card-content-title">
                <h2 class="type1-h1" style="color: white;">CALI</h2>
            </div>
            <div class="content-slider-cali">
                <section class="sliderCali">
                    <div class="slider-wrapperBogota" id="sliderTrackCali">
                        <div class="slideCali bg1Cali">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN<br /> MI TIERRA COSMOCENTRO</h5>
                                <a href="#casinocosmocentromitierra" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                        <div class="slideCali bg2Cali">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />TERMINAL DE TRANSPORTE #2</h5>
                                <a href="#casinoterminal1" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                        <div class="slideCali bg3Cali">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN<br /> TERMINAL DE TRANSPORTES #1</h5>
                                <a href="#casinoterminal2" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                        <div class="slideCali bg4Cali">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />SPORT BAR</h5>
                                <a href="#casinosportbar" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                        <div class="slideCali bg5Cali">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />PLAZA DE CAYZEDO</h5>
                                <a href="#casinoplazacayzedo" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                        <div class="slideCali bg6Cali">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />COSMOCENTRO</h5>
                                <a href="#casinocosmocentrocali" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                        <div class="slideCali bg7Cali">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />CALIMA</h5>
                                <a href="#casinocalima" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                    <!-- Controles -->
                    <div style="display: none;" class="slider-controlsCali">
                        <input type="radio" name="slider-radioCali" id="trigger1" checked>
                        <label for="trigger1"></label>
                        <input type="radio" name="slider-radioCali" id="trigger2">
                        <label for="trigger2"></label>
                        <input type="radio" name="slider-radioCali" id="trigger3">
                        <label for="trigger3"></label>
                        <input type="radio" name="slider-radioCali" id="trigger4">
                        <label for="trigger4"></label>
                        <input type="radio" name="slider-radioCali" id="trigger5">
                        <label for="trigger5"></label>
                        <input type="radio" name="slider-radioCali" id="trigger6">
                        <label for="trigger6"></label>
                        <input type="radio" name="slider-radioCali" id="trigger7">
                        <label for="trigger7"></label>
                    </div>
                </section>
                <div style="gap: 30px;">
                    <button class="arrowBogota arrowBogota-left" id="prevBtnCali">&#8249;</button>
                    <button class="arrowBogota arrowBogota-right" id="nextBtnCali">&#8250;</button>
                </div>
            </div>
        </div>
        <div class="item card-casinos-rigth">
            <div class="card-content-title">
                <h2 class="type1-h1" style="color: white;">PEREIRA</h2>
            </div>
            <div class="content-slider-pereira">
                <section class="sliderPereira">
                    <div class="slider-wrapperPereira" id="sliderTrackPereira">
                        <div class="slidePereira bg1Pereira">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />MI TIERRA UNICENTRO</h5>
                                <a href="#casinomitierraunicentro" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                        <div class="slidePereira bg2Pereira">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />EL LAGO</h5>
                                <a href="#casinolago" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                        <div class="slidePereira bg3Pereira">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN<br /> DE LA 18</h5>
                                <a href="#casinola18" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                        <div class="slidePereira bg4Pereira">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />DE LA 22</h5>
                                <a href="#casinola22" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;" class="slider-controlsPereira">
                        <input type="radio" name="slider-radioPereira" id="trigger1" checked>
                        <label for="trigger1"></label>
                        <input type="radio" name="slider-radioPereira" id="trigger2">
                        <label for="trigger2"></label>
                        <input type="radio" name="slider-radioPereira" id="trigger3">
                        <label for="trigger3"></label>
                        <input type="radio" name="slider-radioPereira" id="trigger4">
                        <label for="trigger4"></label>
                    </div>
                </section>
                <div style="gap: 30px;">
                    <button class="arrowPereira arrowPereira-left" id="prevBtnPereira">&#8249;</button>
                    <button class="arrowPereira arrowPereira-right" id="nextBtnPereira">&#8250;</button>
                </div>
            </div>
        </div>
    </section>

    <section class="titulo card-casinos">
        <div class="card-casinos-left">
            <div class="card-content-title">
                <h2 class="type1-h1" style="color: white;">BOGOTÁ</h2>
            </div>
            <div class="content-slider-bogota">
                <section class="sliderBogota">
                    <div class="slider-wrapperBogota" id="sliderTrackBogota">
                        <div class="slideBogota bg1Bogota">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />SÉPTIMA</h5>
                                <a href="#casinoseptima" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                        <div class="slideBogota bg2Bogota">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />TEQUENDAMA</h5>
                                <a href="#casinotequendama" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;" class="slider-controlsBogota">
                        <input type="radio" name="slider-radioBogota" id="trigger1" checked>
                        <label for="trigger1"></label>
                        <input type="radio" name="slider-radioBogota" id="trigger2">
                        <label for="trigger2"></label>
                    </div>
                </section>
                <div style="gap: 30px;">
                    <button class="arrowBogota arrowBogota-left" id="prevBtnBogota">&#8249;</button>
                    <button class="arrowBogota arrowBogota-right" id="nextBtnBogota">&#8250;</button>
                </div>
            </div>
        </div>
        <div class="card-casinos-rigth">
            <div class="card-content-title">
                <h2 class="type1-h1" style="color: white;">BARRANQUILLA</h2>
            </div>
            <div class="content-slider-barranquilla">
                <section class="sliderBarranquilla">
                    <div class="slider-wrapperBarranquilla" id="sliderTrackBarranquilla">
                        <div class="slideBarranquilla bg1Barranquilla">
                            <div class="content-slide">
                                <h5 style="color: #fff;">ALADDIN <br />DRAGON FENIX</h5>
                                <a href="#casinodragonfenix" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;" class="slider-controlsBarranquilla">
                        <input type="radio" name="slider-radioBarranquilla" id="trigger1" checked>
                        <label for="trigger1"></label>
                    </div>
                </section>
                <div style="gap: 30px;display: none;">
                    <button class="arrowBarranquilla arrowBarranquilla-left" id="prevBtnBarranquilla">&#8249;</button>
                    <button class="arrowBarranquilla arrowBarranquilla-right" id="nextBtnBarranquilla">&#8250;</button>
                </div>
            </div>
        </div>
    </section>

    <section class="titulo card-casinos">
        <div class="card-casinos-left">
            <div class="card-content-title">
                <h1 class="type1-h1" style="color: white;">TULUÁ</h1>
            </div>
            <div class="content-slider-tulua">
                <section class="sliderTulua">
                    <div class="slider-wrapperTulua" id="sliderTrackTulua">
                        <div class="slideTulua bg1Tulua">
                            <div class="content-slide">
                                <h5 style="color: #fff;">TULUÁ</h5>
                                <a href="#casinocallesarmiento" class="btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                    <div style="display: none;" class="slider-controlsTulua">
                        <input type="radio" name="slider-radioTulua" id="trigger1" checked>
                        <label for="trigger1"></label>
                    </div>
                </section>
                <div style="gap: 30px;display: none;">
                    <button class="arrowTulua arrowTulua-left" id="prevBtnTulua">&#8249;</button>
                    <button class="arrowTulua arrowTulua-right" id="nextBtnTulua">&#8250;</button>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <section style="padding-bottom: 20px;" class="titulo container" id="promocion-seccion">
        </section>
    </section>
    <section id="juegos-view-seccion">
    </section>
</body>

</html>