<!DOCTYPE html>
<html>

<head>
    <title>Casinos Aladdin</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>
    <section class="sliderC">
        <div class="slider-wrapperC" id="sliderTrackC">
            <div class="slideC bg1C">
                <div class="content-slide">
                    <img src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
                    <h1 class="item type1-h1">DONDE LA MAGIA COBRA VIDA.</h1>
                </div>
            </div>
            <div class="slideC bg2C">
                <div class="content-slide">
                    <img src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
                    <h1 class="item type1-h1">DONDE LA DIVERSIÓN NUNCA SE DETIENE.</h1>
                </div>
            </div>
            <div class="slideC bg3C">
                <div class="content-slide">
                    <img src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
                    <h1 class="item type1-h1">CADA RINCÓN, UNA EXPERIENCIA ÚNICA.</h1>
                </div>
            </div>
        </div>
        <!-- Controles -->
        <div style="display: none;" class="slider-controlsC">
            <input type="radio" name="slider-radioC" id="trigger1" checked>
            <label for="trigger1"></label>
            <input type="radio" name="slider-radioC" id="trigger2">
            <label for="trigger2"></label>
            <input type="radio" name="slider-radioC" id="trigger3">
            <label for="trigger3"></label>
        </div>
        <div class="controls-sliderC" style="gap: 30px;">
            <button class="arrowC arrowC-left" id="prevBtnC">&#8249;</button>
            <button class="arrowC arrowC-right" id="nextBtnC">&#8250;</button>
        </div>
        <div class="content_btn_header">
            <a title="Casinos" id="btn_casinos_header" class="btn btn-primary">Casinos</a>
        </div>

    </section>

    <section id="content-banner-membresia"></section>
    <section>
        <div class="container section_horarios">
            <div class="content_fecha_casinos">
                <p id="fecha_casinos"></p>
            </div>
            <div class="content_seccion_casino">
                <div class="card_casino">
                    <div class="content_menu_horarios">
                        <p class="menu_sele_cas" title="CALI">CALI</p>
                        <p title="BOGOTÁ">BOGOTÁ</p>
                        <p title="BARRANQUILLA">BARRANQUILLA</p>
                        <p title="TULUÁ">TULUÁ</p>
                        <p title="BUGA">BUGA</p>
                        <p title="MONTERÍA">MONTERÍA</p>
                    </div>
                    <div class="content_info_casino">
                        <div class="content_horario">
                            <div class="card_horario">
                                <h3>ALADDIN MI TIERRA</h3>
                                <div class="">
                                    <div class="">
                                        <p>LUNES A SÁBADO</p>
                                        <p>De 12:00 PM - 9:00 PM</p>
                                    </div>
                                </div>
                                <a href="#casinocosmocentromitierra" class="casino_saber_mas">Saber mas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p id="disponible_cas_mitierra" class="casino_disponible">Disponible?</p>
    </section>

    <!-- old -->
    <div style="display: none;">

        <section id="ubicaciones_casino" style="padding-top: 10px;" class="card-casinos">
            <div class="item card-casinos-left">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">CALI</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-cali">
                    <section class="sliderCali">
                        <div class="slider-wrapperBogota" id="sliderTrackCali">
                            <div class="slideCali bg7Cali">
                                <div class="content-slide ">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />CALIMA</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div class="disponible_cas" id="disponible_cas_calima"></div>

                                            <div class="content_horario">
                                                <p>DOMINGO A JUEVES</p>
                                                <p>De 8:00 AM - 3:00 AM</p>
                                                <p>VIERNES Y SÁBADO</p>
                                                <p>24 horas</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinocalima" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slideCali bg1Cali">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN<br /> MI TIERRA COSMOCENTRO</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_mitierra"></div>

                                            <div class="content_horario">
                                                <p>LUNES A SÁBADO</p>
                                                <p>De 12:00 PM - 9:00 PM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinocosmocentromitierra" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slideCali bg2Cali">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />PLAZA DE KARAOKE</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_karaoke"></div>
                                            <div class="content_horario">
                                                <p>LUNES</p>
                                                <p>6:00 AM - 3:00 AM</p>
                                                <p>MARTES A SÁBADO,<br /> FESTIVOS EN SEMANA</p>
                                                <p>8:00 AM - 3:00 AM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinokaraoke" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slideCali bg3Cali">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN<br /> TERMINAL DE TRANSPORTES</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_terminal"></div>
                                            <div class="content_horario">
                                                <p>LUNES A DOMINGO,<br /> FESTIVOS</p>
                                                <p>24 hrs</p>
                                                <p>MIÉRCOLES</p>
                                                <p>8:00 AM - 6:00 AM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinoterminal2" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slideCali bg4Cali">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />SPORT BAR</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_sportbar"></div>
                                            <div class="content_horario">
                                                <p>LUNES A SÁBADO, <br />FESTIVOS EN SEMANA</p>
                                                <p>9:00 AM - 12:00 AM</p>
                                                <p>DOMINGOS Y FESTIVOS</p>
                                                <p>10:00 AM - 6:00 PM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinosportbar" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slideCali bg5Cali">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />PLAZA DE CAYZEDO</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_plazacay"></div>
                                            <div class="content_horario">
                                                <p>MARTES A DOMINGO,<br /> FESTIVOS</p>
                                                <p>24 hrs</p>
                                                <p>LUNES</p>
                                                <p>8:00 AM - 6:00 AM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinoplazacayzedo" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slideCali bg6Cali">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />COSMOCENTRO</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_cosmo"></div>
                                            <div class="content_horario">
                                                <p>MARTES A DOMINGO,<br /> FESTIVOS</p>
                                                <p>24 hrs</p>
                                                <p>LUNES</p>
                                                <p>8:00 AM - 6:00 AM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinocosmocentrocali" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="display: none;" class="slider-controlsCali">
                            <input type="radio" name="slider-radioCali" id="trigger1" checked>
                            <label for="trigger1"></label>
                            <input type="radio" name="slider-radioCali" id="trigger2">
                            <label for="trigger2"></label>
                            <input type="radio" name="slider-radioCali" id="trigger3">
                            <label for="trigger3"></label>
                            <input type="radio" name="slider-radioCali" id="trigger4">
                            <label for="trigger4"></label>
                            <input type="radio" name="slider-radioCali" id="trigger5">
                            <label for="trigger5"></label>
                            <input type="radio" name="slider-radioCali" id="trigger6">
                            <label for="trigger6"></label>
                            <input type="radio" name="slider-radioCali" id="trigger7">
                            <label for="trigger7"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;">
                        <button class="arrowBogota arrowBogota-left" id="prevBtnCali">&#8249;</button>
                        <button class="arrowBogota arrowBogota-right" id="nextBtnCali">&#8250;</button>
                    </div>
                </div>
            </div>
            <div class="item card-casinos-rigth">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">PEREIRA</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-pereira">
                    <section class="sliderPereira">
                        <div class="slider-wrapperPereira" id="sliderTrackPereira">
                            <div class="slidePereira bg2Pereira">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />EL LAGO</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_lagop"></div>
                                            <div class="content_horario">
                                                <p>LUNES A JUEVES</p>
                                                <p>De 8:00 AM - 10:00 PM</p>
                                                <p>VIERNES Y SÁBADO</p>
                                                <p>De 8:00 AM - 00:00 AM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinolago" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slidePereira bg1Pereira">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />MI TIERRA UNICENTRO</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_mitierrap"></div>
                                            <div class="content_horario">
                                                <p>LUNES A DOMINGOS</p>
                                                <p>De 10:00 AM - 6:00 AM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinomitierraunicentro" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>

                            <div class="slidePereira bg3Pereira">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN<br /> DE LA 18</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_la18p"></div>
                                            <div class="content_horario">
                                                <p>LUNES A SÁBADO</p>
                                                <p>De 8:00 AM - 00:00 AM</p>
                                                <p>DOMINGO Y FESTIVOS</p>
                                                <p>De 8:00 AM - 10:00 PM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinola18" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slidePereira bg4Pereira">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />DE LA 22</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_la22p"></div>
                                            <div class="content_horario">
                                                <p>LUNES A JUEVES</p>
                                                <p>De 8:00 AM - 02:00 AM</p>
                                                <p>VIERNES Y SÁBADO</p>
                                                <p>De 8:00 AM - 03:00 AM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinola22" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: none;" class="slider-controlsPereira">
                            <input type="radio" name="slider-radioPereira" id="trigger1" checked>
                            <label for="trigger1"></label>
                            <input type="radio" name="slider-radioPereira" id="trigger2">
                            <label for="trigger2"></label>
                            <input type="radio" name="slider-radioPereira" id="trigger3">
                            <label for="trigger3"></label>
                            <input type="radio" name="slider-radioPereira" id="trigger4">
                            <label for="trigger4"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;">
                        <button class="arrowPereira arrowPereira-left" id="prevBtnPereira">&#8249;</button>
                        <button class="arrowPereira arrowPereira-right" id="nextBtnPereira">&#8250;</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-casinos">
            <div class="titulo card-casinos-left">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">BOGOTÁ</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-bogota">
                    <section class="sliderBogota">
                        <div class="slider-wrapperBogota" id="sliderTrackBogota">
                            <div class="slideBogota bg2Bogota">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />TEQUENDAMA</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_tequeb"></div>
                                            <div class="content_horario">
                                                <p>LUNES A JUEVES</p>
                                                <p>De 10:00 AM - 05:00 AM</p>
                                                <p>VIERNES</p>
                                                <p>De 10:00 AM - 11:00 PM</p>
                                                <p>SÁBADO</p>
                                                <p>De 11:00 AM - 9:00 PM</p>
                                                <p>DOMINGO Y FESTIVOS</p>
                                                <p>De 11:00 AM - 8:00 PM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinotequendama" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slideBogota bg1Bogota">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />SÉPTIMA</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_septib"></div>
                                            <div class="content_horario">
                                                <p>LUNES A JUEVES</p>
                                                <p>De 10:00 AM - 10:00 PM</p>
                                                <p>VIERNES </p>
                                                <p>De 8:00 AM - 11:00 PM</p>
                                                <p>SÁBADO, DOMINGO Y FESTIVOS</p>
                                                <p>De 8:00 AM - 08:00 PM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinoseptima" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="display: none;" class="slider-controlsBogota">
                            <input type="radio" name="slider-radioBogota" id="trigger1" checked>
                            <label for="trigger1"></label>
                            <input type="radio" name="slider-radioBogota" id="trigger2">
                            <label for="trigger2"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;">
                        <button class="arrowBogota arrowBogota-left" id="prevBtnBogota">&#8249;</button>
                        <button class="arrowBogota arrowBogota-right" id="nextBtnBogota">&#8250;</button>
                    </div>
                </div>
            </div>
            <div class="titulo card-casinos-rigth">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">BARRANQUILLA</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-barranquilla">
                    <section class="sliderBarranquilla">
                        <div class="slider-wrapperBarranquilla" id="sliderTrackBarranquilla">
                            <div class="slideBarranquilla bg1Barranquilla">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />DRAGON FENIX</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_dragb"></div>
                                            <div class="content_horario">
                                                <p>LUNES A SÁBADO</p>
                                                <p>24 horas</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinodragonfenix" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>

                            <div class="slideBarranquilla bg2Barranquilla">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />CC MALL PLAZA</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_mallb"></div>
                                            <div class="content_horario">
                                                <p>LUNES A SÁBADO</p>
                                                <p>De 10:00 AM - 3:00 AM</p>
                                                <p>DOMINGOS Y FESTIVOS</p>
                                                <p>De 11:00 AM - 12:00 AM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinomallplazabarra" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div style="display: none;" class="slider-controlsBarranquilla">
                            <input type="radio" name="slider-radioBarranquilla" id="trigger1" checked>
                            <label for="trigger1"></label>
                            <input type="radio" name="slider-radioBarranquilla" id="trigger2">
                            <label for="trigger2"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;">
                        <button class="arrowBarranquilla arrowBarranquilla-left"
                            id="prevBtnBarranquilla">&#8249;</button>
                        <button class="arrowBarranquilla arrowBarranquilla-right"
                            id="nextBtnBarranquilla">&#8250;</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-casinos">
            <div class="titulo card-casinos-left">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">MONTERÍA</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-monte">
                    <section class="sliderMonte">
                        <div class="slider-wrapperMonte" id="sliderTrackMonte">
                            <div class="slideMonte bg2Monte">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />MONTERÍA</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_monte"></div>
                                            <div class="content_horario">
                                                <p>LUNES A SÁBADO</p>
                                                <p>De 9:00 AM - 00:00 AM</p>
                                                <p>DOMINGOS Y FESTIVOS</p>
                                                <p>De 10:00 AM - 10:00 PM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinomonteria" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="display: none;" class="slider-controlsMonte">
                            <input type="radio" name="slider-radioMonte" id="trigger1" checked>
                            <label for="trigger1"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;display: none;">
                        <button class="arrowMonte arrowMonte-left" id="prevBtnMonte">&#8249;</button>
                        <button class="arrowMonte arrowMonte-right" id="nextBtnMonte">&#8250;</button>
                    </div>
                </div>
            </div>
            <div class="titulo card-casinos-rigth">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">BUGA</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-buga">
                    <section class="sliderBuga">
                        <div class="slider-wrapperBuga" id="sliderTrackBuga">
                            <div class="slideBuga bg1Buga">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">ALADDIN <br />BUGA</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_buga"></div>
                                            <div class="content_horario">
                                                <p>LUNES A SÁBADO</p>
                                                <p>De 9:00 AM - 10:00 PM</p>
                                                <p>DOMINGOS Y FESTIVOS</p>
                                                <p>De 10:00 AM - 7:00 PM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinobuga" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="display: none;" class="slider-controlsBuga">
                            <input type="radio" name="slider-radioBuga" id="trigger1" checked>
                            <label for="trigger1"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;display: none;">
                        <button class="arrowBuga arrowBuga-left" id="prevBtnBuga">&#8249;</button>
                        <button class="arrowBuga arrowBuga-right" id="nextBtnBuga">&#8250;</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-casinos">
            <div class="titulo card-casinos-left">
                <div class="card-content-title">
                    <h2 class="type1-h1" style="color: white;">TULUÁ</h2>
                    <div class="content_form_head_casinos">
                        <div class="progress-fill-head_casinos"></div>
                    </div>
                </div>
                <div class="content-slider-tulua">
                    <section class="sliderTulua">
                        <div class="slider-wrapperTulua" id="sliderTrackTulua">
                            <div class="slideTulua bg1Tulua">
                                <div class="content-slide">
                                    <div class="opciones_casino">
                                        <h5 style="color: #fff;">TULUÁ</h5>
                                        <br />
                                        <div class="content_horario_casinos">
                                            <div id="disponible_cas_tulu"></div>
                                            <div class="content_horario">
                                                <p>LUNES A JUEVES</p>
                                                <p>De 10:00 AM - 12:00 AM </p>
                                                <p>VIERNES Y SÁBADO</p>
                                                <p>De 10:00 AM - 1:00 AM</p>
                                                <p>DOMINGOS Y LUNES FESTIVOS</p>
                                                <p>De 10:00 AM - 9:00 PM</p>
                                            </div>
                                        </div>
                                        <br />
                                        <a href="#casinocallesarmiento" class="btn btn-primary">Saber más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: none;" class="slider-controlsTulua">
                            <input type="radio" name="slider-radioTulua" id="trigger1" checked>
                            <label for="trigger1"></label>
                        </div>
                    </section>
                    <div style="gap: 30px;display: none;">
                        <button class="arrowTulua arrowTulua-left" id="prevBtnTulua">&#8249;</button>
                        <button class="arrowTulua arrowTulua-right" id="nextBtnTulua">&#8250;</button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="container">
        <section style="padding-bottom: 20px;" class="container" id="promocion-seccion">
        </section>
    </section>
    <section class="container" id="juegos-view-seccion">
    </section>
</body>

</html>