<!DOCTYPE html>
<html>

<head>
    <title>Entrevista Digital</title>
</head>

<body>
    <section id="content_main_e_digital" class="content_main_e_digital">
        <div class="container">
            <div class="content_img_entrevista">
                <h2 class="type1-h1">Formulario Entrevista Digital</h2>
            </div>
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Estas preguntas son para identificarte.</p>
                <span class="alert_preguntas_obligatorias">las preguntas con <strong
                        class="pregunta_obligatoria">*</strong> son obligatorias.<br />
                    Cuanta más información suministres mejor para el proceso.</span>
                <br />
                <div class="datos_personales">
                    <span>Nombre<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <input id="nombre" placeholder="Nombres" type="text">
                        <input id="apellido" placeholder="Apellidos" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>Tipo y Número de identificación<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <select name="tipo_documento" id="tipo_documento">
                            <option value="">Selecccionar...</option>
                            <option value="cedula">Cédula de ciudadanía</option>
                            <option value="cedula_extrajera">Documento extranjero</option>
                            <option value="permiso_laboral">Permiso por Proteccion Laboral</option>
                        </select>
                        <input id="num_documento" placeholder="Número de identificación" type="number">
                    </div>
                </div>
                <div class="datos_personales">
                    <div class="content_input_entrevista">
                        <div class="content_campo_entre">
                            <span>Fecha de Nacimiento<strong class="pregunta_obligatoria"> *</strong></span>
                            <input id="fecha_nacimiento" placeholder="Fecha de nacimiento" type="date">
                        </div>
                        <div class="content_campo_entre">
                            <span>Correo Electrónico<strong class="pregunta_obligatoria"> *</strong></span>
                            <input id="correo_entrevista" placeholder="Correo Electrónico / Email" type="email" required>
                            <small id="correo_help" class="msg-ayuda"></small>
                        </div>
                    </div>
                </div>
                <div class="datos_personales">
                    <div class="content_input_entrevista">
                        <div class="content_campo_entre">
                            <span>Ciudad donde te gustaría laborar<strong class="pregunta_obligatoria">
                                    *</strong></span>
                            <!-- <input id="ciudad_referencia" placeholder="Ciudad de referencia" type="text"> -->
                            <select name="ciudad_referencia" id="ciudad_referencia">
                                <option value="">Seleccionar...</option>
                                <option value="bogota">Bogotá</option>
                                <option value="barranquilla">Barranquilla</option>
                                <option value="buga">Buga</option>
                                <option value="cali">Cali</option>
                                <option value="monteria">Monteria</option>
                                <option value="pereira">Pereira</option>
                                <option value="tulua">Tuluá</option>
                            </select>
                        </div>
                        <div class="content_campo_entre">
                            <span>Teléfono<strong class="pregunta_obligatoria"> *</strong></span>
                            <input id="tel_numero" placeholder="Teléfono o WhatsApp" type="text">
                        </div>
                    </div>
                </div>
                <div class="datos_personales">
                    <span>Regálanos tu usuario de redes sociales (Ej. Instagram ...)</strong></span>
                    <div class="content_input_entrevista">
                        <input style="width: 100%;" id="cargo_aspira" placeholder="Usuario redes sociales ej: @vivealaddin"
                            type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>Sube tu foto para reconocerte<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="foto_entre view_btn_foto_entre" id="foto_entre" type="file">
                        <div class="btn_tomar_foto">Subir / Tomar Foto</div>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Formación Académica.</p>
                <br />
                <div class="datos_personales">
                    <div class="content_input_entrevista">
                        <div class="content_campo_entre">
                            <span>Nivel Académico<strong class="pregunta_obligatoria"> *</strong></span>
                            <select name="ultimo_grado" id="ultimo_grado">
                                <option value="">Seleccionar...</option>
                                <option value="Primaria">Primaria</option>
                                <option value="Bachillerato">Secundaria</option>
                                <option value="Tecnico">Técnico</option>
                                <option value="Tecnologo">Tecnólogo</option>
                                <option value="PreGrado">PreGrado</option>
                                <option value="PostGrado">PostGrado</option>
                            </select>
                        </div>
                        <div class="content_campo_entre">
                            <span>Institución Educativa</span>
                            <input id="institucion_entre" placeholder="Institución Educativa" type="text">
                        </div>
                    </div>
                </div>
                <div class="datos_personales">
                    <div class="content_input_entrevista">
                        <div class="content_campo_entre">
                            <span>Profesión u Oficio</span>
                            <input id="titulo_obt" placeholder="Profesión u Oficio" type="text">
                        </div>
                        <div class="content_campo_entre">
                            <span>Otros cursos relevantes</span>
                            <input id="cursos_obt" placeholder="Otros cursos relevantes" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Experiencia Laboral.</p>
                <br />
                <div class="content_oportunidad_laboral">
                    <p>Somos grandes generadores de oportunidad de primer empleo, si no tienes experiencia marca la
                        primera opción y continúa.</p>
                </div>
                <div class="content_action_no_xp">
                    <p>No cuento con experiencia. </p><input type="checkbox" id="no_tengo_xp">
                </div>
                <br />
                <div id="seccion_expe_laboral"
                    style="width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;">

                    <div class="datos_personales">
                        <span>¿Cuál fue la última empresa donde laboraste?</span>
                        <div class="content_input_entrevista">
                            <input class="all_espace" id="ultimo_trabajo"
                                placeholder="¿Cuál fue la última empresa donde laboraste?" type="text">
                        </div>
                    </div>
                    <div class="datos_personales">
                        <span>¿Cuál era tu cargo y funciones principales?</span>
                        <div class="content_input_entrevista">
                            <input class="all_espace" id="funciones_ultimo_trabajo"
                                placeholder="¿Cuál era tu cargo y funciones principales?" type="text">
                        </div>
                    </div>
                    <div class="datos_personales">
                        <span>¿Cuánto tiempo laboraste allí?</span>
                        <div class="content_input_entrevista">
                            <input class="all_espace" id="tiempo_laborado" placeholder="¿Cuánto tiempo laboraste allí?"
                                type="text">
                        </div>
                    </div>
                    <div style="display: none;" class="datos_personales">
                        <span>¿Por qué motivo dejó su último empleo?</span>
                        <div class="content_input_entrevista">
                            <input class="all_espace" id="motivo_ultimo_trabajo"
                                placeholder="¿Por qué motivo dejó su último empleo?" type="text">
                        </div>
                    </div>
                    <div class="datos_personales">
                        <span>Menciona una experiencia que consideres destacada.</span>
                        <div class="content_input_entrevista">
                            <input class="all_espace" id="exp_considerada" placeholder="Describa sus experiencias"
                                type="text">
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Competencias y habilidades.</p>
                <br />
                <div class="datos_personales">
                    <span>¿Cuáles consideras que son tus principales Competencias y Habilidades para el trabajo?<strong
                            class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="fortalezas" placeholder="Competencias y habilidades." type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Qué aspectos crees que debes mejorar?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="aspecto_mejorar"
                            placeholder="¿Qué aspectos crees que debes mejorar?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Qué herramientas o programas manejas con fluidez?</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="uso_herramientas"
                            placeholder="¿Qué herramientas o programas maneja con fluidez?" type="text">
                    </div>
                </div>


                <div style="display: none;" class="datos_personales">
                    <span>¿Cómo maneja el trabajo bajo presión?<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="menejo_presion"
                            placeholder="¿Cómo maneja el trabajo bajo presión?" type="text">
                    </div>
                </div>
                <div style="display: none;" class="datos_personales">
                    <span>¿Prefiere trabajar en equipo o de manera individual? ¿Por qué?<strong
                            class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="trabajo_en_equipo"
                            placeholder="¿Prefiere trabajar en equipo o de manera individual? ¿Por qué?" type="text">
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Motivación y objetivos.</p>
                <br />
                <div class="datos_personales">
                    <span>¿Posee familiares o conocidos que hayan trabajado o trabajen actualmente con nuestra empresa?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <select name="motivo_postulacion" id="motivo_postulacion" class="all_espace">
                            <option value="">Selecciona...</option>
                            <option value="Si">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div style="display: none;" id="familiar_conocido" class="datos_personales">
                    <span>¿Que departamento pertence tu familiar o conocido?</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="logro_profesional"
                            placeholder="¿Que departamento pertence tu familiar o conocido?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Qué conoces de nuestra empresa o del sector?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="saber_de_la_empresa"
                            placeholder="¿Qué conoces de nuestra empresa o del sector?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Fue referido por alguna persona o cómo tuvo conocimiento de nuestra empresa?<strong
                            class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <select name="diferencia_otros" id="diferencia_otros" class="all_espace">
                            <option value="">Selecciona...</option>
                            <option value="Sí">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Disponibilidad y condiciones.</p>
                <br />
                <div class="datos_personales">
                    <span>¿Estás actualmente empleado?<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <select class="all_espace" name="actual_empleo" id="actual_empleo">
                            <option value="">Seleccionar...</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Cuál es tu disponibilidad para iniciar labores?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="disponibilidad_inicio"
                            placeholder="¿Cuál es tu disponibilidad para iniciar labores?" type="text">
                    </div>
                </div>
                <div style="display: none;" class="datos_personales">
                    <span>¿Cuál es tu aspiración salarial?<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="aspiracion_salarial"
                            placeholder="¿Cuál es tu aspiración salarial?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Disponible para trabajar turnos rotativos?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <select name="trabajar_fines" id="trabajar_fines">
                            <option value="">Seleccionar...</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Disponible para trasladarse o viajar?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <select class="all_espace" name="disponible_traslado" id="disponible_traslado">
                            <option value="">Seleccionar...</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />


            <div class="intro_test">
                <div class="content_oportunidad_laboral">
                    <p>Test de perfilamiento previo.</p>
                    <br />
                    <p>Hemos diseñado un test que nos servirá para encontrar un espacio ideal para ti, no es obligatorio
                        responderlo, pero será muy útil si lo hicieras.</p>
                </div>
                <br />
                <div class="content_hacer_test">
                    <p>Quiero hacer el Test</p>
                    <input type="checkbox" id="hacer_test">
                </div>
            </div>


            <div id="content_form_entrevista" class="content_form_entrevista">
                <p class="type2-h1">Preguntas para tener una idea de tu destreza.</p>
                <br />
                <span>Lee cada afirmación y marca del 1 al 5 qué tanto te representa (1 = Nada parecido a mí, 5 =
                    Totalmente parecido a mí).
                </span>
                <br />
                <div class="table-result table-scrolld">
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Afirmación</th>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <th>Disfruto resolver acertijos o problemas lógicos.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_1" id="opc_1_val_1_pre_1"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_1" id="opc_2_val_2_pre_1"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_1" id="opc_3_val_3_pre_1"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_1" id="opc_4_val_4_pre_1"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_1" id="opc_5_val_5_pre_1"></th>
                            </tr>
                            <tr>
                                <th>2</th>
                                <th>Me gusta escribir, contar historias o persuadir con palabras.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_2" id="opc_1_val_1_pre_2"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_2" id="opc_2_val_2_pre_2"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_2" id="opc_3_val_3_pre_2"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_2" id="opc_4_val_4_pre_2"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_2" id="opc_5_val_5_pre_2"></th>
                            </tr>
                            <tr>
                                <th>3</th>
                                <th>Tengo buena orientación espacial y puedo imaginar objetos en 3D.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_3" id="opc_1_val_1_pre_3"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_3" id="opc_2_val_2_pre_3"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_3" id="opc_3_val_3_pre_3"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_3" id="opc_4_val_4_pre_3"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_3" id="opc_5_val_5_pre_3"></th>
                            </tr>
                            <tr>
                                <th>4</th>
                                <th>Aprendo mejor haciendo o practicando físicamente.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_4" id="opc_1_val_1_pre_4"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_4" id="opc_2_val_2_pre_4"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_4" id="opc_3_val_3_pre_4"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_4" id="opc_4_val_4_pre_4"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_4" id="opc_5_val_5_pre_4"></th>
                            </tr>
                            <tr>
                                <th>5</th>
                                <th>Reconozco fácilmente melodías o ritmos.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_5" id="opc_1_val_1_pre_5"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_5" id="opc_2_val_2_pre_5"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_5" id="opc_3_val_3_pre_5"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_5" id="opc_4_val_4_pre_5"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_5" id="opc_5_val_5_pre_5"></th>
                            </tr>
                            <tr>
                                <th>6</th>
                                <th>Entiendo fácilmente los sentimientos de los demás.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_6" id="opc_1_val_1_pre_6"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_6" id="opc_2_val_2_pre_6"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_6" id="opc_3_val_3_pre_6"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_6" id="opc_4_val_4_pre_6"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_6" id="opc_5_val_5_pre_6"></th>
                            </tr>
                            <tr>
                                <th>7</th>
                                <th>Reflexiono sobre mis emociones y cómo mejorar personalmente.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_7" id="opc_1_val_1_pre_7"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_7" id="opc_2_val_2_pre_7"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_7" id="opc_3_val_3_pre_7"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_7" id="opc_4_val_4_pre_7"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_7" id="opc_5_val_5_pre_7"></th>
                            </tr>
                            <tr>
                                <th>8</th>
                                <th>Me gusta observar la naturaleza o identificar patrones en ella.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_8" id="opc_1_val_1_pre_8"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_8" id="opc_2_val_2_pre_8"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_8" id="opc_3_val_3_pre_8"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_8" id="opc_4_val_4_pre_8"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_8" id="opc_5_val_5_pre_8"></th>
                            </tr>
                            <tr>
                                <th>9</th>
                                <th>Me interesa reflexionar sobre el propósito de la vida o el sentido de las cosas.
                                </th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_9" id="opc_1_val_1_pre_9"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_9" id="opc_2_val_2_pre_9"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_9" id="opc_3_val_3_pre_9"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_9" id="opc_4_val_4_pre_9"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_9" id="opc_5_val_5_pre_9"></th>
                            </tr>
                            <tr>
                                <th>10</th>
                                <th>Disfruto trabajar con números y datos.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_10" id="opc_1_val_1_pre_10"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_10" id="opc_2_val_2_pre_10"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_10" id="opc_3_val_3_pre_10"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_10" id="opc_4_val_4_pre_10"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_10" id="opc_5_val_5_pre_10"></th>
                            </tr>
                            <tr>
                                <th>11</th>
                                <th>Puedo expresarme bien al hablar frente a un grupo.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_11" id="opc_1_val_1_pre_11"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_11" id="opc_2_val_2_pre_11"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_11" id="opc_3_val_3_pre_11"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_11" id="opc_4_val_4_pre_11"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_11" id="opc_5_val_5_pre_11"></th>
                            </tr>
                            <tr>
                                <th>12</th>
                                <th>Tengo facilidad para interpretar planos, mapas o gráficos.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_12" id="opc_1_val_1_pre_12"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_12" id="opc_2_val_2_pre_12"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_12" id="opc_3_val_3_pre_12"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_12" id="opc_4_val_4_pre_12"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_12" id="opc_5_val_5_pre_12"></th>
                            </tr>
                            <tr>
                                <th>13</th>
                                <th>Soy bueno en deportes o actividades que exigen coordinación.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_13" id="opc_1_val_1_pre_13"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_13" id="opc_2_val_2_pre_13"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_13" id="opc_3_val_3_pre_13"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_13" id="opc_4_val_4_pre_13"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_13" id="opc_5_val_5_pre_13"></th>
                            </tr>
                            <tr>
                                <th>14</th>
                                <th>Suelo tararear canciones o notar el ritmo de sonidos cotidianos.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_14" id="opc_1_val_1_pre_14"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_14" id="opc_2_val_2_pre_14"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_14" id="opc_3_val_3_pre_14"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_14" id="opc_4_val_4_pre_14"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_14" id="opc_5_val_5_pre_14"></th>
                            </tr>
                            <tr>
                                <th>15</th>
                                <th>Puedo negociar o mediar cuando hay conflictos entre personas.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_15" id="opc_1_val_1_pre_15"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_15" id="opc_2_val_2_pre_15"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_15" id="opc_3_val_3_pre_15"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_15" id="opc_4_val_4_pre_15"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_15" id="opc_5_val_5_pre_15"></th>
                            </tr>
                            <tr>
                                <th>16</th>
                                <th>Me motiva analizar mis decisiones y aprender de mis errores.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_16" id="opc_1_val_1_pre_16"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_16" id="opc_2_val_2_pre_16"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_16" id="opc_3_val_3_pre_16"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_16" id="opc_4_val_4_pre_16"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_16" id="opc_5_val_5_pre_16"></th>
                            </tr>
                            <tr>
                                <th>17</th>
                                <th>Me gusta clasificar objetos o buscar patrones en lo natural.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_17" id="opc_1_val_1_pre_17"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_17" id="opc_2_val_2_pre_17"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_17" id="opc_3_val_3_pre_17"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_17" id="opc_4_val_4_pre_17"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_17" id="opc_5_val_5_pre_17"></th>
                            </tr>
                            <tr>
                                <th>18</th>
                                <th>Me hago preguntas sobre el universo y la existencia.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_18" id="opc_1_val_1_pre_18"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_18" id="opc_2_val_2_pre_18"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_18" id="opc_3_val_3_pre_18"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_18" id="opc_4_val_4_pre_18"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_18" id="opc_5_val_5_pre_18"></th>
                            </tr>
                            <tr>
                                <th>19</th>
                                <th>Me entusiasma encontrar soluciones lógicas a problemas complejos.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_19" id="opc_1_val_1_pre_19"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_19" id="opc_2_val_2_pre_19"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_19" id="opc_3_val_3_pre_19"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_19" id="opc_4_val_4_pre_19"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_19" id="opc_5_val_5_pre_19"></th>
                            </tr>
                            <tr>
                                <th>20</th>
                                <th>Disfruto leer, escribir o contar anécdotas.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_20" id="opc_1_val_1_pre_20"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_20" id="opc_2_val_2_pre_20"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_20" id="opc_3_val_3_pre_20"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_20" id="opc_4_val_4_pre_20"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_20" id="opc_5_val_5_pre_20"></th>
                            </tr>
                            <tr>
                                <th>21</th>
                                <th>Soy bueno recordando lugares o visualizando rutas.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_21" id="opc_1_val_1_pre_21"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_21" id="opc_2_val_2_pre_21"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_21" id="opc_3_val_3_pre_21"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_21" id="opc_4_val_4_pre_21"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_21" id="opc_5_val_5_pre_21"></th>
                            </tr>
                            <tr>
                                <th>22</th>
                                <th>Prefiero aprender tocando o manipulando objetos.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_22" id="opc_1_val_1_pre_22"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_22" id="opc_2_val_2_pre_22"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_22" id="opc_3_val_3_pre_22"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_22" id="opc_4_val_4_pre_22"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_22" id="opc_5_val_5_pre_22"></th>
                            </tr>
                            <tr>
                                <th>23</th>
                                <th>Me emociona la música y entiendo fácilmente los compases.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_23" id="opc_1_val_1_pre_23"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_23" id="opc_2_val_2_pre_23"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_23" id="opc_3_val_3_pre_23"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_23" id="opc_4_val_4_pre_23"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_23" id="opc_5_val_5_pre_23"></th>
                            </tr>
                            <tr>
                                <th>24</th>
                                <th>Disfruto trabajar con otras personas y comprender sus puntos de vista.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_24" id="opc_1_val_1_pre_24"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_24" id="opc_2_val_2_pre_24"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_24" id="opc_3_val_3_pre_24"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_24" id="opc_4_val_4_pre_24"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_24" id="opc_5_val_5_pre_24"></th>
                            </tr>
                            <tr>
                                <th>25</th>
                                <th>Me gusta pasar tiempo solo para pensar o planificar.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_25" id="opc_1_val_1_pre_25"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_25" id="opc_2_val_2_pre_25"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_25" id="opc_3_val_3_pre_25"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_25" id="opc_4_val_4_pre_25"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_25" id="opc_5_val_5_pre_25"></th>
                            </tr>
                            <tr>
                                <th>26</th>
                                <th>Me interesa cuidar el medio ambiente y los seres vivos.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_26" id="opc_1_val_1_pre_26"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_26" id="opc_2_val_2_pre_26"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_26" id="opc_3_val_3_pre_26"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_26" id="opc_4_val_4_pre_26"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_26" id="opc_5_val_5_pre_26"></th>
                            </tr>
                            <tr>
                                <th>27</th>
                                <th>Me cuestiono sobre mi propósito y el de los demás.</th>
                                <th><input type="checkbox" name="opc_1_val_1_pre_27" id="opc_1_val_1_pre_27"></th>
                                <th><input type="checkbox" name="opc_2_val_2_pre_27" id="opc_2_val_2_pre_27"></th>
                                <th><input type="checkbox" name="opc_3_val_3_pre_27" id="opc_3_val_3_pre_27"></th>
                                <th><input type="checkbox" name="opc_4_val_4_pre_27" id="opc_4_val_4_pre_27"></th>
                                <th><input type="checkbox" name="opc_5_val_5_pre_27" id="opc_5_val_5_pre_27"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- <div class="datos_personales">
                    <span>Lógica</span>
                    <br />
                    <br />
                    <span>Si un tren tarda 2 horas en recorrer 120 km, ¿cuál es su velocidad promedio?</span>
                    <div class="content_input_entrevista">
                        <select name="logica_test" id="logica_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="40">40 km/h</option>
                            <option value="60">60 km/h</option>
                            <option value="80">80 km/h</option>
                            <option value="100">100 km/h</option>
                        </select>
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Memoria</span>
                    <br />
                    <br />
                    <span>Observa este número durante 5 segundos y luego escríbelo sin ver: <span
                            style="color: #CB0404;" id="memoria_test_num"></span></span>
                    <div class="content_input_entrevista">
                        <input type="text" name="memoria_test" id="memoria_test">
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Razonamiento Espacial</span>
                    <br />
                    <br />
                    <span>¿Qué figura continua esta secuencia? 🔺⚫🔺⚫🔺…</span>
                    <div class="content_input_entrevista">
                        <select name="razonamiento_test" id="razonamiento_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="1">🔺</option>
                            <option value="2">⚫</option>
                            <option value="3">🔷</option>
                            <option value="4">Ninguna de las anteriores</option>
                        </select>
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Cálculo Matemático</span>
                    <br />
                    <br />
                    <span>¿Cuál es el resultado de: 15 × 4 − 6 ÷ 2</span>
                    <div class="content_input_entrevista">
                        <select name="razonamiento_test" id="matematica_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="1">54</option>
                            <option value="2">60</option>
                            <option value="3">57</option>
                            <option value="4">62</option>
                        </select>
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Comprensión Verbal</span>
                    <br />
                    <br />
                    <span>¿Qué palabra NO pertenece al grupo? <br />“Cuchara – Tenedor – Plato – Cuchillo”</span>
                    <div class="content_input_entrevista">
                        <select name="razonamiento_test" id="compresion_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="1">Cuchara</option>
                            <option value="2">Tenedor</option>
                            <option value="3">Plato</option>
                            <option value="4">Cuchillo</option>
                        </select>
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Observación</span>
                    <br />
                    <br />
                    <span>Si hoy es miércoles, ¿qué día será dentro de 9 días?</span>
                    <div class="content_input_entrevista">
                        <select name="razonamiento_test" id="observacion_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="1">Jueves</option>
                            <option value="2">Sábado</option>
                            <option value="3">Viernes</option>
                            <option value="4">Domingo</option>
                        </select>
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Patrón Numérico</span>
                    <br />
                    <br />
                    <span>Completa la secuencia:<br />
                        3 – 6 – 12 – 24 – ?</span>
                    <div class="content_input_entrevista">
                        <select name="razonamiento_test" id="patron_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="1">36</option>
                            <option value="2">48</option>
                            <option value="3">72</option>
                            <option value="4">50</option>
                        </select>
                    </div>
                </div> -->
            </div>

            <div class="content_form_entrevista">
                <p class="type2-h1"></p>
                <div style="display: none;" class="datos_personales">
                    <span>¿Desea agregar algún comentario adicional?</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="comentario_adicional"
                            placeholder="¿Desea agregar algún comentario adicional?" type="text">
                    </div>
                </div>
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <div class="datos_personales">
                    <div class="content_input_entrevista">
                        <span>Autorizo el tratamiento de mis datos personales<strong class="pregunta_obligatoria">
                                *</strong>.</span>
                        <input style="width: auto;display: flex;justify-content: start;" id="autorizo_entre"
                            type="checkbox">
                    </div>
                </div>
                <div id="final_msj" class="intro_test">
                    <div class="content_oportunidad_laboral">
                        <p>Hemos llegado al final. Gracias por tu participación, nos pondremos en contacto muy pronto.
                        </p>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="content_btn_submit">
                <button title="Enviar Entrevista Digital" id="btn_send_entrevista" class="btn-design1">Enviar</button>
            </div>
        </div>
        </div>
    </section>
</body>

</html>