.content_main_e_digital {
    position: relative;
    width: 100%;
}

.content_img_entrevista {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content_img_entrevista h2 {
    color: #CB0404;
}

.content_form_entrevista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 0;
    font-size: 16px !important;
}

.datos_personales {
    width: 100%;
    max-width: 1000px;
    padding: 10px 0;
}

.content_input_entrevista {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 10px 0;
}

.content_campo_entre {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.content_main_e_digital select,
.content_main_e_digital input {
    width: 100%;
    border-radius: 8px;
    border: #eee solid 1px;
    outline: none;
    padding: 12px 8px;
}

.content_input_entrevista input:focus {
    border: #aaaaaa solid 1px;
}

.all_espace {
    width: 100% !important;
}

.content_btn_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.alert_preguntas_obligatorias {
    text-align: center;
    color: rgb(136, 136, 136);
    font-size: 10px;
}

.pregunta_obligatoria {
    color: #CB0404;
}

.mi-popup {
    background-color: #1F253A;
    color: white;
    border-radius: 0px;
    font-size: 1.5rem;
    width: 550px;
}

.mi-titulo {
    font-size: 4rem;
}

.mi-boton {
    background-color: #efb810;
    color: #1F253A;
    border-radius: 10px;
}

.mi-boton:hover {
    color: #efb810;
    background-color: #1F253A;
}

.view_btn_foto_entre {
    position: relative;
    z-index: 2;
}

.btn_tomar_foto {
    cursor: pointer;
    width: auto;
    height: 38px;
    border-radius: 20px;
    border: none;
    background-color: white;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 2px 10px;
    pointer-events: none;
}

.content_oportunidad_laboral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    color: white !important;
    background-image: linear-gradient(150deg, #e22e2eb7 10%, #b40505 90%);
}

.intro_test {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: 16px;
    padding-top: 15px;
}

.table-scrolld {
    max-height: 450px;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 800px;
}

.styled-table thead {
    background: #e22e2e;
    color: #fff;
}

.styled-table th,
.styled-table td {
    padding: 12px 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    background-color: #fff;
    color: #000;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.table-result {
    width: 100%;
    overflow-x: auto;
}

.content_hacer_test {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.content_hacer_test p {
    font-size: 16px;
}

.content_hacer_test input {
    width: auto;
    font-size: 16px;
}

.content_action_no_xp {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 200px;
    gap: 10px;
    font-size: 12px;
    position: relative;
    padding: 20px 0;
}

.content_action_no_xp input {
    width: auto;
}

@media(max-width: 768px) {
    .content_img_entrevista {
        margin-top: 14%;
    }

    .content_form_entrevista>p {
        text-align: center;
    }

    .content_input_entrevista {
        flex-direction: column;
    }

    .content_input_entrevista>select,
    .content_input_entrevista>input {
        width: 100%;
    }

    .btn_tomar_foto {
        display: none;
    }

}