<!DOCTYPE html>
<html>

<head>
    <title>Entrevista Digital</title>
</head>

<body>
    <section id="content_main_e_digital" class="content_main_e_digital">
        <div class="container">
            <div class="content_img_entrevista">
                <h2 class="type1-h1">Formulario Entrevista Digital</h2>
            </div>
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Estas preguntas son para identificarte.</p>
                <span class="alert_preguntas_obligatorias">las preguntas con <strong
                        class="pregunta_obligatoria">*</strong> son obligatorias.<br />
                    Cuanta más información suministres mejor para el proceso.</span>
                <br />
                <div class="datos_personales">
                    <span>Nombres<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <input id="nombre" placeholder="Nombre" type="text">
                        <input id="apellido" placeholder="Apellidos" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>Cédula o documento de identidad<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <select name="tipo_documento" id="tipo_documento">
                            <option value="">Selecccionar...</option>
                            <option value="cedula">Cedula de Ciudadania</option>
                            <option value="cedula_extrajera">Documento extranjero</option>
                            <option value="cedula_extrajera">Permiso por Proteccion Laboral</option>
                        </select>
                        <input id="num_documento" placeholder="Numero de Documento" type="number">
                    </div>
                </div>
                <div class="datos_personales">
                    <div class="content_input_entrevista">
                        <div class="content_campo_entre">
                            <span>Fecha de Nacimiento<strong class="pregunta_obligatoria"> *</strong></span>
                            <input id="fecha_nacimiento" placeholder="Fecha de nacimiento" type="date">
                        </div>
                        <div class="content_campo_entre">
                            <span>Correo Electronico<strong class="pregunta_obligatoria"> *</strong></span>
                            <input id="correo_entrevista" placeholder="Correo Electronico / Email" type="text">

                        </div>
                    </div>
                </div>
                <div class="datos_personales">
                    <div class="content_input_entrevista">
                        <div class="content_campo_entre">
                            <span>Ciudad donde te gustaría laborar<strong class="pregunta_obligatoria">
                                    *</strong></span>
                            <!-- <input id="ciudad_referencia" placeholder="Ciudad de referencia" type="text"> -->
                            <select name="ciudad_referencia" id="ciudad_referencia">
                                <option value="">Seleccionar...</option>
                                <option value="bogota">Bogotá</option>
                                <option value="barranquilla">Barranquilla</option>
                                <option value="buga">Buga</option>
                                <option value="cali">Cali</option>
                                <option value="monteria">Monteria</option>
                                <option value="pereira">Pereira</option>
                                <option value="tulua">Tuluá</option>
                            </select>
                        </div>
                        <div class="content_campo_entre">
                            <span>Teléfono<strong class="pregunta_obligatoria"> *</strong></span>
                            <input id="tel_numero" placeholder="Teléfono o WhatsApp" type="text">
                        </div>
                    </div>
                </div>
                <div class="datos_personales">
                    <span>Regálanos tu usuario de redes sociales (Ej. Instagram ...)</strong></span>
                    <div class="content_input_entrevista">
                        <input style="width: 100%;" id="cargo_aspira" placeholder="Usuario redes sociales" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>Sube tu foto para reconocerte<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="foto_entre view_btn_foto_entre" id="foto_entre" type="file">
                        <div class="btn_tomar_foto">Subir / Tomar Foto</div>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Formación Académica.</p>
                <br />
                <div class="datos_personales">
                    <div class="content_input_entrevista">
                        <div class="content_campo_entre">
                            <span>Nivel Académico<strong class="pregunta_obligatoria"> *</strong></span>
                            <select name="ultimo_grado" id="ultimo_grado">
                                <option value="">Seleccionar...</option>
                                <option value="Primaria">Primaria</option>
                                <option value="Bachillerato">Secundaria</option>
                                <option value="Tecnico">Técnico</option>
                                <option value="Tecnologo">Tecnólogo</option>
                                <option value="Profesional">Profesional</option>
                                <option value="PreGrado">PreGrado</option>
                                <option value="PostGrado">PostGrado</option>
                            </select>
                        </div>
                        <div class="content_campo_entre">
                            <span>Institución Educativa</span>
                            <input id="institucion_entre" placeholder="Institución Educativa" type="text">
                        </div>
                    </div>
                </div>
                <div class="datos_personales">
                    <div class="content_input_entrevista">
                        <div class="content_campo_entre">
                            <span>Profesión u Oficio</span>
                            <input id="titulo_obt" placeholder="Profesión" type="text">
                        </div>
                        <div class="content_campo_entre">
                            <span>Otros cursos relevantes</span>
                            <input id="cursos_obt" placeholder="Otros cursos relevantes" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Experiencia Laboral.</p>
                <br />
                <div class="content_oportunidad_laboral">
                    <p>Somos Grande generadores de oportunidad de primer empleo, donde el talento y la magia puede estar
                        en ti.</p>
                </div>
                <br />
                <div class="datos_personales">
                    <span>¿Ultima empresa donde laboro?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="ultimo_trabajo"
                            placeholder="¿En qué empresa trabajó más recientemente?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Cuál era su cargo y funciones principales?</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="funciones_ultimo_trabajo"
                            placeholder="¿Cuál era su cargo y funciones principales?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Cuánto tiempo laboró allí?</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="tiempo_laborado" placeholder="¿Cuánto tiempo laboró allí?"
                            type="text">
                    </div>
                </div>
                <div style="display: none;" class="datos_personales">
                    <span>¿Por qué motivo dejó su último empleo?</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="motivo_ultimo_trabajo"
                            placeholder="¿Por qué motivo dejó su último empleo?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>Mencione una experiencia laboral que considere destacada.</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="exp_considerada" placeholder="Describa sus experiencias"
                            type="text">
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Competencias y habilidades.</p>
                <br />
                <div class="datos_personales">
                    <span>¿Cuáles considera para usted sus Competencias y habilidades?<strong
                            class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="fortalezas" placeholder="Competencias y habilidades." type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Qué aspectos cree que debe mejorar?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="aspecto_mejorar"
                            placeholder="¿Qué aspectos cree que debe mejorar?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Qué herramientas o programas maneja con fluidez?</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="uso_herramientas"
                            placeholder="¿Qué herramientas o programas maneja con fluidez?" type="text">
                    </div>
                </div>


                <div style="display: none;" class="datos_personales">
                    <span>¿Cómo maneja el trabajo bajo presión?<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="menejo_presion"
                            placeholder="¿Cómo maneja el trabajo bajo presión?" type="text">
                    </div>
                </div>
                <div style="display: none;" class="datos_personales">
                    <span>¿Prefiere trabajar en equipo o de manera individual? ¿Por qué?<strong
                            class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="trabajo_en_equipo"
                            placeholder="¿Prefiere trabajar en equipo o de manera individual? ¿Por qué?" type="text">
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Motivación y objetivos.</p>
                <br />
                <div class="datos_personales">
                    <span>¿Qué l@ motiva a postularse a esta Empresa?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="motivo_postulacion"
                            placeholder="¿Qué lo motiva a postularse a este cargo?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Qué espera lograr laboralmente en los próximos dos años?</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="logro_profesional"
                            placeholder="¿Qué espera lograr profesionalmente en los próximos dos años?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Qué conoce de nuestra empresa o del sector?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="saber_de_la_empresa"
                            placeholder="¿Qué conoce de nuestra empresa o del sector?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Qué l@ hace diferente de otros candidatos?</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="diferencia_otros"
                            placeholder="¿Qué lo hace diferente de otros candidatos?" type="text">
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />
            <div class="content_form_entrevista">
                <p class="type2-h1">Disponibilidad y condiciones.</p>
                <br />
                <div class="datos_personales">
                    <span>¿Está actualmente empleado?<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <select class="all_espace" name="actual_empleo" id="actual_empleo">
                            <option value="">Seleccionar...</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Cuál es su disponibilidad para iniciar labores?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="disponibilidad_inicio"
                            placeholder="¿Cuál es su disponibilidad para iniciar labores?" type="text">
                    </div>
                </div>
                <div style="display: none;" class="datos_personales">
                    <span>¿Cuál es su aspiración salarial?<strong class="pregunta_obligatoria"> *</strong></span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="aspiracion_salarial"
                            placeholder="¿Cuál es su aspiración salarial?" type="text">
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Disponible para trabajar turnos rotativos?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <select name="trabajar_fines" id="trabajar_fines">
                            <option value="">Seleccionar...</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="datos_personales">
                    <span>¿Tiene disponibilidad para trasladarse o viajar?<strong class="pregunta_obligatoria">
                            *</strong></span>
                    <div class="content_input_entrevista">
                        <select class="all_espace" name="disponible_traslado" id="disponible_traslado">
                            <option value="">Seleccionar...</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
            <br />

            <div class="content_form_entrevista">
                <p class="type2-h1">Preguntas para tener una idea de tu destreza.</p>
                <br />
                <div class="datos_personales">
                    <span>Lógica</span>
                    <br />
                    <br />
                    <span>Si un tren tarda 2 horas en recorrer 120 km, ¿cuál es su velocidad promedio?</span>
                    <div class="content_input_entrevista">
                        <select name="logica_test" id="logica_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="40">40 km/h</option>
                            <option value="60">60 km/h</option>
                            <option value="80">80 km/h</option>
                            <option value="100">100 km/h</option>
                        </select>
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Memoria</span>
                    <br />
                    <br />
                    <span>Observa este número durante 5 segundos y luego escríbelo sin ver: <span style="color: #CB0404;"
                            id="memoria_test_num"></span></span>
                    <div class="content_input_entrevista">
                        <input type="text" name="memoria_test" id="memoria_test">
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Razonamiento Espacial</span>
                    <br />
                    <br />
                    <span>¿Qué figura continua esta secuencia? 🔺⚫🔺⚫🔺…</span>
                    <div class="content_input_entrevista">
                        <select name="razonamiento_test" id="razonamiento_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="1">🔺</option>
                            <option value="2">⚫</option>
                            <option value="3">🔷</option>
                            <option value="4">Ninguna de las anteriores</option>
                        </select>
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Cálculo Matemático</span>
                    <br />
                    <br />
                    <span>¿Cuál es el resultado de: 15 × 4 − 6 ÷ 2</span>
                    <div class="content_input_entrevista">
                        <select name="razonamiento_test" id="matematica_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="1">54</option>
                            <option value="2">60</option>
                            <option value="3">57</option>
                            <option value="4">62</option>
                        </select>
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Comprensión Verbal</span>
                    <br />
                    <br />
                    <span>¿Qué palabra NO pertenece al grupo? <br />“Cuchara – Tenedor – Plato – Cuchillo”</span>
                    <div class="content_input_entrevista">
                        <select name="razonamiento_test" id="compresion_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="1">Cuchara</option>
                            <option value="2">Tenedor</option>
                            <option value="3">Plato</option>
                            <option value="4">Cuchillo</option>
                        </select>
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Observación</span>
                    <br />
                    <br />
                    <span>Si hoy es miércoles, ¿qué día será dentro de 9 días?</span>
                    <div class="content_input_entrevista">
                        <select name="razonamiento_test" id="observacion_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="1">Jueves</option>
                            <option value="2">Sábado</option>
                            <option value="3">Viernes</option>
                            <option value="4">Domingo</option>
                        </select>
                    </div>
                </div>
                <br />
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <br />
                <div class="datos_personales">
                    <span>Patrón Numérico</span>
                    <br />
                    <br />
                    <span>Completa la secuencia:<br />
                        3 – 6 – 12 – 24 – ?</span>
                    <div class="content_input_entrevista">
                        <select name="razonamiento_test" id="patron_test">
                            <option value="Seleccionar">Seleccionar...</option>
                            <option value="1">36</option>
                            <option value="2">48</option>
                            <option value="3">72</option>
                            <option value="4">50</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="content_form_entrevista">
                <p class="type2-h1"></p>
                <div style="display: none;" class="datos_personales">
                    <span>¿Desea agregar algún comentario adicional?</span>
                    <div class="content_input_entrevista">
                        <input class="all_espace" id="comentario_adicional"
                            placeholder="¿Desea agregar algún comentario adicional?" type="text">
                    </div>
                </div>
                <div style="width: 100%;height: 1px;background-color: rgba(87, 87, 87, 0.336);"></div>
                <div class="datos_personales">
                    <div style="justify-content: start;" class="content_input_entrevista">
                        <span class="all_espace">Autorización para tratamiento de datos personales<strong
                                class="pregunta_obligatoria"> *</strong>.</span>
                        <input id="autorizo_entre" type="checkbox">
                    </div>
                </div>

            </div>
            <br />
            <br />
            <div class="content_btn_submit">
                <button title="Enviar Entrevista Digital" id="btn_send_entrevista" class="btn-design1">Enviar</button>
            </div>
        </div>
        </div>
    </section>
</body>

</html>