.banner-membresia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #CB0404;
}


.content-img-mymawi-al {
    display: flex;
    overflow: hidden;
}

.content-img-mymawi-al img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.tarjeta-mymawi {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-acordeon-mymawi {
    display: flex;
    width: 100%;
    position: relative;
}

.acordeon-mymawi {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: absolute;
    top: 22px;
    display: flex;
    justify-content: center;
    align-items: end;
    pointer-events: none;
}

.acordeon-mymawi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-title-mymawi {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.content-text-mymawi {
    text-align: center;
    padding: 40px 0;
}

.background-mymawi {
    background-color: #CB0404;
}

.content-beneficios-mymawi {
    display: flex;
    gap: 20px;
    padding: 30px 0;
}

.beneficios-left {
    width: 50%;
}

.beneficios-left img {
    width: 100%;
    height: 100%;
}

.beneficios-rigth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.beneficios-rigth p{
    text-align: justify;
}

.beneficios-rigth h2 {
    text-align: start;
    color: white;
}

.beneficios-rigth ul {
    padding-left: 30px;
}

.background-mymawi h2 .background-mymawi p {
    color: white;
}

.beneficios-reverse {
    flex-direction: row-reverse;
}

/* 

.sliderC {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-wrapperC {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100vw;
    height: 600px;
    touch-action: pan-y;
    user-select: none;
    cursor: grab;
}

.slider-wrapperC:active {
    cursor: grabbing;
}

.slideC {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1C {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/DSC_0083_V2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2C {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/resources/imagen-membresia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3C {
    background-image: linear-gradient(rgba(0, 0, 0, 0.733),
            rgba(0, 0, 0, 0.5)), url(/resources/DSC_0371.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    width: 100%;
    height: 100%;
}

.content-slide h2 {
    color: white;
}

.content-slide-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.content-slide-img h2 {
    color: white;
}

.content-slide-img img {
    width: 200px;
}

.content-slide-rigth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: center;
    width: 100%;
    height: 100%;
}

.content-slide-rigth h2 {
    color: white;
}


input[name="slider-radioC"] {
    display: none;
}

.slider-controlsC label {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}

.slider-controlsC {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsC input[type="radio"]:checked+label {
    background: white;
}


.arrowC {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowC-left {
    left: 0px;
}

.arrowC-right {
    right: 0px;
} */

@media(max-width:1366px) {
    .beneficios-rigth h2 {
        font-size: 1.8rem;
    }

    .beneficios-rigth {
        font-size: 0.8rem;
    }
}

@media(max-width:880px) {
    .beneficios-rigth h2 {
        font-size: 2rem;
    }

    .beneficios-rigth {
        font-size: 0.8rem;
    }
}

@media(max-width: 768px) {
    .content-beneficios-mymawi.content-beneficios-mymawi {
        flex-direction: column;
    }

    .banner-membresia {
        height: auto;
        padding: 20px 0;
    }

    .beneficios-left {
        width: 100%;
    }

    .beneficios-rigth {
        width: 100%;
    }

    .beneficios-rigth h2 {
        text-align: center;
    }

    .content-acordeon-mymawi {
        pointer-events: none;
    }

    .acordeon-mymawi {
        top: 0;
    }

}