<!DOCTYPE html>
<html>

<head>
    <title>Membresia Aladdin</title>
</head>

<body>
    <div class="banner-membresia">
        <h1 style="color: rgb(23, 28, 30);" class="item type1-h1-bold">MYMAWI</h1>
    </div>
    <div class="item tarjeta-mymawi">
        <!-- <div class="content-img-mymawi">
                <img src="/resources/mymawi.png" />
            </div> -->
        <div class="container content-text-mymawi">
            <h1 style="color: rgb(23, 28, 30);" class="type1-h1-bold">Ábrele la puerta</h1>
            <h1 style="color: rgb(23, 28, 30);" class="type1-h1-bold">a tu casino favorito.</h1>
            <br />
            <p class="type3-h1">Haz parte de la comunidad Marco Polo y Aladdin a través de la tarjeta de membresía
                MYMAWI, es
                gratis y te permite
                tener una mejor administración de tus fondos y premios en relación a los juegos y obtener múltiples
                beneficios adicionales.</p>
        </div>
    </div>



    <section class="video-container-membresia">
        <video class="background-video-membresia" autoplay muted loop playsinline>
            <source src="/resources/BENEFICIOS-DE-LA-TARJETA-MYMAWI.mp4" type="video/mp4">
        </video>
        <div class="content-text-membresia">
            <div class="container">
                <div class="titulo content-info-membresia content-info-reverse-membresia">
                    <div class="content-desc-membresia">
                        <p class="titulo type1-p">Usando permanentemente la tarjeta MYMAWI podrás disfrutar, entre otros, de
                            los
                            siguientes beneficios:
                        </p>
                        <br />
                        <ul class="titulo">
                            <li>Administrar tu dinero (Cobrar o Recargar).</li>
                            <li>Participar en progresivos misteriosos.</li>
                            <li>Recibir bonos en dinero promocional.</li>
                            <li>Transportar créditos en la tarjeta de una máquina a otra.</li>
                            <li>Canjear los puntos obtenidos por dinero productos o servicios.</li>
                            <li>Ganar bonos para eventos especiales como día de la madre, día del padre, halloween,
                                cumpleaños, año nuevo chino, etc.</li>
                        </ul>
                    </div>
                    <div class="content-text-title-membresia">
                        <div class="content-card-title-membresia">
                            <h2 class="titulo type1-h1">Beneficios MYMAWI</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="video-container-membresia">
        <video class="background-video-membresia" autoplay muted loop playsinline>
            <source src="/resources/PORQUE-SI-Y-PORQUE-NO.mp4" type="video/mp4">
        </video>
        <div class="content-text-membresia">
            <div class="container">
                <div class="titulo content-info-membresia">
                    <div class="content-desc-membresia">
                        <p class="titulo type1-p">La tarjeta Mymawi SIEMPRE genera puntos, independientemente de si ganas o no
                            ganas
                            en
                            el juego. Por eso
                            la Tarjeta Mymawi es la mejor opción para sumar siempre
                        </p>
                        <br />
                    </div>
                    <div class="content-text-title-membresia">
                        <div class="content-card-title-membresia">
                            <h2 class="titulo type1-h1">PORQUE SI</h2>
                            <h2 class="titulo type1-h1">Y PORQUE NO</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="video-container-membresia">
        <video class="background-video-membresia" autoplay muted loop playsinline>
            <source src="/resources/¿QUE-ES-DINERO-PROMOCIONAL.mp4  " type="video/mp4">
        </video>
        <div class="content-text-membresia">
            <div class="container">
                <div class="titulo content-info-membresia content-info-reverse-membresia">
                    <div class="content-desc-membresia">
                        <p class="titulo">Cuando una persona obtiene un premio en una promoción este se paga en “dinero promocional”,
                            esta en una
                            cifra representada en pesos pero que sólo sirve para jugar. El dinero promocional se carga a
                            la tarjeta
                            Mymawi y listo! puedes continuar tu juego.</p>
                        <br />
                        <p class="titulo">La tarjeta diferencia los saldos de dinero real y dinero promocional, privilegiando el uso
                            del dinero
                            promocional, a medida que un jugador gana con dinero promocional, éste se convierte en
                            dinero real para
                            ser cobrado o seguir divirtiéndose en nuestras máquinas.</p>
                    </div>
                    <div class="content-text-title-membresia">
                        <div class="content-card-title-membresia">
                            <h2 class="titulo type1-h1">¿QUÉ ES DINERO PROMOCIONAL?</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-bottom: 20px;" class="titulo container" id="promocion-seccion">
    </section>
    <section class="titulo" id="ubicacion-seccion">
    </section>
</body>

</html>