<!DOCTYPE html>
<html>

<head>
    <title>Membresia Aladdin</title>
</head>

<body>
    <section class="banner-membresia">
        <div class="container">
            <div class="content-img-mymawi-al">
                <img src="/resources/benner-mymawi.png" alt="aladdin">
            </div>
        </div>
    </section>


    <div class="container">
        <div class="content-beneficios-mymawi">
            <video class="beneficios-left" loop controls playsinline webkit-playsinline>
                <source src="/resources/BENEFICIOS-DE-LA-TARJETA-MYMAWI.mp4" type="video/mp4">
            </video>
            <div class="beneficios-rigth">
                <h2 style="color: #CB0404;" class="item type1-h1">Beneficios de la tarjeta mymawi</h2>
                <br />
                <p>Usando permanentemente la tarjeta MYMAWI podrás disfrutar, entre otros, de los siguientes beneficios:
                </p>
                <br />
                <ul>
                    <li>Administrar tu dinero (Cobrar o Recargar).</li>
                    <li>Participar en progresivos misteriosos.</li>
                    <li>Recibir bonos en dinero promocional.</li>
                    <li>Transportar la tarjeta de una máquina a otra.</li>
                    <li>Canjear los puntos obtenidos por dinero, productos o servicios.</li>
                    <li>Ganar bonos para eventos especiales como día de la madre, día del padre, halloween,
                        cumpleaños, año nuevo chino, etc.</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="background-mymawi">
        <div class="container">
            <div class="content-beneficios-mymawi beneficios-reverse">
                <video class="beneficios-left" loop controls playsinline webkit-playsinline>
                    <source src="/resources/PORQUE-SI-Y-PORQUE-NO.mp4" type="video/mp4">
                </video>
                <div class="beneficios-rigth">
                    <h2 class="titulo type1-h1">Porque SI</h2>
                    <h2 class="titulo type1-h1">Y Porque NO</h2>
                    <br />
                    <p style="color: white;" class="titulo">La tarjeta Mymawi SIEMPRE genera puntos, independientemente
                        de si ganas o no ganas en el
                        juego. Por eso
                        la Tarjeta Mymawi es la mejor opción para sumar siempre.</p>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content-beneficios-mymawi">
            <video class="beneficios-left" loop controls playsinline webkit-playsinline>
                <source src="/resources/DINERO-PROMOCIONAL-MYMAWI.mp4" type="video/mp4">
            </video>
            <div class="beneficios-rigth">
                <h2 style="color: #CB0404;" class="titulo type1-h1">¿Qué es dinero promocional?</h2>
                <br />
                <p class="titulo">Cuando una persona obtiene un premio en una promoción este se paga en “dinero
                    promocional”,
                    esta en una
                    cifra representada en pesos pero que sólo sirve para jugar. El dinero promocional se carga a la
                    tarjeta
                    Mymawi y listo! puedes continuar tu juego.</p>
                <br />
                <p class="titulo">La tarjeta diferencia los saldos de dinero real y dinero promocional, privilegiando el
                    uso
                    del dinero
                    promocional, a medida que un jugador gana con dinero promocional, éste se convierte en dinero real
                    para
                    ser cobrado o seguir divirtiéndose en nuestras máquinas.</p>
                <br />
            </div>
        </div>
    </div>
    <section style="padding-bottom: 20px;" class="titulo container" id="promocion-seccion">
    </section>
    <section class="titulo" id="ubicacion-seccion">
    </section>
    <section id="juegos-view-seccion">
    </section>
    <section style="text-align: center;padding: 30px 0;">
        <a class="btn-design1" href="#inicio?id=membresia-home">Volver al inicio</a>
    </section>
</body>

</html>