.sliderC {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-wrapperC {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100vw;
    height: 450px;
    touch-action: pan-y;
    user-select: none;
    cursor: grab;
}

.slider-wrapperC:active {
    cursor: grabbing;
}

.slideC {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1C {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(/resources/banner-aladdin-38-1200x300.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2C {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(/resources/DSC_0371.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3C {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(/resources/CARRUSEL_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

input[name="slider-radioC"] {
    display: none;
}

.slider-controlsC label {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}

.slider-controlsC {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsC input[type="radio"]:checked+label {
    background: white;
}


.arrowC {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowC-left {
    left: 0px;
}

.arrowC-right {
    right: 0px;
}

.content-title-page {
    position: absolute;
    bottom: 80px;
    text-align: center;
    pointer-events: none;
}

.content-title-page p,
.content-title-page h1 {
    color: #fff;
    text-shadow: #fff 0 0 0px;
}

@media(max-width:768px) {
    .content-title-page {
        padding: 0 10px;
        left: 0;
    }

    .content-title-page h1 {
        font-size: 1.8rem;
    }
}