<!DOCTYPE html>
<html>

<head>
    <title>Promociones aladdin</title>
</head>

<body>
    <section class="promo-section">
        <div class="container">
            <div class="content-title-page">
                <h1 style="color: #171c1e;" class="titulo type1-h1-bold">Vive nuestras promociones</h1>
                <br />
                <p class="titulo type1-p">Disfruta de nuestros bonos, sorteos y beneficios exclusivos que hacen de cada
                    visita una
                    experiencia inolvidable... Juega más, gana más y aprovecha cada oportunidad con nuestras increíbles
                    promociones.</p>
                <br />
            </div>
        </div>
    </section>
    <section class="container">
        <section class="detail-all-promo">
            <div class="content-promociones">
                <div id="toMymawi" class="titulo card-promociones">
                    <div class="card-content-img">
                        <img src="/resources/MYMAWI-te-premia.png" />
                    </div>
                    <div class="card-content-text">
                        <h2 class="type2-h1">MTMAWI Te Premia</h2>
                        <br />
                        <div>
                            <a href="#mymawitepremia">Saber más</a>
                        </div>
                    </div>
                </div>
                <div id="toCascada" class="titulo card-promociones card-promociones-reverse">
                    <div class="card-content-img">
                        <img src="/resources/PROMO-CASCADA-PREMIOS.png" />
                    </div>
                    <div class="card-content-text">
                        <h2 class="type2-h1">Cascada de Premios</h2>
                        <br />
                        <div>
                            <a href="#cascadapremios">Saber más</a>
                        </div>
                    </div>
                </div>
                <div id="toGanaya" class="titulo card-promociones">
                    <div class="card-content-img">
                        <img src="/resources/PROMO-GANAYA.png" />
                    </div>
                    <div class="card-content-text">
                        <h2 class="type2-h1">GANA YA</h2>
                        <br />
                        <div>
                            <a href="#ganaya">Saber más</a>
                        </div>
                    </div>
                </div>
                <div id="toBingolocura" class="titulo card-promociones card-promociones-reverse">
                    <div class="card-content-img">
                        <img src="/resources/PROMO-BINGO-LOCURA.png" />
                    </div>
                    <div class="card-content-text">
                        <h2 class="type2-h1">Bingo Locura</h2>
                        <br />
                        <div>
                            <a href="#bingolocura">Saber más</a>
                        </div>
                    </div>
                </div>
                <div id="toSuperbingo" class="titulo card-promociones">
                    <div class="card-content-img">
                        <img src="/resources/PROMO-SUPER-BINGO.png" />
                    </div>
                    <div class="card-content-text">
                        <h2 class="type2-h1">Super Bingo</h2>
                        <br />
                        <div>
                            <a href="#superbingo">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="titulo" id="ubicacion-seccion">
    </section>
</body>

</html>