<section id="modal_bono_apertura" class="modal_apertura">
    <div class="content_modal_apertura">
        <div title="Cerrar Información del Bono" class="close_registrarse" id="close_registrarse">
            <p>&times;</p>
        </div>
        <div class="head_apertura"></div>
        <div class="content_text_apertura">
            <a href="#casinosonesta?id=close">
                <img title="Gran Inaguración" src="/resources/POP-UP-SITIO-WEB.png" alt="Aladdin">
            </a>
            <!-- <h2>¡¡¡ESTAMOS DE FIESTA!!!</h2>
            <br />
            <p>Abrimos nuestro</p>
            <img src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
            <br />
            <a title="Casino Aladdin" class="cas_url" href="#casinosonesta">BOGOTÁ - Cra 15 #124-97</a>
            <p>Regístrate y Obtén un Bono de Apertura</p>
            <small><strong style="color: #25d3ff;">*</strong>(Solo para Cliente Nuevos)<strong
                    style="color: #25d3ff;">*</strong></small>
            <br /> -->
            <!-- ACA LA URL -->
            <!-- <a id="btn_register_apertura" class="btn-design2" title="Registrarse" href="" target="_blank">Regístrate</a> -->
        </div>
    </div>
</section>