<section id="modal_bono_apertura" class="modal_apertura">
    <div class="content_modal_apertura container">
        <div title="Cerrar Información del Bono" class="close_registrarse" id="close_registrarse">
            <p>&times;</p>
        </div>
        <div class="head_apertura"></div>
        <div class="content_text_apertura">
            <a style="display: flex;justify-content: center;align-items: center;width: auto;"
                href="#casinosonesta?id=close">
                <!-- <img class="img_inau_desk" title="Gran Inaguración" src="/resources/Website-16_9-Viaje-Shanghai-Sonesta-Aladdin.png" alt="Aladdin"> -->
                <!-- <img class="img_inau_movil" title="Gran Inaguración" src="/resources/POP-UP-SITIO-WEB.png" alt="Aladdin"> -->
                <video title="Tesla en Aladdin Casino" class="content_video_tesla" autoplay muted loop playsinline>
                    <source src="https://testpromo.easyguess.com/uploads/videos_test/POP_UP_TESLA.mp4" type="video/mp4">
                </video>
            </a>
        </div>
    </div>
</section>