.content-banner-entretenimiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 500px;
    background-color: #171c1e;

}

.info-game-entretenimiento {
    width: 100%;
    height: auto;
    background-color: #1d1d1f;
}

.content-info-game-entretenimiento {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: white;
}

.content-info-game-entretenimiento a {
    color: #c0c0c0;
    transition: all 0.4s ease;
}

.content-info-game-entretenimiento a:hover {
    color: #CB0404;
}


.section-mesas-entretenimiento {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    line-height: 5rem;
    padding-top: 35px;
}

.section-mesas-entretenimiento h1 {
    color: #fff;
    text-shadow:
        0 0 15px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #ffff;
}

.content-card-juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    gap: 32px;
}

.card-juegos:hover .card-juegos-text>h2{
    color: #CB0404;
}

.card-juegos:hover .card-juegos-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card-juegos {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
}

.card-juegos-img {
    width: 300px;
    height: 175px;
    overflow: hidden;
}

.card-juegos-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
      transition: transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
}

.card-juegos-img img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card-juegos-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 175px;
    padding: 20px 0;
}

.card-juegos-text>h2 {
    font-size: 1rem;
    padding-bottom: 5px;
}

.card-juegos-text p {
    font-size: 0.7rem;
    color: rgb(153, 153, 153);
}

.divider-card {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 1px;
    background-color: #c2c2c2;
}

.content-btn-game {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width:768px) {
    .card-juegos {
        width: 90%;
        border-radius: 15px;
    }

    .card-juegos-img {
        width: 100%;
    }

    .card-juegos-text {
        width: 100%;
    }
    .section-mesas-entretenimiento {
        line-height: 2rem;
    }
}