<!DOCTYPE html>
<html>

<head>
    <title>Juegos aladdin</title>
</head>

<body>
    <section>
        <div class="content-banner-entretenimiento">

            <section id="toMesas" class="item section-mesas-entretenimiento container">
                <h1 class="type1-h1-bold">Juegos para divertirse</h1>
                <h1 class="type1-h1-bold">a lo grande como todo un
                    ganador.</h1>
            </section>
        </div>
        <div class="info-game-entretenimiento">
            <div class="container">
                <div class="content-info-game-entretenimiento">
                    <p>Acércate y vive la verdadera experiencia de un entretenimiento de verdad. <a href="#contacto">Más
                            información</a></p>
                </div>
            </div>
        </div>
        <div id="content-banner-membresia"></div>
        <h2 style="text-align: center;padding-top: 5px;" class="type1-h1">Juegos y Servicios</h2>
        <section class="container content-card-juegos">
            <div class="card-juegos">
                <div class="card-juegos-img">
                    <img src="/resources/juego-ruleta-2.jpg" alt="aladdin">
                </div>
                <div class="card-juegos-text">
                    <h2 class="type2-h1">Ruleta</h2>
                    <p>La ruleta es el clásico de los casinos que combina elegancia,
                        estrategia y
                        adrenalina pura. Con su doble cero y 38 casillas en total, cada giro es una oportunidad
                        para
                        desafiar al azar y vivir la intensidad del juego en su máxima expresión.
                    </p>
                    <br />
                    <div class="divider-card"></div>
                    <br />
                    <div class="content-btn-game">
                        <a class="btn-design1" href="#ruleta">Saber más</a>
                    </div>
                </div>
            </div>
            <div class="card-juegos">
                <div class="card-juegos-img">
                    <img src="/resources/juego-blakcjack.jpg" alt="aladdin">
                </div>
                <div class="card-juegos-text">
                    <h2 class="type2-h1">BlackJack</h2>
                    <p>El blackjack es un juego de cartas ágil, elegante y lleno de estrategia
                        donde el objetivo
                        es claro: vencer al crupier sin pasarte de 21.
                    </p>
                    <br />
                    <div class="divider-card"></div>
                    <br />
                    <div class="content-btn-game">
                        <a class="btn-design1" href="#blackjack">Saber más</a>
                    </div>
                </div>
            </div>
            <div class="card-juegos">
                <div class="card-juegos-img">
                    <img src="/resources/juego-baccarat.jpg" alt="aladdin">
                </div>
                <div class="card-juegos-text">
                    <h2 class="type2-h1">Baccarat</h2>
                    <p>El baccarat es un clásico del casino que ha cautivado a jugadores de alto
                        nivel y amantes
                        del azar por generaciones.

                    </p>
                    <br />
                    <div class="divider-card"></div>
                    <br />
                    <div class="content-btn-game">
                        <a class="btn-design1" href="#baccarat">Saber más</a>
                    </div>
                </div>
            </div>
            <div class="card-juegos">
                <div class="card-juegos-img">
                    <img src="/resources/juego-ruleta-3.jpg" alt="aladdin">
                </div>
                <div class="card-juegos-text">
                    <h2 class="type2-h1">Ruleta Electrónica</h2>
                    <p>La ruleta electrónica combina lo mejor del clásico juego de casino con la
                        tecnología
                        moderna, ofreciendo una experiencia ágil, precisa y llena de adrenalina.
                    </p>
                    <br />
                    <div class="divider-card"></div>
                    <br />
                    <div class="content-btn-game">
                        <a class="btn-design1" href="#ruletaelectronica">Saber más</a>
                    </div>
                </div>
            </div>
            <div class="card-juegos">
                <div class="card-juegos-img">
                    <img src="/resources/juego-hipodromo-2.jpg" alt="aladdin">
                </div>
                <div class="card-juegos-text">
                    <h2 class="type2-h1">Hipódromo</h2>
                    <p>El hipódromo electrónico es una experiencia llena de velocidad, emoción y
                        estrategia,
                        donde los caballos compiten en una pista virtual y tú apuestas por el ganador.
                    </p>
                    <br />
                    <div class="divider-card"></div>
                    <br />
                    <div class="content-btn-game">
                        <a class="btn-design1" href="#hipodromoelectrico">Saber más</a>
                    </div>
                </div>
            </div>
            <div class="card-juegos">
                <div class="card-juegos-img">
                    <img src="/resources/juegos-bingo-2.jpg" alt="aladdin">
                </div>
                <div class="card-juegos-text">
                    <h2 class="type2-h1">Bingo Electrónico</h2>
                    <p>El bingo electrónico moderniza la diversión tradicional con partidas más
                        rápidas,
                        múltiples cartones y premios instantáneos. Marca tus números, sigue el ritmo del sorteo
                        y siente la adrenalina crecer a medida que te acercas al esperado ¡BINGO!

                    </p>
                    <br />
                    <div class="divider-card"></div>
                    <br />
                    <div class="content-btn-game">
                        <a class="btn-design1" href="#bingoelectronico">Saber más</a>
                    </div>
                </div>
            </div>
            <div class="card-juegos">
                <div class="card-juegos-img">
                    <img src="/resources/slots-3.jpg" alt="aladdin">
                </div>
                <div class="card-juegos-text">
                    <h2 class="type2-h1">Máquinas Individuales</h2>
                    <p>Las máquinas individuales te ofrecen una experiencia única de juego, donde
                        tú marcas el ritmo.

                    </p>
                    <br />
                    <div class="divider-card"></div>
                    <br />
                    <div class="content-btn-game">
                        <a class="btn-design1" href="#maquinasindividuales">Saber más</a>
                    </div>
                </div>
            </div>
        </section>

    </section>
    <section style="padding-bottom: 20px;" class="titulo" id="promocion-seccion">
    </section>
    <section class="titulo" id="ubicacion-seccion">
    </section>
</body>

</html>