<!DOCTYPE html>
<html>

<head>
    <title>Juegos aladdin</title>
</head>

<body>
    <section>
        <div class="content-banner-entretenimiento" style="background-color: #171c1e;">
            <div class="info-game-entretenimiento">
                <div class="container">
                    <div class="content-info-game-entretenimiento">
                        <p>Acércate y vive la verdadera experiencia de un entretenimiento de verdad. <a
                                href="#contacto">Mas
                                información</a></p>
                    </div>
                </div>
            </div>
            <br />
            <section id="toMesas" class="item section-mesas-entretenimiento container">
                <h1 class="type1-h1-bold">Juegos para divertirse</h1>
                <br />
                <h1 class="type1-h1-bold">a lo grande como todo un
                    ganador.</h1>
                <br />
            </section>
        </div>
        <section class="content-membresia-entretenimiento">
            <div style="display: flex;width: 100%;" class="container">
                <div class="item content-info-membresia-entretenimiento">
                    <div class="card-view-entretenimiento">
                        <img src="/resources/MY-MAWI-CARD-PLATINO-1024x429-1.png" />
                    </div>
                    <div class="info-card-entretenimiento">
                        <p>Ven y ten tú membresia totalmente <strong>GRATIS</strong>.</p>

                    </div>
                    <div class="actions-card-entretenimiento">
                        <a href="#membresia">Mas información</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="video-container-entretenimiento">
            <video class="fondo-ruleta background-video-entretenimiento" autoplay muted loop playsinline>
                <!-- <source src="/resources/ruleta.mp4" type="video/mp4"> -->
            </video>
            <div class="content-text-entretenimiento">
                <div class="container">
                    <div class="titulo content-info-entretenimiento">
                        <div class="content-desc-entretenimiento">
                            <p class="titulo">La ruleta americana es el clásico de los casinos que combina elegancia,
                                estrategia y
                                adrenalina pura. Con su doble cero y 38 casillas en total, cada giro es una oportunidad
                                para
                                desafiar al azar y vivir la intensidad del juego en su máxima expresión.</p>
                        </div>
                        <div class="content-text-title-entretenimiento">
                            <div class="content-card-title-entretenimiento">
                                <h2 class="titulo type1-h1">Ruleta</h2>
                                <br />
                                <a href="#ruleta" class="titulo btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="video-container-entretenimiento">
            <video class="fondo-blackjack background-video-entretenimiento" autoplay muted loop playsinline>
                <!-- <source src="/resources/blackjack.mp4" type="video/mp4"> -->
            </video>
            <div class="content-text-entretenimiento">
                <div class="container">
                    <div class="titulo content-info-entretenimiento content-info-reverse-entretenimiento">
                        <div class="content-desc-entretenimiento">
                            <p class="titulo">El blackjack es un juego de cartas ágil, elegante y lleno de estrategia
                                donde el objetivo
                                es claro: vencer al crupier sin pasarte de 21.</p>
                        </div>
                        <div class="content-text-title-entretenimiento">
                            <div class="content-card-title-entretenimiento">
                                <h2 class="titulo type1-h1">BlackJack</h2>
                                <br />
                                <a href="#blackjack" class="titulo btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="video-container-entretenimiento">
            <video class="fondo-baccarat background-video-entretenimiento" autoplay muted loop playsinline>
                <!-- <source src="/resources/baccarat.mp4" type="video/mp4"> -->
            </video>
            <div class="content-text-entretenimiento">
                <div class="container">
                    <div class="titulo content-info-entretenimiento">
                        <div class="content-desc-entretenimiento">
                            <p class="titulo">El baccarat es un clásico del casino que ha cautivado a jugadores de alto
                                nivel y amantes
                                del azar por generaciones.</p>
                        </div>
                        <div class="content-text-title-entretenimiento">
                            <div class="content-card-title-entretenimiento">
                                <h2 class="titulo type1-h1">Baccarat</h2>
                                <br />
                                <a href="#baccarat" class="titulo btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="video-container-entretenimiento">
            <video class="fondo-ruletaE background-video-entretenimiento" autoplay muted loop playsinline>
                <!-- <source src="/resources/cartas-casino.mp4" type="video/mp4"> -->
            </video>
            <div class="content-text-entretenimiento">
                <div class="container">
                    <div class="content-info-entretenimiento content-info-reverse-entretenimiento">
                        <div class="content-desc-entretenimiento">
                            <p class="titulo">La ruleta electrónica combina lo mejor del clásico juego de casino con la
                                tecnología
                                moderna, ofreciendo una experiencia ágil, precisa y llena de adrenalina. </p>
                        </div>
                        <div class="titulo content-text-title-entretenimiento">
                            <div class="content-card-title-entretenimiento">
                                <h2 class="titulo type1-h1">Ruleta Electrónica</h2>
                                <br />
                                <a href="#ruletaelectronica" class="titulo btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="video-container-entretenimiento">
            <video class="fondo-hipodromo background-video-entretenimiento" autoplay muted loop playsinline>
                <!-- <source src="/resources/hipodromo.mp4" type="video/mp4"> -->
            </video>
            <div class="content-text-entretenimiento">
                <div class="container">
                    <div class="titulo content-info-entretenimiento">
                        <div class="content-desc-entretenimiento">
                            <p class="titulo">El hipódromo electrónico es una experiencia llena de velocidad, emoción y
                                estrategia,
                                donde los caballos compiten en una pista virtual y tú apuestas por el ganador. </p>
                        </div>
                        <div class="content-text-title-entretenimiento">
                            <div class="content-card-title-entretenimiento">
                                <h2 class="titulo type1-h1">Hipódromo</h2>
                                <br />
                                <a href="#hipodromoelectrico" class="titulo btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="video-container-entretenimiento">
            <video class="fondo-bingoE background-video-entretenimiento" autoplay muted loop playsinline>
                <!-- <source src="/resources/bingo.mp4" type="video/mp4"> -->
            </video>
            <div class="content-text-entretenimiento">
                <div class="container">
                    <div class="titulo content-info-entretenimiento content-info-reverse-entretenimiento">
                        <div class="content-desc-entretenimiento">
                            <p class="titulo">El bingo electrónico moderniza la diversión tradicional con partidas más
                                rápidas,
                                múltiples cartones y premios instantáneos. Marca tus números, sigue el ritmo del sorteo
                                y siente la adrenalina crecer a medida que te acercas al esperado ¡BINGO!</p>
                        </div>
                        <div class="content-text-title-entretenimiento">
                            <div class="content-card-title-entretenimiento">
                                <h2 class="titulo type1-h1">Bingo Electrónico</h2>
                                <br />
                                <a href="#bingoelectronico" class="titulo btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="video-container-entretenimiento">
            <video class="fondo-maquinas-indi background-video-entretenimiento" autoplay muted loop playsinline>
                <!-- <source src="/resources/maquinas-individuales.mp4" type="video/mp4"> -->
            </video>
            <div class="content-text-entretenimiento">
                <div class="container">
                    <div class="titulo content-info-entretenimiento">
                        <div class="content-desc-entretenimiento">
                            <p class="titulo">Las máquinas individuales te ofrecen una experiencia única de juego, donde
                                tú marcas el ritmo.</p>
                        </div>
                        <div class="content-text-title-entretenimiento">
                            <div class="content-card-title-entretenimiento">
                                <h2 class="titulo type1-h1">Máquinas Individuales</h2>
                                <br />
                                <a href="#maquinasindividuales" class="titulo btn btn-primary">Saber más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
    <section style="padding-bottom: 20px;" class="titulo" id="promocion-seccion">
    </section>
    <section class="titulo" id="ubicacion-seccion">
    </section>
</body>

</html>