.content-banner-entretenimiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 500px;
    background-image: linear-gradient(180deg, #27314f60, #27314f60), url(/resources/HS-EXTRA-BONO-ALADDIN-2025.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.info-game-entretenimiento {
    width: 100%;
    height: auto;
    background-color: #1d1d1f;
}

.content-info-game-entretenimiento {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: white;
}

.content-info-game-entretenimiento p {
    font-size: 1.6rem;
}

.content-info-game-entretenimiento a {
    color: #c0c0c0;
    transition: all 0.4s ease;
}

.content-info-game-entretenimiento a:hover {
    color: #CB0404;
}


.section-mesas-entretenimiento {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    line-height: 7rem;
    padding-top: 35px;
}

.section-mesas-entretenimiento h1 {
    color: #fff;
    text-shadow:
        0 0 15px #000,
        0 0 1px #000,
        0 0 1px #000,
        0 0 1px #000,
        0 0 1px #000,
        0 0 1px #000,
        0 0 1px #000;
}

.content-card-juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    gap: 32px;
}

.card-juegos:hover .card-juegos-text>h2 {
    color: #CB0404;
}

.card-juegos:hover .card-juegos-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card-juegos {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
}

.card-juegos-img {
    width: 300px;
    height: 50%;
    overflow: hidden;
}

.card-juegos-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    -webkit-transition: -webkit-transform 0.4s ease;
}

.card-juegos-img img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card-juegos-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 50%;
    padding: 20px 0;
}

.card-juegos-text>h2 {
    font-family: 'lovelace', sans-serif !important;
    font-size: 1.6rem;
    padding-bottom: 5px;
}

.card-juegos-text p {
    font-size: 1.6rem;
    color: rgb(153, 153, 153);
}

.divider-card {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 1px;
    background-color: #c2c2c2;
}

.content-btn-game {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    right: 0;
}

.content_juegos_inte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 20px 0;
}

.card_juego_inte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.content_img_inte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_img_inte img {
    width: 150px;
    border-radius: 30px;
}

.content_text_inte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_text_inte a {
    color: #1d1d1f;
    transition: all 0.4s ease;
}

.content_text_inte a:hover {
    opacity: 0.7;
    cursor: pointer;
}

   .content_seccion_juegos_inte {
        display: none;
    }

@media (max-width:768px) {
    .card-juegos {
        width: 90%;
        border-radius: 15px;
    }

    .card-juegos-img {
        width: 100%;
    }

    .card-juegos-text {
        width: 100%;
    }

    .section-mesas-entretenimiento {
        line-height: 3rem;
    }

    .content_seccion_juegos_inte {
        display: none;
    }
}