.content-banner-entretenimiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 500px;
    background-color:  #CB0404;
}

.info-game-entretenimiento {
    width: 100%;
    height: auto;
    background-color: #1d1d1f;
}

.content-info-game-entretenimiento {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: white;
}

.content-info-game-entretenimiento a {
    color: #c0c0c0;
    transition: all 0.4s ease;
}

.content-info-game-entretenimiento a:hover {
    color: #CB0404;
}


.section-mesas-entretenimiento {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    line-height: 5rem;
    padding-top: 35px;
}

.section-mesas-entretenimiento h1 {
    color: #fff;
    text-shadow:
        0 0 15px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 1px #fff;
}

.video-container-entretenimiento {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    margin-bottom: 10px;
}

.background-video-entretenimiento {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}


.video-container-entretenimiento::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    pointer-events: none;
}

.fondo-ruleta {
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    background-image: url(/resources/ruleta-juego.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-blackjack {
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    background-image: url(/resources/blackjack-juego.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-baccarat {
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    background-image: url(/resources/baccarat-juego.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-ruletaE {
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    background-image: url(/resources/ruletaE-juego.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-hipodromo {
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    background-image: url(/resources/hipodromo-juego.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-bingoE {
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    background-image: url(/resources/dados-juego.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-maquinas-indi {
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    background-image: url(/resources/maquina-individual-juego.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.content-text-entretenimiento {
    display: flex;
    justify-content: start;
    align-content: center;
    text-align: center;
    position: relative;
    height: 100%;
    z-index: 3;
}

.content-info-entretenimiento {
    display: flex;
    width: 100%;
    height: 100%;
}

.content-info-reverse-entretenimiento {
    flex-direction: row-reverse;
}

.content-desc-entretenimiento {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    color: white;
}

.content-desc-entretenimiento p {
    text-shadow: 2px 2px 2px #171c1e;
    font-size: 1.2rem;
}


.content-text-title-entretenimiento {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
}

.content-card-title-entretenimiento {
    width: auto;
    text-align: center;
    height: auto;
    padding: 20px;
}

.content-card-title-entretenimiento h2{
    color: #fff;
}


@media (max-width:768px) {

    .content-banner-entretenimiento {
        height: 40vh;
    }

    .content-info-reverse-entretenimiento {
        flex-direction: row;
    }

    .section-mesas-entretenimiento {
        line-height: 2rem;
    }

    .content-info-membresia-entretenimiento {
        flex-direction: column;
    }

    .card-view-entretenimiento {
        width: 100%;
    }

    .card-view-entretenimiento img {
        width: 90%;
    }

    .info-card-entretenimiento {
        width: 100%;
    }

    .actions-card-entretenimiento {
        width: 100%;
    }

    .content-info-entretenimiento {
        flex-direction: column-reverse;
    }

    .content-desc-entretenimiento {
        width: 100%;
    }

    .content-text-title-entretenimiento {
        width: 100%;
    }



    .video-container-entretenimiento {
        padding: 40px;
        height: auto;
    }
}