<!DOCTYPE html>
<html>

<head>
    <title>ALADDIN SÉPTIMA</title>
</head>

<body>
    <section class="container">
        <div class="content-info-casino">
            <div class="content-info-casino-img">
                <img src="/resources/bogota-centro_internacional-300x168.jpg" />
            </div>
            <div class="content-info-casino-text">
                <h1 class="type2-h1">ALADDIN TEQUENDAMA</h1>
                <br />
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Teléfono:</h3>
                    </div>
                    <div class="content-text">
                        317 437 1141
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Ciudad:</h3>
                    </div>
                    <div class="content-text">
                        BOGOTÁ

                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3> Dirección:</h3>
                    </div>
                    <div class="content-text">
                        <p>Local 153, Cra. 10 #27-27, Bogotá.</p>
                        <br />
                        <p>C.C. Tequendama local 153</p>
                    </div>
                </div><br />
                <div class="btn-ubicacion">
                    <a id="toTequendama" class="btn-design1">Como llegar con google maps</a>
                </div>
            </div>
        </div>
        <div class="text-casino">
            <p class="type1-p">Ubicado a unos pasos del Centro Internacional Tequendama en Bogotá, reconocido punto
                estratégico para todas las actividades económicas, sociales y políticas de la ciudad. Cuenta con un
                amplio espacio para entretenerse y salir de la rutina diaria que alberga a propios y extranjeros; Su
                diseño elegante y sobrio hace de este un espacio llamativo e interesante de visitar. Sus grandes
                sorpresas y promociones garantizan una experiencia inolvidable que no puedes dejar de vivir.</p>
        </div>
        <div style="text-align: center;padding: 30px;">
            <a class="btn-design1" href="#casinos?id=casinosBogota">Volver a los casinos</a>
        </div>
        <!-- IGUAL -->
        <section id="juegos-view-seccion">
        </section>
    </section>
    <section id="ubicacion-seccion">
    </section>
</body>

</html>