<div class="section-juegos-casinos">
    <h1 style="padding: 10px 0;" class="type1-h1">JUEGOS</h1>
    <div id="toJuegos" class="content-juegos-casinos">
        <div class="content-juegos-casinos-card">
            <div class="content-juego-img">
                <img src="/resources/blackjack-pl.jpg" />
            </div>
            <div class="content-juegos-text">
                <h1 class="type2-h1">BlackJack</h1>
                <a href="#juegos">CONOCER MÁS</a>
            </div>
        </div>
        <div class="content-juegos-casinos-card">
            <div class="content-juego-img">
                <img src="/resources/ruleta-pl.jpg" />
            </div>
            <div class="content-juegos-text">
                <h1 class="type2-h1">Ruleta</h1>
                <a href="#juegos">CONOCER MÁS</a>
            </div>
        </div>
        <div class="content-juegos-casinos-card">
            <div class="content-juego-img">
                <img src="/resources/wp10955681.jpg" />
            </div>
            <div class="content-juegos-text">
                <h1 class="type2-h1">Baccarat</h1>
                <a href="#juegos">CONOCER MÁS</a>
            </div>
        </div>
    </div>
</div>