<div class="section-juegos-casinos">
    <h1 style="padding: 10px 0;" class="type1-h1">Juegos y Eventos</h1>
    <div class="content-juegos-casinos">
        <div title="Eventos en Vivo" class="content-juegos-casinos-card">
            <div class="content-juego-img">
                <a href="#en_vivo">
                    <img src="/resources/dinamica.jpg" />
                </a>
            </div>
            <div class="content-juegos-text">
                <h1 class="type2-h1">Eventos en vivo</h1>
                <a href="#en_vivo">CONOCER MÁS</a>
            </div>
        </div>
        <div title="Juegos" class="content-juegos-casinos-card">
            <div class="content-juego-img">
                <a href="#juegos">
                    <img src="/resources/ruleta-pl.jpg" />
                </a>
            </div>
            <div class="content-juegos-text">
                <h1 class="type2-h1">Ruleta</h1>
                <a href="#juegos">CONOCER MÁS</a>
            </div>
        </div>
        <div title="Juegos" class="content-juegos-casinos-card">
            <div class="content-juego-img">
                <a href="#juegos">
                    <img src="/resources/maquina-individual-juego.png" />
                </a>
            </div>
            <div class="content-juegos-text">
                <h1 class="type2-h1">Slots</h1>
                <a href="#juegos">CONOCER MÁS</a>
            </div>
        </div>
    </div>
</div>