<section class="container promocion-container">
  <div class="content_title_promo_view">
    <h1 id="_title_promos_view_" class="type1-h1">Promociones activas</h1>
  </div>
  <section class="card-view ">
    <div class="content-card-promo">
      <!-- ENERO -->
      <div style="display: none;" id="promociones_enero">
        <div class="content-card-promo">
          <section title="MYMAWI Te Premia" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#mymawitepremia">
                <img src="/resources/benner-mymawi.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">MYMAWI Te Premia</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#mymawitepremia" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>
          <section title="Mr. Bonus" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#mr_bonus">
                <img style="width: 130px;" src="/resources/MRBONUS_LOGO.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Mr. Bonus</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#mr_bonus" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

        </div>
      </div>

      <!-- FEBRERO -->
      <div style="display: none;" id="promociones_febrero">
        <div class="content-card-promo">
          <section title="Promoción Dados Mágicos" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#dadosmagicos">
                <img style="width: 200px;" src="/resources/logo_dados_magicos.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Dados Mágicos</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#dadosmagicos" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>
          <section title="Promoción Lámpara de la Suerte" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#lampara">
                <img style="width: 200px;" src="/resources/logo.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Lámpara de la Suerte</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#lampara" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>


          <section title="Vamos en Grande" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#vamosengrande">
                <img style="width: 200px;" src="/resources/logo_vamos_en_grande.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Vamos en Grande</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#vamosengrande" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- MARZO -->
      <div style="display: none;" id="promociones_marzo">
        <div class="content-card-promo">
          <section title="Promoción Ruleta de Premios" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#ruletadepremios">
                <img style="width: 200px;" src="/resources/logo_ruleta_premios.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Ruleta de Premios</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#ruletadepremios" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>
          <section title="Promoción Vuelta al Mundo" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#vueltalmundo">
                <img style="width: 200px;" src="/resources/Logo_vuelta.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">La Vuelta al Mundo</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#vueltalmundo" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Promoción Aladdin Tesla" class="card-promo">
            <div style="background-color: red;" class="card-image">
              <a href="#casinosonesta?id=close" style="height: 100%;">
                <img style="object-fit: cover;" src="/resources/PROMO_TESLA.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">El Tesla de Aladdin</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#casinosonesta?id=close" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>


          <section title="Vamos en Grande" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#vamosengrande">
                <img style="width: 200px;" src="/resources/logo_vamos_en_grande.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Vamos en Grande</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#vamosengrande" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- ABRIL -->
      <div style="display: none;" id="promociones_abril">
        <div class="content-card-promo">
          <section title="Promoción 88 Fortunes" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#fortunes88">
                <img style="width: 200px;" src="/resources/logo_88_fortune.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">88 Fortunes</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#fortunes88" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Promoción Bola Dorada" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#boladorada">
                <img style="width: 200px;" src="/resources/logo_bola_dorada.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Bola Dorada</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#boladorada" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Promoción Aladdin Tesla" class="card-promo">
            <div style="background-color: red;" class="card-image">
              <a href="#tesla_aladdin" style="height: 100%;">
                <img style="object-fit: cover;" src="/resources/PROMO_TESLA.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">El Tesla de Aladdin</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#tesla_aladdin" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Vamos en Grande" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#vamosengrande">
                <img style="width: 200px;" src="/resources/logo_vamos_en_grande.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Vamos en Grande</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#vamosengrande" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Vamos en Grande" class="card-promo">
            <div style="background-color: #07090C;" class="card-image">
              <a href="#cinecasino">
                <img src="/resources/PROMO_MJ.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Del Cine al Casino</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#cinecasino" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- MAYO -->
      <div style="display: none;" id="promociones_mayo">
        <div class="content-card-promo">

          <section title="Promoción BlackJack Express" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#blackjackexpress">
                <img style="width: 200px;" src="/resources/Logo-black-jack-express.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">BlackJack Express</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#blackjackexpress" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Promoción Dados de Póker" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#dadospoker">
                <img style="width: 200px;" src="/resources/LOGO-DADOS-DE-POKER.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Dados de Póker</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#dadospoker" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Promoción Aladdin Tesla" class="card-promo">
            <div style="background-color: red;" class="card-image">
              <a href="#tesla_aladdin" style="height: 100%;">
                <img style="object-fit: cover;" src="/resources/PROMO_TESLA.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">El Tesla de Aladdin</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#tesla_aladdin" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Vamos en Grande" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#vamosengrande">
                <img style="width: 200px;" src="/resources/logo_vamos_en_grande.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Vamos en Grande</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#vamosengrande" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section style="display: none;" title="Vamos en Grande" class="card-promo">
            <div style="background-color: #07090C;" class="card-image">
              <a href="#cinecasino">
                <img src="/resources/PROMO_MJ.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Del Cine al Casino</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#cinecasino" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

        </div>
      </div>

      <!-- JUNIO JULIO -->
      <div style="display: none;" id="promociones_junio">
        <div class="content-card-promo">
          <section title="La Jugada Ganadora" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#jugadaganadora">
                <img style="width: 140px;" src="/resources/logo_jugada_ganadora_.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Jugada Ganadora</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#jugadaganadora" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Fiebre Futbolera" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#fiebrefutbolera">
                <img style="width: 140px;" src="/resources/logo_FF.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Fiebre Futbolera</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#fiebrefutbolera" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Vamos en Grande" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#vamosengrande">
                <img style="width: 200px;" src="/resources/logo_vamos_en_grande.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Vamos en Grande</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#vamosengrande" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>
      <br />

      <!-- AGOSTO -->
      <div style="display: none;" id="promociones_agosto">
        <div class="content-card-promo">
          <section title="MYMAWI Te Premia" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#mymawitepremia">
                <img style="width: 140px;" src="/resources/MY-MAWI-BLANCO.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">MYMAWI Te Premia</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#mymawitepremia" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Tren de Premios" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#trenpremios">
                <img style="width: 140px;" src="/resources/logo-tren.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Tren de Premios</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#trenpremios" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Vamos en Grande" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#vamosengrande">
                <img style="width: 200px;" src="/resources/logo_vamos_en_grande.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Vamos en Grande</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#vamosengrande" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>


       <!-- SEPTIEMBRE -->
      <div style="display: none;" id="promociones_septiembre">
        <div class="content-card-promo">
          <section title="El Flechazo de Cupido" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#flechazocupido">
                <img style="width: 140px;" src="/resources/logo_flechazo_cupido.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">El Flechazo de Cupido</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#flechazocupido" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Match Perfecto" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#matchperfecto">
                <img style="width: 140px;" src="/resources/logo_match_perfecto.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Match Perfecto</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#matchperfecto" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>

          <section title="Vamos en Grande" class="card-promo">
            <div style="background-color: #CB0404;" class="card-image">
              <a href="#vamosengrande">
                <img style="width: 200px;" src="/resources/logo_vamos_en_grande.png" alt="Aladdin" />
              </a>
            </div>
            <div class="card-content">
              <h1 class="type2-h1">Vamos en Grande</h1>
              <div class="content-a" style="text-align: center;margin-top: 20px;">
                <a href="#vamosengrande" class="link-flecha">Conocer promoción</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</section>