<section class="promocion-container">
  <div style="text-align: center;padding: 20px;">
    <h1 style="color: #CB0404;" class="type1-h1">Promociones activas</h1>
  </div>
  <section class="card-view ">
    <div class="content-card-promo">
      <!-- <section class="card-promo">
        <div class="card-image">
          <img src="/resources/lamparadelasuerte.png" alt="Imagen 1" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
          <h1  style="color: #1F253A;" class="type4-h1">Lámpara de la Suerte</h1>
          <p>
            Descubre la magia de la Lámpara de la Suerte,
            un símbolo de fortuna que ilumina tus mejores momentos.
          </p>
          <div style="text-align: center;margin-top: 20px;">
            <button onclick="toLampara()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div class="card-image">
          <img src="/resources/girodorado.png" alt="Imagen 2" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
          <h1  style="color: #1F253A;" class="type4-h1">
            Giro Dorado
          </h1>
          <p>
            Prepárate para vivir la emoción del Giro Dorado,
            donde cada vuelta puede convertir tu momento en oro.
          </p>
          <div style="text-align: center;margin-top: 20px;">
            <button onclick="toGiroDorado()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div class="card-image">
          <img src="/resources/dadospoker.png" alt="Imagen 2" />
        </div>
        <div class="card-divider"></div>
        <div class="card-content">
          <h1 style="color: #1F253A;" class="type4-h1">
            Dados de Póker
          </h1>
          <p>
            Lanza los Dados de Póker y deja que la suerte defina tu jugada maestra.
          </p>
          <div style="text-align: center;margin-top: 20px;">
            <button onclick="toDadosPoker()" class="btn-design1">Conocer promoción</button>
          </div>
        </div>
      </section> -->
      <!-- <section class="card-promo">
        <div  class="card-image">
          <img src="/resources/MYMAWI-te-premia.png" alt="Imagen 1" />
        </div>
        <div class="card-content">
          <h2 class="type3-h1">MYMAWI Te premia</h2>
          <p>
            Participa en nuestra promoción y acumula beneficios cada vez que juegas. Regalos, bonos y premios te están
            esperando. Solo por ser cliente.
          </p>
          <div class="content-a" style="text-align: center;margin-top: 20px;">
            <a href="#mymawitepremia" class="link-flecha">Conocer promoción</a>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div style="background-color: black;" class="card-image">
          <img src="/resources/PROMO-CASCADA-PREMIOS.png" alt="Imagen 1" />
        </div>
        <div class="card-content">
          <h2 class="type3-h1">Cascada de Premios</h2>
          <p>
            ¡Viernes de pura emoción! Cada viernes de julio puedes participar por bonos instantáneos en nuestras
            máquinas y mesas.
          </p>
          <div class="content-a" style="text-align: center;margin-top: 20px;">
            <a href="#cascadapremios" class="link-flecha">Conocer promoción</a>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div style="background-color: black;" class="card-image">
          <img src="/resources/PROMO-GANAYA.png" alt="Imagen 1" />
        </div>
        <div class="card-content">
          <h2 class="type3-h1">Gana ya</h2>
          <p>
            Premios al instante, sin esperas. <br/>¡Solo juega, participa y gana en segundos!
          </p>
          <br />
          <br />
          <div class="content-a" style="text-align: center;margin-top: 20px;">
            <a href="#ganaya" class="link-flecha">Conocer promoción</a>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div  class="card-image">
          <img src="/resources/PROMO-BINGO-LOCURA.png" alt="Imagen 1" />
        </div>
        <div class="card-content">
          <h2 class="type3-h1">Bingo Locura</h2>
          <p>
            ¡Bingo con más emoción y más premios! Disfruta partidas especiales y sorpresas únicas.
          </p>
          <div class="content-a" style="text-align: center;margin-top: 20px;">
            <a href="#bingolocura" class="link-flecha">Conocer promoción</a>
          </div>
        </div>
      </section>
      <section class="card-promo">
        <div  class="card-image">
          <img src="/resources/PROMO-SUPER-BINGO.png" alt="Imagen 1" />
        </div>
        <div class="card-content">
          <h2 class="type3-h1">Super Bingo</h2>
          <p>
            Una partida, muchos ganadores. Participa en sesiones de alto impacto.
          </p>
          <div class="content-a" style="text-align: center;margin-top: 20px;">
            <a href="#superbingo" class="link-flecha">Conocer promoción</a>
          </div>
        </div>
      </section> -->

      <section id="toBlackjackexpress" class="card-promo">
        <div class="card-image">
          <img src="/resources/PROMO-BLACK-JACK-EXPRESS.png" alt="Imagen 1" />
        </div>
        <div class="card-content">
          <h2 class="type3-h1">BlackJack Express</h2>
          <p>
            Participa en nuestra promoción BlackJack Express y prepárate para vivir la emoción del juego como nunca
            antes.
          </p>
          <div class="content-a" style="text-align: center;margin-top: 20px;">
            <a href="#blackjackexpress" class="link-flecha">Conocer promoción</a>
          </div>
        </div>
      </section>
      <section id="toTrenpremios" class="card-promo">
        <div class="card-image">
          <img src="/resources/PROMO-TREN-PREMIOS.png" alt="Imagen 1" />
        </div>
        <div class="card-content">
          <h2 class="type3-h1">Tren de Premios</h2>
          <p>
            Cada parada es una nueva oportunidad de ganar bonos, promociones y recompensas exclusivas.
          </p>
          <div class="content-a" style="text-align: center;margin-top: 20px;">
            <a href="#trenpremios" class="link-flecha">Conocer promoción</a>
          </div>
        </div>
      </section>

    </div>
    <br />
    <!-- <div class="content-a-promo" style="text-align: center;margin-top: 20px;">
      <a href="#promociones" class="link-flecha-promo">Saber más</a>
    </div> -->
  </section>
</section>