<!DOCTYPE html>
<html>

<head>
    <title>ALADDIN CALLE SARMIENTO</title>
</head>

<body>
    <section class="container">
        <div class="content-info-casino">
            <div class="content-info-casino-img">
                <img src="/resources/tulua-calle_sarmiento-300x169.jpg" />
            </div>
            <div class="content-info-casino-text">
                <h1 class="type2-h1">ALADDIN CALLE SARMIENTO</h1>
                <br />
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Teléfono:</h3>
                    </div>
                    <div class="content-text">
                        602 226 2286
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Ciudad:</h3>
                    </div>
                    <div class="content-text">
                        TULUÁ
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3> Dirección:</h3>
                    </div>
                    <div class="content-text">
                        <p>Cl. 27 # 26 - 31, Tuluá, Valle del Cauca</p>
                    </div>
                </div>
                <div class="btn-ubicacion">
                    <button id="toSarmiento" class="btn-design1">Como llegar con google maps</button>
                </div>
            </div>
        </div>
        <div class="text-casino">
            <p class="type1-p">Tuluá más conocida como “El corazón del Valle”, cuenta con local ubicado en la calle
                Sarmiento; es un lugar moderno, acogedor para disfrutar, divertirse y pasar un momento agradable, cálido
                y lleno de diversión.</p>
        </div>
        <div style="text-align: center;padding: 30px;">
            <a class="btn-design1" href="#casinos?id=casinosTulua">Volver a los casinos</a>
        </div>
        <!-- IGUAL -->
        <section id="juegos-view-seccion">
        </section>
    </section>
    <section id="ubicacion-seccion">
    </section>
</body>

</html>