<!DOCTYPE html>
<html>

<head>
    <title>POLÍTICA DE TRATAMIENTO DE DATOS</title>
</head>

<body>
    <section class="content_main_tcn">
        <div class="container">
            <div class="content_head_tcn">
                <div>
                    <img class="people_talento_1" src="/resources/people_talento_2.png" alt="aladdin">
                </div>
                <div class="content_title_talento">
                    <h2 class="type1-h1">Trabaja con nosotros</h2>
                    <h2 class="type2-h1">Y forma parte de la gran familia</h2>
                    <img src="/resources/logo-aladdin.png" alt="aladdin">
                </div>
                <div>
                    <img class="people_talento_2" src="/resources/people_talento.png" alt="aladdin">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card_contacto_talento">
                <div class="card_content_img">
                    <h2 class="type1-h1">Talento en Cali</h2>
                </div>
                <div class="card_content_text">
                    <p class="type2-h1">Contacto</p>
                    <p class="type2-h1"> <span style="opacity: 0.7;color:#681616 ;">Correo:</span>
                        <a href="mailto:seleccion@vivealaddin.com">seleccion@vivealaddin.com</a>
                    </p>
                    <p class="type2-h1"> <span style="opacity: 0.7;color:#681616 ;">N. Cel:</span> (+57) 318-268-0722
                    </p>
                    <span class="content_msn_talento">Si vives en Cali o zonas cercanas, te invitamos a enviar tu hoja
                        de vida con FOTO ACTUALIZADA </span>
                </div>
            </div>
            <br />
            <div class="card_contacto_talento">
                <div class="card_content_img">
                    <h2 class="type1-h1">Talento en Bogotá</h2>
                </div>
                <div class="card_content_text">
                    <p class="type2-h1">Contacto</p>
                    <p class="type2-h1"> <span style="opacity: 0.7;color:#681616 ;">Correo:</span>
                        <a href="mailto:bog_auxnomina@vivealaddin.com">bog_auxnomina@vivealaddin.com</a>
                    </p>
                </div>
            </div>
            <br />
            <div class="card_contacto_talento">
                <div class="card_content_img">
                    <h2 class="type1-h1">Talento en Barranquilla</h2>
                </div>
                <div class="card_content_text">
                    <p class="type2-h1">Contacto</p>
                    <p class="type2-h1"> <span style="opacity: 0.7;color:#681616 ;">Correo:</span>
                        <a href="mailto:baq_operativo@vivealaddin.com">baq_operativo@vivealaddin.com</a>
                    </p>
                </div>
            </div>
            <br />
            <div class="card_contacto_talento">
                <div class="card_content_img">
                    <h2 class="type1-h1">Talento en Pereira</h2>
                </div>
                <div class="card_content_text">
                    <p class="type2-h1">Contacto</p>
                    <p class="type2-h1"> <span style="opacity: 0.7;color:#681616 ;">Correo:</span>
                        <a href="mailto:per_asisadtvo@vivealaddin.com">per_asisadtvo@vivealaddin.com</a>
                    </p>
                </div>
            </div>
            <br />
            <div class="card_contacto_talento">
                <div class="card_content_img">
                    <h2 class="type1-h1">Talento en Buga</h2>
                </div>
                <div class="card_content_text">
                    <p class="type2-h1">Contacto</p>
                    <p class="type2-h1"> <span style="opacity: 0.7;color:#681616 ;">Correo:</span>
                        <a href="mailto:dir.a09@vivealaddin.com">dir.a09@vivealaddin.com</a>
                    </p>
                    <span class="content_msn_talento">Si vives en Buga o zonas cercanas, te invitamos a enviar tu hoja
                        de vida con FOTO ACTUALIZADA </span>
                </div>
            </div>
            <br />
            <div class="card_contacto_talento">
                <div class="card_content_img">
                    <h2 class="type1-h1">Talento en Tuluá</h2>
                </div>
                <div class="card_content_text">
                    <p class="type2-h1">Contacto</p>
                    <p class="type2-h1"> <span style="opacity: 0.7;color:#681616 ;">Correo:</span>
                        <a href="mailto:dir.A38@vivealaddin.com">dir.A38@vivealaddin.com</a>
                    </p>
                </div>
            </div>
            <br />
            <div class="card_contacto_talento">
                <div class="card_content_img">
                    <h2 class="type1-h1">Talento en Monteria</h2>
                </div>
                <div class="card_content_text">
                    <p class="type2-h1">Contacto</p>
                    <p class="type2-h1"> <span style="opacity: 0.7;color:#681616 ;">Correo:</span>
                        <a href="mailto:carlosg@vivealaddin.com">carlosg@vivealaddin.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content_asunto_talento">
                <h2 class="type2-h1">Si deseas enviar tus datos.</h2>
                <br />
                <p class="type3-h1">Puedes hacerlo con el asunto del correo, especificando tu nombre, apellido y ciudad.
                    <br /> Y en el cuerpo del mensaje no olvides colocar nuevamente tu nombre completo y la ciudad en la
                    que te encuentras. Dependiendo de las necesidades de la empresa se estará comunicando contigo.</p>
            </div>
        </div>

        <section style="padding-bottom: 20px;" class="titulo container" id="promocion-seccion">
    </section>
    <section class="titulo" id="ubicacion-seccion">
    </section>
    <div class="container">
        <section id="juegos-view-seccion">
    </div>
    </section>
</body>

</html>