<!DOCTYPE html>
<html>

<head>
    <title>Informacion Super Salud Aladdin</title>
</head>

<body>
    <section class="container">
        <section class="content_info_super_salud">
            <h1 class="type1-h1">Información Super Salud</h1>
            <div class="content_card_s_s">
                <div class="card_s_s">
                    <img src="/resources/aladdin.png" alt="Aladdin">
                    <a href="https://vivealaddin.com/estado-financiero-aladdin-2023/">ESTADOS FINANCIEROS 2023</a>
                    <a href="https://vivealaddin.com/estado-financiero-aladdin-2024/">ESTADOS FINANCIEROS 2024</a>
                </div>
                <div class="card_s_s">
                    <img src="/resources/Fox.png" alt="Aladdin">
                    <a href="https://vivealaddin.com/estado-financiero-fox-2023/">ESTADOS FINANCIEROS 2023</a>
                    <a href="https://vivealaddin.com/estado-financiero-fox-2024/">ESTADOS FINANCIEROS 2024</a>
                </div>
                <div class="card_s_s">
                    <h2 style="color: white;font-family: Roboto, Sans-serif;font-size: 4rem;font-weight: 600;">SEJEVE</h2>
                    <a href="https://vivealaddin.com/estado-financiero-sejeve-2023/">ESTADOS FINANCIEROS 2023</a>
                    <a href="https://vivealaddin.com/estado-financiero-sejeve-2024/">ESTADOS FINANCIEROS 2024</a>
                </div>
                <div class="card_s_s">
                    <img src="/resources/MYMAWI-card.png" alt="Aladdin">
                    <a href="https://vivealaddin.com/estado-financiero-mymawi-2023/">ESTADOS FINANCIEROS 2023</a>
                </div>
            </div>
        </section>
    </section>
</body>

</html>