<!DOCTYPE html>
<html>

<head>
    <title>Inicio Casino Aladdin</title>
</head>

<body>
    <div style="position: relative;">
        <section class="content-prueba">
            <div class="section-start-home container">
                <div class="start-content-img">
                    <img src="" />
                </div>
                <div class="start-content-text">
                    <h1 class="item type1-h1-bold">La magia está en ti</h1>
                </div>
            </div>
        </section>
    </div>
    <section class="container">
        <section class="section-start-promociones">
            <div>
                <section class="titulo container" id="promocion-seccion">
                </section>
                <br />
            </div>
        </section>
        <section class="section-start-tarjeta">
            <div class="titulo section-start-tarjeta-text">
                <p class="type1-p">¡Solo para ganadores como tú!</p>
                <h1 style="color: #000;" class="type1-h1">Una tarjeta Exclusiva</h1>
                <br />
                <div class="content-tarjeta-a">
                    <a href="#membresia">Aprénde a como ganar</a>
                </div>
            </div>
        </section>
        <section class="section-start-ubicacion">
            <div class="titulo section-start-ubicacion-text">
                <h1 style="color: #000;"  class="type1-h1">¿Dónde vivir la</h1>
                <h1 style="color: #000;"  class="type1-h1">Diversión?</h1>
                <br />
                <p class="type1-p">Tenemos casinos en Colombia para que vivas momentos únicos.</p>
                <br />
                <div class="content-ubicacion-a">
                    <a href="#casinos">Conócenos</a>
                </div>
            </div>
        </section>
        <section class="parahacer">
            <div class="titulo container">
                <h1 style="color: #000;"  class="type1-h1">¿Qué hay para hacer?</h1>
                <br />
                <p class="type1-p">La diversión en Aladdin se vive en nuestras mesas de Black Jack, Baccarat y Ruleta,
                    contamos también con máquinas individuales de juego, tanto clásicas como de última generación y
                    nuestrás máquinas colectivas de hípicas, ruleta y bingo.</p>
                <br />
                <p class="type1-p">Conóce nuestra oferta de entretenimiento y descubre que la magia está en ti.</p>
                <br />
                 <div class="content-ubicacion-a">
                    <a href="#juegos">Saber más</a>
                </div>
            </div>
        </section>
    </section>
</body>

</html>