<!DOCTYPE html>
<html>

<head>
    <title>Inicio Casino Aladdin</title>
</head>

<body>
    <section class="background-home">
        <div class="container">
            <div class="section-ini">
                <div class="content-title-home">
                    <div style="transform: rotate(-45deg);">
                        <img src="/resources/logo-aladdin.png" alt="aladdin">
                        <p style="font-family: 'Quicksand', sans-serif;" class="type2-h1">La <span
                                style="font-family: 'lovelace',sans-serif;"> magia</span> está
                            en ti</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div id="promocion-seccion"></div>
        </div>
    </section>

    <section class="ubicaciones-o" id="ubicaciones">
        <div class="">
            <h2 style="text-align: center;color: #27314F;padding: 20px;" class="type1-h1">Ubicaciones</h2>
            <div class="content-card-ubicacion">
                <div class="card-ubicacion">
                    <div class="card-ubicacion-img">
                        <a href="#ubicacionCali">
                            <img src="/resources/banner-07-2.png" alt="aladdin">
                        </a>
                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type4-h1">Cali </h3>
                        <p>En la Sultana del Valle, la alegría y el encanto se unen en una experiencia inolvidable
                            de
                            juego y entretenimiento que puedes vivir en cualquiera de nuestros ocho casinos.</p>
                        <small>
                            <a href="#casinokaraoke">Karaoke</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinoplazacayzedo">Plaza Cayzedo</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinocosmocentrocali">Cosmocentro</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinocosmocentromitierra">Mi Tierra - Cosmo</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinosportbar">Sport Bar</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinoterminal2">Terminal #1 y #2</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinocalima">Calima</a><strong style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinomallplazacali">Mall Plaza</a>
                        </small>

                        <div class="content-a-card">
                            <a class="btn-design1" href="#ubicacionCali">Saber más</a>
                        </div>

                    </div>
                </div>
                <div class="card-ubicacion">
                    <div class="card-ubicacion-img">
                        <a href="#ubicacionBogota">
                            <img src="/resources/bogota_tenquendama_head.png" alt="aladdin">
                        </a>
                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type4-h1">Bogotá</h3>
                        <p>La capital de colombia, donde puedes descubrir lugares donde la diversión y el encanto se
                            unen en dos espacios únicos dentro de la ciudad.</p>
                        <small>
                            <a href="#casinotequendama">Tenquendama</a>
                        </small>
                        <small>
                            <a href="#casinoseptima">Septima</a>
                        </small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#ubicacionBogota">Saber más</a>
                        </div>
                    </div>
                </div>
                <div class="card-ubicacion">
                    <div class="card-ubicacion-img">
                        <a href="#ubicacionBarranquilla">
                            <img src="/resources/casino-de-barranquilla-card.jpg" alt="aladdin">
                        </a>
                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type4-h1">Barranquilla</h3>
                        <p>Vive momentos únicos en un ambiente lleno de alegría, emoción y ese toque especial que
                            hace
                            de cada visita una experiencia inolvidable. Aladdin en Barranquilla te invita a
                            disfrutar,
                            compartir y dejarte llevar por la magia del buen juego.</p>
                       <small>
                            <a href="#casinodragonfenix">Dragon Fénix</a>
                        </small>
                        <small>
                            <a href="#casinomallplazabarra">MallPlaza</a>
                        </small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#ubicacionBarranquilla">Saber más</a>
                        </div>

                    </div>
                </div>
                <div class="card-ubicacion">
                    <div class="card-ubicacion-img">
                        <a href="#ubicacionPereira">
                            <img src="/resources/A-88-7343-2.jpg" alt="aladdin">
                        </a>

                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type4-h1">Pereira</h3>
                        <p>En la encantadora Perla del Otún, Aladdin te invita a disfrutar de cuatro espacios únicos
                            llenos de diversión, emoción y entretenimiento. Cada rincón está diseñado para hacerte
                            sentir como
                            en casa.</p>
                        <small>
                            <a href="#casinola18">De la 18</a><strong style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinomitierraunicentro">Mi Tierra</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinola22">De la 22</a><strong style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinolago">Del lago</a>
                        </small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#ubicacionPereira">Saber más</a>
                        </div>

                    </div>
                </div>
                <div class="card-ubicacion">
                    <div class="card-ubicacion-img">
                        <a href="#casinomonteria">
                            <img src="/resources/head_monteria.png" alt="aladdin">
                        </a>

                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type4-h1">Monteria</h3>
                        <p>En el corazón de la Perla del Sinú, te espera un espacio lleno de alegría, juegos y
                            momentos
                            inolvidables. Aladdin en Montería es más que entretenimiento: es un lugar donde cada
                            visita
                            se convierte en una experiencia única para compartir en familia.
                        </p>
                        <small>Calle 44 #8-43 Local 2 B208 2</small>
                        <small>(+57) 305-474-8855</small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#casinomonteria">Saber más</a>
                        </div>
                    </div>
                </div>
                <div class="card-ubicacion">
                    <div class="card-ubicacion-img">
                        <a href="#casinocallesarmiento">
                            <img src="/resources/ubicacion-comodin.png" alt="aladdin">
                        </a>

                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type4-h1">Tuluá </h3>
                        <p>En el corazón del Valle, Aladdin te invita a disfrutar de un ambiente amigable y lleno de
                            emoción. Cada visita es una oportunidad para compartir en familia, divertirse y dejar
                            que la
                            magia del juego ilumine tus mejores momentos.</p>
                        <small>Calle 27 #26-31</small>
                        <small>(+57) 317-400-7690</small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#casinocallesarmiento">Saber más</a>
                        </div>

                    </div>
                </div>
                <div class="card-ubicacion">
                    <div class="card-ubicacion-img">
                        <a href="#casinobuga">
                            <img src="/resources/ubicacion-comodin.png" alt="aladdin">
                        </a>

                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type4-h1">Buga</h3>
                        <p>En esta ciudad de alegria y encanto, Aladdin transforma cada momento en una experiencia
                            inolvidable.
                            Vive la emoción del juego en un ambiente familiar,
                            donde la diversión te acompañan desde que entras.</p>
                        <small>Carrera 14 #6-52</small>
                        <small></small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#casinobuga">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- <h2 style="padding: 20px 0;text-align: center;" class="type1-h1">Redes Sociales</h2> -->
        <div style="padding: 20px 0;text-align: center;"></div>
        <div class="container">
            <div class="content-logo-social">
                <a style="align-items: center;" target="_blank" href="https://www.instagram.com/vivealaddin/">
                    <img class="logo-inst-social-media" src="/resources/instagram-icono.png" alt="marcopolo">
                    <img class="logo-casino-social-media" src="/resources/logo-aladdin-rojo.png" alt="marcopolo">
                </a>
            </div>

            <div id="loader-local"></div>
            <div class="story-container">
                <a target="_blank" href="https://www.instagram.com/stories/highlights/17912485850748535/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_c.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">Ganadores</p>
                    </div>
                </a>
                <a target="_blank" href="https://www.instagram.com/stories/highlights/17876743852858227/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_a.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">Eventos</p>
                    </div>
                </a>
                <a target="_blank" href="https://www.instagram.com/stories/highlights/17968964639698670/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_s.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">JuegosRespon...</p>
                    </div>
                </a>
                <a target="_blank" href="https://www.instagram.com/stories/highlights/18105236662319186/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_i.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">Empleo</p>
                    </div>
                </a>
                <a target="_blank" href="https://www.instagram.com/stories/highlights/18024806896909618/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_n.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">Promociones</p>
                    </div>
                </a>
                <a target="_blank" href="https://www.instagram.com/stories/highlights/17846547565535994/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_o.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">Ubicación</p>
                    </div>
                </a>
            </div>
            <div id="ig-feed" class="ig-grid"></div>
        </div>
    </section>

    <section id="membresia-home" class="container-tarjeta">
        <div class="container">
            <div class='box-container-tarjeta'>
                <div class='box-left-tarjeta' id="get-tarjeta">
                    <h2 class="type1-h1-bold">VEN<br />
                        POR TU<br />
                        MYMAWI</h2>
                    <br />
                    <div style="padding-bottom: 15px;">
                        <a class='btn-design2' href="#membresia">Saber más</a>
                    </div>
                </div>
                <div class='box-rigth-tarjeta'>
                    <img src="/resources/people-mymawy-roja.jpg" alt="img-tarjeta"></img>
                </div>
            </div>
    </section>

    <!-- Experiencias -->

    <section style="position: relative;">
        <div class="container">
            <section class="parahacer">
                <div class="parahacer-rigth">
                    <div class="content-parahacer-acordeon">
                        <div class="content-parahacer-img">
                            <img src="/resources/20250514-112823.jpg" alt="aladdin">
                        </div>
                        <small class="type4-h1">Nuestro ambiente conserva el encanto de lo tradicional y la elegancia de
                            lo clásico. Un espacio donde el
                            juego, la atención y los premios se fusionan en una sola experiencia inolvidable.</small>
                        <br />
                        <p class="type4-h1">Entre lo Clásico y lo Contemporáneo.</p>
                    </div>
                    <div class="content-parahacer-acordeon">
                        <div class="content-parahacer-img">
                            <img src="/resources/IMG_0343.JPG" alt="aladdin">
                        </div>
                        <small class="type4-h1">Cada giro, cada carta y cada jugada es una nueva oportunidad para ganar.
                            En Aladdin, la suerte no es solo un momento: es una experiencia que se
                            celebra en familia.</small>
                        <br />
                        <p class="type4-h1">Haz que tu Suerte Brille al Límite.</p>
                    </div>
                    <div class="content-parahacer-acordeon">
                        <div class="content-parahacer-img">
                            <img src="/resources/fresco-aladdin.png" alt="aladdin">
                        </div>
                        <small class="type4-h1">Descubre el lado más refrescante de Aladdin, donde un fresco en el
                            camino te acompaña directo hacia el lugar donde la magia cobra vida.</small>
                        <br />
                        <p class="type4-h1">Tragos con un Toque de Encanto.</p>
                    </div>
                </div>
                <div class="parahacer-left">
                    <img src="/resources/logo-aladdin-rojo.png" alt="aladdin">
                    <br />
                    <p style="color: #27314F;">Experiencias</p>
                </div>
            </section>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="close-section">
                <div class="close-rigth">
                    <img src="/resources/logo-aladdin-rojo.png" alt="aladdin">
                    <br />
                    <p>
                        Ven y déjate envolver por un ambiente clásico, acogedor y familiar, donde cada rincón está
                        pensado para compartir momentos especiales. En Aladdin, la modernidad se sirve como una copa
                        elegante que acompaña el momento del encuentro, el disfrute del juego y la alegría compartida.
                        Aquí, cada experiencia está hecha para sonreír, para conectar, y para descubrir que la verdadera
                        magia también vive en ti.
                    </p>
                </div>
                <div class="close-left">
                    <img src="/resources/S2.jpg" alt="aladdin">
                </div>
            </div>
        </div>
    </section>

</body>

</html>