<!DOCTYPE html>
<html>

<head>
    <title>Inicio Casino Aladdin</title>
</head>

<body>
    <section class="background-home">
        <div class="">
            <div class="section-ini">
                <div class="slider_promos" id="slider_promos"></div>
                <!-- <div class="content-title-home">
                    <div style="transform: rotate(-45deg);">
                        <img class="item" src="/resources/logo-aladdin.png" alt="aladdin">
                        <p style="font-family: 'Quicksand', sans-serif;" class="type2-h1 item">La <span
                                style="font-family: 'lovelace',sans-serif;"> magia</span> está
                            en ti</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <section>
        <div>
            <div id="promocion-seccion"></div>
        </div>
    </section>

    <section class="ubicaciones-o" id="ubicaciones">
        <div class="">
            <h2 style="text-align: center;color: #27314F;padding: 20px;" class="type1-h1 titulo">Ubicaciones</h2>
            <div class="content-card-ubicacion">
                <div class="card-ubicacion titulo" title="Casinos Cali">
                    <div class="card-ubicacion-img">
                        <a href="#ubicacionCali">
                            <img src="/resources/banner-07-2.png" alt="aladdin">
                        </a>
                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type2-h1">Cali </h3>
                        <p>En la Sultana del Valle, la alegría y el encanto se unen en una experiencia inolvidable
                            de
                            juego y entretenimiento que puedes vivir en cualquiera de nuestros ocho casinos.</p>
                        <small>
                            <a href="#casinokaraoke">Karaoke</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinoplazacayzedo">Plaza Cayzedo</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinocosmocentrocali">Cosmocentro</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinocosmocentromitierra">Mi Tierra - Cosmo</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinosportbar">Sport Bar</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinoterminal2">Terminal #1 y #2</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinocalima">Calima</a><strong style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinomallplazacali">Mall Plaza</a>
                        </small>

                        <div class="content-a-card">
                            <a class="btn-design1" href="#ubicacionCali">Saber más</a>
                        </div>

                    </div>
                </div>
                <div title="Casinos Bogotá" class="card-ubicacion titulo">
                    <div class="card-ubicacion-img">
                        <a href="#ubicacionBogota">
                            <img src="/resources/bogota_tenquendama_head.png" alt="aladdin">
                        </a>
                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type2-h1">Bogotá</h3>
                        <p>La capital de colombia, donde puedes descubrir lugares donde la diversión y el encanto se
                            unen en dos espacios únicos dentro de la ciudad.</p>
                        <small>
                            <a href="#casinotequendama">Tenquendama</a>
                            <strong style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinoseptima">Septima</a>
                            <strong style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinosonesta">Sonesta</a>
                        </small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#ubicacionBogota">Saber más</a>
                        </div>
                    </div>
                </div>
                <div title="Casinos Barranquilla" class="card-ubicacion titulo">
                    <div class="card-ubicacion-img">
                        <a href="#ubicacionBarranquilla">
                            <img src="/resources/casino-de-barranquilla-card.jpg" alt="aladdin">
                        </a>
                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type2-h1">Barranquilla</h3>
                        <p>Vive momentos únicos en un ambiente lleno de alegría, emoción y ese toque especial que
                            hace
                            de cada visita una experiencia inolvidable.
                        </p>
                        <small>
                            <a href="#casinodragonfenix">Dragon Fénix</a>
                        </small>
                        <small>
                            <a href="#casinomallplazabarra">MallPlaza</a>
                        </small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#ubicacionBarranquilla">Saber más</a>
                        </div>

                    </div>
                </div>
                <div title="Casinos Pereira" class="card-ubicacion titulo">
                    <div class="card-ubicacion-img">
                        <a href="#ubicacionPereira">
                            <img src="/resources/A-88-7343-2.jpg" alt="aladdin">
                        </a>

                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type2-h1">Pereira</h3>
                        <p>En la encantadora Perla del Otún, Aladdin te invita a disfrutar de cuatro espacios únicos
                            llenos de diversión, emoción y entretenimiento. Cada rincón está diseñado para hacerte
                            sentir como
                            en casa.</p>
                        <small>
                            <a href="#casinola18">De la 18</a><strong style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinomitierraunicentro">Mi Tierra</a><strong
                                style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinola22">De la 22</a><strong style="color: black;font-weight: bold;">,</strong>
                            <a href="#casinolago">Del lago</a>
                        </small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#ubicacionPereira">Saber más</a>
                        </div>

                    </div>
                </div>
                <div title="Casinos Monteria" class="card-ubicacion titulo">
                    <div class="card-ubicacion-img">
                        <a href="#casinomonteria">
                            <img src="/resources/head_monte.jpeg" alt="aladdin">
                        </a>

                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type2-h1">Montería</h3>
                        <p>
                            <!-- En el corazón de la Perla del Sinú, te espera un espacio lleno de alegría, juegos y
                            momentos
                            inolvidables.  -->
                            Aladdin en Montería es más que entretenimiento: es un lugar donde cada
                            visita
                            se convierte en una experiencia única para compartir en familia.
                        </p>
                        <small>Calle 44 #8-43 Local 2 B208 2</small>
                        <small>(+57) 305-474-8855</small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#casinomonteria">Saber más</a>
                        </div>
                    </div>
                </div>
                <div title="Casinos Tuluá" class="card-ubicacion titulo">
                    <div class="card-ubicacion-img">
                        <a href="#casinocallesarmiento">
                            <img src="/resources/casino_tulua_a_38.jpg" alt="aladdin">
                        </a>

                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type2-h1">Tuluá </h3>
                        <p>En el corazón del Valle, Aladdin te invita a disfrutar de un ambiente amigable y lleno de
                            emoción donde ilumine tus mejores momentos.
                            <!-- Cada visita es una oportunidad para compartir en familia, divertirse y dejar
                            que la
                            magia del juego ilumine tus mejores momentos. -->
                        </p>
                        <small>Calle 27 #26-31</small>
                        <small>(+57) 317-400-7690</small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#casinocallesarmiento">Saber más</a>
                        </div>

                    </div>
                </div>
                <div title="Casinos Buga" class="card-ubicacion titulo">
                    <div class="card-ubicacion-img">
                        <a href="#casinobuga">
                            <img src="/resources/buga_a_09_2.jpeg" alt="aladdin">
                        </a>

                    </div>
                    <div class="card-ubicacion-text">
                        <h3 class="type2-h1">Buga</h3>
                        <p>En esta ciudad de alegria y encanto, Aladdin transforma cada momento en una experiencia
                            inolvidable.
                            Vive la emoción del juego en un ambiente familiar,
                            donde la diversión te acompañan desde que entras.</p>
                        <small>Carrera 14 #6-52</small>
                        <small></small>
                        <div class="content-a-card">
                            <a class="btn-design1" href="#casinobuga">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- <h2 style="padding: 20px 0;text-align: center;" class="type1-h1">Redes Sociales</h2> -->
        <div style="padding: 20px 0;text-align: center;"></div>
        <div class="container">
            <div class="content-logo-social">
                <a title="Instagram Aladdin" style="align-items: center;" target="_blank"
                    href="https://www.instagram.com/vivealaddin/">
                    <img class="logo-inst-social-media titulo" src="/resources/instagram-icono.png" alt="Aladdin">
                    <img class="logo-casino-social-media titulo" src="/resources/logo-aladdin-rojo.png" alt="Aladdin">
                </a>
            </div>
            <div class="story-container titulo">
                <a id="_seccion_tesla_insta_" title="Promociones" target="_blank"
                    href="https://www.instagram.com/stories/highlights/17895070878460996/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/704367321_1308920780631640_6587952640890690423_n.jpg" alt="Historia"
                                class="story-img" />
                        </div>
                        <p class="story-name">Tesla</p>
                    </div>
                </a>
                <a title="Ganadores" target="_blank"
                    href="https://www.instagram.com/stories/highlights/17912485850748535/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/569286850_1448941497233481_1067937110702855683_n.jpg" alt="Historia"
                                class="story-img" />
                        </div>
                        <p class="story-name">Ganadores</p>
                    </div>
                </a>
                <a title="Promociones" target="_blank"
                    href="https://www.instagram.com/stories/highlights/18024806896909618/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_n.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">Promociones</p>
                    </div>
                </a>
                <a title="Empleo" target="_blank"
                    href="https://www.instagram.com/stories/highlights/18105236662319186/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_i.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">Empleo</p>
                    </div>
                </a>
                <a title="Juego Responsable" target="_blank"
                    href="https://www.instagram.com/stories/highlights/17968964639698670/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_s.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">JuegosRespon...</p>
                    </div>
                </a>
                <a title="Ganadores" target="_blank"
                    href="https://www.instagram.com/stories/highlights/17912485850748535/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_c.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">Ganadores</p>
                    </div>
                </a>
                <a title="Eventos" target="_blank"
                    href="https://www.instagram.com/stories/highlights/17876743852858227/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_a.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">Eventos</p>
                    </div>
                </a>
                <a title="Ubicación" target="_blank"
                    href="https://www.instagram.com/stories/highlights/17846547565535994/">
                    <div class="story">
                        <div class="story-ring">
                            <img src="/resources/letra_o.jpg" alt="Historia" class="story-img" />
                        </div>
                        <p class="story-name">Ubicación</p>
                    </div>
                </a>
            </div>
            <div style="display: none;" id="loader-local"></div>
            <div style="display: none;" id="ig-feed" class="ig-grid"></div>
            <a target="_blank" href="https://www.instagram.com/vivealaddin/" class="_content_view_seccion_sm_">
                <div>
                    <span><img src="/resources/icon_play.png" alt="Aladdin"></span>
                    <img src="/resources/seccio_sm_1.png" alt="Aladdin">
                </div>
                <div>
                    <span><img src="/resources/icon_play.png" alt="Aladdin"></span>

                    <img src="/resources/seccion_sm_2.png" alt="Aladdin">
                </div>
                <div>
                    <span><img src="/resources/icon_play.png" alt="Aladdin"></span>

                    <img src="/resources/seccion_sm_3.png" alt="Aladdin">
                </div>
            </a>
        </div>
    </section>

    <section id="membresia-home" class="container-tarjeta">
        <div class="container">
            <div class='box-container-tarjeta'>
                <div title="MYMAWI" class='box-left-tarjeta' id="get-tarjeta">
                    <h2 class="type1-h1-bold titulo">VEN<br />
                        POR TU<br />
                        MYMAWI</h2>
                    <br />
                    <div style="padding-bottom: 15px;">
                        <a class='btn-design2 titulo' href="#membresia">Saber más</a>
                    </div>
                </div>
                <div title="MYMAWI" class='box-rigth-tarjeta'>
                    <img src="/resources/people-mymawy-roja.png" alt="img-tarjeta"></img>
                </div>
            </div>
    </section>

    <!-- Experiencias -->

    <section style="position: relative;">
        <div class="container">
            <section class="parahacer">
                <div title="Experiencias" class="parahacer-rigth">
                    <div class="content-parahacer-acordeon">
                        <div class="content-parahacer-img">
                            <img src="/resources/IMG_2166_old.JPG" alt="aladdin">
                        </div>
                        <small class="type4-h1">Nuestro ambiente conserva el encanto de lo tradicional y la elegancia de
                            lo clásico. Un espacio donde el
                            juego, la atención y los premios se fusionan en una sola experiencia inolvidable.</small>
                        <br />
                        <p class="type4-h1">Entre lo Clásico y lo Contemporáneo.</p>
                    </div>
                    <div class="content-parahacer-acordeon">
                        <div class="content-parahacer-img">
                            <img src="/resources/IMG_0343.jpg" alt="aladdin">
                        </div>
                        <small class="type4-h1">Cada giro, cada carta y cada jugada es una nueva oportunidad para ganar.
                            En Aladdin, la suerte no es solo un momento: es una experiencia que se
                            celebra en familia.</small>
                        <br />
                        <p class="type4-h1">Haz que tu Suerte Brille al Límite.</p>
                    </div>
                    <div class="content-parahacer-acordeon">
                        <div class="content-parahacer-img">
                            <img src="/resources/IMG_2166.png" alt="aladdin">
                        </div>
                        <small class="type4-h1">Descubre el lado más refrescante de Aladdin, donde un fresco en el
                            camino te acompaña directo hacia el lugar donde la magia cobra vida.</small>
                        <br />
                        <p class="type4-h1 texto_p">Tragos con un Toque de Encanto.</p>
                    </div>
                </div>
                <div class="parahacer-left">
                    <img class="titulor" src="/resources/logo-aladdin-rojo.png" alt="aladdin">
                    <br />
                    <p class="titulor" style="color: #27314F;">Experiencias</p>
                </div>
            </section>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="close-section">
                <div class="close-rigth">
                    <img class="titulol" src="/resources/logo-aladdin-rojo.png" alt="aladdin">
                    <br />
                    <p class="titulol" title="Lo mejor de un casino">
                        Ven y déjate envolver por un ambiente clásico, acogedor y familiar, donde cada rincón está
                        pensado para compartir momentos especiales. En Aladdin, la modernidad se sirve como una copa
                        elegante que acompaña el momento del encuentro, el disfrute del juego y la alegría compartida.
                        Aquí, cada experiencia está hecha para sonreír, para conectar, y para descubrir que la verdadera
                        magia también vive en ti.
                    </p>
                </div>
                <div class="close-left">
                    <img title="Lo mejor de un casino" src="/resources/S2.jpg" alt="aladdin">
                </div>
            </div>
        </div>
    </section>
    <section style="display: none;" id="navidad_home" class="content_regalo">
        <div class="container">
            <div class="regalo">
                <div class="tapa">
                    <img src="/resources/ala_rojo.png" alt="Aladdin">
                    <span></span>
                </div>
                <div class="promo_home">
                    <p>Aladdin Te Desea una</p>
                    <h2>FELIZ NAVIDAD <span id="año_diciembre"></span></h2>
                </div>
                <div class="caja">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </section>

    <section style="display: none;" class="container" id="juegos-view-seccion"></section>

</body>

</html>