* {
    color: white !important;
}

.content_main_baccarat {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(75deg, #0118014d 10%, #044d044b 60%, #0118013d 100%), url(/resources/mesa_blackjack.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pre_view_bac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 40px;
    background-image: linear-gradient(75deg, #01180160 10%, #044d0438 60%, #0118013f 100%);
    backdrop-filter: blur(8px);
}

.content_game_all {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pre_view_bac img {
    width: 350px;
}

.content_juego_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content_head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.btn_rules {
    position: absolute;
    right: 0;
}

.title_game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: white !important;
}

.baccarat_content {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 650px;
    border: white solid 5px;
    border-radius: 20px;
}