<div class="slider-container">
    <div class="slider-track" id="sliderTrack">
        <div id="toBarranUbi" class="slide">
            <img src="/resources/ruleta-americana.jpg" alt="Ruleta Digital" />
            <p>RULETA</p>
        </div>
        <div id="toBogotaUbi" class="slide">
            <img src="/resources/ruleta-mesa.jpg" alt="Ruleta" />
            <p>RULETA DIGITAL</p>
        </div>
        <div id="toCaliSUbi" class="slide">
            <img src="/resources/maquinas-individuales-1024x576-1.jpg" alt="Máquinas" />
            <p>MÁQUINAS PAGA MONEDAS</p>
        </div>
        <div id="toCaliIUbi" class="slide">
            <img src="/resources/HIPODROMO-1024x576-1.jpg" alt="Extra" />
            <p>HIPÓDROMO DIGITAL</p>   
        </div>
          <div id="toCaliIUbi" class="slide">
            <img src="/resources/black-jack-1024x576-1.jpg" alt="Extra" />
            <p>BLACKJACK</p>   
        </div>
          <div id="toCaliIUbi" class="slide">
            <img src="/resources/bingo-1024x576-1.jpg" alt="Extra" />
            <p>BINGO DIGITAL</p>   
        </div>
          <div id="toCaliIUbi" class="slide">
            <img src="/resources/baccarat-1024x577-1.png" alt="Extra" />
            <p>BACCARAT</p>   
        </div>
    </div>
    
    <div class="dots" id="dotsContainer"></div>
    <button id="btn-prev" class="arrowu left">⫷</button>
    <button id="btn-next" class="arrowu right">⫸</button>
</div>