<!DOCTYPE html>
<html>

<head>
    <title>Ubicacion Ciudad Pereira</title>
</head>

<body>
    <section>
        <div class="container">
            <section class="ubicaciones-o" id="ubicaciones">
                <div class="">
                    <h2 style="text-align: center;color: #CB0404;padding-top: 50px;margin-bottom: 12px;" class="type1-h1">Casinos en pereira</h2>
                    <div class="content-card-ubicacion">
                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item"
                                    src="/resources/cali-mi-tierra-300x169.jpg" alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN MI TIERRA UNICENTRO</h3>
                                <p>En uno de los centros comerciales más emblemáticos de la ciudad, Aladdin Mi Tierra
                                    Unicentro combina emoción, elegancia y entretenimiento en un solo lugar.</p>
                                <small>Avenida 30 de agosto #75-51 Local - B90 - B91</small>
                                <small>(+57) 318-338-5628</small>

                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinomitierraunicentro">Saber más</a>
                                </div>

                            </div>
                        </div>

                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item"
                                    src="/resources/cali_aladdin_terminal_2-300x169.png" alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN EL LAGO </h3>
                                <p>En una zona reconocida por su movimiento y vida urbana, Aladdin El Lago te ofrece una
                                    experiencia de entretenimiento vibrante y segura.</p>
                                <small>Carrera 8 #24-43 (51)</small>
                                <small>(+57) 317-641-9216</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinolago">Saber más</a>
                                </div>

                            </div>
                        </div>


                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item"
                                    src="/resources/cali_aladdin_terminal-300x169.jpg" alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN DE LA 18</h3>
                                <p>En medio del movimiento y la energía de la ciudad, Aladdin Terminal de Transporte
                                    es el lugar ideal para hacer una pausa diferente.</p>
                                <small>Carrera 7 #18-24</small>
                                <small>(+57) 317-636-9523</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinola18">Saber más</a>
                                </div>

                            </div>
                        </div>


                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item"
                                    src="/resources/cali-aladdin_19-300x169.jpg" alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN DE LA 22</h3>
                                <p>En pleno corazón comercial, Aladdin de la 22 te ofrece una experiencia de
                                    entretenimiento única, donde la emoción y la buena energía nunca faltan. </p>
                                <small>Carrera 8 #22-31</small>
                                <small>(+57) 317-641-2863</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinola22">Saber más</a>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <div style="text-align: center;padding: 30px;">
                    <a class="btn-design1" href="#inicio?id=ubicaciones">Volver a las ubicaciones</a>
                </div>
            </section>
        </div>
    </section>
</body>

</html>