<!DOCTYPE html>
<html>

<head>
    <title>Ubicacion Ciudad Cali</title>
</head>

<body>
    <section>
        <div class="container">
            <section class="ubicaciones-o" id="ubicaciones">
                <div class="">
                    <h2 style="text-align: center;color: #CB0404;padding-top: 50px;margin-bottom: 12px;" class="type1-h1">Casinos en cali</h2>
                    <div class="content-card-ubicacion">
                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item"
                                    src="/resources/cali-mi-tierra-300x169.jpg" alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN MI TIERRA COSMOCENTRO</h3>
                                <p>En el corazón del Centro Comercial Cosmocentro, se encuentra un espacio donde la
                                    emoción cobra vida: Aladdin Mi Tierra.</p>
                                <small>Calle 5 #50-103 Local - 237</small>
                                <small>(+57) 317-428-6196</small>

                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinocosmocentromitierra">Saber más</a>
                                </div>

                            </div>
                        </div>

                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item"
                                    src="/resources/cali_aladdin_terminal_2-300x169.png" alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN TERMINAL DE TRANSPORTE #2 </h3>
                                <p>Ubicado estratégicamente en la Terminal de Transporte, Aladdin te espera con una
                                    experiencia de entretenimiento perfecta para quienes buscan emoción en el camino.
                                </p>
                                <small>Calle 30N #2AN-29 Local 129</small>
                                <small>(+57) 317-641-5221</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinoterminal2">Saber más</a>
                                </div>

                            </div>
                        </div>


                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item"
                                    src="/resources/cali_aladdin_terminal-300x169.jpg" alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN TERMINAL DE TRANSPORTE #1 </h3>
                                <p>En medio del movimiento y la energía de la ciudad, Aladdin Terminal de Transporte
                                    es el lugar ideal para hacer una pausa diferente.</p>
                                <small>Calle 30N #2AN-29 Local 133 y 134</small>
                                <small>(+57) 317-641-5221</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinoterminal1">Saber más</a>
                                </div>

                            </div>
                        </div>


                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item"
                                    src="/resources/cali-aladdin_19-300x169.jpg" alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN SPORT BAR</h3>
                                <p>Donde la pasión por el deporte se vive a otro nivel. En Aladdin Sport Bar combinamos
                                    la emoción del juego con la mejor experiencia deportiva en un solo lugar. </p>
                                <small>Carrera 4 #14-23</small>
                                <small>(+57) 317-644-9846</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinosportbar">Saber más</a>
                                </div>

                            </div>
                        </div>

                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item" src="/resources/cali-A7-300x169.jpg"
                                    alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN PLAZA DE CAYZEDO</h3>
                                <p>En el corazón histórico de la ciudad, Aladdin Plaza de Cayzedo te invita a vivir una
                                    experiencia de entretenimiento única, rodeado del ambiente tradicional y la energía
                                    del centro. </p>
                                <small>Carrera 4 #10-57</small>
                                <small>(+57) 317-639-7080</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinoplazacayzedo">Saber más</a>
                                </div>

                            </div>
                        </div>

                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item"
                                    src="/resources/cali-aladdin_cosmocentro-300x168.jpg" alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN COSMOCENTRO</h3>
                                <p>Ubicado en uno de los centros comerciales más emblemáticos de la ciudad, Aladdin
                                    Cosmocentro es el lugar donde la emoción y la diversión nunca se detienen. </p>
                                <small>Calle 5 #50-103</small>
                                <small>(+57) 316-478-2327</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinocosmocentrocali">Saber más</a>
                                </div>
                            </div>
                        </div>


                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item"
                                    src="/resources/cali-aladdin_calima-300x168.jpg" alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN CALIMA</h3>
                                <p>Ubicado en el Centro Comercial Calima, Aladdin te ofrece una experiencia de
                                    entretenimiento vibrante, moderna y segura.</p>
                                <small>Calle 70 con Carrera 1, C.C Calima Local - PC1L</small>
                                <small>(+57) 315-438-4058</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinocalima">Saber más</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item" src="/resources/ubicacion-comodin.png"
                                    alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN KARAOKE</h3>
                                <p>Aladdin Karaoke combina la emoción del casino con la
                                    diversión de la música en vivo.</p>
                                <small>Carrera 4 #10-36 (40/42)</small>
                                <small>(+57) 317-433-2652</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinocalima">Saber más</a>
                                </div>
                            </div>
                        </div>


                        <div class="card-ubicacion">
                            <div class="card-ubicacion-img"><img class="item" src="/resources/ubicacion-comodin.png"
                                    alt="aladdin">
                            </div>
                            <div class="card-ubicacion-text">
                                <h3 class="type4-h1">ALADDIN MALL PLAZA</h3>
                                <p>Aladdin Mall Plaza te espera con toda la emoción del
                                    mejor entretenimiento.</p>
                                <small>MallPlaza Nivel M2 Local 321</small>
                                <small>(+57) 316-717-0114</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinocalima">Saber más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;padding: 30px;">
                    <a class="btn-design1" href="#inicio?id=ubicaciones">Volver a las ubicaciones</a>
                </div>
            </section>
        </div>
    </section>
</body>

</html>