.ubicaciones-o {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
}

.content-card-ubicacion-ciudad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
}

.card-ubicacion-ciudad {
    width: 400px;
    height: 570px;
    overflow: hidden;
    border-radius: 8px;
}

.card-ubicacion-img-ciudad {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
}

.card-ubicacion-img-ciudad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
    -webkit-transition: -webkit-transform 0.4s ease;
}

.card-ubicacion-ciudad:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card-ubicacion-text-ciudad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 50%;
    background-color: #fff;
    overflow: hidden;
}

.card-ubicacion-text-ciudad h3 {
    color: #27314F;
    align-items: center;
    font-size: 1.6rem;
}

.card-ubicacion-text-ciudad p {
    color: #27314F;
    font-size: 1.6rem;
}

.card-ubicacion-text-ciudad small {
    color: gray;
    font-size: 1.6rem;
}

.a {
    color: gray;
    font-size: 1rem;
    cursor: pointer;
}


.card-ubicacion-text-ciudad>small>a {
    color: gray;
    transition: all 0.4s ease;
}

.card-ubicacion-ciudad:hover h3 {
    color: #CB0404;
}


.card-ubicacion-text-ciudad>small>a:hover {
    text-decoration: none;
    color: #CB0404;
}

.content-a-card-ciudad {
    display: flex;
    justify-content: flex-end;
}

.content-a-card-ciudad a {
    display: flex;
    justify-content: flex-end;
}

.aladdin_ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    pointer-events: none;
}

.aladdin_ubicacion>img{
    width: 130px;
    filter: drop-shadow(1px 1px 1px #000);
}

@media(max-width:1366px) {

    .content-card-ubicacion-ciudad {
        position: relative;
        width: 100vw;
    }

    .card-ubicacion-ciudad {
        overflow: hidden;
        border-radius: 8px;
    }

    .card-ubicacion-text-ciudad h3 {
        color: #27314F;
        align-items: center;
    }

    .card-ubicacion-text-ciudad p {
        color: #27314F;
    }

    .card-ubicacion-text-ciudad small {
        color: gray;
    }



}


@media(max-width:768px) {
    .card-ubicacion-ciudad {
        width: 100%;
        height: 620px;
    }

    .card-ubicacion-text-ciudad p {
        color: #27314F;
        font-size: 1.6rem;
    }

    .card-ubicacion-text-ciudad small {
        color: gray;
        font-size: 1.6rem;
    }
}