<!DOCTYPE html>
<html>

<head>
    <title>Ubicacion Ciudad Cali</title>
</head>

<body>
    <section>
        <div class="container">
            <section class="ubicaciones-o" id="ubicaciones">
                <div class="">
                    <h2 style="text-align: center;color: #CB0404;padding-top: 50px;margin-bottom: 12px;"
                        class="type1-h1">Casinos en cali</h2>
                    <div class="content-card-ubicacion-ciudad">
                        <div class="card-ubicacion-ciudad">
                            <div class="card-ubicacion-img-ciudad">
                                <a href="#casinocosmocentromitierra">
                                    <img src="/resources/ubicacion-comodin.png" alt="aladdin">
                                </a>
                            </div>
                            <div class="card-ubicacion-text-ciudad">
                                <h3 class="type4-h1">ALADDIN MI TIERRA "COSMOCENTRO"</h3>
                                <p>Ubicado en el Centro Comercial Cosmocentro de la ciudad de Cali, es una de las
                                    instalaciones que en diseño interior cuenta con un espacio exclusivo y único en
                                    detalles que remontan los recuerdos y tradiciones de lo que significa ser
                                    “colombiano”.</p>
                                <small>Calle 5 #50-103 Local - 237</small>
                                <small>(+57) 317-428-6196</small>

                                <div class="content-a-card-ciudad">
                                    <a class="btn-design1" href="#casinocosmocentromitierra">Saber más</a>
                                </div>

                            </div>
                        </div>

                        <div class="card-ubicacion-ciudad">
                            <div class="card-ubicacion-img-ciudad">
                                <a href="#casinoterminal2">
                                    <img src="/resources/cali_aladdin_terminal_2-300x169.png" alt="aladdin">
                                </a>
                            </div>
                            <div class="card-ubicacion-text-ciudad">
                                <h3 class="type4-h1">ALADDIN "TERMINAL DE TRANSPORTE" #1 y #2 </h3>
                                <p>Ubicado estratégicamente en la Terminal de Transporte, Aladdin te espera con una
                                    experiencia de entretenimiento perfecta para quienes buscan emoción en el camino.
                                </p>
                                <small>Calle 30N #2AN-29 Local 129</small>
                                <small>(+57) 317-641-5221</small>
                                <div class="content-a-card-ciudad">
                                    <a class="btn-design1" href="#casinoterminal2">Saber más</a>
                                </div>

                            </div>
                        </div>



                        <div class="card-ubicacion-ciudad">
                            <div class="card-ubicacion-img-ciudad">
                                <a href="#casinosportbar">
                                    <img src="/resources/cali-aladdin_19-300x169.jpg" alt="aladdin">
                                </a>
                            </div>
                            <div class="card-ubicacion-text-ciudad">
                                <h3 class="type4-h1">ALADDIN "SPORT BAR"</h3>
                                <p>Es un lugar que presenta una de las instalaciones más agradables en diseño moderno,
                                    que caracteriza a la zona céntrica de la ciudad de Cali, cuenta con dos niveles,
                                    donde podrás vivir la verdadera magia. </p>
                                <small>Carrera 4 #14-23</small>
                                <small>(+57) 317-644-9846</small>
                                <div class="content-a-card-ciudad">
                                    <a class="btn-design1" href="#casinosportbar">Saber más</a>
                                </div>

                            </div>
                        </div>

                        <div class="card-ubicacion-ciudad">
                            <div class="card-ubicacion-img-ciudad">
                                <a href="#casinoplazacayzedo">
                                    <img src="/resources/cali-A7-300x169.jpg" alt="aladdin">
                                </a>
                            </div>
                            <div class="card-ubicacion-text-ciudad">
                                <h3 class="type4-h1">ALADDIN "PLAZA DE CAYZEDO"</h3>
                                <p>Ubicado en la ciudad de Cali más conocida como “La sucursal del cielo”, en uno
                                    de los sectores más concurridos del Centro, a una cuadra de la Plaza de Cayzedo.
                                </p>
                                <small>Carrera 4 #10-57</small>
                                <small>(+57) 317-639-7080</small>
                                <div class="content-a-card">
                                    <a class="btn-design1" href="#casinoplazacayzedo">Saber más</a>
                                </div>

                            </div>
                        </div>

                        <div class="card-ubicacion-ciudad">
                            <div class="card-ubicacion-img-ciudad">
                                <a href="#casinocosmocentrocali">
                                    <img src="/resources/cali-aladdin_cosmocentro-300x168.jpg" alt="aladdin">
                                </a>
                            </div>
                            <div class="card-ubicacion-text-ciudad">
                                <h3 class="type4-h1">ALADDIN "COSMOCENTRO"</h3>
                                <p>Ubicado en uno de los centros comerciales más emblemáticos de la ciudad, Aladdin
                                    Cosmocentro es el lugar donde la emoción y la diversión nunca se detienen. </p>
                                <small>Calle 5 #50-103</small>
                                <small>(+57) 316-478-2327</small>
                                <div class="content-a-card-ciudad">
                                    <a class="btn-design1" href="#casinocosmocentrocali">Saber más</a>
                                </div>
                            </div>
                        </div>


                        <div class="card-ubicacion-ciudad">
                            <div class="card-ubicacion-img-ciudad">
                                <a href="#casinocalima">
                                    <img src="/resources/cali-aladdin_calima-300x168.jpg" alt="aladdin">
                                </a>
                            </div>
                            <div class="card-ubicacion-text-ciudad">
                                <h3 class="type4-h1">ALADDIN "CALIMA"</h3>
                                <p>Ubicado en Calima Centro Comercial al norte de la ciudad de Cali, es un espacio
                                    extenso, elegante en su diseño, que destaca por sus grandes espacios, gran colorido,
                                    su calidez y acogedor ambiente. </p>
                                <small>Calle 70 con Carrera 1, C.C Calima Local - PC1L</small>
                                <small>(+57) 315-438-4058</small>
                                <div class="content-a-card-ciudad">
                                    <a class="btn-design1" href="#casinocalima">Saber más</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-ubicacion-ciudad">
                            <div class="card-ubicacion-img-ciudad">
                                <a href="#casinokaraoke">
                                    <img src="/resources/ubicacion-comodin.png" alt="aladdin">
                                </a>
                            </div>
                            <div class="card-ubicacion-text-ciudad">
                                <h3 class="type4-h1">ALADDIN KARAOKE</h3>
                                <p>Ubicado mas conocido como "la sucursal del cielo", en unos de los sectores mas
                                    recorridos del centro
                                    por los vallunos, que destaca por sus grandes espacios brindandote asi la
                                    tranquilidad de tu hogar.
                                </p>
                                <small>Carrera 4 #10-36 (40/42)</small>
                                <small>(+57) 317-433-2652</small>
                                <div class="content-a-card-ciudad">
                                    <a class="btn-design1" href="#casinokaraoke">Saber más</a>
                                </div>
                            </div>
                        </div>


                        <div class="card-ubicacion-ciudad">
                            <div class="card-ubicacion-img-ciudad">
                                <a href="#casinomallplazacali">
                                <img src="/resources/ubicacion-comodin.png"
                                    alt="aladdin">
                                    </a>
                            </div>
                            <div class="card-ubicacion-text-ciudad">
                                <h3 class="type4-h1">ALADDIN MALL PLAZA</h3>
                                <p>Ubicado sobre la calle 5, una de las vías principales de la ciudad, y con aladdin tienes la oportunidad de probar la magia de un juego único y familiar.</p>
                                <small>MallPlaza Nivel M2 Local 321</small>
                                <small>(+57) 316-717-0114</small>
                                <div class="content-a-card-ciudad">
                                    <a class="btn-design1" href="#casinomallplazacali">Saber más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;padding: 30px;">
                    <a class="btn-design1" href="#inicio?id=ubicaciones">Volver a las ubicaciones</a>
                </div>
            </section>
        </div>
    </section>
</body>

</html>