<!DOCTYPE html>
<html>

<head>
    <title>Ubicacion Ciudad Bogota</title>
</head>

<body>
    <section>
        <div class="container">
            <section class="ubicaciones-o" id="ubicaciones">
                <div class="">
                    <h2 style="text-align: center;color: #CB0404;padding-top: 30px;margin-bottom: 12px;"
                        class="type1-h1">Casinos en Bogotá</h2>
                    <div class="content-card-ubicacion-ciudad">
                        <div class="card-ubicacion-ciudad">
                            <div class="card-ubicacion-img-ciudad">
                                <a href="#casinoseptima">
                                    <img src="/resources/bogota_septima_head.jpeg" alt="aladdin">
                                </a>
                            </div>
                            <div class="card-ubicacion-text-ciudad">
                                <h3 class="type4-h1">ALADDIN "SÉPTIMA"</h3>
                                <p>Ubicado sobre la carrera séptima, donde la ciudad nunca se detiene, Aladdin te ofrece
                                    un espacio vibrante para disfrutar del entretenimiento a otro nivel.</p>
                                <small>Carrera 7 #19-49 (55/57)</small>
                                <small>(+57) 317-400-7668</small>

                                <div class="content-a-card-ciudad">
                                    <a class="btn-design1" href="#casinoseptima">Saber más</a>
                                </div>

                            </div>
                        </div>

                        <div class="card-ubicacion-ciudad">
                            <div class="card-ubicacion-img-ciudad">
                                <a href="#casinotequendama">
                                    <img src="/resources/banner-tequendama.png" alt="aladdin">
                                </a>
                            </div>
                            <div class="card-ubicacion-text-ciudad">
                                <h3 class="type4-h1">ALADDIN "TEQUENDAMA" </h3>
                                <p>Ubicado en una de las zonas más tradicionales y reconocidas de la ciudad, Aladdin
                                    Tequendama combina historia, elegancia y emoción en un solo lugar. </p>
                                <small>Carrera 10 #27-27 Local 153</small>
                                <small>(+57) 317-442-4295</small>
                                <div class="content-a-card-ciudad">
                                    <a class="btn-design1" href="#casinotequendama">Saber más</a>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <div style="text-align: center;padding: 30px;">
                    <a class="btn-design1" href="#inicio?id=ubicaciones">Volver a las ubicaciones</a>
                </div>
            </section>
        </div>
    </section>
</body>

</html>