.footer {
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  width: 100%;
  position: absolute;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer .footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  align-items: center;
}

.footer .footer-logo img {
  width: 200px;
}

.content-logos-legales{
  display: flex;
  gap: 20px;
}

.content-logos-legales .content-logos-legales-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-logos-legales .content-logos-legales-img img{
  width: 120px;
}

.footer .footer-logos-legales small {
  color: gray;
}

.footer .footer-logo ul {
  list-style: none;
  padding: 0;
}

.footer .footer-logo ul li {
  margin-bottom: 8px;
}

.footer .footer-logo ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.3s;
}

.footer .footer-logo ul li a:hover {
  opacity: 0.4;
}

.footer .footer-bottom {
  text-align: center;
  opacity: 0.6;
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
}

.footer a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-icons a:hover {
  color: rgb(170, 91, 250);
}

.footer .footer-icons {
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 0px;
}


.footer .footer-subscriber {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.footer .footer-subscriber-email {
  display: flex;
}

.footer .footer-subscriber label {
  justify-self: center;
  padding-bottom: 10px;
  font-size: 20px;
}

.footer .footer-subscriber input {
  width: 600px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

.footer .footer-subscriber .boton-suscribete {
  background-color: #fff;
  color: #5000fc;
  width: auto;
  border: 0;
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  cursor: pointer;
  height: 60px;
  justify-self: start;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-subscriber .boton-suscribete:hover {
  background-color: #fff;
  color: #5000fc;
  background-color: #5000fc;
  color: white;
}

.footer .footer-logos-legales {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.img-legal .img-vig{
display: flex;
justify-content: start;
align-items: center;
}

.img-legal .img-vig img {
  width: 80%;
}



.img-legal .img-col{
display: flex;
justify-content: end;
align-items: center;
}

.img-legal .img-col img {
  width: 80%;
}

.footer-logo-responsable {
  display: flex;
  justify-content: end;
  text-align: center;
  width: 400px;
  padding: 20px;
}

.footer-logo-responsable-info small{
color: rgb(236, 236, 236);
font-size: 0.55rem;
text-align: justify;
}

.social-container {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 20px;
}

.social-container p {
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.icons{
  display: flex;
  gap: 10px;
}

.icons a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.icons a:hover {
  color: #aaa;
}



@media (max-width :1104px) {
  .footer {
    height: auto;
  }

  .footer .footer-subscriber button {
    height: auto;
  }

  .footer .footer-content {
    display: flex;
    font-size: 100%;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
    line-height: 0.8rem;
  }

  .footer .footer-bottom {
    margin-top: 20%;
  }

}

@media (max-width: 900px) {

  .footer {
    height: auto;
    padding: 40px 20px;
  }


  .footer .footer-subscriber {
    margin-bottom: 30px;
    height: auto;
  }

  .footer .footer-subscriber input {
    font-size: 20px;
    height: 50px;
  }

  .footer .footer-subscriber .boton-suscribete {
    height: 50px;
  }

  .footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
    gap: 30px;
  }

  .footer .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%;
  }

  .footer .footer-logo img {
    width: 80%;
    margin-bottom: 10px;
  }

  .footer-section {
    text-align: center;
  }

  .footer-section ul {
    padding: 0;
    line-height: 1.5rem;
  }

  .footer .footer-logos-legales {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0;
  }

  .footer .footer-logos-legales img {
    width: 100%;
  }

  .footer .footer-bottom {
    text-align: center;
    margin-top: 20%;
  }

  .content-logos-legales .content-logos-legales-img img{
  width: 100%;
}

}