<footer class="footer">
    <section class="container">
        <div class="content-footer-info">
            <div class="footer-content">
                <div class="footer-section">
                    <ul>
                        <h3>INSTITUCIONAL</h3>
                        <br />
                        <li><a href="#nosotros">Nosotros</a></li>
                        <li><a href="#politicadatos">Políticas de tratamientos de datos</a></li>
                        <li><a href="#juegosresponsable">Juego Responsable</a></li>
                        <li>
                            <p>Aladdin Hotel & Casino S.A.S</p>
                        </li>
                        <li>
                            <p>Fox Technologies S.A.S.</p=>
                        </li>
                        <li>
                            <p>Información Súper Salud</p=>
                        </li>
                        <li></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <ul>
                        <h3>SÍGUENOS</h3>
                        <br />
                        <div style="display: flex; gap: 20px;">
                            <li><a target="_blank" href="https://www.facebook.com/ViveAladdin"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/c/ViveAladdin"><i
                                        class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/vivealaddin/?hl=es"><i
                                        class="fab fa-youtube"></i></a></li>
                        </div>
                    </ul>
                </div>
                <div class="footer-logo">
                    <a href="#juegosresponsable">
                        <img src="/resources/Logo-Bien-Jugado-Aladdin.png" alt="logo" />
                    </a>
                    <small style="text-align: center;">
                        Fox Gaming S.A.S y Aladdin Hotel & Casino S.A.S son empresas que apoyan el juego responsable, por
                        lo tanto no se promocionan para menores de 18 años. Si aún no tiene la mayoría de edad, por
                        favor no ingrese a nuestros casinos y sitio web.
                    </small>
                    <br />
                </div>
            </div>
            <div class="footer-logos-legales">
                <div><a target="_blank" href="https://www.supersalud.gov.co/es-co/Paginas/Home.aspx"><img
                            src="/resources/Recurso-10.png" alt="logo vigilado" /></a></div>
                <!-- <div><a href="#inicio"><img style="width: 250px;" src="/resources/logo-aladdin.png" alt="logo aladdin" /></a></div> -->
                <div><a target="_blank" href="https://www.coljuegos.gov.co/"><img src="/resources/Recurso-12.png"
                            alt="logo coljuegos" /></a></div>
            </div>
            <div class="footer-bottom">
                <p>TODOS LOS DERECHOS RESERVADOS 2025.</p>
            </div>
        </div>
    </section>
    <script src="/components/footer/footer.js"></script>
</footer>