



<footer class="footer">
    <section class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <a href="#inicio" data-target="/components/home/index.html">
                    <img src="/resources/aladdin.png" alt="logo" />
                </a>
                <div class="content-logos-legales">
                    <div class="content-logos-legales-img"><img src="/resources/Recurso-10.png" alt="marcopolo"></div>
                    <div class="content-logos-legales-img"><img src="/resources/Recurso-12.png" alt="marcopolo"></div>
                </div>
            </div>
            <div class="footer-logo">
                <p>SÍGUENOS</p>
                <br />
                <div class="icons">
                    <a target="_blank" href="https://www.facebook.com/ViveAladdin"><i class="fab fa-facebook-f"></i></a>
                    <a target="_blank" href="https://www.youtube.com/c/ViveAladdin"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://www.facebook.com/ViveAladdin"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="footer-logo-responsable">
                <div class="footer-logo-responsable-info">
                    <div>
                        <a href="#juegosresponsable">
                            <img style="width: 120px;" src="/resources/Logo-Bien-Jugado-Aladdin.png" alt="logo" />
                        </a>
                    </div>
                    <div>
                        <small>
                            Fox Gaming S.A.S y Aladdin Hotel & Casino S.A.S son empresas que apoyan el juego
                            responsable, por lo
                            tanto no se promocionan para menores de 18 años. Si aún no tiene la mayoría de edad, por
                            favor no
                            ingrese a nuestros casinos y sitio web.
                        </small>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="footer-bottom">
            <p>TODOS LOS DERECHOS RESERVADOS 2025.</p>
        </div>
    </section>
    <script src="/components/footer/footer.js"></script>
</footer>