<footer class="footer">
    <section class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <!-- <a title="Aladdin" href="#inicio" data-target="/components/home/index.html"> -->
                <img class="logo_footer" src="/resources/aladdin.png" alt="logo" />
                <!-- </a> -->
                <div class="content-logos-legales">
                    <div class="content-logos-legales-img"><a title="Vigilado Supersalud" target="_blank"
                            href="https://www.supersalud.gov.co/"><img src="/resources/Recurso-10.png"
                                alt="marcopolo"></a></div>
                    <div class="content-logos-legales-img"><a title="ColJuegos" target="_blank"
                            href="https://www.coljuegos.gov.co/"> <img src="/resources/Recurso-12.png"
                                alt="marcopolo"></a></div>
                </div>
                <div class="content_icono_abierto">
                    <a target="_blank" title="Política de tratamiento de datos" href="/#politicadatos">Política de
                        tratamiento de datos<img class="icono_abierto" src="/resources/abierto_blanco.png"
                            alt="aladdin"></a>
                    <a target="_blank" title="Aladdin" href="/#nosotros">Quienes somos <img class="icono_abierto"
                            src="/resources/abierto_blanco.png" alt="aladdin"></a>
                    <a target="_blank" title="Trabaja con Nosotros" href="/#trabajaconosotros">Trabaja con nosotros <img
                            class="icono_abierto" src="/resources/abierto_blanco.png" alt="aladdin"></a>

                </div>
            </div>
            <div class="footer-logo">
                <p>SÍGUENOS</p>
                <br />
                <div class="icons">
                    <a title="Facebook - Aladdin" target="_blank" href="https://www.facebook.com/ViveAladdin"><i
                            class="fab fa-facebook-f"></i></a>
                    <a title="Youtube - Aladdin" target="_blank" href="https://www.youtube.com/c/ViveAladdin"><i
                            class="fab fa-youtube"></i></a>
                    <a title="Instagram - Aladdin" target="_blank" href="https://www.instagram.com/vivealaddin/"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-logo-responsable">
                <div class="footer-logo-responsable-info">
                    <div>
                        <a target="_blank" title="Juego Responsable" href="#juegosresponsable">
                            <img src="/resources/Logo-Bien-Jugado-Aladdin.png" alt="logo" />
                        </a>
                    </div>
                    <div>
                        <small>
                            Fox Technologies S.A.S y Aladdin Hotel & Casino S.A.S son empresas que apoyan el juego
                            responsable, por lo
                            tanto no se promocionan para menores de 18 años. Si aún no tiene la mayoría de edad, por
                            favor no
                            ingrese a nuestros casinos y sitio web.
                        </small>
                    </div>
                    <div class="content_icono_abierto">
                        <a target="_blank" title="Juego Responsable" href="#juegosresponsable">Conocer Sitio <img
                                class="icono_abierto" src="/resources/abierto_blanco.png" alt="aladdin"></a>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="footer-bottom">
            <!-- <p style="display: none;">TODOS LOS DERECHOS RESERVADOS <span id="fecha_site"></span> - HECHO CON TODO <img
                    src="/resources/corazon-blanco.png" alt="aladdin"> DE PARTE DEL EQUIPO DE COMUNICACIONES.</p> -->
            <p>
                © <span id="fecha_site"></span>. Todos los derechos reservados. Casinos Aladdin & Marco Polo
            </p>
        </div>

    </section>
    <script src="/components/footer/footer.js"></script>
</footer>