.content_promo_info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 10px;
}

.box_left_promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 100%;
    gap: 10px;
    font-family: 'poppins_black', sans-serif !important;
}


.video-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    /* 16:9 */
    min-width: 177.77vh;
    min-height: 100vh;
    transform: translate(-50%, -50%);
    border: 0;
    pointer-events: none;
}


.video_test_ {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    object-fit: contain;
}


.video-background-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info_tesla {
    display: none;
}

.text_promo {
    font-family: 'poppins_black', sans-serif !important;
    z-index: 10;
    text-shadow: black 1px 1px 10px;
}

.box_left_promo h2 {
    color: white;
    text-align: start;
    line-height: 40px;
    text-shadow: black 1px 1px 10px;
    font-size: 5.2rem;
}

.box_left_promo p {
    color: white;
    text-align: start;
    text-shadow: black 1px 1px 10px;
}

.box_left_promo small {
    text-shadow: #7a1111c4 1px 1px 10px;
    color: #7a1111c4;
}

.box_rigth_promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    width: 100%;
}

.box_rigth_promo img {
    width: 250px;
}

._content_info_ganador_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 20px;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

/* SLIDER */
.sliderProm {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.slider-wrapperProm {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    user-select: none;
    cursor: grab;
}

.slider-wrapperProm:active {
    cursor: grabbing;
}

.slideProm {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.bg1Prom {
    background-image: linear-gradient(180deg, #00000073, #00000023, #00000073), url(/resources/entrega_tesla_3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2Prom {
    background-image: url(/resources/PROMO_MYMAWI_TE_PREMIA_AL.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3Prom {
    background-image: linear-gradient(#000000b3,
            #000000b3), url(/resources/683.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg4Prom {
    background-image: linear-gradient(#000000b3,
            #000000b3), url(/resources/wplay_ala_desk.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    z-index: 0;

}

.bg4Prom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    background-image: url(/resources/wplay_ala_desk.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    filter: blur(10px);
}

._union_wp_ala_ {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url(/resources/wplay_ala_desk.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.content-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.texto_blanco {
    color: white;
}

input[name="slider-radioProm"] {
    display: none;
}

.slider-controlsProm {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.slider-controlsProm label {
    cursor: pointer;
    width: 50px;
    height: 10px;
    border: 2px solid #ffffff7a;
    background: transparent;
    margin: 0 5px;
    display: inline-block;
    transition: background 0.3s;
}


.slider-controlsProm input[type="radio"]+label {
    background-image: linear-gradient(to right, #ffffff7a, #ffffff7a);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0s;
}

.slider-controlsProm input[type="radio"]:checked+label {
    animation: llenarFondo 20s linear forwards;
}

@keyframes llenarFondo {
    from {
        background-size: 0% 100%;
    }

    to {
        background-size: 100% 100%;
    }
}

.arrowProm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    font-size: 5rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrowProm-left {
    left: 0px;
}

.arrowProm-right {
    right: 0px;
}

.controls-sliderProm {
    color: black;
}

@media(max-width: 768px) {

    .sliderProm {
        height: 100vh;
    }

    .content_promo_info {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .bg1Prom {
        background-image: linear-gradient(180deg, #00000060, #00000023, #00000060), url(/resources/entrega_tesla_3_desk.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg2Prom {
        background-image: url(/resources/PROMO_MYMAWI_TE_PREMIA_movil_AL.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg3Prom {
        background-image: linear-gradient(180deg, #f4f4f434, #ffffff23, #f4f4f4), url("/resources/Redes_vamos en grande_1080x1920.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }


    .bg4Prom {
        background-image: linear-gradient(#000000b3,
                #000000b3), url(/resources/wplay_ala_movil.jpeg);
    }

    ._union_wp_ala_ {
        background-image: url(/resources/wplay_ala_movil.jpeg);
    }

    .box_left_promo {
        align-items: center;
    }

    .box_left_promo h2 {
        font-size: 3.8rem;
    }

    .box_left_promo p {
        text-align: center;
        font-size: 16px;
    }

}