<section class="sliderProm">
    <div class="slider-wrapperProm" id="sliderTrackProm">
        <div class="slideProm bg1Prom">
            <div class="content-slide">
                <div class="video-background-container">
                    <video class="background-video item_desk" poster="/resources/ubicacion-comodin.jpg" loop muted
                        playsinline webkit-playsinline autoplay>
                        <source src="https://testpromo.easyguess.com/uploads/videos_test/video_tesla.mp4"
                            type="video/mp4">
                    </video>
                    <video class="background-video item_movil" poster="/resources/ubicacion-comodin.jpg" loop muted
                        playsinline webkit-playsinline autoplay>
                        <source src="https://testpromo.easyguess.com/uploads/videos_test/video_tesla_movil.mp4"
                            type="video/mp4">
                    </video>
                </div>
                <div class="content_promo_info  container">
                </div>
            </div>
        </div>



        <div class="slideProm bg3Prom">
            <div class="content-slide">
                <a title="Vamos en Grande" href="#vamosengrande" class="video-background-container">
                    <video class="background-video item_desk" poster="/resources/ubicacion-comodin.jpg" loop muted
                        playsinline webkit-playsinline autoplay>
                        <source src="https://testpromo.easyguess.com/uploads/videos_test/vamos_en_grande_tv.mp4"
                            type="video/mp4">
                    </video>
                    <video class="background-video item_movil" poster="/resources/Redes_vamos en grande_1080x1920.jpeg"
                        loop muted playsinline webkit-playsinline autoplay>
                        <source src="https://testpromo.easyguess.com/uploads/videos_test/vamos_en_grande_movil.mp4"
                            type="video/mp4">
                    </video>
                </a>
                <div class="item_desk" style="position: relative;z-index: 10;">
                    <h2 class="type1-h1 texto_blanco text_promo">
                        VAMOS EN GRANDE!!!</h2>
                    <br />
                    <a title="Más Sobre Vamos en Grande" class="btn-design1" href="#vamosengrande">MÁS INFO</a>
                </div>
            </div>
        </div>

        <div class="slideProm bg2Prom">
            <a title="Membresia" href="#membresia" class="content-slide">
                <div class="box_rigth_promo">
                    <!-- <img src="/resources/casino_aladdin_blanco.png" alt="Aladdin">
                        <img src="/resources/logo_tesla.png" alt="Aladdin"> -->
                </div>
            </a>
        </div>

    </div>
    <div class="slider-controlsProm">
        <input type="radio" name="slider-radioProm" id="trigger1" checked>
        <label for="trigger1"></label>
        <input type="radio" name="slider-radioProm" id="trigger2">
        <label for="trigger2"></label>
        <input type="radio" name="slider-radioProm" id="trigger3">
        <label for="trigger3"></label>
    </div>

</section>

<div class="controls-sliderProm" style="gap: 30px;">
    <button class="arrowProm arrowProm-left" id="prevBtnProm">&#8249;</button>
    <button class="arrowProm arrowProm-right" id="nextBtnProm">&#8250;</button>
</div>