<!DOCTYPE html>
<html>

<head>
    <title>ALADDIN DE LA 18</title>
</head>

<body>
    <section class="container">
        <div class="content-info-casino">
            <div class="content-info-casino-img">
                <img src="/resources/PEREIRA-CENTRO-300x168.jpg" />
            </div>
            <div class="content-info-casino-text">
                <h1 class="type2-h1">ALADDIN DE LA 18</h1>
                <br />
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Teléfono:</h3>
                    </div>
                    <div class="content-text">
                        606 333 2952
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Ciudad:</h3>
                    </div>
                    <div class="content-text">
                        PEREIRA
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3> Dirección:</h3>
                    </div>
                    <div class="content-text">
                        <p>Cra. 7 #18-24, Pereira, Risaralda</p>
                    </div>
                </div><br />
                <div class="btn-ubicacion">
                    <a id="toAladdin18" class="btn-design1">Como llegar con google maps</a>
                </div>
            </div>
        </div>
        <div class="text-casino">
            <p class="type1-p">Se encuentra ubicado en la ciudad de Pereira, una de las ciudades más conocidas del eje
                cafetero, es uno de los 3 casinos Aladdin de la ciudad, el cual es un lugar lleno de magia, pequeño y
                acogedor que te hará sentir como en tu hogar. Perfecto para relajarse y divertirse.</p>
        </div>
        <div style="text-align: center;padding: 30px;">
            <a class="btn-design1" href="#casinos?id=casinosPereira">Volver a los casinos</a>
        </div>
        <!-- IGUAL -->
        <section id="juegos-view-seccion">
        </section>
    </section>
    <section id="ubicacion-seccion">
    </section>
</body>

</html>