<!DOCTYPE html>
<html>

<head>
    <title>ALADDIN EL LAGO</title>
</head>

<body>
    <section class="container">
        <div class="content-info-casino">
            <div class="content-info-casino-img">
                <img src="/resources/Aladdin-el-lago-300x169.jpeg" />
            </div>
            <div class="content-info-casino-text">
                <h1 class="type2-h1">ALADDIN EL LAGO</h1>
                <br />
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Teléfono:</h3>
                    </div>
                    <div class="content-text">
                        317 641 9216
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Ciudad:</h3>
                    </div>
                    <div class="content-text">
                        PEREIRA
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3> Dirección:</h3>
                    </div>
                    <div class="content-text">
                        <p>Cra. 8 #24 - 43 (51, Pereira, Risaralda)</p>
                        <br />
                        <p>Frente al parque "EL LAGO".</p>
                    </div>
                </div><br />
                <div class="btn-ubicacion">
                    <a id="toLago" class="btn-design1">Como llegar con google maps</a>
                </div>
            </div>
        </div>
        <div class="text-casino">
            <p class="type1-p">En la ciudad de Pereira, más conocida como “La ciudad trasnochadora, querendona y
                morena”, está ubicado en la carrera 8 con calle 24. Dotado de alta tecnología, amplio, elegante y
                moderno, que permite la total comodidad para pasar días y noches entretenidas que le brindarán vivir una
                experiencia llena de sorpresas y diversión.</p>
        </div>
        <div style="text-align: center;padding: 30px;">
            <a class="btn-design1" href="#casinos?id=casinosPereira">Volver a los casinos</a>
        </div>
        <!-- IGUAL -->
        <section id="juegos-view-seccion">
        </section>
    </section>
    <section id="ubicacion-seccion">
    </section>
</body>

</html>