<!DOCTYPE html>
<html>

<head>
    <title>MI TIERRA UNICENTRO</title>
</head>

<body>
    <section class="container">
        <div class="content-info-casino">
            <div class="content-info-casino-img">
                <img src="/resources/PEREIRA-UNICENTRO-300x169.jpg" />
            </div>
            <div class="content-info-casino-text">
                <h1 class="type2-h1">MI TIERRA UNICENTRO</h1>
                <br />
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Teléfono:</h3>
                    </div>
                    <div class="content-text">
                        606 327 0393
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Ciudad:</h3>
                    </div>
                    <div class="content-text">
                        PEREIRA
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3> Dirección:</h3>
                    </div>
                    <div class="content-text">
                        <p>AV 30 DE AGOSTO #76-21.</p>
                        <br />
                        <p>CC UNICENTRO - Local B90.</p>
                    </div>
                </div><br />
                <div class="btn-ubicacion">
                    <a id="toMitierra" class="btn-design1">Como llegar con google maps</a>
                </div>
            </div>
        </div>
        <div class="text-casino">
            <p class="type1-p">Se encuentra ubicado en el Centro Comercial Unicentro de Pereira, es un espacio que
                cuenta con un diseño que te llena de momentos memorables de lo que es la tradición cultural en Colombia
                logrando una sensación de estar en el hogar, en familia y de calidez, cuenta con la mezcla ideal entre
                lo tradicional y moderno en diseño, además está dotado con un espacio amplio, lo cual genera un ambiente
                mágico e ideal para divertirse.</p>
        </div>
        <div style="text-align: center;padding: 30px;">
            <a class="btn-design1" href="#casinos?id=casinosPereira">Volver a los casinos</a>
        </div>
        <!-- IGUAL -->
        <section id="juegos-view-seccion">
        </section>
    </section>
    <section id="ubicacion-seccion">
    </section>
</body>

</html>