<!DOCTYPE html>
<html>

<head>
    <title>Aladdin: Reglamento Interno</title>
</head>

<body>
    <section class="_master_interno_ ">
        <div class="container _cotent_master_interno_">
            <div class="_banner_reglamento_">
                <h2 class="type1-h1">Reglamento Interno de Trabajo</h2>
            </div>
            <div class="_content_control_reglmento_">
                <div class="_content_control_card_">
                    <div class="_control_card_" id="_check_ala_">
                        <img src="/resources/aladdin.png" alt="Aladdin">
                    </div>
                    <div class="_control_card_" id="_check_fox_">
                        <img src="/resources/Fox.png" alt="Aladdin">
                    </div>
                </div>
            </div>
            <div id="_contenedor_reglamento_" class="container _content_main_reglamento_interno_ala_"></div>
            <div id="_contenedor_reglamento_fox_" class="container _content_main_reglamento_interno_ala_"></div>
            <br /><br /><br />
        </div>
    </section>
</body>

</html>