<!DOCTYPE html>
<html>

<head>
    <title>ALADDIN DRAGON FENIX</title>
</head>

<body>
    <section class="container">
        <div class="content-info-casino">
            <div class="content-info-casino-img">
                <img src="/resources/barranquilla_dragon_fenix-300x169.jpg" />
            </div>
            <div class="content-info-casino-text">
                <h1 class="type2-h1">ALADDIN DRAGON FENIX</h1>
                <br />
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Teléfono:</h3>
                    </div>
                    <div class="content-text">
                        317 640 6855
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Ciudad:</h3>
                    </div>
                    <div class="content-text">
                        BARRANQUILLA
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3> Dirección:</h3>
                    </div>
                    <div class="content-text">
                        <p>Carrera. 43 # 75B – 167.</p>
                    </div>
                </div><br />
                <div class="btn-ubicacion">
                    <a id="toDragonfenix" class="btn-design1">Como llegar con google maps</a>
                </div>
            </div>
        </div>
        <div class="text-casino">
            <p class="type1-p">La ciudad de Barranquilla más conocida como “la puerta de oro de Colombia” cuenta con una
                sucursal llamada casino Dragón Fénix, en la cual disfrutarán de un ambiente caribeño, lleno de colores
                vibrantes y alegres, sus espacios son modernos y amplios reflejando la diversión y júbilo propios del
                barranquillero. Está dotado de alternativas agradables como sensacionales fiestas, grandes promociones,
                es un lugar que no puedes perder la oportunidad de conocer.</p>
        </div>
        <div style="text-align: center;padding: 30px;">
            <a class="btn-design1" href="#casinos?id=casinosBarranquilla">Volver a los casinos</a>
        </div>
        <!-- IGUAL -->
        <section id="juegos-view-seccion">
        </section>
        <!-- CARRUSEL CASINOS -->
    </section>
    <section id="ubicacion-seccion">
    </section>
</body>

</html>