.content-info-casino {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-info-casino .content-info-casino-img {
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 100vw;
    height: 550px;
}

.content-info-casino .content-info-casino-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-info-casino-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #CB0404;
    height: auto;
    padding: 20px 0;
    margin-top: 20px;
}

.content-info-casino-text h1 {
    font-size: 2.5rem;
    color: #CB0404;
}

.content-desc-casino {
    display: flex;
    gap: 30px;
    text-align: justify;
    color: white;
}

.content-desc-casino p {
    width: 50%;
    color: #171c1e;
}

.btn-ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.btn-ubicacion a {
    width: auto;
}

.content-img-ubicacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
}

.content-img-ubicacion>img {
    width: 100%;
    height: 525px;
    border-radius: 50px 50px 0 0;
    object-fit: cover;
}

.text-casino {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border: #171c1e 3px solid;
    border-radius: 0 0 50px 50px;
}

.content-col {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.content-info-col {
    width: 33.33%;
}

.content-info-col h3,
.content-info-col h2 {
    color: #171c1e;
    font-size: 1.2rem;
    padding: 0 10px;
}

.content-info-col svg {
    fill: #171c1e;
    width: 40px;
}

.navigation-ubicaciones {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-infinite {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.carousel-infinite h1 {
    color: #171c1e;
}

.carousel-track {
    display: flex;
    animation: scroll 60s linear infinite;
    width: max-content;
    gap: 20px;
    cursor: pointer;
}

.carousel-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.slide {
    min-width: 250px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.slide p {
    color: rgb(32, 32, 32);
    font-weight: bold;
    font-size: 0.7rem;
}

.slide img {
    width: 250px;
    height: 140px;
    object-fit: cover;
    margin-bottom: 10px;
}

.img_inside_banner {
    display: flex;
    justify-content: center;
    padding: 20px 0 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 20px;
    transition: all 0.4s ease;
}

.img_banner_1 {
    text-align: center;
    width: 200px;
    height: 200px;
}

.img_banner_1 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.img_banner_1:hover .text_banner_1 {
    opacity: 1;
    transform: translateY(0%) translateX(-50%);
    pointer-events: auto;
    color: #fff;
    text-shadow: #fff 8px 0 10px;
    font-size: 2rem;
}

.text_banner_1 {
    color: #fff;
    text-shadow: #fff 8px 0 10px;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    padding: 10px;
    pointer-events: none;
    transform: translateY(10%) translateX(-50%);
    position: absolute;
    bottom: 250px;
    left: 50%;
    z-index: 3;
    background-color: rgba(196, 0, 0, 0.836);
    border-radius: 20px;

}



.img_banner_2 {
    text-align: center;
    width: 200px;
    height: 200px;
}

.img_banner_2 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.img_banner_2:hover .text_banner_2 {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
    pointer-events: auto;
    color: #fff;
    text-shadow: #fff 8px 0 10px;
    font-size: 2rem;
}

.text_banner_2 {
    color: #fff;
    text-shadow: #fff 8px 0 10px;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    padding: 10px;
    pointer-events: none;
    transform: translateY(10%) translateX(-50%);
    position: absolute;
    bottom: 250px;
    left: 50%;
    z-index: 3;
    background-color: rgba(196, 0, 0, 0.836);
    border-radius: 20px;
}




.img_banner_3 {
    text-align: center;
    width: 200px;
    height: 200px;
}

.img_banner_3 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.img_banner_3:hover .text_banner_3 {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
    pointer-events: auto;
    text-shadow: #fff 8px 0 10px;
    font-size: 2rem;
}

.text_banner_3 {
    color: #fff;
    text-shadow: #fff 8px 0 10px;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    padding: 10px;
    pointer-events: none;
    transform: translateY(10%) translateX(-50%);
    position: absolute;
    bottom: 250px;
    left: 50%;
    z-index: 3;
    background-color: rgba(196, 0, 0, 0.836);
    border-radius: 20px;
}


@media(max-width:1366px) {
    .content-info-casino .content-info-casino-img {

        height: 380px;
    }

    .content-img-ubicacion>img {
        height: 300px;
    }


    .content-info-col h3,
    .content-info-col h2 {
        color: #171c1e;
        font-size: 0.7rem;
        padding: 0 5px;
    }

    .img_inside_banner img {
        width: 130px;
        height: 130px;
    }

    .img_banner_1 {
        width: 130px;
        height: 130px;
    }

    .img_banner_2 {
        width: 130px;
        height: 130px;
    }

    .img_banner_3 {
        width: 130px;
        height: 130px;
    }
}

@media (max-width:768px) {
    .content-info-casino .content-info-casino-img {
        height: 25vh;
    }

    .content-info-casino-text h1 {
        font-size: 1.8rem;
    }

    .content-info-casino-text {
        position: relative;
        height: auto;
    }

    .content-desc-casino {
        flex-direction: column;
    }

    .content-desc-casino p {
        width: 100%;
    }

    .text-casino {
        flex-direction: column;
    }

    .content-col {
        flex-direction: column;
    }

    .content-info-col {
        width: 100%;
    }

    .content-info-col svg {
        width: 30px;
    }


    .content-img-ubicacion>img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .content-info-col h3,
    .content-info-col h2 {
        color: #171c1e;
        font-size: 1rem;
        padding: 0 5px;
    }

    .img_inside_banner img {
        width: 100px;
        height: 100px;
    }

    .img_banner_1 {
        width: 100px;
        height: 100px;
        pointer-events: none;
    }

    .img_banner_2 {
        width: 100px;
        height: 100px;
        pointer-events: none;
    }

    .img_banner_3 {
        width: 100px;
        height: 100px;
        pointer-events: none;
    }
}