<!DOCTYPE html>
<html>

<head>
    <title>Juegos Responsable Aladdin</title>
</head>

<body>
    <section class="container">
        <div class="section-start-juego-responsable">
            <img class="item" src="/resources/Banner-Bien-Jugado.png" />
            <br />
            <br />
            <p class="item type1-p">Hola, bienvenido al Micrositio Web de Juego responsable de <strong
                    style="color: #b1880f;">CASINOS ALADDIN</strong> Y
                <strong style="color: #b1880f;">MARCO POLO CASINO</strong>. Nos preocupamos por el bienestar mental y
                financiero de nuestros clientes, por eso promovemos el siguiente Programa de Juego Responsable como una
                forma consciente y equilibrada de
                disfrutar el entretenimiento sin comprometer tus finanzas, salud o relaciones personales.
            </p>
        </div>
        <div class="section-juegos-responsable">
            <h2 class="item">¡Queremos que el juego sea una experiencia divertida y controlada!</h2>
            <br />
            <h1 style="color: #171c1e;" class="item type1-h1">Conoce más sobre el Juego Responsable</h1>
            <br />
            <p class="item type1-p">Aquí encontrarás diferentes estrategias enfocadas en proteger, prevenir y orientar a
                la
                población sobre el juego sin control y maximizar la protección de los grupos de riesgo.</p>
        </div>
        <div class="section-que-es">
            <div class="section-que-es-img">
                <img src="/resources/Equilibrio.png" />
            </div>
            <div class="section-que-es-text">
                <h1 style="color: white;" class="titulo type2-h1">¿QUÉ ES EL JUEGO RESPONSABLE?</h1>
                <br />
                <p class="titulo" style="color: rgb(146, 146, 146);font-style: italic;">“En el punto medio está la
                    virtud: ni jugar
                    mucho, ni jugar poco, sino jugar lo justo y
                    necesario, añadiendo el aprendizaje del arte de saber jugar”.</p>
                <br />
                <p style="color: rgb(146, 146, 146);">CARMEN CARPIO DE LOS PINOS (2009) Pág. 48.</p>
                <br />
                <div class="text-juego-resposble">
                    <p class="titulo type1-p">
                        El concepto de Juego Responsable abarca una serie de prácticas y recomendaciones sobre cómo
                        deben jugar los adultos. Se basa en premisas que tienen como objetivo hacer del juego una
                        alternativa
                        de esparcimiento saludable y recreativa, evitando poner en riesgo la salud mental. Esto
                        incentiva a
                        practicar el juego de forma consciente, con moderación y control.
                    </p>
                </div>
                <br />
                <div style="text-align: left;">
                    <small style="color: rgb(146, 146, 146);">Coljuegos.</small>
                </div>
            </div>
        </div>
        <div class="section-consecuencias">
            <div class="section-consecuencias-text">
                <h1 style="color: #171c1e;" class="titulo type2-h1">¿CUALES SON LAS CONSECUENCIAS?</h1>
                <br />
                <p class="titulo type1-p">Los Juegos de Suerte y Azar puede traer serias repercusiones para los
                    individuos y
                    sus familias, su uso excesivo y sin control va más allá de las pérdidas financieras; pues como
                    quiera que sea afecta
                    el bienestar emocional, las relaciones personales y la estabilidad social y laboral de los
                    jugadores.</p>
            </div>
            <div class="section-consecuencias-img">
                <img src="/resources/Alerta.png" />
            </div>
        </div>
        <div class="section-que-puedo-hacer">
            <h1 class="titulo texto-elegante">¿Qué puedo hacer?</h1>
            <br />
            <p class="titulo type1-p">Asumir el juego responsable es una tarea y responsabilidad de todos, por lo tanto,
                es
                necesario que cada persona conozca, se informe y se concientice, de todas aquellas consecuencias
                derivadas del uso
                inadecuado del juego. Recuerde, esta actividad debe ser asumida de forma segura y controlada, de tal
                manera que garantice el cumplimiento de su naturaleza recreativa como la voluntad libre y responsable de
                cada uno de los ciudadanos.</p>
            <br />
            <p class="titulo type1-p">Para apoyarte, presentamos las siguientes herramientas de promoción, prevención y
                autocuidado
                desarrolladas por COLJUEGOS, que fomentan hábitos saludables al jugar.</p>
            <br />
            <h2>¡Porque tu bienestar es nuestra prioridad!</h2>
        </div>
        <div class="section-factores-riesgos">
            <div class="section-factores-riesgos-text">
                <h1 style="color: #171c1e;" class="titulo type2-h1">TEST DE IDENTIFICACIÓN DE FACTORES DE RIESGO</h1>
                <br />
                <p class="titulo type1-p">
                    Es una herramienta diseñada por Coljuegos para identificar patrones de riesgo o comportamientos que
                    requieren la adopción de medidas preventivas o de mitigación del riesgo frente al juego sin control.
                    Este test orienta al jugador en sus decisiones personales frente al juego, ayudándole a reconocer y
                    gestionar comportamientos de riesgo.
                </p>
                <br />
                <div style="width: auto;text-align: center;">
                    <button onclick="toTest()" class="btn-design1">
                        HAZ CLICK AQUÍ
                        <span style="margin-left: 10px;">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="section-factores-riesgos-img">
                <img src="/resources/Test-Juego-Responsable.png" />
            </div>
        </div>
        <div class="section-autoexclusion">
            <div class="section-content-autoexclusion">
                <div class="autoexclusion">
                    <h1 style="color: white;" class="type2-h1">AUTOEXCLUSIÓN</h1>
                    <br />
                    <p class="titulo type1-p">Si sientes que tu relación con el juego está afectando tu bienestar
                        mental,
                        social, familiar o financiero, no te preocupes, nuestras empresas se encuentran comprometidas
                        con tu
                        salud. Si deseas tomar medidas inmediatas, existe la herramienta de Autoexclusión. Aquí te
                        explicamos
                        cómo funciona:</p>
                </div>
                <div class="que-es-autoexclusion">
                    <h1 style="color: white;" class="type2-h1">¿QUÉ ES LA AUTOEXCLUSIÓN?</h1>
                    <br />
                    <p class="titulo type1-p">Es una herramienta dispuesta por nuestras empresas, que permite al jugador
                        excluirse de uno o varios juegos en particular. Al diligenciar dicho formulario el ciudadano(a)
                        informa su decisión
                        personal y voluntaria de ser excluido de las salas de juego de las empresas.</p>
                    <br />
                    <p class="titulo type1-p">Correo disponible para la recepción del formato de autoexclusión:
                        juegoresponsable@vivealaddin.com.
                    </p>
                </div>
            </div>
            <div style="padding-bottom: 20px;">
                <button onclick="downForm()" class="btn-design1">DESCARGA EL FORMULARIO AQUÍ<span
                        style="margin-left: 10px;"><i class="fa-solid fa-file-arrow-down"></i></span></button>
            </div>
        </div>
        <div class="section-directorios">
            <h2 class="type2-h">DIRECTORIOS</h2>
            <br />
            <h1 style="color: white;" class="titulo type2-h1">¿DÓNDE PUEDO ENCONTRAR ASISTENCIA EN SERVICIOS DE
                ORIENTACIÓN Y ATENCIÓN EN SALUD
                MENTAL SOBRE PROBLEMAS
                DE ADICCIÓN AL JUEGO?</h1>
            <div class="flechas-levitando">
                <span class="flecha"></span>
                <span class="flecha"></span>
                <span class="flecha"></span>
            </div>
            <p class="type1-p">Estimado jugador, aquí encontrará un directorio de las diferentes EPS e IPS que brindan
                Servicios de Orientación y Atención en Salud Mental. Nuestro objetivo es facilitar información pública
                de interés
                social para que aquellos jugadores, con problemas de adicción al juego, puedan acudir a estas entidades
                cuando así lo requieran.</p>
            <div class="directorios">
                <div class="directorios-img">
                    <h1 style="color: white;" class="type2-h1">DIRECTORIO EPS SUPERSALUD</h1>
                    <div class="divider-dire"></div>
                    <img src="/resources/Logo_supersalud.png" />
                </div>
                <div class="directorios-text">
                    <h1 style="color: white;" class="type2-h1">DIRECTORIO IPS</h1>
                    <div class="divider-dire"></div>
                    <div class="content-ips">
                        <a target="_blank" href="http://www.fundacionpotencialhumano.org/">Fundación Potencial
                            Humano</a>
                        <a target="_blank" href="https://fundar.com.co/">Fundar</a>
                        <a target="_blank" href="https://fundacionliberate.org.co/">Fundación Libérate</a>
                        <a target="_blank" href="https://fundaciongenesis.co/">Fundación Génesis</a>
                        <a target="_blank" href="https://ceren.co/">CEREN</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="toma-control" class="section-toma-control"></div>
        <div class="section-programa-responsable">
            <h2>Nos encanta verte feliz, pero aún más nos importa verte
                saludable. Juega seguro, juega responsable.</h2>
            <div class="content-brand">
                <div class="content-brand-1">
                    <a target="_blank" href="https://casinomarcopolo.netlify.app/">
                        <img src="/resources/marcopolo-negro.png" />
                    </a>
                </div>
                <div class="content-brand-1">
                    <img src="/resources/logo-aladdin-negro.png" />
                </div>
            </div>
            <button onclick="toDowgame()" class="btn-design1">DESCARGAR NUESTRO PROGRAMA DE JUEGOS RESPONSABLE
                <span style="margin-left: 10px;">
                    <i class="fa-solid fa-download"></i>
                </span>
            </button>
        </div>
    </section>
</body>

</html>