<!DOCTYPE html>
<html>

<head>
    <title>ALADDIN CALIMA</title>
</head>

<body>
    <section class="container">
        <div class="content-info-casino">
            <div class="content-info-casino-img">
                <img src="/resources/cali-aladdin_calima-300x168.jpg" />
            </div>
            <div class="content-info-casino-text">
                <h1 class="type2-h1">ALADDIN CALIMA</h1>
                <br />
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Teléfono:</h3>
                    </div>
                    <div class="content-text">
                        600 129 900
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3>Ciudad:</h3>
                    </div>
                    <div class="content-text">
                        CALI
                    </div>
                </div>
                <div class="content-info-col">
                    <div class="content-title">
                        <h3> Dirección:</h3>
                    </div>
                    <div class="content-text">
                        <p>Cra. 1 # 66 – 49</p>
                    </div>
                </div>
                <br />
                <div class="btn-ubicacion">
                    <a id="toCalima" class="btn-design1">Como llegar con google maps</a>
                </div>
            </div>
        </div>
        <div class="text-casino">
            <p class="type1-p">Está ubicado en Calima Centro Comercial al norte de la ciudad de Cali, es un espacio
                extenso, elegante en su diseño, que destaca por sus grandes espacios, gran colorido, su calidez y
                acogedor ambiente. Cuenta con gran variedad de máquinas electrónicas y mesas para vivir la diversión.
            </p>
        </div>
        <div style="text-align: center;padding: 30px;">
            <a class="btn-design1" href="#casinos?id=casinosCali">Volver a los casinos</a>
        </div>
        <!-- IGUAL -->
        <section id="juegos-view-seccion">
        </section>
    </section>
    <section id="ubicacion-seccion">
    </section>
</body>

</html>