<!DOCTYPE html>
<html>

<head>
    <title>Casino sportbar</title>
</head>

<body>
    <section class="container">
        <div class="content-info-casino">
            <div class="content-info-casino-img">
                <img src="/resources/A-19.jpg" />
            </div>
            <div class="content-info-casino-text">
                <h1 class="type2-h1">ALADDIN SPORT BAR</h1>
                <br />
                <div class="content-desc-casino">
                    <p>Es un lugar que presenta una de las instalaciones más agradables en diseño moderno, que contiene
                        una magia que caracteriza a la zona céntrica de la ciudad de Cali, cuenta con dos niveles, el
                        primero tiene un espacio amplio que está presente con moderna tecnología en máquinas de juegos.
                    </p>
                    <p>El segundo nivel es un espacio dedicado y diseñado en función de los deportes, cuenta con una
                        zona de fumadores, un bar en el que se ofrece gran variedad de alimentos y bebidas, se presentan
                        las trasmisiones televisivas de las diferentes modalidades de deporte.</p>
                </div>
                <br />
            </div>
        </div>
        <div class="container content-img-ubicacion">
            <img src="/resources/IMG_7330.jpg" alt="aladdin">
            <div class="img_inside_banner">
                <div class="img_banner_1">
                    <img src="/resources/IMG_0330.jpg" alt="aladdin">
                    <p class="text_banner_1">Prueba grandes espacios para poder recorrer hacia tu victoria.</p>
                </div>
                <div class="img_banner_2">
                    <img src="/resources/IMG_0324.jpg" alt="aladdin">
                    <p class="text_banner_2">Ven a disfrutar de todo un ambiente mágico.</p>
                </div>
                <div class="img_banner_3">
                    <img src="/resources/IMG_0327.jpg" alt="aladdin">
                    <p class="text_banner_3">Con premios y promociones increíbles.</p>
                </div>
            </div>
        </div>
        <div class="text-casino">
            <div class="content-col">
                <div class="content-info-col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                        viewBox="0 0 384 512">
                        <path
                            d="M168 0C75.1 0 0 75.1 0 168c0 88.4 120.1 240.4 168 312 47.9-71.6 168-223.6 168-312C336 75.1 260.9 0 168 0zm0 256a88 88 0 1 1 0-176 88 88 0 0 1 0 176z" />
                    </svg>
                    <h2> CALI</h2>
                </div>
                <div class="content-info-col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path
                            d="M6.62 10.79a15.053 15.053 0 0 0 6.59 6.59l2.2-2.2a1.004 1.004 0 0 1 1.01-.24c1.12.37 2.33.57 3.58.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1C10.07 21 3 13.93 3 5c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.46.57 3.58.11.33.03.7-.24.97l-2.2 2.24z" />
                    </svg>
                    <h2>(+57) 317-644-9846</h2>
                </div>
                <div class="content-info-col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path
                            d="M3 22V2h18v20H3zm16-2V4H5v16h14zM7 20h2v-2H7v2zm0-4h2v-2H7v2zm0-4h2v-2H7v2zm4 8h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2zm4 8h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2v-2h-2v2z" />
                    </svg>
                    <h2>Carrera 4 #14-23</h2>
                </div>
            </div>
        </div>
        <div style="text-align: center;padding: 30px;">
            <a class="btn-design1" href="#inicio?id=ubicaciones">Volver a los casinos</a>
        </div>
        <div class="btn-ubicacion">
            <a id="toSportBar" class="btn-design1">Como llegar con google maps</a>
        </div>
        <!-- IGUAL -->
        <section id="juegos-view-seccion">
        </section>
    </section>
    <section id="ubicacion-seccion">
    </section>
</body>

</html>