h2,
p,
small,
span,
div {
    color: white;
}

.blackjack_main {
    width: 100vw;
    background-image: linear-gradient(75deg, #0118014d 10%, #044d044b 60%, #0118013d 100%),
        url(/resources/mesa_blackjack.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.btn_rules {
    position: absolute;
    right: 0;
}

.blackjack_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    gap: 20px;
}

.title_game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: white !important;
}

.img_game {
    width: 80px;
    padding: 2px;
}

.board_blackjack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80%;
    /* background-color: rgba(7, 39, 26, 0.171); */
    /* background-image: url(/resources/cartas/background-blackjack-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #003d004d 10px solid; */
    padding: 20px;
    gap: 15px;
}

.control_blackjack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 20px;
    gap: 8px;
    padding: 10px 40px;
    border-radius: 20px;
    animation: border_cajon 2s infinite;
    background-color: #00000052;
    font-size: 10px !important;
}

.content_info_ficha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-family: 'digital_7', sans-serif;
}

.content_info_ficha>small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 10px;
    opacity: 0.9;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.yellow_text {
    animation: blink 3s infinite;
}

@keyframes blink {

    0%,
    100% {
        color: #fff;
        text-shadow: 0px 0px 0px white;
    }

    50% {
        color: rgb(255, 255, 0);
        text-shadow: 1px 0px 1px rgb(255, 255, 0);
    }
}


.content_fichas_menos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    height: 100%;
    max-width: 250px;
    max-height: 96px;
    overflow-y: auto;
    position: absolute;
    top: 50vh;
    left: 10px;
}

.content_fichas_menos img {
    width: 40px;
    transition: all 0.4s ease;
}

.content_fichas_menos img:hover {
    scale: calc(1.1);
    cursor: pointer;
}

.content_apuesta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;
    width: 100%;
}

.mensaje_apuesta {
    display: none;
    font-size: 32px;
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7c2a24d5;
    border-radius: 20px;
    padding: 20px;
}


.content_fichas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 20px;
    gap: 8px;
    padding: 10px;
    border-radius: 20px;
    background-color: #00000052;
    font-size: 10px !important;
    animation: border_cajon 1.5s infinite;
}

@keyframes border_cajon {

    0%,
    100% {
        border: white 1px solid;
    }

    50% {
        border: rgb(255, 255, 0) 1px solid;

    }
}

.content_fichas img {
    width: 60px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.content_fichas img:hover {
    transform: scale(1.1);
}

.content_fichas>span {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
}

.content_btn_actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    gap: 8px;
    font-size: 10px !important;
}

.content_board_dealer {
    width: 100%;
    height: 50%;
    /* background-color: blueviolet; */
    position: relative;
    bottom: 70px;
    font-size: 2rem;
    font-family: 'digital_7', sans-serif !important;

}

.content_board_dealer>h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.score {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}

.board_dealer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.content_board_player {
    width: 100%;
    height: 50%;
    /* background-color: brown; */
    position: relative;
    font-size: 2rem;
    font-family: 'digital_7', sans-serif !important;

}


.content_board_player>h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.board_player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.card {
    width: 90px;
    height: 130px;
    margin: 5px;
    opacity: 0;
    transform: translate(-220px, 0) scale(0.9) rotate(-10deg);
    transition: transform 0.6s cubic-bezier(.25, .8, .25, 1), opacity 0.6s ease;
    will-change: transform, opacity;
}

.card.show {
    opacity: 1;
    transform: translate(0, 0) scale(1) rotate(0deg);
}

.card.back {
    filter: brightness(0.8);
}

.card.volteando {
    transform: rotateY(90deg);
    transition: transform 0.4s ease;
}

.btn_disable {
    opacity: 0.7;
    pointer-events: none;
}

.mi-popup {
    background-color: #1F253A;
    color: white;
    border-radius: 20px;
    font-size: 1.5rem;
    width: 450px;
}



/* 
.card-wrapper {
  width: 90px;
  height: 130px;
  margin: 5px;
  perspective: 800px;
  display: inline-block;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}

.card.show {
  opacity: 1;
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.card .back {
  transform: rotateY(180deg);
}

.card.volteada {
  transform: rotateY(180deg);
} */

.body-lock {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

/* MODAL */

.modal_reglas_blackjack {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);

}

.content_modal_blackjack {
    display: flex;
    width: 650px;
    height: 100%;
    max-height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    position: relative;
}

.content_all_modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.content_head_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.content_head_modal h2 {
    color: #CB0404 !important;
}

.content_head_modal p {
    position: absolute;
    color: #1F253A !important;
    right: 4px;
    top: -30px;
    font-size: 2rem;
}

.content_head_modal p:hover {
    color: #1f253a9f !important;
    cursor: pointer;
}

.content_info_juego {
    width: 100%;
    padding: 10px 0;
    overflow-y: auto;
}

.content_info_juego ul {
    list-style: disc;
    margin-left: 20px;
    color: #1F253A !important;
    padding-left: 20px;
}

.content_info_juego li {
    list-style: inherit;
    text-align: left;
    margin-bottom: 10px;
    color: #1F253A !important;
    font-size: 1.6rem;
}

.content_info_juego h2 {
    color: #CB0404 !important;
}

.content_info_juego p {
    color: #011801 !important;
    font-size: 1.6rem;
}

.content_mazo {
    position: absolute;
    top: 35vh;
    left: 30px;
}

.content_mazo img {
    width: 100px;
}

.zapato_cartas {
    display: none;
    position: absolute;
    right: 0;
}

.zapato_cartas img {
    width: 150px;
}

.view_pre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(75deg, #01180160 10%, #044d0438 60%, #0118013f 100%);
    backdrop-filter: blur(8px);
}

.view_pre img {
    width: 350px;
}

#content_game_all {
    display: none;
}

.content_juego_open {
    padding: 80px 0;
}

.btn_apostar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 20px;
    width: 50px;
    height: 50px;
    font-size: 120%;
    background-color: #550c0c85;
    border: #C0C0C0 2px solid;
    transition: all 0.4s ease;
}

.btn_apostar:hover {
    transform: scale(1.1);
}

.btn_sacar_carta {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 20px;
    width: 80px;
    height: 80px;
    font-size: 150%;
    background-color: #550c0c85;
    border: #C0C0C0 2px solid;
    transition: all 0.4s ease;
}

.btn_sacar_carta:hover {
    transform: scale(1.1);
}

.btn_sacar_mazo {
    position: absolute;
    right: 100px;
    top: 30px;
    font-size: 10px;
    z-index: 20;
}

.btn_plantar_mazo2 {
    position: absolute;
    right: 150px;
    top: 60px;
    font-size: 12px !important;
    z-index: 20;
}

.btn_plantarse {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 20px;
    width: 60px;
    height: 60px;
    font-size: 120%;
    background-color: #550c0c85;
    border: #C0C0C0 2px solid;
    transition: all 0.4s ease;
}

.btn_plantarse:hover {
    transform: scale(1.1);
}

.btn_reiniciar_t {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 20px;
    width: 45px;
    height: 45px;
    font-size: 90%;
    background-color: #550c0c85;
    border: #C0C0C0 2px solid;
    transition: all 0.4s ease;
}

.btn_reiniciar_t:hover {
    transform: scale(1.1);
}

.test_doblar {
    transform: rotate(180deg);
}

.hand_2 {
    position: absolute;
    top: -160px;
    right: -340px;
}

.hand_2_curr {
    position: absolute;
    bottom: 180px;
    right: 285px;
}

@media(max-width: 1366px) {
    .content_fichas {
        margin-top: 130px;
        left: -50px;
    }

    .card {
        width: 47px;
        height: 60px;
    }

    .blackjack_content {
        height: 385px;
        justify-content: start;
        align-items: start;
    }
}

@media(max-width: 768px) {
    .content_head {
        justify-content: start;
    }

    .img_game {
        width: 40px;
    }

    .blackjack_content {
        flex-direction: column;
        height: auto;
    }

    .board_blackjack {
        width: 100%;
        height: 550px;
    }

    .content_board_dealer {
        height: 100%;
    }

    .content_board_player {
        height: 100%;
    }

    .control_blackjack {
        width: 100%;
    }

    .content_btn_actions button {
        font-size: 1rem !important;
    }

    .content_modal_blackjack {
        max-height: 100vh;
        border-radius: 0;
    }

    .content_info_juego {
        padding-right: 20px;
    }

    .content_mazo {
        position: absolute;
        left: 0px;
        opacity: 0.7;
    }

    .content_mazo img {
        width: 50px;
    }

    .zapato_cartas {
        position: absolute;
        right: 0;
    }

    .zapato_cartas img {
        width: 100px;
    }

    .view_pre {
        position: relative;
        top: 0;
        height: 100vh;
        padding: 10px;
    }

    .card {
        width: 57px;
        height: 80px;
        margin: -3px;
    }

}