.content-politica {
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    margin: 30px 0;
}

._content_politicas_datos_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

._content_politicas_datos_ img {
    width: 60%;
    pointer-events: none;
}

.content-politica h1,
.content-politica h4 {
    font-size: 2.4rem;
}

.content-politica h2 {
    text-decoration: underline;
    font-size: 2.4rem;
}

.content-politica p {
    padding-left: 40px;
    text-align: justify;
    font-size: 1.6rem;
}

.content-politica span {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.content-politica h4 {
    font-weight: bold;
}

.content-politica ul {
    padding-left: 40px;
    font-size: 1.6rem;
}

.content-politica ul li {
    margin-bottom: 8px;
    text-align: justify;
}

@media(max-width: 768px) {
    ._content_politicas_datos_ img {
        width: 100%;
        pointer-events: none;
    }
}