<!DOCTYPE html>
<html>

<head>
    <title>POLÍTICA DEL TRATAMIENTO DE LA INFORMACIÓN O DATOS PERSONALES</title>
</head>

<body>
    <section class="container">
        <div class="content-politica">
            <h1>POLÍTICA DEL TRATAMIENTO DE LA INFORMACIÓN O DATOS PERSONALES</h1>
            <br />
            <h2>CONTENIDO</h2>
            <br />
            <p>1. Aspectos Generales</p>
            <p>2. Definiciones</p>
            <p>3. Alcance de la Política del Tratamiento de la Información o Datos Personales</p>
            <p>4. Derechos de los titulares</p>
            <p>5. políticas específicas para el tratamiento de datos personales</p>
            <p>6. Área responsable de la atención de peticiones, consultas y reclamos relacionados con datos personales
            </p>
            <p>7. Procedimiento para que los titulares de la información puedan ejercer los derechos a conocer,
                actualizar, rectificar y suprimir el dato y revocar la autorización</p>
            <p>8. Confidencialidad</p>
            <p>9. Protección especial de datos sensibles</p>
            <p>10. Calidad o veracidad del dato</p>
            <p>11. Vigencia</p>
            <p>12. Modificaciones</p>
            <p>13. Grabaciones, filmaciones y comunicaciones</p>
            <p>14. Datos de menores</p>
            <p>15. Ley, Jurisdicción y Vigencia</p>
            <br />
            <br />
            <h4>1. ASPECTOS GENERALES</h4>
            <br />
            <p>ALADDIN HOTEL & CASINO S.A.S., con NIT: 805.007.280-8, sociedad constituida y existente conforme a las
                leyes de la República de Colombia y con domicilio en la ciudad Cali, con oficina principal en la carrera
                4 No. 10-44 Oficina 201 del Edifico Plaza de Caicedo con número telefónico (572) 8857458, y las cuales
                de ahora en adelante se denominará la Compañía, siendo una sociedad comprometida con la protección de
                toda información que pueda asociarse o relacionarse con personas determinadas o determinables (los
                “datos personales”), a la cual tiene acceso en el desarrollo de su objeto social. En caso de que
                cualquier persona, tenga cualquier clase de solicitud relacionada con sus datos personales que reposan
                en las bases de datos de la Compañía, deberá comunicarlo a través de la cuenta de correo electrónico
                <a href="mailto:cliente.gerencia.ahc@vivealaddin.com">cliente.gerencia.ahc@vivealaddin.com</a>, o de las
                líneas telefónicas 572-8857458 y 315-5627320. La ley 1581
                de 2012 “Por la cual se dictan disposiciones generales para la protección de datos personales”, el
                Decreto Reglamentario 1377 de 2013, el Decreto 886 de 2014 y el Decreto Único Reglamentario del Sector
                Comercio, Industria y Turismo, en sus capítulos 25 y 26, son normas mediante las cuales se desarrolla en
                Colombia, el derecho que tienen todas las personas a conocer, actualizar y rectificar la información que
                se haya recogido sobre ellas, “datos personales”, en bases de datos o archivos, y los demás derechos,
                libertades y garantías constitucionales a que se refiere el artículo 15 de la Constitución Política y
                demás normas que modifiquen, adicionen o deroguen las normas mencionadas. Por lo anterior, los Datos
                Personales que la Compañía pueda llegar a recibir, recolectar o acceder, incluyen el nombre, datos de
                identificación y de contacto, o cualquier otro que pueda entregarse en virtud de contratos o acuerdos
                que la Compañía celebre con terceros, pero sin limitarse a clientes, proveedores o contratistas. El
                principal propósito de esta Política es que cualquier persona cuyos Datos Personales, hayan sido
                entregados en virtud de cualquier tipo de relación o motivo, conozca los tratamientos a los que serán
                sometidos dichos Datos Personales, cuando haya sido autorizada de manera previa, libre, informada y
                expresa el tratamiento de los mismos, o en virtud de estipulación contractual o legal. En el mismo
                sentido, en esta Política se da a conocer cuáles son los derechos que le asisten a las personas cuyos
                Datos Personales reposan en las bases de datos de la Compañía, cómo se pueden hacer efectivos y a quién
                debe acudir cuando tenga alguna consulta, inquietud, queja, reclamo o solicitud en relación con los
                mismos. La Compañía está comprometida con la adopción de estándares de seguridad y calidad para que la
                información de las personas que haya sido entregada a la Compañía, sólo sea tratada para las finalidades
                para las cuales fue recolectada, en virtud de la autorización legal o contractual existente.
            </p>
            <br />
            <h4>2. DEFINICIONES</h4>
            <br />
            <p>Para todos los efectos relacionados con estas Políticas, se tendrán las siguientes
                definiciones:</p>
            <br />
            <br />
            <p>A. <strong> Autorización</strong>: Es el consentimiento previo, expreso e informado del Titular para
                llevar a cabo el
                Tratamiento de sus Datos Personales. También hay autorización del titular cuando en virtud de cualquier
                acuerdo o contrato suscritos con cualquiera de las Compañías, se haya dado la autorización para el
                tratamiento de sus datos personales.</p>
            <br />
            <p>B. <strong>Aviso de Privacidad</strong>: Es la comunicación verbal o escrita generada por el Responsable,
                dirigida al
                Titular para el Tratamiento de sus Datos Personales, mediante la cual se le informa acerca de la
                existencia de políticas de Tratamiento de información que le serán aplicables, la forma de acceder a las
                mismas y las finalidades del Tratamiento que se pretende dar a los Datos Personales.</p>
            <br />
            <p>C. <strong>Base de Datos</strong>: Significa el conjunto organizado de Datos Personales que sean objeto
                de Tratamiento,
                electrónico o no, cualquiera que fuere la modalidad de su formación, almacenamiento, organización y
                acceso.</p>
            <br />
            <p>D. <strong>Compañía</strong>: <strong> Hotel & Casino S.A.S.</strong></p>
            <br />
            <p>E. <strong>Dato Personal</strong>: Es cualquier información de cualquier tipo, vinculada o que pueda
                asociarse a una o
                varias personas determinadas o determinables.</p>
            <br />
            <p>F. <strong>Encargado</strong>: Es la persona natural o jurídica, pública o privada, que por sí misma o en
                asocio con
                otros, realice el Tratamiento de Datos Personales por cuenta del Responsable del Tratamiento.</p>
            <br />
            <p>G. <strong>Responsable</strong>: Personal natural o jurídica, pública o privada, que por sí misma o en
                asocio con otros,
                decida sobre la base de datos y/o Tratamiento de los datos.</p>
            <br />
            <p>H. <strong>Tratamiento</strong>: Cualquier operación o conjunto de operaciones sobre datos personales,
                tales como la
                recolección, almacenamiento, uso, circulación o supresión.</p>
            <br />
            <p>I. <strong>Titular</strong>: Persona natural cuyos datos personales sean objeto de tratamiento.</p>
            <br />
            <p>J. <strong>Transferencia</strong>: La transferencia de datos tiene lugar cuando el responsable y/o
                encargado del
                tratamiento de datos personales, ubicado en Colombia, envía la información o los datos personales a un
                receptor, que a su vez puede estar ubicado en territorio colombiano o fuera de éste.</p>
            <br />
            <p>K. <strong>Transmisión</strong>: Tratamiento de datos personales que implica la comunicación de los
                mismos dentro o fuera
                del territorio de la República de Colombia cuando tenga por la realización de un tratamiento por el
                Encargado por cuenta del Responsable.</p>
            <br />
            <p>M. <strong>Dato privado</strong>: Es el dato que por su naturaleza intima o reservada sólo es relevante
                para el titular,
                como es el caso de los datos biométricos y la historia clínica, entre otros. Este tipo de datos no son
                objeto de tratamiento por parte de la Compañía, a menos de que se trate del manejo interno de la
                información de sus funcionarios, previa autorización por su parte para ello, en caso de ser necesario.
            </p>
            <br />
            <p>N. <strong>Dato público</strong>: Es el dato calificado como tal según los mandatos de la ley o de la
                Constitución
                Política y todos aquellos que no sean semiprivados o privados. Son públicos, entre otros, los datos
                contenidos en documentos públicos, sentencias judiciales debidamente ejecutoriadas que no estén
                sometidos a reserva y los relativos al estado civil de las personas.</p>
            <br />
            <p>De acuerdo con los conceptos establecidos por la Superintendencia de Industria y Comercio, los datos
                de directorio o que son hallados en búsquedas en internet no se pueden considerar públicos y su
                tratamiento debe estar fundamentado en los principios del manejo de la información personal.</p>
            <br />
            <br />
            <p>O. <strong> Dato semiprivado</strong>: Es el dato que no tiene naturaleza íntima, reservada, ni pública y
                cuyo conocimiento
                o divulgación puede interesar, no solo a su titular, sino a cierto sector o grupo de personas, o a la
                sociedad en general, como lo es el relativo al cumplimiento de las obligaciones consignado en las
                centrales de riesgo crediticio.</p>
            <br />
            <p>P. <strong> Datos sensibles</strong>: Aquellos que afectan la intimidad del titular o cuyo uso indebido
                puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la
                orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos,
                organizaciones sociales de derechos humanos o que promueva intereses de cualquier partido político o que
                garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a
                la salud y la vida sexual.</p>
            <br />
            <p>Este tipo de datos podrán ser objeto de tratamiento por parte de la Compañía, previa autorización de
                sus funcionarios, clientes o accionistas.</p>
            <br />
            <br />
            <p>Q. <strong> Fraude externo</strong>: Actos realizados por una persona externa a la entidad, que buscan
                defraudar, apropiarse indebidamente de activos o información de la misma para beneficio propio o de un
                tercero, o incumplir normas o leyes.</p>
            <br />
            <p>R. <strong> Fraude interno </strong>: Actos que de forma intencionada buscan defraudar o apropiarse
                indebidamente de activos de la entidad, información confidencial, información propia de la Compañía o
                incumplir normas o leyes, en los que está implicado, al menos, un funcionario de la entidad con
                beneficio propio o de un tercero.</p>
            <br />
            <p>S. <strong> Registro Nacional de Bases de datos</strong>: Directorio público de las bases de datos
                sujetas a tratamiento en el territorio colombiano. Las bases de datos que se encuentran fuera del
                territorio colombiano, en caso de existir, serán objeto de registro cuando a la Compañía o los
                encargados del tratamiento les sea aplicable la legislación colombiana, en virtud de normas internas o
                tratados internacionales.</p>
            <br />
            <h4>3. ALCANCE DE LA POLÍTICA Y UTILIZACIÓN DE LOS DATOS PERSONALES</h4>
            <br />
            <p>Esta Política se aplicará a todo tratamiento de datos personales ocurrido en el territorio colombiano por
                parte de la Compañía, en lo que corresponda, por aquellos terceros con los que la Compañía acuerde todo
                o parte de la realización de cualquier actividad relativa a, o relacionada con, el tratamiento de datos
                personales, de los cuales la Compañía es responsable. Así mismo, esta Política pretende ser aplicable a
                terceras personas con quien la Compañía suscriba contratos de transferencia de datos personales, con el
                fin de terceras personas conozcan las obligaciones que les aplicarán cuando traten datos personales por
                cuenta de la Compañía. Los datos personales que la Compañía conozca o llegue a conocer de un tercero, en
                virtud de cualquier clase de relación comercial, laboral, o cualquier otra, serán utilizados para el
                desarrollo de diferentes fines tales como comerciales, promocionales, estadísticos, laborales, control
                de ingreso, entre otros; salvo que en el contrato, acuerdo, o en el acto de autorización de manejo de
                datos personales, o en el documento que se suscriba entre cualquiera de la Compañía y cualquier tercero,
                se disponga un uso o destinación diferente de los datos personales recolectados.</p>
            <br />
            <h4>4. DERECHOS DE LOS TITULARES</h4>
            <br />
            <p>En virtud de lo estipulado por los artículos 2.2.2.25.3.1 Sección 3 capítulo 25 del Decreto Único
                Reglamentario del Sector Comercio, Industria y Turismo, y el artículo 8 de la ley 1581/ 2012, el titular
                de los datos personales, tiene los siguientes derechos:</p>
            <br />
            <br />
            <p>1 .Conocer, actualizar y rectificar sus datos personales frente a la Compañía o los Encargados. Este
                derecho se podrá ejercer, entre otros, frente a datos personales parciales, inexactos, incompletos,
                fraccionados, que induzcan a error o aquellos cuyo Tratamiento esté expresamente prohibido o no haya
                sido autorizado.</p>
            <br />
            <p>2. En desarrollo del principio del consentimiento informado, el titular del dato tiene derecho a otorgar
                su autorización, por cualquier medio que pueda ser objeto de consulta posterior, para tratar sus datos
                personales en la Compañía.</p>
            <br />
            <p>De manera excepcional, esta autorización no será requerida en los siguientes casos:</p>
            <br />
            <ul>
                <br />
                <li>Cuando la información sea requerida o deba ser entregada a una entidad pública o administrativa en
                    cumplimiento de sus funciones legales, por orden judicial.</li>
                <li>Cuando se trate de datos de naturaleza pública.</li>
                <li>En casos de emergencia médica o sanitaria.</li>
                <li>Cuando sea tratamiento de información autorizado por la ley para fines históricos, estadísticos o
                    científicos.</li>
                <li>Cuando se trate de datos personales relacionados con el Registro Civil de las personas.</li>
            </ul>
            <br />
            <p>3. Solicitar prueba de la autorización otorgada a la Compañía, salvo que la Ley indique que dicha
                autorización no es necesaria o que la misma haya sido validada con arreglo a lo establecido en el
                artículo 10 de la Ley 1581 de 2012 y demás normas concordantes.</p>
            <br />
            <p>4. Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud,
                respecto del uso que le ha dado a sus datos personales.</p>
            <br />
            <p>5. Presentar ante la Compañía consultas y reclamos de conformidad con las leyes que los reglamentan y
                quejas ante la Superintendencia de Industria y Comercio, o la entidad que fuera competente. La Compañía
                dará respuesta a los requerimientos que realicen las autoridades competentes en relación con estos
                derechos de los titulares de los datos personales.</p>
            <br />
            <p>6. Revocar su autorización y/o solicitar la supresión de sus datos personales de las bases de datos de la
                Compañía, cuando en el tratamiento no se respeten los principios, derechos y garantías constitucionales
                y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio
                haya determinado que en el tratamiento el responsable o encargado ha incurrido en conductas contrarias a
                esta ley y a la Constitución. Lo anterior, sin perjuicio de aplicar la excepción dispuesta en artículo 9
                del Decreto 1377 de 2013, que dice: “La solicitud de supresión de la información y la revocatoria de la
                autorización no procederán cuando el Titular tenga un deber legal o contractual de permanecer en la base
                de datos”.</p>
            <br />
            <p>7. En desarrollo del principio de veracidad o calidad, en el tratamiento de los datos personales deberán
                adoptarse las medidas necesarias para asegurar que los datos personales que reposan en las bases de
                datos sean precisos y suficientes y, cuando así lo solicite el Titular o cuando el Responsable haya
                podido advertirlo, sean actualizados, rectificados o suprimidos, de tal manera que satisfagan los
                propósitos del tratamiento.</p>
            <br />
            <p>8. Solicitar acceso y acceder en forma gratuita a sus Datos Personales que hayan sido objeto de
                Tratamiento. El titular podrá consultar de forma gratuita sus datos personales: (i) al menos una vez
                cada mes calendario, y (ii) cada vez que existan modificaciones sustanciales de las políticas de
                tratamiento de la información que motiven nuevas consultas. Para consultas cuya periodicidad sea mayor a
                una por cada mes calendario, las Compañías podrán cobrar al titular los gastos de envío, reproducción y,
                en su caso, certificación de documentos. Los titulares podrán ejercer sus derechos de Ley y realizar los
                procedimientos establecidos en esta Política, mediante la presentación de su cédula de ciudadanía o
                documento de identificación original, o cuando la petición, queja o reclamo se realice vía correo
                electrónico, el solicitante deberá indicar de forma clara el número de su cédula de ciudadanía, cédula
                de extranjería o pasaporte.</p>
            <br />
            <p>Oponerse al tratamiento de sus datos personales, salvo los casos en que tal derecho no proceda por
                disposición legal o por vulnerar intereses generales superiores al interés particular. La Compañía, con
                base en los legítimos derechos que argumente el titular del dato personal, hará un juicio de
                proporcionalidad o ponderación con el fin de determinar la preeminencia o no del derecho particular del
                titular del dato sobre otros derechos.</p>
            <br />
            <h4>5. POLITICAS ESPECÍFICAS PARA EL TRATAMIENTO DE DATOS PERSONALES</h4>
            <br />
            <p>Las operaciones que constituyen tratamiento de datos personales por parte de la Compañía en calidad de
                Responsable o Encargado del mismo, se regirán por los siguientes parámetros:</p>
            <br />
            <p>1. Datos personales relacionados con la Gestión del Recurso Humano.</p>
            <br />
            <p>Existirán bases de datos independientes para el tratamiento de datos personales, antes, durante y
                después de la relación laboral.</p>
            <br />
            <ul>
                <li>Tratamiento de datos antes de la relación contractual.</li>
            </ul>
            <br />
            <p>La Compañía informará, de manera anticipada, a las personas interesadas en participar en un proceso de
                selección, las reglas aplicables al tratamiento de los datos personales que suministre el interesado,
                así como respecto de aquellos que se obtengan durante el proceso de selección.</p>
            <br />
            <p>Cuando la Compañía contrate a terceros para que adelanten o apoyen los procesos de selección, en los
                respectivos contratos establecerá que los datos personales recolectados deberán ser tratados dando
                cumplimiento a la presente política de protección de datos.</p>
            <br />
            <p>La finalidad de la entrega de los datos suministrados por los interesados en las vacantes de la
                Compañía y la información personal obtenida del proceso de selección, se limita a la información
                relacionada con su participación en el mismo; por lo tanto, su uso para fines diferentes está
                prohibido.</p>
            <br />
            <ul>
                <li>Tratamiento de datos durante la relación contractual.</li>
            </ul>
            <br />
            <p>La Compañía almacenará los datos personales obtenidos durante el proceso de selección de los empleados
                en una carpeta identificada con el nombre de cada uno de ellos. Esta carpeta física o digital solo será
                accedida y tratada por el área de Gestión Humana y Administrativa, con la finalidad de administrar la
                relación contractual entre la compañía y el empleado.</p>
            <br />
            <p>El uso de la información de los empleados para fines diferentes a los establecidos en el contrato de
                trabajo y las autorizaciones que se firmen para el efecto está prohibido en la Compañía. El uso
                diferente de los datos e información personal de los empleados solo procederá por orden de autoridad
                competente, siempre que en ella radique tal facultad. Corresponderá a la Compañía evaluar la competencia
                y eficacia de la orden de la autoridad competente, con el fin de prevenir una cesión no autorizada de
                datos personales,</p>
            <br />
            <p>Para efectos del tratamiento de datos personales sensibles que se recolecten durante la relación laboral
                se requerirá autorización expresa del titular para lo cual se le deberá informar cuales son los datos
                sensibles que serán objeto de tratamiento y la finalidad del mismo.</p>
            <br />
            <p>Por servicios externos que la Compañía pueda requerir, en el tratamiento de datos durante la relación
                contractual, podrá ser necesaria la cesión o transferencia de dichos datos a un tercero, con el fin de
                que éste sea el encargado de la administración de tratamiento. Para este caso, en la autorización
                expresa del empleado autorizando el tratamiento, se incluirá la autorización para la transferencia de
                datos.</p>
            <br />
            <ul>
                <li>Tratamiento de datos después de terminada la relación contractual.</li>
            </ul>
            <br />
            <p>Terminada la relación laboral, cualquiera que fuere la causa, la Compañía procederá a almacenar los
                datos personales obtenidos del proceso de selección y documentación generada en el desarrollo de la
                relación laboral, en un archivo central, sometiendo tal información a medidas y niveles de seguridad
                altas, en virtud de la potencialidad de que la información laboral pueda contener Datos
                sensibles.</p>
            <br />
            <p>Los datos personales de los ex empleados se conservan exclusivamente para el cumplimiento de las
                siguientes finalidades:</p>
            <br />
            <ul>
                <li>Dar cumplimiento a la ley colombiana o extranjera y las órdenes de las autoridades judiciales,
                    administrativas o entidades privadas en ejercicio de servicios públicos.</li>
                <li>Emitir certificaciones relativas a la relación del titular del dato con la compañía.</li>
                <li>Fines estadísticos o históricos.</li>
                <li>Tratamiento de datos.</li>
            </ul>
            <br />
            <p>2. Tratamiento de datos personales de Accionistas.</p>
            <br />
            <p>Los datos e información personal de las personas naturales que llegaren a tener la condición de
                accionista de la Compañía, se considerará información reservada, pues la misma está registrada en los
                libros de comercio y tiene el carácter de reserva por disposición legal.</p>
            <br />
            <p>En consecuencia, el acceso a tal información personal se realizará conforme a lo establecido en el
                Código de Comercio y demás normas que regulan la materia.</p>
            <br />
            <p>Las finalidades para las cuales serán utilizados los datos personales de los accionistas son las
                siguientes:</p>
            <br />
            <ul>
                <li>Permitir el ejercicio de los deberes y derechos derivados de la calidad de accionista.</li>
                <li>Envío de invitaciones a eventos programados por la Compañía.</li>
                <li>Emisión de certificaciones relativas a la relación del titular del dato con la Sociedad.</li>
                <li>Las demás establecidas en las autorizaciones que sean otorgadas por los propios accionistas.</li>
            </ul>
            <br />
            <p>3. Tratamiento de datos personales de Proveedores.</p>
            <br />
            <p>La Compañía solo recabará de sus proveedores de datos que sean necesarios, pertinentes y no excesivos
                para la finalidad de selección, evaluación y ejecución del contrato a que haya lugar. Cuando se le exija
                a la Compañía por naturaleza jurídica la divulgación de datos del proveedor consecuencia de un proceso
                de contratación, ésta se efectuará con las previsiones que den cumplimiento a lo dispuesto en esta norma
                y que prevengan a terceros sobre la finalidad de la información que se divulga.</p>
            <br />
            <p>Las finalidades para las cuales serán utilizados los datos personales de proveedores serán:</p>
            <br />
            <ul>
                <li>Envío de invitaciones a contratar y realización de gestiones para las etapas precontractual,
                    contractual y poscontractual.</li>
                <li>Envío de informaciones a eventos programados por la Compañía o sus vinculadas.</li>
                <li>Las demás establecidas específicamente en las autorizaciones que sean otorgadas por los propios
                    proveedores, cuando éstas se requieran de conformidad con la normatividad vigente o de conformidad
                    con la Ley 1581 de 2012.</li>
            </ul>
            <br />
            <p>La Compañía podrá recolectar datos personales de los empleados de sus proveedores cuando por motivos
                de seguridad deba analizar y evaluar la idoneidad de determinadas personas, atendiendo a las
                características de los servicios que se contraten con el proveedor.</p>
            <br />
            <p>La recolección de los datos personales de empleados de los proveedores por parte de la Compañía,
                tendrá como finalidad verificar la idoneidad moral y competencia de los empleados; por tanto, una vez
                verificado este requisito, la Compañía devolverá tal información al proveedor, salvo cuando se autorice
                expresamente su conservación.</p>
            <br />
            <p>Cuando la Compañía entregue datos personales de cualquier titular a sus proveedores, estos deberán
                proteger los datos personales suministrados conforme lo dispuesto en las normas vigentes. Para tal
                efecto se incluirá la previsión de auditoria respectiva en el contrato o documento que legitima la
                entrega de los datos personales. La Compañía verificará que los datos solicitados sean necesarios,
                pertinentes y no excesivos respecto de la finalidad que fundamente la solicitud de acceso a los
                mismos.</p>
            <br />
            <br />
            <h4>6. ÁREA RESPONSABLE DE LA ATENCIÓN DE PETICIONES, CONSULTAS Y RECLAMOS RELACIONADOS CON DATOS PERSONALES
            </h4>
            <br />
            <p>
                La Compañía ha dispuesto un área encargada de la atención a clientes denominada “Servicio al Cliente”, y
                la cual pertenece a la Dirección de Mercadeo. Ésta dirección es responsable de la recepción y atención
                de peticiones, quejas, reclamos y consultas de todo tipo, relacionadas con datos personales, a excepción
                de las solicitudes correspondientes a recursos humanos, que manejará la Dirección Administrativa, área
                encargada que de manera específica tramitará las consultas y reclamaciones en materia de datos
                personales, de conformidad con la Ley y esta Política. Algunas de las funciones particulares de estas
                áreas en relación con datos personales son: a. Recibir las solicitudes de los Titulares, tramitar y
                responder aquellas que tengan fundamento en la Ley o estas Políticas, como por ejemplo: solicitudes de
                actualización de sus datos personales; solicitudes de b. conocimiento de sus datos personales;
                solicitudes de supresión de datos personales, en los términos del artículo 15 de la Ley 1581 y demás
                normas; solicitudes de información sobre el tratamiento y finalidad dada a sus datos personales, y
                solicitudes de prueba de la autorización otorgada, cuando ella hubiere procedido según la Ley. c. Dar
                respuesta a los Titulares sobre aquellas solicitudes que no procedan de acuerdo con la Ley. Los datos de
                contacto del área de Servicio al Cliente son: Dirección física: carrera 4 No. 10-44 Oficina 201 del
                Edifico Plaza de Caicedo con números telefónicos (572) 8857458, Cali, y 315-5627320. Dirección
                electrónica: <a
                    href="mailto:cliente.gerencia.ahc@vivealaddin.com">cliente.gerencia.ahc@vivealaddin.com</a>.
            </p>
            <br />
            <p>Los datos de contacto de la Dirección Administrativa es: Dirección física: Carrera 4 No. 10-44 Oficina
                202 del Edifico Plaza de Caicedo con número telefónico (572) 8857458 y 315-5627320 de la ciudad de Cali,
                Dirección electrónica: <a
                    href="mailto:cliente.gerencia.ahc@vivealaddin.com">cliente.gerencia.ahc@vivealaddin.com</a>.</p>
            <br />
            <h4>7. PROCEDIMIENTO PARA QUE LOS TITULARES DE LA INFORMACIÓN PUEDAN EJERCER LOS DERECHOS A CONOCER,
                ACTUALIZAR, RECTIFICAR Y SUPRIMIR EL DATO Y REVOCAR LA AUTORIZACIÓN</h4>
            <br />
            <p>7.1. CONSULTAS</p>
            <br />
            <p>La Empresa dispone de mecanismos para que el titular, sus causahabientes, sus representantes y/o
                apoderados, formulen CONSULTAS respecto de cuáles son los datos personales del Titular que reposan en
                las bases de datos de la empresa. La consulta se formulará por el medio habilitado por el responsable
                del tratamiento, tales y como, por ejemplo, llamadas telefónicas que se realicen a los teléfonos
                encargados de recepcionar las peticiones, quejas y reclamos, siempre y cuando se pueda mantener prueba
                de ésta. Antes de proceder, el responsable de atender la consulta verificará:</p>
            <br />
            <ul>
                <li>La identidad del Titular del Dato Personal o su representante. Para ello, exigirá la cédula de
                    ciudadanía, certificado de existencia y representación legal expedido por la Cámara de Comercio
                    correspondiente, o documento de identificación, original del Titular, y los poderes especiales o
                    generales según sea el caso, los cuales se deberán presentar en original y con presentación personal
                    ante notario público. El responsable de atender la consulta dará respuesta al solicitante siempre y
                    cuando este último tuviere derecho a ello por ser el Titular del dato personal, su causahabiente, su
                    representante y/o apoderado. Esta respuesta será enviada dentro de los diez (10) días hábiles
                    contados a partir de la fecha en la que la solicitud fue recibida por cualquiera de la Compañía.
                    Esta respuesta será obligatoria aún en los casos en que se considere que el solicitante no tiene
                    capacidad para realizar la consulta, en cuyo caso así se le informará al solicitante y se dará
                    opción de que demuestre el interés y capacidad aportando documentación adicional. En caso de que la
                    solicitud no pueda ser atendida a los diez (10) hábiles, se contactará al solicitante para
                    comunicarle los motivos por los cuales el estado de su solicitud se encuentra en trámite y señalando
                    la fecha en la que se atenderá la consulta, la cual en ningún caso podrá superar los cinco (5) días
                    hábiles siguientes al vencimiento del primer término. Para ello se utilizará el mismo medio o uno
                    similar a aquel mediante el cual fue presentada la consulta.</li>
            </ul>
            <br />
            <p>7.2. RECLAMOS</p>
            <br />
            <p>La Compañía dispondrá de mecanismos para que el titular, sus causahabientes, sus representantes y/o
                apoderados, formulen RECLAMOS respecto de (i) Datos Personales Tratados por cualquiera de las Compañías
                que deben ser objeto de corrección, actualización o supresión, o (ii) el presunto incumplimiento de los
                deberes de Ley por parte de cualquiera de la Compañía. Estos mecanismos podrán ser físicos a través del
                envío de comunicaciones físicas por medio de correo certificado, o electrónicos como correo electrónico.
                Cualquiera que sea el medio, la Compañía deberá guardar prueba de la consulta y su respuesta. El RECLAMO
                deberá ser presentado por el Titular, sus causahabientes, representantes o apoderados, así:</p>
            <br />
            <ul>
                <li>Deberá dirigirse a la Compañía por vía electrónica a la dirección de correo
                    <a href="mailto:cliente.gerencia.ahc@vivealaddin.com">cliente.gerencia.ahc@vivealaddin.com</a>, por
                    vía física a la dirección Carrera 4 No. 10-44 Oficina 201
                    del Edifico Plaza de Caicedo con número telefónico (572) 8857458 y 315-5627320 de la ciudad de Cali.
                </li>
                <li>En caso de que la petición, queja o reclamo sea relacionada con un aspecto laboral, deberá dirigirse
                    a la empresa por vía electrónica a la dirección de correo <a
                        href="mailto:cliente.gerencia.ahc@vivealaddin.com">cliente.gerencia.ahc@vivealaddin.com</a> y
                    por vía
                    física a la dirección Carrera 4 No. 10-44 Oficina 202 del Edifico Plaza de Caicedo con número
                    telefónico (572) 8857458 y 315-5627320 de la ciudad de Cali.</li>
            </ul>
            <br />
            <p>Cualquier solicitud:</p>
            <br />
            <br />
            <ul>
                <li>Deberá contener el nombre y documento de identificación del Titular.</li>
                <li>Deberá contener una descripción de los hechos que dan lugar al reclamo y el objetivo perseguido
                    (actualización, corrección o supresión, o cumplimiento de deberes).</li>
                <li>Deberá indicar la dirección y datos de contacto e identificación del reclamante.</li>
                <li>Deberá acompañarse por toda la documentación que el reclamante quiera hacer valer.</li>
                <li>Si el reclamo o la documentación adicional están incompletos, la Compañía requerirá al reclamante
                    por una sola vez dentro de los cinco (5) días hábiles siguientes a la recepción del reclamo para que
                    subsane las fallas. Si el reclamante no presenta la documentación e información requerida dentro de
                    los dos (2) meses siguientes a la fecha del reclamo inicial, se entenderá que ha desistido del
                    reclamo.</li>
                <li>Si por cualquier hecho la persona que recibe el reclamo al interior de la Compañía no es competente
                    para resolverlo, dará traslado al área de Servicio al Cliente, dentro de los dos (2) días hábiles
                    siguientes a la fecha del recibo del reclamo, e informará de dicha remisión al reclamante.</li>
                <li>Una vez recibido el reclamo con la documentación completa, se incluirá en la Base de Datos de la
                    Compañía donde reposen los Datos del Titular sujetos a reclamo mayor a dos (2) días hábiles. Esta
                    leyenda deberá mantenerse hasta que el reclamo sea decidido.</li>
                <li>Una vez recibido el reclamo completo, se incluirá en la base de datos una leyenda que diga “reclamo
                    en trámite” y el motivo del mismo, en un término no mayor a dos (2) días hábiles e informará de la
                    situación al interesado.</li>
                <li>El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día
                    siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho
                    término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su
                    reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento
                    del primer término.</li>
            </ul>
            <br />
            <h4>8. CONFIDENCIALIDAD</h4>
            <br />
            <p>La compañía y todas las personas que intervengan en el tratamiento de datos de carácter personal, tienen
                la obligación profesional de guardar y mantener la reserva de tales datos, salvo las excepciones
                legales. Esta obligación subsiste aún después de finalizada la relación que dio origen a la recolección
                y tratamiento del dato. La Compañía implementará, en sus relaciones contractuales, cláusulas de
                protección de datos en este sentido.</p>
            <br />
            <h4>9. PROTECCIÓN ESPECIAL DE DATOS SENSIBLES</h4>
            <br />
            <p>La Compañía no recolectará ni tratará datos personales ligados exclusivamente a ideologías políticas,
                afiliación sindical, creencias religiosas, vida sexual, origen étnico y/o datos de salud, salvo
                autorización expresa del titular o por expresa disposición legal.</p>
            <br />
            <p>Ninguna actividad de la Compañía estará condicionada a que el Titular suministre datos personales
                sensibles, excepto cuando sea imperioso por redundar en beneficio del titular de la información o en
                razón a que la situación específica así lo requiera.</p>
            <br />
            <h4>10. CALIDAD O VERACIDAD DEL DATO</h4>
            <br />
            <p>Los datos de carácter personal recolectados por la Compañía deben ser veraces, completos, exactos,
                comprobables, comprensibles y mantenerse actualizados. Se prohíbe el tratamiento de datos parciales,
                fraccionados, incompletos o que induzcan a error.</p>
            <br />
            <h4>11. VIGENCIA</h4>
            <br />
            <p>Esta Política empezará a regir a partir del año dos mil Ocho (2018). Los datos personales que sean
                almacenados, utilizados o transmitidos permanecerán en la base de datos de la Compañía, con base en el
                criterio de temporalidad, durante el tiempo que sea necesario para los fines mencionados en esta
                Política, y para los cuales fueron recolectados. De este modo, la vigencia de la base de datos está
                estrechamente relacionada con las finalidades para las cuales fueron recolectados los datos personales.
                En este sentido, la temporalidad o vigencia está supeditada a las finalidades del Tratamiento.</p>
            <br />
            <p>No obstante, en caso de considerarse necesario, los datos podrán permanecer en las Bases de Datos de la
                Compañía cuando se requiera para dar cumplimiento a un deber legal u orden judicial, así como cuando su
                tratamiento se limite a su conservación para fines históricos o estadísticos.</p>
            <br />
            <h4>12 .MODIFICACIONES</h4>
            <br />
            <p>Esta Política podrá ser modificada en cualquier momento por parte de la Compañía, pero en todo caso,
                cualquier modificación sustancial tendrá que ser comunicada previamente a los titulares, a través de la
                página web de la Compañía o mediante un correo electrónico que será enviado a los titulares de los datos
                personales, siempre y cuando la Compañía tenga esa información en su poder. Recuerde que usted podrá
                acceder y consultar las Políticas de Tratamiento de la Información o datos Personales en:
                www.vivealaddin.com</p>
            <br />
            <h4>13. GRABACIONES, FILMACIONES Y COMUNICACIONES</h4>
            <br />
            <p>La entidad como parte de su estrategia de comunicación tiene a disposición de sus accionistas, clientes y
                usuarios, la página web de la entidad y diversas formas de realizar el contacto, como lo son
                comunicaciones escritas, contacto telefónico, presentación y comunicaciones.</p>
            <br />
            <p>En unas y otras podrán ser publicadas imágenes, referencias, artículos o comunicaciones de los empleados
                de la entidad, sus clientes o los asistentes a los eventos organizados o patrocinados por la Compañía.
            </p>
            <br />
            <p>Tal información y datos de ninguna manera serán utilizados o compartidos con terceros para fines
                comerciales o actividades diferentes a la de dar a conocer las actividades y servicios de la Compañía o
                sus vinculadas. La entidad se compromete a revisar cuidadosamente la información que será publicada de
                cualquier forma, de tal manera que de ninguna forma se atente contra la dignidad, intimidad o buen
                nombre de algunas de las personas que podrán aparecer en sus comunicaciones.</p>
            <br />
            <p>La entrega de información por parte de los titulares en cualquier forma, no trasmite a la entidad la
                propiedad intelectual o los derechos morales sobre la misma, los derechos de propiedad intelectual
                seguirán siendo del titular.</p>
            <br />
            <p>Igualmente, la cesión de los derechos de las imágenes, fotografías o videos captadas y/o filmadas en el
                ámbito de la relación laboral y/o profesional con la Compañía, y en general los demás datos personales
                compartidos, a través de cualquier medio de difusión y comunicación no trae consigo derechos de recibir
                y compensación ni reconocimiento alguno de cualquier tipo, puesto que la autorización y cesión de
                derechos se efectuarán de forma gratuita.</p>
            <br />
            <h4>14. DATOS DE MENORES</h4>
            <br />
            <p>La entidad no realiza en ninguna de sus actividades el tratamiento de datos personales de menores de
                edad. No obstante, en caso de que por cualquier circunstancia se llegue a requerir realizar el
                tratamiento de la información se tendrá en cuenta su interés prevalente y de ninguna manera se efectuará
                sin contar previamente con la autorización por parte de sus representantes legales.</p>
            <br />
            <h4>15. LEY, JURISDICCION Y VIGENCIA</h4>
            <br />
            <p>Toda interpretación, actuación judicial o administrativa del tratamiento de datos personales que
                conforman las bases de datos de la compañía y la presente política está sujeta a las normas de
                protección personal establecidas en la República de Colombia y las autoridades administrativas o
                jurisdiccionales competentes para la resolución de cualquier, inquietud, queja o demanda sobre las
                mismas serán las de la República de Colombia. Por otra parte, en general, la información de nuestras
                bases de datos permanecerá siendo tratada mientras se mantenga una relación legal o contractual con el
                titular de la información. En todo caso, de manera general, la información no será objeto del
                tratamiento por un periodo superior de veinte (20) años contados a partir de su recolección de acuerdo
                con las circunstancias legales o contractuales que hacen necesario el manejo de la información, sin
                perjuicio de que, en cualquier caso, se mantenga de ser necesario cumplir con gestiones de carácter
                estadístico, histórico o cualquier obligación de carácter legal.</p>
                <br />
                <p>El presente documento se firma en Cali, 2025.</p>
            </div>
    </section>
</body>

</html>