@font-face {
  font-family: 'MAGIC';
  src: url('/fonts/MAGIC-DAFONT.TTF') format('truetype');
}

@font-face {
  font-family: 'TT Interphases Regular';
  src: url('/fonts/TT-Interphases-Pro-Trial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interphases DemiBold';
  src: url('/fonts/TT-Interphases-Pro-Trial-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interphases ExtraLigth';
  src: url('/fonts/TT-Interphases-Pro-Trial-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'HeadLineBrush';
  src: url('/fonts/Headline-Brush-Demo.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'lovelace';
  src: url('/fonts/Zetafonts-Lovelace-Text-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
}

