<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/components/footer/footer.css">
    <link rel="stylesheet" href="/components/modal/footer_out/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>

    <div class="content_menu">

        <div class="info_menu container">
            <img src="/resources/menu_anko/127_MENU_ANKO_PG1.jpg" alt="Aladdin">
            <img src="/resources/menu_anko/127_MENU_ANKO_PG2.jpg" alt="Aladdin">
            <img src="/resources/menu_anko/127_MENU_ANKO_PG3.jpg" alt="Aladdin">
            <img src="/resources/menu_anko/127_MENU_ANKO_PG4.jpg" alt="Aladdin">
            <img src="/resources/menu_anko/127_MENU_ANKO_PG5.jpg" alt="Aladdin">
            <img src="/resources/menu_anko/127_MENU_ANKO_PG6.jpg" alt="Aladdin">
            <img src="/resources/menu_anko/127_MENU_ANKO_PG7.jpg" alt="Aladdin">
            <img src="/resources/menu_anko/127_MENU_ANKO_PG8.jpg" alt="Aladdin">
        </div>
        <br />
        <br />

        <img src="/resources/aladdin_casino_rojo.png" alt="Aladdin">
        <br />
        <a class="btn-design1" target="_blank"
            href="/document/CARTA_ANKO_VIP_BOGOTA_COMIDAS_MP_ENERO_VERSION_DIGITAL.pdf">Ver Menu</a>

        <br />
        <br />
    </div>
    <script>

    </script>
</body>

</html>