.content_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    gap: 10px;
}


.info_menu img {
    width: 50%;
}


@media(max-width: 768px) {
    .info_menu img {
        width: 100%;
    }
}