<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/components/footer/footer.css">
    <link rel="stylesheet" href="/components/modal/footer_out/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>

    <div class="content_menu">
        <iframe src="/document/CARTA_ANKO_VIP_BOGOTA_COMIDAS_MP_ENERO_VERSION_DIGITAL.pdf" width="100vw" height="100vh"
            frameborder="0"></iframe>
    </div>
    <script>

    </script>
</body>

</html>